Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

Remove OMI from dependencies
  invokeai/backend/model_manager/omi/omi.py
  pyproject.toml
Due: black, flake8, isort, uvlock

Update uv lock
  uv.lock
Due: none

Update import path
  invokeai/backend/model_manager/load/model_loaders/lora.py
Due: black, flake8, isort

Ruff formatting
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/omi/__init__.py
  invokeai/backend/model_manager/omi/omi.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_clip.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_flux_lora.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_lora_util.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_sdxl_lora.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_t5.py
  invokeai/backend/model_manager/omi/vendor/model_spec/architecture.py
Due: black, flake8, isort

Use definitions in config
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

OMI files
  invokeai/backend/model_manager/omi/__init__.py
  invokeai/backend/model_manager/omi/omi.py
Due: black, flake8, isort

Add OMI vendor files
  invokeai/backend/model_manager/omi/vendor/__init__.py
  invokeai/backend/model_manager/omi/vendor/convert/__init__.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/__init__.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_clip.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_flux_lora.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_lora_util.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_sdxl_lora.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_t5.py
  invokeai/backend/model_manager/omi/vendor/model_spec/__init__.py
  invokeai/backend/model_manager/omi/vendor/model_spec/architecture.py
Due: black, flake8, isort

chore(ui): bump @reduxjs/toolkit to latest
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
Due: none

feat(ui): viewer is a modal (wip)
  invokeai/frontend/web/src/app/components/GlobalHookIsolator.tsx
  invokeai/frontend/web/src/app/components/GlobalModalIsolator.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasDropArea.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasRightPanel.tsx
  invokeai/frontend/web/src/features/controlLayers/components/NewSessionConfirmationAlertDialog.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolBboxButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolBrushButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolBrushWidth.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolColorPickerButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolEraserButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolEraserWidth.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolFillColorPicker.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolMoveButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolRectButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolViewButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbarResetViewButton.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasDeleteLayerHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasEntityQuickSwitchHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasResetLayerHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasUndoRedoHotkeys.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useEntityFilter.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useEntitySegmentAnything.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useEntityTransform.ts
  invokeai/frontend/web/src/features/dnd/DndImage.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/useImageViewer.ts
  invokeai/frontend/web/src/features/ui/components/FloatingParametersPanelButtons.tsx
Due: none

feat(ui): default canvas tool is move
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
Due: none

refactor(ui): image viewer & comparison convolutedness
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageComparison.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageComparisonSideBySide.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageComparisonSlider.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/common.ts
Due: none

refactor(ui): params state zodification
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/util/getScaledBoundingBoxDimensions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/features/parameters/util/optimalDimension.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: none

refactor(ui): zod-ify params slice state
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
Due: none

refactor(ui): org state in prep for new flow
  invokeai/frontend/web/src/common/util/zodUtils.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/selectors.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/dynamicPrompts/store/dynamicPromptsSlice.ts
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
Due: none

refactor(ui): move params state to big file of canvas zod stuff
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

fix(ui): circular import issue
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityHeaderWarnings.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/addLayerHooks.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/saveCanvasHooks.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildChatGPT4oGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/endpoints/models.ts
Due: none

refactor(ui): canvas flow (wip)
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/enqueueRequestedLinear.ts
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildChatGPT4oGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildCogView4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/getGenerationMode.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: none

feat(ui): bookmark new inpaint masks
  invokeai/frontend/web/src/features/imageActions/actions.ts
Due: none

refactor(ui): canvas flow (wip)
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: none

feat(ui): images always added to gallery in simple session
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildChatGPT4oGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildCogView4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
Due: none

wip
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/dnd/DndImage.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageContextMenu.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImage.tsx
Due: none

feat(ui): support bookmarking an entity when adding it
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
Due: none

refactor(ui): canvas flow (wip)
  invokeai/frontend/web/src/app/components/GlobalHookIsolator.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildChatGPT4oGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildCogView4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
Due: none

fix(ui): ensure images are added to gallery in simple sessions
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: none

refactor(ui): canvas flow (wip)
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/enqueueRequestedLinear.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/components/NewSessionConfirmationAlertDialog.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStagingAreaModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/actions.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/selectors.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
  invokeai/frontend/web/src/services/events/stores.ts
Due: none

refactor(ui): canvas flow (wip)
  invokeai/frontend/web/src/app/hooks/useStudioInitAction.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/addCommitStagingAreaImageListener.ts
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/components/NewSessionConfirmationAlertDialog.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasProgressImageModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/actions.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/lorasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ProgressImage.tsx
  invokeai/frontend/web/src/features/hrf/store/hrfSlice.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addFLUXFill.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildChatGPT4oGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildCogView4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/queue/components/InvokeButtonTooltip/InvokeButtonTooltip.tsx
  invokeai/frontend/web/src/features/queue/components/QueueControls.tsx
  invokeai/frontend/web/src/features/queue/components/SendToToggle.tsx
  invokeai/frontend/web/src/features/stylePresets/store/stylePresetSlice.ts
  invokeai/frontend/web/src/features/ui/store/uiSlice.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
  invokeai/frontend/web/src/services/events/stores.ts
Due: none

refactor(ui): canvas flow events (wip)
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/stores.ts
Due: none

refactor(ui): canvas flow (wip)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/common/hooks/useImageUploadButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasAlerts/CanvasAlertsInvocationProgress.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasRightPanelStacked.tsx
  invokeai/frontend/web/src/features/controlLayers/components/IPAdapter/IPAdapterImagePreview.tsx
  invokeai/frontend/web/src/features/controlLayers/components/NewSessionConfirmationAlertDialog.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useDeferredModelLoadingInvocationProgressMessage.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/dnd/dnd.ts
  invokeai/frontend/web/src/features/gallery/components/GalleryPanelContent.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ProgressImage.tsx
  invokeai/frontend/web/src/features/imageActions/actions.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/ImageFieldInputComponent.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/UpscaleSettingsAccordion/UpscaleInitialImage.tsx
  invokeai/frontend/web/src/features/ui/components/AppContent.tsx
  invokeai/frontend/web/src/features/ui/components/FloatingParametersPanelButtons.tsx
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/stores.ts
Due: none

feat: canvas flow rework (wip)
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/services/events/stores.ts
Due: none

fix(ui): merge refs when forwardingin DndImage
  invokeai/frontend/web/src/features/dnd/DndImage.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageContextMenu.tsx
Due: none

fix(ui): remove unused sessionId field from type
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

fix(ui): ensure all args are passed to handler when creating new canvas from image
  invokeai/frontend/web/src/features/dnd/dnd.ts
Due: none

wip progress events
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/stores.ts
Due: none

feat: canvas flow rework (wip)
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/app/services/shared/graph.py
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemComponent.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemDetail.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueList.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueListComponent.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/useDestinationText.ts
  invokeai/frontend/web/src/features/queue/components/QueueList/useOriginText.ts
  invokeai/frontend/web/src/services/api/endpoints/queue.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: black, flake8, isort

refactor(ui): canvas flow (wip)
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
Due: none

feat: canvas flow rework (wip)
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/enqueueRequestedLinear.ts
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/components/NewSessionConfirmationAlertDialog.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildLinearBatchConfig.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/stores.ts
Due: none

feat: canvas flow rework (wip)
  invokeai/app/api/routers/session_queue.py
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueList.tsx
  invokeai/frontend/web/src/services/api/endpoints/queue.ts
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: black, flake8, isort

fix(ui): unstable selector results in lora drop down
  invokeai/frontend/web/src/common/hooks/useRelatedGroupedModelCombobox.ts
  invokeai/frontend/web/src/common/hooks/useRelatedModelKeys.ts
Due: none

fix(ui): ref goes undefined in GalleryImage
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImage.tsx
Due: none

feat(api): remove status from list all queue items query
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
Due: black, flake8, isort
