Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

fix: refactor compiler-incompatible component tests
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/AddBoardButton.test.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/AddBoardButton.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.test.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

fix: linting
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/AddBoardButton.test.tsx
Due: none

chore: run typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

extras version lists
  pyproject.toml
Due: uvlock

update uv.lock
  invokeai/app/invocations/facetools.py
  pyproject.toml
  uv.lock
Due: black, flake8, isort, uvlock

regenerate uv lock
  uv.lock
Due: none

update python test versions
  .github/workflows/openapi-checks.yml
  .github/workflows/python-tests.yml
Due: none

fix: bonkers stdout OS pipefail in new python
  .github/workflows/openapi-checks.yml
  scripts/generate_openapi_schema.py
Due: black, flake8, isort

more workflows version updates
  .github/workflows/deploy-docs.yml
  .github/workflows/typegen-checks.yml
Due: none

update py and uv checks
  .github/workflows/python-checks.yml
  .github/workflows/uv-lock-checks.yml
Due: none

fix cache key in frontend build checks
  .github/actions/install-frontend-deps/action.yml
Due: none

add newline
  scripts/generate_openapi_schema.py
Due: black, flake8, isort

update schema
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

update tests to node v22
  .github/actions/install-frontend-deps/action.yml
Due: none

avoid npx in preinstall script
  invokeai/frontend/web/package.json
Due: none

only-allow in dev dependencies
  invokeai/frontend/web/package.json
Due: none

moved dependency->devDependency only-allowe
  invokeai/frontend/web/package.json
Due: none

conditional preinstall
  invokeai/frontend/web/package.json
Due: none

test: ignore-scripts
  .github/actions/install-frontend-deps/action.yml
  invokeai/frontend/web/package.json
Due: none

deterministic typegen check
  .github/workflows/typegen-checks.yml
Due: none

python better than uv?
  .github/workflows/typegen-checks.yml
Due: none

once more, four part harmony and feeling
  .github/workflows/typegen-checks.yml
Due: none

incorporate build changes from 9149
  .github/actions/install-frontend-deps/action.yml
  .github/workflows/build-container.yml
  .github/workflows/build-wheel.yml
  .github/workflows/clean-caches.yml
  .github/workflows/close-inactive-issues.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/frontend-checks.yml
  .github/workflows/frontend-tests.yml
  .github/workflows/label-pr.yml
  .github/workflows/lfs-checks.yml
  .github/workflows/python-checks.yml
  .github/workflows/python-tests.yml
  .github/workflows/release.yml
  .github/workflows/typegen-checks.yml
  .github/workflows/uv-lock-checks.yml
Due: none

fix(mm): sync ModelImageUpload thumbnail with model_image prop
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/Fields/ModelImageUpload.tsx
Due: none

feat(anima): bundle T5-XXL tokenizer, remove t5_encoder_model input
  invokeai/app/invocations/anima_model_loader.py
  invokeai/app/invocations/anima_text_encoder.py
  invokeai/backend/anima/t5_tokenizer.py
  invokeai/backend/anima/tokenizer/special_tokens_map.json
  invokeai/backend/anima/tokenizer/tokenizer.json
  invokeai/backend/anima/tokenizer/tokenizer_config.json
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildAnimaGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildAnimaGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamAnimaModelSelect.tsx
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
  tests/backend/anima/test_t5_tokenizer.py
Due: black, flake8, isort, uvlock

fix(anima): sync openapi.json with bundled-tokenizer loader; fix schema path slashes
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(lora): sidecar-patch fp8 weights to avoid float8 add crash
  invokeai/backend/patches/layer_patcher.py
  tests/backend/patches/test_layer_patcher.py
Due: black, flake8, isort

docs(fp8): refresh FP8 Storage page after hook-based loader change (#9241)
  docs/src/content/docs/configuration/fp8-storage.mdx
Due: none

feat(pid): vendor PiD decoder backend (phase A of integration)
  LICENSE-PiD.txt
  invokeai/backend/pid/__init__.py
  invokeai/backend/pid/_ext/__init__.py
  invokeai/backend/pid/_ext/imaginaire/__init__.py
  invokeai/backend/pid/_ext/imaginaire/lazy_config/__init__.py
  invokeai/backend/pid/_ext/imaginaire/lazy_config/file_io.py
  invokeai/backend/pid/_ext/imaginaire/lazy_config/instantiate.py
  invokeai/backend/pid/_ext/imaginaire/lazy_config/lazy.py
  invokeai/backend/pid/_ext/imaginaire/lazy_config/registry.py
  invokeai/backend/pid/_ext/imaginaire/model.py
  invokeai/backend/pid/_ext/imaginaire/utils/__init__.py
  invokeai/backend/pid/_ext/imaginaire/utils/count_params.py
  invokeai/backend/pid/_ext/imaginaire/utils/device.py
  invokeai/backend/pid/_ext/imaginaire/utils/distributed.py
  invokeai/backend/pid/_ext/imaginaire/utils/log.py
  invokeai/backend/pid/_ext/imaginaire/utils/misc.py
  invokeai/backend/pid/_src/__init__.py
  invokeai/backend/pid/_src/inference/__init__.py
  invokeai/backend/pid/_src/inference/checkpoint_registry.py
  invokeai/backend/pid/_src/inference/pipeline_registry.py
  invokeai/backend/pid/_src/models/__init__.py
  invokeai/backend/pid/_src/models/pid_distill_model.py
  invokeai/backend/pid/_src/models/pid_model.py
  invokeai/backend/pid/_src/models/pixeldit_model.py
  invokeai/backend/pid/_src/models/utils.py
  invokeai/backend/pid/_src/modules/__init__.py
  invokeai/backend/pid/_src/modules/conditioner.py
  invokeai/backend/pid/_src/networks/__init__.py
  invokeai/backend/pid/_src/networks/lq_projection_2d.py
  invokeai/backend/pid/_src/networks/pid_net.py
  invokeai/backend/pid/_src/networks/pixeldit_official.py
  invokeai/backend/pid/_src/utils/__init__.py
  invokeai/backend/pid/_src/utils/context_parallel.py
Due: black, flake8, isort

feat(pid): wire PiD + Gemma-2 into model-manager and add decode nodes
  invokeai/app/invocations/flux_pid_decode.py
  invokeai/app/invocations/gemma2_encoder_loader.py
  invokeai/app/invocations/model.py
  invokeai/app/invocations/pid_decoder_loader.py
  invokeai/app/invocations/pid_upscale.py
  invokeai/app/invocations/sd3_pid_decode.py
  invokeai/app/invocations/z_image_pid_decode.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/gemma2_encoder.py
  invokeai/backend/model_manager/configs/pid_decoder.py
  invokeai/backend/model_manager/load/model_loaders/gemma2_encoder.py
  invokeai/backend/model_manager/load/model_loaders/pid_decoder.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/pid/decode.py
Due: black, flake8, isort

chore(deps): compel fork + transformers>=5.9.0 + remove override
  pyproject.toml
  uv.lock
Due: uvlock

fix(z_image): resolve rope_theta from rope_parameters for transformers 5.x
  invokeai/backend/model_manager/load/model_loaders/z_image.py
Due: black, flake8, isort

fix(model_manager): replace removed hf_hub get_token_permission with whoami
  invokeai/app/api/routers/model_manager.py
Due: black, flake8, isort

feat(pid): end-to-end PiD pixel-diffusion decoder integration
  invokeai/app/invocations/flux_pid_decode.py
  invokeai/app/invocations/gemma2_encoder_loader.py
  invokeai/app/invocations/pid_decoder_loader.py
  invokeai/app/invocations/pid_upscale.py
  invokeai/app/invocations/sd3_pid_decode.py
  invokeai/app/invocations/z_image_pid_decode.py
  invokeai/app/services/model_records/model_records_base.py
  invokeai/backend/model_manager/configs/text_llm.py
  invokeai/backend/model_manager/load/model_loaders/pid_decoder.py
  invokeai/backend/pid/decode.py
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelFormatBadge.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

chore(deps): regenerate uv.lock after upstream merge
  uv.lock
Due: none

fix(sd3): resolve merge conflict marker, drop T5TokenizerFast
  invokeai/app/invocations/sd3_text_encoder.py
  tests/app/invocations/test_sd3_text_encoder.py
Due: black, flake8, isort

style: ruff fixes on merge-resolved files
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/backend/model_manager/metadata/fetch/huggingface.py
Due: black, flake8, isort

chore(deps): pin transformers <5.6 (diffusers single-file CLIP incompat)
  pyproject.toml
  uv.lock
Due: uvlock

fix(model install): wait for startup restore before imports
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

Fix progress preview gallery selection
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ToggleMetadataViewerButton.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
Due: none
