Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

ci: raise python-tests job timeout to 30 minutes (#9391)
  .github/workflows/python-tests.yml
Due: none

chore(devcontainer): there is no longer a docs extra
  .devcontainer/post-create.sh
Due: none

chore(ui): prettier formatting for AdvancedSettingsAccordion
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
Due: none

fix(krea2): calibrate seed variance to embedding std; fix randomize slider
  invokeai/app/invocations/krea2_seed_variance.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.test.ts
  invokeai/frontend/web/src/features/parameters/components/Krea2Enhancers/ParamKrea2SeedVarianceRandomizePercent.tsx
  invokeai/frontend/web/src/features/parameters/components/Krea2Enhancers/ParamKrea2SeedVarianceStrength.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_krea2_enhancers.py
Due: black, flake8, isort

fix(canvas): address bbox hotkey review follow-ups
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/hooks/bboxToolHotkey.test.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/bboxToolHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasSelectBboxToolHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBboxToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/toolHotkeys.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/toolHotkeys.ts
  invokeai/frontend/web/src/features/gallery/hooks/useEditImage.ts
Due: none

Chore knip
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/generationSettingsVisibility.test.ts
Due: none

fix(gallery): keep canvas-owned images out of assets
  invokeai/app/services/image_records/image_records_common.py
  invokeai/app/services/image_records/image_records_sqlite.py
  invokeai/frontend/web/src/features/gallery/store/types.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/backend/canvasImages.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/createCanvasEngine.ts
  tests/app/services/test_image_category_views.py
Due: black, flake8, isort

fix(krea2): sync metadata recall ranges; accept diffusion_model LoRA layout
  invokeai/backend/model_manager/configs/lora.py
  invokeai/frontend/web/src/features/metadata/parsing.test.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  tests/backend/model_manager/configs/test_krea2_lora_config.py
Due: black, flake8, isort

feat(webv2): add dynamic prompt policy and syntax scanning
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/features/generation/core/dynamicPrompts.test.ts
  invokeai/frontend/webv2/src/features/generation/core/dynamicPrompts.ts
  invokeai/frontend/webv2/src/features/generation/core/prompt/dynamicPromptSyntax.test.ts
  invokeai/frontend/webv2/src/features/generation/core/prompt/dynamicPromptSyntax.ts
  invokeai/frontend/webv2/src/features/generation/core/prompt/highlight.test.ts
  invokeai/frontend/webv2/src/features/generation/core/prompt/highlight.ts
  invokeai/frontend/webv2/src/features/generation/core/settings.ts
  invokeai/frontend/webv2/src/features/generation/core/types.ts
  invokeai/frontend/webv2/src/features/generation/settings.ts
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PromptTextarea.tsx
  invokeai/frontend/webv2/src/features/upscale/core/graph.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/importGalleryImages.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
Due: none

fix(text-tool): address remaining custom font review feedback
  docs/src/content/docs/development/Front End/text-tool.mdx
  docs/src/content/docs/features/Canvas/text-tool.mdx
  invokeai/app/api/routers/utilities.py
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/src/features/controlLayers/components/Text/TextToolOptions.tsx
  invokeai/frontend/web/src/features/controlLayers/text/textConstants.ts
  invokeai/frontend/web/src/features/controlLayers/text/textUserFonts.test.ts
  invokeai/frontend/web/src/features/controlLayers/text/textUserFonts.ts
  pyproject.toml
  tests/app/routers/test_utilities.py
  tests/test_config.py
  uv.lock
Due: black, flake8, isort, uvlock

Chore Openapi
  invokeai/frontend/web/openapi.json
Due: none

fix(ui): surface 3D conversion failures and localize splat overlay strings
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/CanvasSplatOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/SplatViewer.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/state.test.ts
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/state.ts
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityMenuItemsConvertTo3D.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useEntityConvertTo3D.ts
Due: none

fix(app): drop unused board/metadata sockets from image_to_3d; pin asset security posture with tests
  invokeai/app/invocations/image_to_3d.py
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_multiuser_authorization.py
  tests/app/services/asset_files/test_asset_files_disk.py
Due: black, flake8, isort

feat(webv2): submit dynamic prompts as a batch dimension
  invokeai/frontend/webv2/src/architecture/dependencyPolicy.test.ts
  invokeai/frontend/webv2/src/architecture/featureInterfaces.ts
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/features/generation/core/dynamicPrompts.test.ts
  invokeai/frontend/webv2/src/features/generation/core/dynamicPrompts.ts
  invokeai/frontend/webv2/src/features/generation/core/settings.ts
  invokeai/frontend/webv2/src/features/generation/core/types.ts
  invokeai/frontend/webv2/src/features/generation/data/dynamicPromptsQueries.ts
  invokeai/frontend/webv2/src/features/generation/data/promptUtilities.ts
  invokeai/frontend/webv2/src/features/generation/prompts.ts
  invokeai/frontend/webv2/src/features/generation/settings.ts
  invokeai/frontend/webv2/src/features/queue/core/promptBatch.test.ts
  invokeai/frontend/webv2/src/features/queue/core/promptBatch.ts
  invokeai/frontend/webv2/src/features/queue/core/types.ts
  invokeai/frontend/webv2/src/features/queue/data/submissionApi.test.ts
  invokeai/frontend/webv2/src/features/queue/data/submissionApi.ts
  invokeai/frontend/webv2/src/features/queue/runtime.ts
  invokeai/frontend/webv2/src/features/upscale/core/graph.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/importGalleryImages.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.test.ts
  invokeai/frontend/webv2/src/workbench/invocation.test.ts
  invokeai/frontend/webv2/src/workbench/invocationSubmit.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

feat(webv2): add the dynamic prompts preview and syntax colouring
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/scripts/mock-backend.mjs
  invokeai/frontend/webv2/src/features/generation/react.ts
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsButton.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsButton.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/GeneratePromptFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptActions.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptField.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PromptTextarea.tsx
  invokeai/frontend/webv2/src/features/generation/ui/useDynamicPrompts.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/InvokeControl.tsx
Due: none

chore(api): regenerate schema for configurable fonts directory
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

test(perf): re-record architecture baselines for dynamic prompting
  invokeai/frontend/webv2/performance/architecture-baseline.json
Due: none

test(perf): admit the dynamic prompt modules to the runtime owner sets
  invokeai/frontend/webv2/performance/browser-baseline.json
Due: none

feat(app): sweep orphaned 3D assets on startup
  invokeai/app/services/asset_files/asset_files_disk.py
  tests/app/services/asset_files/test_asset_files_disk.py
Due: black, flake8, isort

docs: regenerate settings data for fonts directory
  docs/src/generated/settings.json
Due: none

style(perf): reformat the re-recorded architecture baseline
  invokeai/frontend/webv2/performance/architecture-baseline.json
Due: none

fix(app): scope the asset startup sweep to splat formats only
  invokeai/app/services/asset_files/asset_files_disk.py
  tests/app/services/asset_files/test_asset_files_disk.py
Due: black, flake8, isort

fix(workflows): preserve core_metadata recall fields across workflow roundtrip (#9162)
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldGate.tsx
  invokeai/frontend/web/src/features/nodes/store/util/fieldValidators.ts
  invokeai/frontend/web/src/features/nodes/types/extraInputs.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/types/invocation.test.ts
  invokeai/frontend/web/src/features/nodes/types/invocation.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildNodesGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildNodesGraph.ts
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/features/nodes/util/schema/parseSchemaCoreMetadata.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/graphToWorkflow.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/graphToWorkflow.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/loraMetadataRoundtrip.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.ts
Due: none

test(app): allowlist the public assets route in the route-auth sweep
  tests/app/routers/test_model_manager_authorization.py
Due: black, flake8, isort

fix(dynamicprompts): report every unresolvable wildcard, not just nested ones
  invokeai/app/util/dynamicprompts.py
  tests/app/routers/test_utilities.py
  tests/app/util/test_dynamicprompts.py
Due: black, flake8, isort

Recognize terminal jobs in deferred restore recheck and bound the reservation wait
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

fix(docs): correct Text Tool development link (#9377)
  docs/src/content/docs/features/Canvas/text-tool.mdx
Due: none

feat(wildcards): give wildcards real per-user storage
  invokeai/app/api/dependencies.py
  invokeai/app/api/routers/utilities.py
  invokeai/app/api/routers/wildcards.py
  invokeai/app/api_app.py
  invokeai/app/invocations/prompt.py
  invokeai/app/services/invocation_services.py
  invokeai/app/services/shared/invocation_context.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_07_27_wildcards.py
  invokeai/app/services/wildcard_records/__init__.py
  invokeai/app/services/wildcard_records/wildcard_records_base.py
  invokeai/app/services/wildcard_records/wildcard_records_common.py
  invokeai/app/services/wildcard_records/wildcard_records_sqlite.py
  invokeai/app/util/dynamicprompts.py
  tests/app/routers/conftest.py
  tests/app/routers/test_image_moves.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_session_queue_workflow_call.py
  tests/app/routers/test_wildcards.py
  tests/app/routers/test_workflows_multiuser.py
  tests/app/services/test_image_move_startup_safety.py
  tests/app/services/test_wildcard_records.py
  tests/conftest.py
Due: black, flake8, isort

feat(webv2): fold wildcards into the dynamic prompting flow
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/scripts/mock-backend.mjs
  invokeai/frontend/webv2/src/features/generation/core/dynamicPrompts.test.ts
  invokeai/frontend/webv2/src/features/generation/core/dynamicPrompts.ts
  invokeai/frontend/webv2/src/features/generation/core/prompt/dynamicPromptSyntax.ts
  invokeai/frontend/webv2/src/features/generation/core/prompt/highlight.test.ts
  invokeai/frontend/webv2/src/features/generation/core/prompt/highlight.ts
  invokeai/frontend/webv2/src/features/generation/data/wildcards.ts
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsButton.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsButton.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptActions.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptField.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PromptTextarea.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/WildcardsPanel.tsx
  invokeai/frontend/webv2/src/features/generation/ui/useWildcards.ts
Due: none

fix(model cache): bound the admission grace and keep cached_model_keys stall-free
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_cache/cache_record.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

fix(api): run single-video delete/update off the event loop
  invokeai/app/api/routers/videos.py
  tests/app/routers/test_videos_multiuser.py
Due: black, flake8, isort

fix(video): bound iter_video_frames by one deadline, not two
  invokeai/app/util/video_thumbnails.py
  tests/app/util/test_video_thumbnails.py
Due: black, flake8, isort

fix(webv2): replace the seed dropdown that crashed the Generate widget
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/src/features/generation/core/dynamicPrompts.test.ts
  invokeai/frontend/webv2/src/features/generation/core/dynamicPrompts.ts
  invokeai/frontend/webv2/src/features/generation/core/prompt/dynamicPromptSyntax.ts
  invokeai/frontend/webv2/src/features/generation/settings.ts
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsButton.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsControls.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsPanel.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/GeneratePromptFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptActions.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptField.tsx
Due: none

feat(webv2): highlight the previewed dynamic prompts
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsButton.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsButton.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsControls.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsPanel.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptActions.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptField.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PromptHighlight.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PromptTextarea.tsx
Due: none

fix(api): report partial failures and bound batch bodies on image routes
  invokeai/app/api/routers/images.py
  invokeai/app/services/images/images_common.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/services/api/endpoints/images.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_images.py
  tests/app/routers/test_multiuser_authorization.py
Due: black, flake8, isort

feat(webv2): give the wildcard values editor highlighting and a line gutter
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsButton.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PromptLineNumbers.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PromptLineNumbers.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PromptTextarea.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/WildcardsPanel.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/WildcardsPanel.tsx
Due: none

perf(boards): batch the owner lookup in admin board listings
  invokeai/app/services/boards/boards_default.py
  invokeai/app/services/users/users_base.py
  invokeai/app/services/users/users_default.py
  tests/app/services/boards/test_boards_default.py
  tests/app/services/users/test_user_service.py
Due: black, flake8, isort

fix(model cache): release abandoned admission grace
  invokeai/backend/model_manager/load/load_base.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort
