Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

docs: regenerate invocation-context data for offload_from_vram
  docs/src/generated/invocation-context.json
Due: none

fix(api): address review — PATCH redaction, /missing access, cache UI gating
  invokeai/app/api/routers/app_info.py
  invokeai/app/api/routers/model_manager.py
  invokeai/frontend/web/src/features/auth/hooks/useIsAdmin.ts
  invokeai/frontend/web/src/features/queue/components/QueueTabContent.tsx
  invokeai/frontend/web/src/features/queue/hooks/invocationCacheControls.test.ts
  invokeai/frontend/web/src/features/queue/hooks/invocationCacheControls.ts
  invokeai/frontend/web/src/features/queue/hooks/useClearInvocationCache.ts
  invokeai/frontend/web/src/features/queue/hooks/useDisableInvocationCache.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnableInvocationCache.ts
  tests/app/routers/test_model_manager_authorization.py
Due: black, flake8, isort

fix: address self-review findings — scan_folder crash, stale spec, UI gating
  invokeai/app/api/routers/app_info.py
  invokeai/app/api/routers/model_manager.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/auth/hooks/useIsAdmin.test.ts
  invokeai/frontend/web/src/features/customNodes/useIsCustomNodesEnabled.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/NoContentForViewer.tsx
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useStarterModelsToast.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/UseCacheCheckbox.tsx
  invokeai/frontend/web/src/features/parameters/components/ModelPicker.tsx
  invokeai/frontend/web/src/features/queue/hooks/invocationCacheControls.test.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/UpscaleSettingsAccordion/UpscaleWarning.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/onModelInstallError.tsx
  tests/app/routers/test_model_manager_authorization.py
Due: black, flake8, isort

fix(tests): satisfy CI ruff 0.11.2 — drop zip() flagged by B905, apply its formatting
  tests/app/routers/test_model_manager_authorization.py
Due: black, flake8, isort

fix(text-tool): preserve logical size when committing HiDPI text (#9111)
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasTextToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/text/textCommit.test.ts
  invokeai/frontend/web/src/features/controlLayers/text/textCommit.ts
Due: none

fix(ui): match Z-Image variant when defaulting Qwen3 source (#9221)
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
Due: none

fix(backend): Wan inference fixes from full-PR self-review
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_ideal_dimensions.py
  invokeai/app/invocations/wan_lora_loader.py
  invokeai/app/invocations/wan_model_loader.py
  invokeai/app/invocations/wan_text_encoder.py
  invokeai/backend/model_manager/load/model_loaders/vae.py
  invokeai/backend/model_manager/load/model_loaders/wan.py
  invokeai/backend/util/vae_working_memory.py
  tests/app/invocations/test_wan_denoise.py
  tests/app/invocations/test_wan_expert_swapper.py
  tests/app/invocations/test_wan_lora_loader.py
  tests/app/invocations/test_wan_model_loader.py
  tests/app/invocations/test_wan_working_memory.py
  tests/backend/model_manager/load/test_wan_vae_loader.py
Due: black, flake8, isort

fix(api): video service fixes from full-PR self-review
  invokeai/app/api/routers/videos.py
  invokeai/app/services/invocation_cache/invocation_cache_memory.py
  invokeai/app/services/shared/invocation_context.py
  invokeai/app/services/video_files/video_files_disk.py
  tests/app/routers/test_video_range_header.py
  tests/test_invocation_cache_memory.py
Due: black, flake8, isort

fix(ui): video UX fixes from full-PR self-review
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/boardAndImagesDeleted.ts
  invokeai/frontend/web/src/common/hooks/useDownloadImage.ts
  invokeai/frontend/web/src/features/auth/components/UserMenu.tsx
  invokeai/frontend/web/src/features/deleteVideoModal/store/state.ts
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/ImageContextMenu.tsx
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/VideoContextMenu.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryVideoItem.tsx
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamWanGuidanceScaleLowNoise.tsx
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useValidateAndLoadWorkflow.ts
  invokeai/frontend/web/src/services/api/endpoints/videos.ts
  invokeai/frontend/web/src/services/api/hooks/accessChecks.ts
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: none

chore: workflows/docs/deps fixes from full-PR self-review
  docs/src/content/docs/features/video-generation.mdx
  invokeai/app/services/workflow_records/default_workflows/Extend Video - Wan 2.2 Lightning w_ Concept LoRAs.json
  invokeai/app/services/workflow_records/default_workflows/Extend Video - Wan 2.2 Lightning.json
  invokeai/app/services/workflow_records/default_workflows/Extend Video to Image - Wan 2.2 Lightning.json
  invokeai/app/services/workflow_records/default_workflows/Image to Video - Wan 2.2 Lightning w_ Concept LoRAs.json
  invokeai/app/services/workflow_records/default_workflows/Image to Video - Wan 2.2 Lightning.json
  invokeai/app/services/workflow_records/default_workflows/Image to Video - Wan 2.2 TI2V-5B (Low Quality).json
  invokeai/app/services/workflow_records/default_workflows/Interpolate 2 Images to Video - Wan 2.2 Lightning.json
  invokeai/app/services/workflow_records/default_workflows/Text to Video - Wan 2.2 Lightning w_ Concept LoRAs.json
  invokeai/app/services/workflow_records/default_workflows/Text to Video - Wan 2.2 Lightning.json
  invokeai/app/services/workflow_records/default_workflows/Text to Video - Wan 2.2 TI2V-5B (Low Quality).json
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Image to Image.json
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Text to Image.json
  pyproject.toml
  tests/app/services/workflow_records/test_default_workflows_registry.py
  tests/app/util/test_video_thumbnails.py
  uv.lock
Due: black, flake8, isort, uvlock

ci: raise python-tests job timeout to 30 minutes
  .github/workflows/python-tests.yml
Due: none

fix(canvas): add fine-grid hint to move tool (#9227)
  invokeai/frontend/web/src/features/ui/layouts/canvasToolModifierHints.test.ts
  invokeai/frontend/web/src/features/ui/layouts/canvasToolModifierHints.ts
Due: none

security: validate custom node pack names (#9256)
  invokeai/app/api/routers/custom_nodes.py
  tests/app/routers/test_custom_nodes.py
Due: black, flake8, isort

Feat(canvas): Add transparency lock for Gradients and Shapes. Extend Clip Strokes to Bbox to Rect/Oval shapes. (#9250)
  docs/src/content/docs/features/Canvas/gradient-tool.mdx
  docs/src/content/docs/features/Canvas/shapes-tool.mdx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityObjectRenderer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/CanvasObjectGradient.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/CanvasObjectOval.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/CanvasObjectRect.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/needsPixelBbox.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/needsPixelBbox.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBrushToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasGradientToolModule.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasGradientToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasShapeToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/gradientBufferState.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/shapeCompositeOperation.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/shapeCompositeOperation.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/transparencyLocking.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/transparencyLocking.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

fix(gallery): unify live progress selection
  invokeai/frontend/webv2/src/app/GalleryUiAdapter.tsx
  invokeai/frontend/webv2/src/features/gallery/contracts.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/features/queue/data/revealHoldStore.test.ts
  invokeai/frontend/webv2/src/features/queue/data/revealHoldStore.ts
  invokeai/frontend/webv2/src/features/queue/react.ts
  invokeai/frontend/webv2/src/features/queue/runtime/coordinator.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

fix(gallery): follow active denoising sequence
  invokeai/frontend/webv2/src/app/GalleryUiAdapter.tsx
  invokeai/frontend/webv2/src/features/gallery/contracts.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

docs: design deterministic preview navigation
  docs/superpowers/specs/2026-07-21-preview-keyboard-navigation-design.md
Due: none

fix(tests): stop patching shutil.rmtree globally in custom-nodes uninstall test
  tests/app/routers/test_custom_nodes.py
Due: black, flake8, isort

fix(api): address review round 2 — auth on upload-entry stub, complete admin matrix
  invokeai/app/api/routers/images.py
  invokeai/frontend/web/openapi.json
  tests/app/routers/test_model_manager_authorization.py
Due: black, flake8, isort

fix(ui): clear API cache on logout
  invokeai/frontend/web/src/app/store/store.test.ts
  invokeai/frontend/web/src/app/store/store.ts
Due: none

fix(gallery): make preview navigation deterministic
  invokeai/frontend/webv2/src/app/GalleryUiAdapter.tsx
  invokeai/frontend/webv2/src/features/gallery/contracts.ts
  invokeai/frontend/webv2/src/features/gallery/core/image.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/features/queue/core/types.ts
  invokeai/frontend/webv2/src/features/queue/data/activeProgressTargetStore.ts
  invokeai/frontend/webv2/src/features/queue/data/progressImageStore.ts
  invokeai/frontend/webv2/src/features/queue/react.ts
  invokeai/frontend/webv2/src/features/queue/runtime/coordinator.test.ts
  invokeai/frontend/webv2/src/features/queue/runtime/coordinator.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewNavigation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/previewNavigation.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/previewNavigation.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

fix(api): require auth on model-manager and app-info endpoints (#9365) (#9367)
  invokeai/app/api/routers/app_info.py
  invokeai/app/api/routers/images.py
  invokeai/app/api/routers/model_manager.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/app/store/store.test.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/auth/hooks/useIsAdmin.test.ts
  invokeai/frontend/web/src/features/auth/hooks/useIsAdmin.ts
  invokeai/frontend/web/src/features/customNodes/useIsCustomNodesEnabled.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/NoContentForViewer.tsx
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useIsModelManagerEnabled.ts
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useStarterModelsToast.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/UseCacheCheckbox.tsx
  invokeai/frontend/web/src/features/parameters/components/ModelPicker.tsx
  invokeai/frontend/web/src/features/queue/components/QueueTabContent.tsx
  invokeai/frontend/web/src/features/queue/hooks/invocationCacheControls.test.ts
  invokeai/frontend/web/src/features/queue/hooks/invocationCacheControls.ts
  invokeai/frontend/web/src/features/queue/hooks/useClearInvocationCache.ts
  invokeai/frontend/web/src/features/queue/hooks/useDisableInvocationCache.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnableInvocationCache.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/UpscaleSettingsAccordion/UpscaleWarning.tsx
  invokeai/frontend/web/src/features/system/components/AboutModal/AboutModal.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsImageStorageMaintenance.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsImageSubfolderStrategySelect.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/onModelInstallError.tsx
  tests/app/routers/conftest.py
  tests/app/routers/test_app_info.py
  tests/app/routers/test_model_manager.py
  tests/app/routers/test_model_manager_authorization.py
Due: black, flake8, isort

fix(api): require auth on model-manager and app-info read endpoints
  invokeai/app/api/routers/app_info.py
  invokeai/app/api/routers/model_manager.py
  tests/app/routers/conftest.py
  tests/app/routers/test_app_info.py
  tests/app/routers/test_model_manager.py
  tests/app/routers/test_model_manager_authorization.py
Due: black, flake8, isort

chore(api): regenerate openapi.json for new auth dependencies
  invokeai/frontend/web/openapi.json
Due: none

fix(api): make runtime_config administrator-only
  invokeai/app/api/routers/app_info.py
  invokeai/frontend/web/src/features/auth/hooks/useIsAdmin.ts
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useIsModelManagerEnabled.ts
  invokeai/frontend/web/src/features/system/components/AboutModal/AboutModal.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsImageSubfolderStrategySelect.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  tests/app/routers/test_model_manager_authorization.py
Due: black, flake8, isort

chore(release): bump version to 6.13.7
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

feat(ui): standardize interaction styling
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/ResizableTextareaIntegration.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/DropZone.tsx
  invokeai/frontend/webv2/src/platform/ui/FormControlInteraction.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/Tabs.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/Toolbar.tsx
  invokeai/frontend/webv2/src/platform/ui/Tooltip.tsx
  invokeai/frontend/webv2/src/platform/ui/index.ts
  invokeai/frontend/webv2/src/platform/ui/theme/__fixtures__/legacyTokenBaseline.json
  invokeai/frontend/webv2/src/platform/ui/theme/recipes.ts
  invokeai/frontend/webv2/src/platform/ui/theme/system.ts
  invokeai/frontend/webv2/src/platform/ui/theme/themes.ts
Due: none

feat(generate): refine generation controls
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/app/GenerationUiAdapter.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateAdvancedFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateComponentsSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateConceptsSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateDimensionFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateHeaderActions.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateModelFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateSettingsForm.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateWidgetView.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerationUiContext.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/NegativePromptField.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptActions.tsx
  invokeai/frontend/webv2/src/features/generation/ui/reference-images/GenerateReferenceImagesSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/shared/GenerateCollapsibleSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/shared/ModelDefaultButton.tsx
  invokeai/frontend/webv2/src/features/generation/ui/shared/SliderNumberField.tsx
  invokeai/frontend/webv2/src/features/generation/ui/shared/modelDefaultSettings.ts
  invokeai/frontend/webv2/src/features/generation/widget.ts
  invokeai/frontend/webv2/src/features/upscale/ui/UpscaleWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/settings/contracts.ts
  invokeai/frontend/webv2/src/workbench/settings/store.test.ts
  invokeai/frontend/webv2/src/workbench/settings/store.ts
  invokeai/frontend/webv2/src/workbench/widgets/generate/manifest.ts
Due: none

refactor(models): streamline model controls
  invokeai/frontend/webv2/src/features/models/core/library.test.ts
  invokeai/frontend/webv2/src/features/models/core/library.ts
  invokeai/frontend/webv2/src/features/models/ui/components/ModelSelect.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/DefaultSettingsSection.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/ModelEditForm.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/ModelImageUpload.tsx
Due: none

refactor(ui): adopt shared controls
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardSelect.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/fields/WorkflowFieldInput.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/linear/FormBuilderTab.tsx
  invokeai/frontend/webv2/src/workbench/settings/SettingsDialog.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetRegionDropOverlay.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasImageDropZone.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/RegionalGuidanceSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewCompareDropZone.tsx
Due: none

fix(gallery): preserve delete confirmation
  invokeai/frontend/webv2/src/platform/ui/ConfirmDialog.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.tsx
Due: none

fix(settings): support launchpad hotkeys
  invokeai/frontend/webv2/src/workbench/WorkbenchContext.tsx
  invokeai/frontend/webv2/src/workbench/hotkeys/extensionHotkeys.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/hotkeys/extensionHotkeys.ts
Due: none

fix(queue): infer active batch item
  invokeai/frontend/webv2/src/workbench/shell/topbar/QueueInfo.tsx
Due: none

style(workbench): tighten workspace layout
  invokeai/frontend/webv2/src/workbench/launchpad/LaunchpadNav.tsx
  invokeai/frontend/webv2/src/workbench/projects/components/ProjectTabs.tsx
  invokeai/frontend/webv2/src/workbench/shell/CenterArea.tsx
  invokeai/frontend/webv2/src/workbench/shell/StatusBar.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetBar.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetFrames.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasHeaderActions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/checkerColors.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/TextOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerGroupSection.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayersWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
Due: none

docs(preview): remove stale navigation design
  docs/superpowers/specs/2026-07-21-preview-keyboard-navigation-design.md
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
