Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

fix(ui): bound the range-fetch retry with backoff and coalesced ranges
  invokeai/frontend/web/src/common/hooks/useBoundedRangeRetry.test.ts
  invokeai/frontend/web/src/common/hooks/useBoundedRangeRetry.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.test.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.ts
  invokeai/frontend/web/src/features/queue/hooks/useRangeBasedQueueItemFetching.test.ts
  invokeai/frontend/web/src/features/queue/hooks/useRangeBasedQueueItemFetching.ts
Due: none

fix(auth): enforce the last-administrator invariant inside the write transaction
  invokeai/app/services/users/users_base.py
  invokeai/app/services/users/users_common.py
  invokeai/app/services/users/users_default.py
  tests/app/routers/test_last_admin_routes.py
  tests/app/services/users/test_last_admin_invariant.py
Due: black, flake8, isort

Declare networkx runtime dependency
  invokeai/app/services/shared/graph.py
  pyproject.toml
  tests/test_imports.py
  uv.lock
Due: black, flake8, isort, uvlock

fix(canvas): migrate path tool to base tool state
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasPathToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
Due: none

Declare networkx as a runtime dependency (#9457)
  invokeai/app/services/shared/graph.py
  pyproject.toml
  tests/test_imports.py
  uv.lock
Due: black, flake8, isort, uvlock

feat(nodes): add seeded Text LLM sampling
  docs/src/content/docs/features/prompt-tools.md
  invokeai/app/api/routers/utilities.py
  invokeai/app/invocations/text_llm.py
  invokeai/backend/text_llm_pipeline.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_text_llm_with_preset.py
  tests/backend/text_llm/test_text_llm_api_models.py
  tests/backend/text_llm/test_text_llm_pipeline.py
Due: black, flake8, isort

fix(nodes): address seeded Text LLM review
  docs/src/content/docs/features/prompt-tools.md
  invokeai/app/api/routers/utilities.py
  invokeai/backend/text_llm_pipeline.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.test.ts
  invokeai/frontend/web/src/services/api/endpoints/utilities.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/text_llm/test_text_llm_api_models.py
  tests/backend/text_llm/test_text_llm_pipeline.py
Due: black, flake8, isort

test(nodes): tolerate constrained MPS memory
  tests/backend/text_llm/test_text_llm_pipeline.py
Due: black, flake8, isort

refactor(pid): rename memory optimization setting
  docs/src/content/docs/configuration/low-vram-mode.mdx
  docs/src/content/docs/features/pid-decode.mdx
  docs/src/generated/settings.json
  invokeai/app/invocations/flux2_pid_decode.py
  invokeai/app/invocations/flux_pid_decode.py
  invokeai/app/invocations/pid_upscale.py
  invokeai/app/invocations/qwen_image_pid_decode.py
  invokeai/app/invocations/sd3_pid_decode.py
  invokeai/app/invocations/sdxl_pid_decode.py
  invokeai/app/invocations/z_image_pid_decode.py
  invokeai/app/services/config/config_default.py
  invokeai/backend/pid/decode.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/pid/test_pid_decode.py
  tests/test_config.py
Due: black, flake8, isort

perf(pid): chunk pixel activations
  invokeai/backend/pid/_src/networks/pixeldit_official.py
  invokeai/backend/pid/decode.py
  tests/backend/pid/test_pid_decode.py
  tests/backend/pid/test_pixeldit_official.py
Due: black, flake8, isort

Fix generated JSON settings file
  docs/src/generated/settings.json
Due: none

fix(pid): make the memory optimization actually free VRAM, and say what it costs
  docs/src/content/docs/configuration/low-vram-mode.mdx
  docs/src/content/docs/features/pid-decode.mdx
  docs/src/generated/settings.json
  invokeai/app/invocations/flux2_pid_decode.py
  invokeai/app/invocations/flux_pid_decode.py
  invokeai/app/invocations/pid_upscale.py
  invokeai/app/invocations/qwen_image_pid_decode.py
  invokeai/app/invocations/sd3_pid_decode.py
  invokeai/app/invocations/sdxl_pid_decode.py
  invokeai/app/invocations/z_image_pid_decode.py
  invokeai/app/services/config/config_default.py
  invokeai/backend/pid/_src/networks/pixeldit_official.py
  invokeai/backend/pid/decode.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_pid_memory_optimization_wiring.py
  tests/backend/pid/test_pid_chunked_equivalence.py
  tests/backend/pid/test_pid_decode.py
Due: black, flake8, isort

chore: openapi schema
  invokeai/frontend/web/openapi.json
Due: none

perf(pid): gate memory optimizations
  docs/src/content/docs/configuration/low-vram-mode.mdx
  docs/src/content/docs/features/pid-decode.mdx
  docs/src/generated/settings.json
  invokeai/app/invocations/flux2_pid_decode.py
  invokeai/app/invocations/flux_pid_decode.py
  invokeai/app/invocations/pid_upscale.py
  invokeai/app/invocations/qwen_image_pid_decode.py
  invokeai/app/invocations/sd3_pid_decode.py
  invokeai/app/invocations/sdxl_pid_decode.py
  invokeai/app/invocations/z_image_pid_decode.py
  invokeai/app/services/config/config_default.py
  invokeai/backend/pid/_src/networks/pid_net.py
  invokeai/backend/pid/_src/networks/pixeldit_official.py
  invokeai/backend/pid/decode.py
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/pid/test_pid_decode.py
  tests/backend/pid/test_pixeldit_official.py
  tests/test_config.py
Due: black, flake8, isort

test(pid): avoid unsupported Windows CPU bf16
  tests/backend/pid/test_pixeldit_official.py
Due: black, flake8, isort

test(pid): fix a chunking test that was both unportable and partly vacuous
  tests/backend/pid/test_pid_chunked_equivalence.py
Due: black, flake8, isort

fix(pid): account for batch size in memory estimate
  invokeai/backend/pid/decode.py
  tests/backend/pid/test_pid_decode.py
Due: black, flake8, isort

feat(video): optimize Wan memory usage
  docs/src/content/docs/configuration/low-vram-mode.mdx
  docs/src/content/docs/features/video-generation.mdx
  docs/src/generated/settings.json
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_latents_to_video.py
  invokeai/app/invocations/wan_video_denoise.py
  invokeai/app/services/config/config_default.py
  invokeai/backend/util/vae_working_memory.py
  invokeai/backend/wan/memory_optimization.py
  invokeai/backend/wan/vae_decode.py
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_wan_denoise.py
  tests/app/invocations/test_wan_working_memory.py
  tests/backend/wan/test_memory_optimization.py
  tests/backend/wan/test_vae_decode.py
  tests/test_config.py
Due: black, flake8, isort

test(cache): keep VRAM budget test CPU-safe
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

fix(wan): address video memory optimization review
  docs/src/content/docs/configuration/low-vram-mode.mdx
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_latents_to_video.py
  invokeai/backend/model_manager/load/load_base.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/wan/memory_optimization.py
  tests/app/invocations/test_wan_denoise.py
  tests/app/invocations/test_wan_expert_swapper.py
  tests/app/invocations/test_wan_working_memory.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
  tests/backend/wan/test_memory_optimization.py
Due: black, flake8, isort

Added additional optimizations
  docs/src/content/docs/configuration/low-vram-mode.mdx
  docs/src/content/docs/features/video-generation.mdx
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_video_denoise.py
  tests/app/invocations/test_wan_denoise.py
Due: black, flake8, isort

fix(webv2): restore the launchpad/editor shared chunk entry
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/vite.config.mts
Due: none

fix(fp8): apply the keep-fp8 filters to raw weights only, probe the device
  docs/src/content/docs/configuration/fp8-storage.mdx
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/quantization/fp8_scaled.py
  tests/backend/model_manager/load/test_flux2_state_dict_utils.py
  tests/backend/model_manager/load/test_z_image_state_dict_utils.py
  tests/backend/quantization/test_fp8_scaled.py
Due: black, flake8, isort

chore(ui): resolve knip warnings
  invokeai/frontend/web/src/features/gallery/store/autoSwitchedImages.ts
  invokeai/frontend/web/src/services/api/endpoints/videos.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: none

feat(api): image embedding and projection cache tables + records service
  invokeai/app/api/dependencies.py
  invokeai/app/services/image_index/image_index_common.py
  invokeai/app/services/image_index/image_index_records_base.py
  invokeai/app/services/image_index/image_index_records_sqlite.py
  invokeai/app/services/invocation_services.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_08_03_add_image_index_tables.py
  invokeai/backend/util/gallery_maintenance.py
  tests/app/routers/test_image_moves.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_session_queue_workflow_call.py
  tests/app/routers/test_system_prompts_multiuser.py
  tests/app/routers/test_system_prompts_single_user.py
  tests/app/routers/test_workflows_multiuser.py
  tests/app/services/image_index/test_image_index_records.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_08_03_add_image_index_tables.py
  tests/app/services/test_image_move_startup_safety.py
  tests/conftest.py
Due: black, flake8, isort

fix(api): repair image_subfolder_move_items cascade; harden image index records
  invokeai/app/services/image_index/image_index_common.py
  invokeai/app/services/image_index/image_index_records_base.py
  invokeai/app/services/image_index/image_index_records_sqlite.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_08_03_add_image_index_tables.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_08_08_repair_image_subfolder_move_tables.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_34.py
  tests/app/services/image_index/test_image_index_records.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_08_08_repair_image_subfolder_move_tables.py
Due: black, flake8, isort

fix(pid): check LQ completeness before the backbone, stop probing the RNG
  invokeai/backend/model_manager/configs/pid_decoder.py
  invokeai/backend/model_manager/load/model_loaders/pid_decoder.py
  invokeai/backend/pid/decode.py
  invokeai/backend/pid/state_dict_utils.py
  tests/backend/model_manager/configs/test_pid_decoder_config.py
  tests/backend/pid/test_pid_decode.py
  tests/backend/pid/test_pid_state_dict_utils.py
Due: black, flake8, isort

feat(api): background image embedding indexer service
  docs/src/generated/settings.json
  invokeai/app/api/dependencies.py
  invokeai/app/api/sockets.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/events/events_base.py
  invokeai/app/services/events/events_common.py
  invokeai/app/services/image_index/image_index_base.py
  invokeai/app/services/image_index/image_index_common.py
  invokeai/app/services/image_index/image_index_default.py
  invokeai/app/services/invocation_services.py
  invokeai/app/services/shared/sqlite/sqlite_database.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_image_moves.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_session_queue_workflow_call.py
  tests/app/routers/test_system_prompts_multiuser.py
  tests/app/routers/test_system_prompts_single_user.py
  tests/app/routers/test_workflows_multiuser.py
  tests/app/services/image_index/test_image_index_service.py
  tests/app/services/shared/sqlite/test_sqlite_database.py
  tests/app/services/test_image_move_startup_safety.py
  tests/conftest.py
Due: black, flake8, isort

fix(api): drop degenerate embeddings per-image instead of failing the batch
  invokeai/app/services/image_index/image_index_default.py
  tests/app/services/image_index/test_image_index_service.py
Due: black, flake8, isort

test: pin the device in the generation-wait tests
  tests/app/services/image_index/test_image_index_service.py
Due: black, flake8, isort

fix(api): report failed image count in the index status event
  invokeai/app/services/events/events_base.py
  invokeai/app/services/events/events_common.py
  invokeai/app/services/image_index/image_index_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/services/image_index/test_image_index_service.py
Due: black, flake8, isort

fix(api): separate systemic from per-image failures; harden device and model resolution
  invokeai/app/services/image_index/image_index_default.py
  tests/app/services/image_index/test_image_index_service.py
Due: black, flake8, isort

test(deps): make the umap smoke test verify the JIT; correct the numba rationale
  pyproject.toml
  tests/app/services/image_index/test_umap_import.py
Due: black, flake8, isort, uvlock

chore(deps): add umap-learn and scikit-learn for the image map
  pyproject.toml
  tests/app/services/image_index/test_umap_import.py
  uv.lock
Due: black, flake8, isort, uvlock

fix(sdnq): reject pipeline components that do not identify themselves
  invokeai/backend/model_manager/configs/main.py
  tests/backend/model_manager/configs/test_sdnq_pipeline_submodel_discovery.py
Due: black, flake8, isort

ci(pins): make the python-classifier check advisory, not fatal (#9466)
  scripts/check_pins.py
  tests/test_check_pins.py
Due: black, flake8, isort

fix(ui): stop treating the any base as a universal wildcard
  invokeai/frontend/webv2/src/features/models/core/library.ts
  invokeai/frontend/webv2/src/features/models/core/relationships.test.ts
  invokeai/frontend/webv2/src/features/models/core/relationships.ts
  invokeai/frontend/webv2/src/features/models/core/types.ts
  invokeai/frontend/webv2/src/features/models/data/relationshipsStore.test.ts
  invokeai/frontend/webv2/src/features/models/data/relationshipsStore.ts
  invokeai/frontend/webv2/src/features/models/ui/components/ModelSelect.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/ModelDetail.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/RelatedModelsSection.browser.test.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/RelatedModelsSection.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/useModelActions.ts
  invokeai/frontend/webv2/src/features/models/ui/manager/LibraryColumn.tsx
Due: none

fix(webv2): route generated videos to the active board; honor ui_model_format in workflow model fields
  invokeai/frontend/webv2/src/app/QueueRuntimeAdapter.tsx
  invokeai/frontend/webv2/src/features/queue/core/types.ts
  invokeai/frontend/webv2/src/features/queue/data/httpRealtimeQueueBackend.ts
  invokeai/frontend/webv2/src/features/queue/data/queries.test.ts
  invokeai/frontend/webv2/src/features/queue/data/submissionApi.test.ts
  invokeai/frontend/webv2/src/features/queue/data/submissionApi.ts
  invokeai/frontend/webv2/src/features/queue/runtime.test.ts
  invokeai/frontend/webv2/src/features/queue/runtime.ts
  invokeai/frontend/webv2/src/features/workflow/core/buildGraph.test.ts
  invokeai/frontend/webv2/src/features/workflow/core/document.test.ts
  invokeai/frontend/webv2/src/features/workflow/core/fields.test.ts
  invokeai/frontend/webv2/src/features/workflow/core/layerWorkflow.test.ts
  invokeai/frontend/webv2/src/features/workflow/core/properties.test.ts
  invokeai/frontend/webv2/src/features/workflow/core/types.ts
  invokeai/frontend/webv2/src/features/workflow/core/validation.test.ts
  invokeai/frontend/webv2/src/features/workflow/core/workflowJson.test.ts
  invokeai/frontend/webv2/src/features/workflow/data/templates.test.ts
  invokeai/frontend/webv2/src/features/workflow/data/templates.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/flowAdapters.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/fields/WorkflowFieldInput.tsx
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
