Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

fix(ui): overflow w/ long board names
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/BoardEditableTitle.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/BoardTooltip.tsx
  invokeai/frontend/web/src/features/gallery/components/Gallery.tsx
Due: none

Add 'shift+s' hotkey for fitting bbox to canvas
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
Due: none

updates & fix
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbarFitBboxToLayersButton.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
Due: none

feat(mm): change anime upscaling model to one that doesn't trigger picklescan
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

feat(mm): add flux krea to starter models
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

feat(ui): add button to ref image to recall size & optimize for model
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageImage.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/dnd/DndImageIcon.tsx
Due: none

chore: bump version to v6.3.0
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

Add toggle for bbox with hotkey
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/CanvasAlerts/CanvasAlertsBboxVisibility.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbar.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasToggleBboxHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBboxToolModule.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
  invokeai/frontend/web/src/features/ui/layouts/CanvasWorkspacePanel.tsx
Due: none

setting bbox visibility moved into render method
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBboxToolModule.ts
Due: none

error nodes outlined in red
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNode.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNodeHeader.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldTitle.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/common/NodeTitle.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/common/NodeWrapper.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/common/shared.ts
Due: none

add to form icon included
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldTitle.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/common/shared.ts
Due: none

same field cannot be added to form multiple times in workflow editor
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldAddToFormRoot.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/use-add-node-field-to-root.ts
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/publish.ts
  invokeai/frontend/web/src/features/nodes/store/selectors.ts
Due: none

bugfix(container-builder) Use the mnt space instead of root space for docker images
  .github/workflows/build-container.yml
Due: none

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

feat(ui): (optional) Protect starred images from accidental deletion
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/src/features/deleteImageModal/store/state.ts
  invokeai/frontend/web/src/features/gallery/components/Boards/DeleteBoardModal.tsx
  invokeai/frontend/web/src/features/gallery/hooks/useBoardContainsStarred.ts
  invokeai/frontend/web/src/features/gallery/store/gallerySelectors.ts
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/features/system/store/systemSlice.ts
  invokeai/frontend/web/src/features/system/store/types.ts
  invokeai/frontend/web/src/services/api/endpoints/images.ts
Due: none

Setup Probe and UI to accept bria main models
  invokeai/app/invocations/fields.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/BriaMainModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

added support for loading bria transformer
  invokeai/backend/bria/__init__.py
  invokeai/backend/bria/bria_utils.py
  invokeai/backend/bria/pipeline.py
  invokeai/backend/bria/transformer_bria.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
Due: black, flake8, isort

front end support for bria
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelBaseBadge.tsx
  invokeai/frontend/web/src/features/parameters/types/constants.ts
Due: none

Setup Probe and UI to accept bria controlnet models
  invokeai/app/invocations/fields.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/BriaControlNetModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

addded bria nodes for bria3.1 and bria3.2
  invokeai/nodes/__init__.py
  invokeai/nodes/bria_nodes/bria_decoder.py
  invokeai/nodes/bria_nodes/bria_denoiser.py
  invokeai/nodes/bria_nodes/bria_latent_sampler.py
  invokeai/nodes/bria_nodes/bria_model_loader.py
  invokeai/nodes/bria_nodes/bria_text_encoder.py
Due: black, flake8, isort

Add Bria text to image model and controlnet support
  invokeai/backend/bria/controlnet_aux/__init__.py
  invokeai/backend/bria/controlnet_aux/canny/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/LICENSE
  invokeai/backend/bria/controlnet_aux/open_pose/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/body.py
  invokeai/backend/bria/controlnet_aux/open_pose/face.py
  invokeai/backend/bria/controlnet_aux/open_pose/hand.py
  invokeai/backend/bria/controlnet_aux/open_pose/model.py
  invokeai/backend/bria/controlnet_aux/open_pose/util.py
  invokeai/backend/bria/controlnet_aux/util.py
  invokeai/backend/bria/controlnet_bria.py
  invokeai/backend/bria/controlnet_utils.py
  invokeai/backend/bria/pipeline_bria.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
  invokeai/backend/model_manager/load/model_util.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/BriaControlNetModelFieldInputComponent.tsx
  invokeai/nodes/bria_nodes/__init__.py
  invokeai/nodes/bria_nodes/bria_controlnet.py
  invokeai/nodes/bria_nodes/bria_denoiser.py
  invokeai/nodes/bria_nodes/bria_latent_sampler.py
  invokeai/nodes/bria_nodes/bria_text_encoder.py
Due: black, flake8, isort

Small cosmetic fixes
  invokeai/nodes/bria_nodes/bria_controlnet.py
  invokeai/nodes/bria_nodes/bria_decoder.py
Due: black, flake8, isort

Added scikit-image required for Bria's OpenposeDetector model
  pyproject.toml
  uv.lock
Due: uvlock

moved bria's nodes to invocations folder
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_sampler.py
  invokeai/app/invocations/bria_model_loader.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/nodes/__init__.py
  invokeai/nodes/bria_nodes/__init__.py
Due: black, flake8, isort

removed unused file
  invokeai/backend/bria/pipeline.py
Due: black, flake8, isort

fixed node issue
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_sampler.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
Due: black, flake8, isort

ruff fix
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_sampler.py
  invokeai/app/invocations/bria_model_loader.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/backend/bria/bria_utils.py
  invokeai/backend/bria/controlnet_aux/__init__.py
  invokeai/backend/bria/controlnet_aux/canny/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/body.py
  invokeai/backend/bria/controlnet_aux/open_pose/face.py
  invokeai/backend/bria/controlnet_aux/open_pose/hand.py
  invokeai/backend/bria/controlnet_aux/open_pose/model.py
  invokeai/backend/bria/controlnet_aux/open_pose/util.py
  invokeai/backend/bria/controlnet_aux/util.py
  invokeai/backend/bria/controlnet_bria.py
  invokeai/backend/bria/controlnet_utils.py
  invokeai/backend/bria/pipeline_bria.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/backend/bria/transformer_bria.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
Due: black, flake8, isort

fixed schema
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

readded support for bria3.2 and controlnet
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
Due: black, flake8, isort

cr fixes 1
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_noise.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/app/util/step_callback.py
  invokeai/backend/bria/bria_utils.py
  invokeai/backend/bria/controlnet_aux/__init__.py
  invokeai/backend/bria/controlnet_aux/canny/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/LICENSE
  invokeai/backend/bria/controlnet_aux/open_pose/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/body.py
  invokeai/backend/bria/controlnet_aux/open_pose/face.py
  invokeai/backend/bria/controlnet_aux/open_pose/hand.py
  invokeai/backend/bria/controlnet_aux/open_pose/model.py
  invokeai/backend/bria/controlnet_aux/open_pose/util.py
  invokeai/backend/bria/controlnet_aux/util.py
  invokeai/backend/bria/controlnet_bria.py
  invokeai/backend/bria/pipeline_bria.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/backend/bria/transformer_bria.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/model_util.py
  pyproject.toml
  uv.lock
Due: black, flake8, isort, uvlock

cr fixes 2
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_noise.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/app/util/step_callback.py
  invokeai/backend/bria/pipeline_bria.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelBaseBadge.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/parameters/types/constants.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

feat(mm): support bria-3 controlnets
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/legacy_probe.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
