Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

feat(anima): add prompt weighting support
  invokeai/app/invocations/anima_text_encoder.py
  invokeai/backend/anima/prompt_weighting.py
  tests/app/invocations/test_anima_text_encoder.py
Due: black, flake8, isort

fix(webv2): match row hover probes to softened token
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsButton.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PromptTemplates.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/WildcardsPanel.browser.test.tsx
Due: none

feat(webv2): add topbar generation progress rail
  invokeai/frontend/webv2/src/features/queue/contracts.ts
  invokeai/frontend/webv2/src/features/queue/core/progressRail.test.ts
  invokeai/frontend/webv2/src/features/queue/core/progressRail.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/TopBar.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/TopbarProgressRail.tsx
Due: none

feat(webv2): give the queue status chip a progress bar
  invokeai/frontend/webv2/src/platform/ui/StatusWidgetChip.tsx
  invokeai/frontend/webv2/src/workbench/widgets/queue-status/QueueStatusWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/queue-status/queueStatusModel.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/queue-status/queueStatusModel.ts
Due: none

feat(webv2): show generation progress in the tab title
  invokeai/frontend/webv2/src/workbench/shell/DocumentTitleProgress.tsx
  invokeai/frontend/webv2/src/workbench/shell/WorkbenchShell.tsx
  invokeai/frontend/webv2/src/workbench/shell/documentTitle.test.ts
  invokeai/frontend/webv2/src/workbench/shell/documentTitle.ts
Due: none

refactor(webv2): drop redundant progress indicators
  invokeai/frontend/webv2/src/workbench/components/QueueProgressIndicator.tsx
  invokeai/frontend/webv2/src/workbench/shell/CenterArea.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/QueueCluster.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewLiveReadout.tsx
Due: none

refactor(webv2): consolidate preview stage chrome
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewCompare.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewLiveReadout.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewStage.tsx
Due: none

feat(webv2): give the live preview the standard media layout
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewDetails.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFooter.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewLiveReadout.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewMediaChrome.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewNavigation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
Due: none

fix(webv2): keep preview navigation continuous across batch completion
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewNavigation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/usePreviewNavigation.ts
Due: none

fix(wan): pair Wan 2.2 A14B GGUF experts by wiring, not just filename (#9505)
  invokeai/app/invocations/wan_model_loader.py
  tests/app/invocations/test_wan_model_loader.py
Due: black, flake8, isort

fix(model manager): read the bare HIGH/LOW expert convention again
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/MainModelPicker.tsx
  invokeai/frontend/web/src/services/api/types.ts
  tests/backend/model_manager/configs/test_wan_checkpoint_config.py
Due: black, flake8, isort

test(model manager): cover the Wan inferences and gates that mutations survived
  invokeai/backend/model_manager/load/model_loaders/wan.py
  tests/backend/model_manager/configs/test_wan_gguf_config.py
  tests/backend/model_manager/load/test_wan_checkpoint_loader.py
Due: black, flake8, isort

fix(model manager): read a both-experts filename as neither, in both spellings
  invokeai/backend/model_manager/configs/main.py
  tests/backend/model_manager/configs/test_wan_checkpoint_config.py
Due: black, flake8, isort

fix(model manager): tighten the Wan checkpoint probe
  invokeai/backend/model_manager/configs/main.py
  tests/backend/model_manager/configs/test_wan_checkpoint_config.py
Due: black, flake8, isort

fix(model manager): stop refusing all-in-one Wan files; tighten variant + guards
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/wan.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/queue/store/readiness.test.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/types.ts
  tests/backend/model_manager/configs/test_wan_checkpoint_config.py
  tests/backend/model_manager/load/test_wan_checkpoint_loader.py
  tests/backend/model_manager/load/test_wan_loader.py
Due: black, flake8, isort

feat(model manager): support single-file Wan 2.2 checkpoints
  invokeai/app/invocations/wan_model_loader.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/comfyui_state_dict_utils.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/backend/model_manager/load/model_loaders/wan.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamWanModelSelects.tsx
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
  tests/app/invocations/test_wan_model_loader.py
  tests/backend/model_manager/configs/test_wan_checkpoint_config.py
  tests/backend/model_manager/configs/test_wan_gguf_config.py
  tests/backend/model_manager/load/test_wan_checkpoint_loader.py
Due: black, flake8, isort

fix(ui): route every primary-main selection through one offerable-models filter
  invokeai/backend/model_manager/load/model_loaders/comfyui_state_dict_utils.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.wan.test.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/MainModelPicker.tsx
  invokeai/frontend/web/src/features/ui/layouts/InitialStateMainModelPicker.tsx
  invokeai/frontend/web/src/services/api/types.ts
  tests/backend/model_manager/load/test_wan_checkpoint_loader.py
Due: black, flake8, isort

fix(model manager): correct the expert heuristic and refuse more Wan variants
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/wan.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/features/queue/store/readiness.test.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  tests/backend/model_manager/configs/test_wan_checkpoint_config.py
  tests/backend/model_manager/load/test_wan_checkpoint_loader.py
Due: black, flake8, isort

fix(ui): keep the Wan component slots in step with the selected variant
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/wanComponentSync.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/wanComponentSync.ts
Due: none

fix(ui): adopt #9505's wiring-first expert pairing across the frontend
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.wan.test.ts
  invokeai/frontend/web/src/features/queue/store/readiness.test.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/MainModelPicker.tsx
  invokeai/frontend/web/src/features/ui/layouts/InitialStateMainModelPicker.tsx
  invokeai/frontend/web/src/services/api/types.ts
Due: none

fix(video): adversarial-review findings for audio muxing
  invokeai/app/util/video_encoding.py
  tests/app/util/test_video_encoding.py
Due: black, flake8, isort

fix(wan): repair the defects a fresh-context review found in the last two rounds
  invokeai/app/invocations/wan_model_loader.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/wan.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.wan.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/wanComponentSync.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/wanComponentSync.ts
  invokeai/frontend/web/src/features/queue/store/readiness.test.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  tests/backend/model_manager/configs/test_wan_checkpoint_config.py
  tests/backend/model_manager/load/test_wan_checkpoint_loader.py
  tests/backend/model_manager/load/test_wan_loader.py
Due: black, flake8, isort

fix(webv2): hold the docked-or-floating invariant across reload, presets, and routing
  invokeai/frontend/webv2/src/workbench/floatingWidgets.test.ts
  invokeai/frontend/webv2/src/workbench/graphWidgets.test.ts
  invokeai/frontend/webv2/src/workbench/graphWidgets.ts
  invokeai/frontend/webv2/src/workbench/invocation.test.ts
  invokeai/frontend/webv2/src/workbench/invocation.ts
  invokeai/frontend/webv2/src/workbench/layoutContracts.ts
  invokeai/frontend/webv2/src/workbench/layoutPresetSnapshots.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetActionsMenu.tsx
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

fix(webv2): close the gaps the second review found in the floating-window fixes
  invokeai/frontend/webv2/src/workbench/floatingWidgets.test.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetActionsMenu.tsx
  invokeai/frontend/webv2/src/workbench/widgetPlacementCommands.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

fix(mm): compare the integrated-GPU full-load guard against bytes still to move
  invokeai/backend/model_manager/load/model_cache/model_cache.py
Due: black, flake8, isort

test: run the integrated-GPU cache tests on CPU-only torch
  tests/backend/model_manager/load/model_cache/test_model_cache_integrated_gpu.py
Due: black, flake8, isort

fix(flux2): stop the sampler from advancing reference image tokens
  invokeai/backend/flux2/denoise.py
  tests/backend/flux2/test_denoise_ref_image_conditioning.py
Due: black, flake8, isort

fix(webv2): keep Gallery a Compose center view
  invokeai/frontend/webv2/src/workbench/layoutPresets.test.ts
  invokeai/frontend/webv2/src/workbench/layoutPresets.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
Due: none

perf(ui): re-record browser performance baselines
  invokeai/frontend/webv2/performance/browser-baseline.json
Due: none

fix(webv2): make floating windows survive lost pointers, keyboards, and a missing widget
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/floatingWidgets.test.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.tsx
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

fix(minimax-h3): validate the canvas like the frame count
  invokeai/app/invocations/minimax_h3_denoise.py
  invokeai/backend/minimax_h3/sampling.py
  tests/backend/minimax_h3/test_sampling.py
Due: black, flake8, isort

fix(ui): route floating-window keystrokes, and dock where the widget floated from
  invokeai/frontend/webv2/src/workbench/floatingWidgets.test.ts
  invokeai/frontend/webv2/src/workbench/layoutContracts.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.tsx
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

revert: perf(ui): re-record browser performance baselines
  invokeai/frontend/webv2/performance/browser-baseline.json
Due: none

fix(webv2): notify enqueues against the submitting project, not the active one
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

fix(minimax-h3): keep the first-party canvas/frame presets out of the vendored module
  invokeai/app/invocations/minimax_h3_denoise.py
  invokeai/app/invocations/minimax_h3_ideal_dimensions.py
  invokeai/backend/minimax_h3/autoencoder_kl_minimax_h3_audio.py
  invokeai/backend/minimax_h3/packing.py
  invokeai/backend/minimax_h3/presets.py
  invokeai/backend/minimax_h3/sampling.py
  invokeai/backend/minimax_h3/transformer_minimax_h3.py
  pyproject.toml
  tests/app/invocations/test_minimax_h3_denoise_num_frames.py
  tests/backend/minimax_h3/test_sampling.py
Due: black, flake8, isort, uvlock

refactor(webv2): share the widget panel size clamp
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetFrames.tsx
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

fix(webv2): flush pending library autosave edits on dispose
  invokeai/frontend/webv2/src/features/workflow/ui/library/libraryAutosave.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/library/libraryAutosave.ts
Due: none

fix(webv2): account-scope library autosaves and stop re-rendering the dialog host per edit
  invokeai/frontend/webv2/src/features/workflow/ui/WorkflowDialogHost.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/WorkflowWidgetChrome.tsx
Due: none

feat(ui): image map current-image marker, focal-point zoom, auto-recenter
  invokeai/frontend/webv2/src/workbench/image-map/attachWheelZoom.ts
  invokeai/frontend/webv2/src/workbench/image-map/imageMapTraces.ts
  invokeai/frontend/webv2/src/workbench/image-map/imageMapViewport.test.ts
  invokeai/frontend/webv2/src/workbench/image-map/imageMapViewport.ts
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ImageMapPlot.tsx
Due: none

fix(webv2): image map zoom across input devices, and one-shot fit correctness
  invokeai/frontend/webv2/src/workbench/image-map/attachWheelZoom.browser.test.ts
  invokeai/frontend/webv2/src/workbench/image-map/attachWheelZoom.ts
  invokeai/frontend/webv2/src/workbench/image-map/imageMapViewport.test.ts
  invokeai/frontend/webv2/src/workbench/image-map/imageMapViewport.ts
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ImageMapPlot.tsx
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
