Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

tests: relax 5s pytest-timeout marks that flake on slow CI runners
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

fix(model-manager): apply Krea-2 LoRAs in kohya key layout
  invokeai/backend/patches/lora_conversions/krea2_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/lora_state_dicts/krea2_lora_kohya_format.py
  tests/backend/patches/lora_conversions/test_krea2_lora_conversion_utils.py
Due: black, flake8, isort

ci(pins): validate pins.json's python pin against requires-python
  docs/src/content/docs/start-here/manual.mdx
  scripts/check_pins.py
  tests/test_check_pins.py
Due: black, flake8, isort

tests: relax 5s pytest-timeout marks that flake on slow CI runners (#9448)
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

feat(multi-gpu): split the ERNIE-Image prompt enhancer into its own node
  docs/src/content/docs/development/Guides/creating-nodes.mdx
  invokeai/app/invocations/ernie_image_prompt_enhancer.py
  invokeai/app/invocations/ernie_image_text_encoder.py
  invokeai/backend/util/device_pool.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildErnieImageGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildErnieImageGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_ernie_image_prompt_enhancer.py
  tests/app/invocations/test_idle_offload_encoder_output_devices.py
Due: black, flake8, isort

docs: note OpenAI base_url for multi-model gateways
  docs/src/content/docs/contributing/external-providers.md
Due: none

docs: note OpenAI client base_url for multi-model gateways
  docs/openai-compatible-gateway-example.patch
Due: none

feat(multi-gpu): mark the remaining text encoders as idle-GPU offloadable (#9428)
  docs/src/content/docs/development/Guides/creating-nodes.mdx
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/invocations/ernie_image_prompt_enhancer.py
  invokeai/app/invocations/ernie_image_text_encoder.py
  invokeai/app/invocations/ideogram4_text_encoder.py
  invokeai/app/invocations/krea2_text_encoder.py
  invokeai/app/invocations/wan_text_encoder.py
  invokeai/backend/util/device_pool.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildErnieImageGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildErnieImageGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_ernie_image_prompt_enhancer.py
  tests/app/invocations/test_idle_offload_encoder_output_devices.py
  tests/app/services/session_processor/test_encoder_offload.py
Due: black, flake8, isort

fix(webv2): centralize gallery deletion confirmation
  invokeai/frontend/webv2/src/app/GalleryImageActionsBridge.browser.test.tsx
  invokeai/frontend/webv2/src/app/GalleryImageActionsBridge.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/index.ts
  invokeai/frontend/webv2/src/workbench/image-actions/useDeletionConfirmation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useDeletionConfirmation.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewNavigation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
Due: none

docs(gallery): clarify board count labels
  docs/src/content/docs/features/gallery.mdx
Due: none

perf(webv2): restore route bundle boundaries
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/src/workbench/hotkeys/catalog.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/LayoutPresetDialog.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/LayoutPresetStrip.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/ProjectSwitcher.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/RoutingControl.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/layoutPresetDialogModel.test.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/layoutPresetDialogModel.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/layoutPresetStripModel.test.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/layoutPresetStripModel.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/projectSwitcherModel.test.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/projectSwitcherModel.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/routingPresentation.test.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/routingPresentation.ts
  invokeai/frontend/webv2/vite.config.mts
Due: none

test(webv2): trim redundant browser coverage
  invokeai/frontend/webv2/src/app/GalleryImageActionsBridge.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardDragMonitor.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardsPanel.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryLayout.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GallerySearchField.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GallerySplitHandle.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetChrome.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryUploadAction.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/promptImageDrop.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/ColorPicker.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/AdjustmentsPopover.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewHeaderActions.browser.test.tsx
Due: none

chore(webv2): trim explanatory comments
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetChrome.tsx
  invokeai/frontend/webv2/src/features/models/ui/components/ModelSelect.tsx
  invokeai/frontend/webv2/src/platform/ui/ColorPicker.tsx
  invokeai/frontend/webv2/src/platform/ui/Picker.tsx
  invokeai/frontend/webv2/src/platform/ui/color.ts
  invokeai/frontend/webv2/src/platform/ui/colorPickerStore.ts
  invokeai/frontend/webv2/src/platform/ui/theme/recipes.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/graphWidgets.ts
  invokeai/frontend/webv2/src/workbench/shell/CenterArea.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/AppMenu.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/QueueCluster.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/topbarBreakpoints.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/useInvocationState.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/AdjustmentsPopover.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerListItem.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
Due: none

test(preview): remove brittle color assertion
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewHeaderActions.browser.test.tsx
Due: none

fix(webv2): restore architecture performance checks
  invokeai/frontend/webv2/performance/architecture-fixtures.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/scripts/measure-architecture-performance.mjs
  invokeai/frontend/webv2/src/workbench/shell/CenterArea.tsx
Due: none

fix(webv2): settle architecture fixture activation
  invokeai/frontend/webv2/performance/architecture-fixtures.json
  invokeai/frontend/webv2/scripts/measure-architecture-performance.mjs
  invokeai/frontend/webv2/scripts/performance-budgets.mjs
  invokeai/frontend/webv2/scripts/performance-budgets.test.mjs
Due: none

test(webv2): await deletion dialog focus
  invokeai/frontend/webv2/src/workbench/image-actions/useDeletionConfirmation.browser.test.tsx
Due: none

test: cover idle CUDA context prevention
  tests/app/services/session_processor/test_session_processor_cancel_guard.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

fix: remove global working directory change in web script (closes #9444)
  scripts/invokeai-web.py
Due: black, flake8, isort

docs: note OpenAI client base_url for multi-model gateways
  docs/src/content/docs/contributing/external-providers.md
  pr.md
Due: none

Feature: HiDiffusion integration (#8787)
  LICENSE-HiDiffusion.txt
  docs/src/content/docs/features/hidiffusion.mdx
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/metadata_linked.py
  invokeai/backend/hidiffusion/__init__.py
  invokeai/backend/hidiffusion/hidiffusion.py
  invokeai/backend/hidiffusion/sd_module_key/sd15_module_key.txt
  invokeai/backend/hidiffusion/sd_module_key/sdxl_module_key.txt
  invokeai/backend/hidiffusion/utils.py
  invokeai/backend/stable_diffusion/extensions/hidiffusion.py
  invokeai/backend/stable_diffusion/hidiffusion_utils.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.test.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addSDXLRefiner.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildHiDiffusionGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamHiDiffusionToggle.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
  tests/app/invocations/test_denoise_noise_inputs.py
  tests/backend/stable_diffusion/test_hidiffusion_utils.py
Due: black, flake8, isort, uvlock

fix: don't hold VRAM in an idle server (CUDA context at startup) (#9447)
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/app/services/session_processor/test_session_processor_cancel_guard.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

feat(ui): raise dimension slider max to 2048 (#9446)
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxHeight.tsx
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxScaledHeight.tsx
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxScaledWidth.tsx
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxWidth.tsx
  invokeai/frontend/web/src/features/parameters/components/Dimensions/DimensionsHeight.tsx
  invokeai/frontend/web/src/features/parameters/components/Dimensions/DimensionsWidth.tsx
Due: none

fix(ui): resolve the viewer preview on the thumbnail and stop it sticking
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.test.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/progressImageResolution.test.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/progressImageResolution.ts
Due: none

fix(ui): stop auto-switch flashing the previous image over the next preview
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/store/autoSwitchedImages.test.ts
  invokeai/frontend/web/src/features/gallery/store/autoSwitchedImages.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: none

resolve out connector nodes on batch calc
  invokeai/frontend/web/src/features/nodes/util/node/resolveBatchValue.ts
Due: none

Fix HiDiffusion with SDXL ControlNet
  invokeai/app/invocations/denoise_latents.py
  invokeai/backend/hidiffusion/hidiffusion.py
  invokeai/backend/stable_diffusion/extensions/hidiffusion.py
  invokeai/backend/stable_diffusion/hidiffusion_utils.py
  tests/backend/stable_diffusion/test_hidiffusion_utils.py
Due: black, flake8, isort

chore(docs): update sponsor list
  README.md
Due: none

feat(webv2): add feature hint popover component
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/platform/ui/hints/FeatureHint.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/hints/FeatureHint.tsx
  invokeai/frontend/webv2/src/platform/ui/hints/hintRegistry.test.ts
  invokeai/frontend/webv2/src/platform/ui/hints/hintRegistry.ts
  invokeai/frontend/webv2/src/platform/ui/hints/hintsContext.tsx
  invokeai/frontend/webv2/src/platform/ui/hints/index.ts
  invokeai/frontend/webv2/src/platform/ui/theme/recipes.ts
  invokeai/frontend/webv2/src/platform/ui/theme/system.ts
Due: none

feat(webv2): show feature hints on generate and upscale fields
  invokeai/frontend/webv2/src/app/App.tsx
  invokeai/frontend/webv2/src/app/FeatureHintsProvider.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateAdvancedFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateConceptsSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateDimensionFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateModelFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/NegativePromptField.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptField.tsx
  invokeai/frontend/webv2/src/features/generation/ui/reference-images/ReferenceImageCard.tsx
  invokeai/frontend/webv2/src/features/generation/ui/reference-images/ReferenceImageControls.tsx
  invokeai/frontend/webv2/src/features/upscale/ui/UpscaleWidgetView.tsx
  invokeai/frontend/webv2/src/platform/ui/Field.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/Field.tsx
  invokeai/frontend/webv2/src/workbench/settings/SettingsDialog.tsx
Due: none

chore(webv2): re-record architecture performance baselines
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
Due: none

chore(docs): update sponsor list (#9455)
  README.md
Due: none

feat(ui): add Use Cache and Save To Gallery to the form builder, make them connectable
  invokeai/app/invocations/baseinvocation.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/WorkflowFormPreview.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNodeFooter.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/NodeSettingAddRemoveFormRoot.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/NodeSettingFooterControl.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/SaveToGalleryCheckbox.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/UseCacheCheckbox.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/ContainerElement.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/FormElementEditModeHeader.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/FormElementNodeOverlay.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/NodeFieldElementEditMode.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/NodeSettingElement.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/NodeSettingElementEditMode.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/NodeSettingElementLabelEditable.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/NodeSettingElementViewMode.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/WorkflowBuilder.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/dnd-hooks.ts
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/use-add-remove-form-element.ts
  invokeai/frontend/web/src/features/nodes/hooks/useInputFieldNamesByStatus.ts
  invokeai/frontend/web/src/features/nodes/hooks/useIsBatchNode.ts
  invokeai/frontend/web/src/features/nodes/hooks/useNodeHasGalleryOutput.ts
  invokeai/frontend/web/src/features/nodes/hooks/useNodeSetting.ts
  invokeai/frontend/web/src/features/nodes/hooks/useWithFooter.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/store/selectors.ts
  invokeai/frontend/web/src/features/nodes/store/util/testUtils.ts
  invokeai/frontend/web/src/features/nodes/store/util/validateConnection.test.ts
  invokeai/frontend/web/src/features/nodes/store/util/validateConnection.ts
  invokeai/frontend/web/src/features/nodes/types/invocation.ts
  invokeai/frontend/web/src/features/nodes/types/nodeAttributeFields.ts
  invokeai/frontend/web/src/features/nodes/types/workflow.ts
  invokeai/frontend/web/src/features/nodes/util/node/buildInvocationNode.ts
  invokeai/frontend/web/src/features/nodes/util/node/getSortedFilteredFieldNames.ts
  invokeai/frontend/web/src/features/nodes/util/schema/parseSchema.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.ts
  tests/test_node_graph.py
Due: black, flake8, isort

Defer networkx import for schema generation
  invokeai/app/services/shared/graph.py
  tests/test_imports.py
Due: black, flake8, isort

feat(webv2): show LLM prompt task progress
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/app/WorkbenchApp.tsx
  invokeai/frontend/webv2/src/features/generation/data/llmTaskProgress.test.ts
  invokeai/frontend/webv2/src/features/generation/data/llmTaskProgress.ts
  invokeai/frontend/webv2/src/features/generation/data/promptUtilities.ts
  invokeai/frontend/webv2/src/features/generation/ui/LLMTaskProgressRuntime.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/LLMTaskProgressDisplay.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/LLMTaskProgressDisplay.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptActions.tsx
Due: none

fix(fp8): harden compute-dtype marker against double-cast poisoning
  invokeai/backend/hidiffusion/hidiffusion.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/util/fp8.py
  tests/backend/util/test_fp8.py
Due: black, flake8, isort

feat(webv2): restore HiDiffusion generation settings
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.test.ts
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.test.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.ts
  invokeai/frontend/webv2/src/features/generation/core/settings.test.ts
  invokeai/frontend/webv2/src/features/generation/core/settings.ts
  invokeai/frontend/webv2/src/features/generation/core/types.ts
  invokeai/frontend/webv2/src/features/generation/settings.ts
  invokeai/frontend/webv2/src/features/generation/ui/GenerateAdvancedFields.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateAdvancedFields.tsx
  invokeai/frontend/webv2/src/platform/ui/hints/hintRegistry.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/importGalleryImages.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
Due: none

feat(webv2): add Krea 2 regional guidance
  invokeai/frontend/webv2/src/features/generation/core/canvas/addRegionalGuidance.test.ts
  invokeai/frontend/webv2/src/features/generation/core/canvas/addRegionalGuidance.ts
  invokeai/frontend/webv2/src/features/generation/core/canvas/compileCanvasGraph.test.ts
  invokeai/frontend/webv2/src/features/generation/core/canvas/compileCanvasGraph.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.test.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.ts
  invokeai/frontend/webv2/src/features/generation/core/krea2Conditioning.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.ts
Due: none

fix(webv2): expose LLM progress runtime publicly
  invokeai/frontend/webv2/src/app/WorkbenchApp.tsx
  invokeai/frontend/webv2/src/features/generation/react.ts
Due: none
