Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

fix(krea2): reshape native final-layer modulation + honor scheduler shift config
  invokeai/app/invocations/krea2_denoise.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  tests/backend/model_manager/load/test_krea2_state_dict_utils.py
Due: black, flake8, isort

fix(canvas): keep SAM results out of gallery
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
Due: none

fix(krea2): resolve remaining review findings
  docs/src/content/docs/features/krea-2.mdx
  invokeai/app/invocations/krea2_conditioning_rebalance.py
  invokeai/app/invocations/krea2_denoise.py
  invokeai/app/invocations/krea2_model_loader.py
  invokeai/app/invocations/krea2_seed_variance.py
  invokeai/app/invocations/qwen_image_latents_to_image.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/configs/qwen3_vl_encoder.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/krea2ComponentSync.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/krea2ComponentSync.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.krea2.test.ts
  invokeai/frontend/web/src/features/metadata/parsing.test.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  tests/app/invocations/test_krea2_denoise.py
  tests/app/invocations/test_krea2_enhancers.py
  tests/app/invocations/test_krea2_model_loader.py
  tests/app/invocations/test_qwen_image_working_memory.py
  tests/backend/model_manager/configs/test_krea2_main_config.py
  tests/backend/model_manager/configs/test_model_path_validation.py
  tests/backend/model_manager/configs/test_qwen3_vl_encoder_config.py
Due: black, flake8, isort

feat(canvas): auto-process filter drafts in session
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.ts
Due: none

feat(canvas): expose filter auto-process on the engine
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
Due: none

test(canvas): add autoProcess to filter session fixture
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.test.tsx
Due: none

refactor(canvas): extract shared operation status slot
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/OperationStatusSlot.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
Due: none

feat(canvas): compact filter controls for the operation bar
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerFilterControls.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerFilterControls.tsx
Due: none

feat(canvas): slim the filter operation bar
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationBar.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.tsx
Due: none

refactor(canvas): remove unused canvas operation panel
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomOverlay.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.tsx
Due: none

fix(canvas): clear pending filter auto-run on interrupt
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.ts
Due: none

style(canvas): flatten filter bar to a single row
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/OperationStatusSlot.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerFilterControls.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerFilterControls.tsx
Due: none

test(canvas): pin auto-process in-flight guard
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.test.ts
Due: none

fix(canvas): fully dispose filter session after commit fallback
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
Due: none

refactor(canvas): let the engine own filter commit teardown
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.ts
Due: none

chore(docs): Add sponsors who made $15/mo or higher recurring donations
  README.md
Due: none

feat(canvas): merge visible legacy parity
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/layerController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/mergeLayerController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/mergeVisible.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/mergeVisible.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerGroupSection.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/RegionalGuidanceSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerGroupActions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerGroupActions.ts
Due: none

chore(docs): Add sponsors who made $15/mo or higher recurring donations (#9354)
  README.md
Due: none

Mirror width/height calculation for correct mask size
  invokeai/app/invocations/anima_denoise.py
Due: black, flake8, isort

test(mm): add regression test for restore/import race
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

chore: regenerate OpenAPI schema
  invokeai/frontend/web/openapi.json
Due: none

test(anima): cover regional-prompting token grid for odd latent dims
  invokeai/app/invocations/anima_denoise.py
  tests/app/invocations/test_anima_denoise.py
Due: black, flake8, isort

fix(multiuser): filter other users' events at the socket listener (JPPhoto review)
  invokeai/frontend/web/src/services/events/setEventListeners.test.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: none

fix(proxy): handle sub-path deployment edge cases from review
  invokeai/app/api_app.py
  invokeai/app/run_app.py
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/src/common/util/baseUrl.test.ts
  invokeai/frontend/web/src/common/util/baseUrl.ts
  invokeai/frontend/web/src/features/auth/components/AdministratorSetup.tsx
  invokeai/frontend/web/src/features/auth/components/LoginPage.tsx
  tests/app/test_subpath_middleware.py
  tests/test_config.py
Due: black, flake8, isort

docs: update docker README/Dockerfile for arm64 CPU-only builds, clarify aarch64 wheel comments
  docker/Dockerfile
  docker/README.md
  pyproject.toml
Due: uvlock

feat(ui): spin the invoke button while the user has queued sessions
  invokeai/frontend/web/src/features/queue/components/InvokeQueueBackButton.tsx
  invokeai/frontend/web/src/features/queue/hooks/useUserHasActiveQueueItems.ts
  invokeai/frontend/web/src/features/ui/components/FloatingLeftPanelButtons.tsx
Due: none

docs: cover native (non-docker) ARM64 installs in system requirements, manual install, and dev environment guides
  docs/src/content/docs/configuration/docker.mdx
  docs/src/content/docs/development/Setup/dev-environment.mdx
  docs/src/content/docs/start-here/manual.mdx
  docs/src/content/docs/start-here/system-requirements.mdx
Due: none

fix(multiuser): refresh other users' badge on retry; drop dead listener
  invokeai/app/api/sockets.py
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/types.ts
  tests/app/routers/test_multiuser_authorization.py
Due: black, flake8, isort

ci: check aarch64 dependency resolution in uv-lock-checks
  .github/workflows/uv-lock-checks.yml
Due: none

Update generated OpenAPI schema
  invokeai/frontend/web/openapi.json
Due: none

Optimize iterator graph materialization
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/services/events/events_base.py
  invokeai/app/services/shared/graph.py
  invokeai/frontend/web/src/services/api/schema.ts
  tests/test_graph_execution_state.py
Due: black, flake8, isort

fix: address multi-GPU review findings (RAM accounting, stats aggregation, MPS validation)
  invokeai/app/api/routers/model_manager.py
  invokeai/backend/model_manager/load/model_cache/shared_cpu_weights.py
  invokeai/backend/util/devices.py
  tests/app/routers/test_app_info.py
  tests/app/routers/test_model_manager.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
  tests/backend/model_manager/load/model_cache/test_shared_cpu_weights.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

Optimize iterator graph expansion and memory
  invokeai/app/services/shared/graph.py
  tests/test_graph_execution_state.py
Due: black, flake8, isort

Fix graph adjacency cache lifecycle
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/app/services/shared/graph.py
  tests/app/services/test_session_processor_callbacks.py
  tests/test_node_graph.py
Due: black, flake8, isort

Refactored `try...finally` behavior
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

Optimize saved workflow graph restoration
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/app/services/session_processor/workflow_call_runtime.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/app/services/shared/graph.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/services/session_queue/test_session_queue_status_event_isolation.py
  tests/app/services/session_queue/test_session_queue_workflow_call_metadata.py
  tests/app/services/shared/test_graph_execution_performance.py
  tests/app/services/workflow_call_test_utils.py
  tests/test_graph_execution_state.py
Due: black, flake8, isort

test(krea2): cover converter tensor shapes and scheduler-config mu path
  tests/app/invocations/test_krea2_denoise.py
  tests/backend/model_manager/load/test_krea2_state_dict_utils.py
Due: black, flake8, isort

fix: preserve exact frame dimensions in video encoders
  invokeai/app/invocations/video_concat.py
  invokeai/app/invocations/video_frame_extract_range.py
  invokeai/app/invocations/wan_latents_to_video.py
  invokeai/app/util/video_encoding.py
  tests/app/invocations/test_video_frame_extract_range.py
  tests/app/util/test_video_encoding.py
Due: black, flake8, isort

fix: keep viewer selection on surviving item after image deletion
  invokeai/frontend/web/src/features/deleteImageModal/store/state.test.ts
  invokeai/frontend/web/src/features/deleteImageModal/store/state.ts
Due: none
