Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

docs(nodes): update docstrings for InputField
  invokeai/app/invocations/fields.py
Due: black, flake8, isort

feat(ui): remove explicit model type handling from workflow editor
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/CLIPEmbedModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/CLIPGEmbedModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/CLIPLEmbedModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/ChatGPT4oModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/CogView4MainModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/ControlLoraModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/ControlNetModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FluxKontextModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FluxMainModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FluxReduxModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FluxVAEModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/IPAdapterModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/Imagen3ModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/Imagen4ModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/LLaVAModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/LoRAModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/MainModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/RefinerModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/RunwayModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/SD3MainModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/SDXLMainModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/SigLipModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/SpandrelImageToImageModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/T2IAdapterModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/T5EncoderModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/VAEModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/Veo3ModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/store/util/areTypesEqual.test.ts
  invokeai/frontend/web/src/features/nodes/store/util/testUtils.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: none

fix(nodes): add base to SD1 model loader
  invokeai/app/invocations/model.py
Due: black, flake8, isort

feat(nodes): add ui_model_format filter for nodes
  invokeai/app/invocations/fields.py
Due: black, flake8, isort

tidy(nodes): mark all UIType.*ModelField as deprecated
  invokeai/app/invocations/fields.py
Due: black, flake8, isort

chore(ui): typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

revert(nodes): do not deprecate ui_type for output fields! only deprecate the model ui types
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/metadata_linked.py
Due: black, flake8, isort

fix(nodes): ensure SD2 models are pickable in loader/cnet nodes
  invokeai/app/invocations/controlnet.py
  invokeai/app/invocations/model.py
Due: black, flake8, isort

chore: bump version to v6.8.0rc2
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

feat(ui): support filtering on model format
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/ModelIdentifierFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/hooks/useInputFieldNamesByStatus.ts
  invokeai/frontend/web/src/features/nodes/types/common.test-d.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
Due: none

feat(ui): update invocation parsing to handle new ui_model_[base|type|variant] attrs
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/ModelIdentifierFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/types/common.test-d.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
Due: none

feat(nodes): use new ui_model_[base|type|variant] on all core nodes
  invokeai/app/invocations/cogview4_model_loader.py
  invokeai/app/invocations/controlnet.py
  invokeai/app/invocations/flux_control_lora_loader.py
  invokeai/app/invocations/flux_controlnet.py
  invokeai/app/invocations/flux_ip_adapter.py
  invokeai/app/invocations/flux_lora_loader.py
  invokeai/app/invocations/flux_model_loader.py
  invokeai/app/invocations/flux_redux.py
  invokeai/app/invocations/ip_adapter.py
  invokeai/app/invocations/llava_onevision_vllm.py
  invokeai/app/invocations/metadata_linked.py
  invokeai/app/invocations/model.py
  invokeai/app/invocations/sd3_model_loader.py
  invokeai/app/invocations/sdxl.py
  invokeai/app/invocations/spandrel_image_to_image.py
  invokeai/app/invocations/t2i_adapter.py
Due: black, flake8, isort

feat(nodes): add ui_model_[base|type|variant] to InputField args for dynamic UI generation
  invokeai/app/invocations/fields.py
Due: black, flake8, isort

tidy(nodes): remove unused UIType.Video
  invokeai/app/invocations/fields.py
Due: black, flake8, isort

tests(ui): update tests to reflect new model parsing logic
  invokeai/frontend/web/src/features/nodes/store/util/testUtils.ts
Due: none

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

fix(nodes): correct QwenImagePipeline import path
  invokeai/app/invocations/qwen_image_denoise.py
Due: black, flake8, isort

feat(nodes): add Qwen-Image model support
  QWEN_IMAGE_IMPLEMENTATION.md
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/model.py
  invokeai/app/invocations/primitives.py
  invokeai/app/invocations/qwen_image_denoise.py
  invokeai/app/invocations/qwen_image_model_loader.py
  invokeai/app/invocations/qwen_image_text_encoder.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/backend/model_manager/taxonomy.py
  pyproject.toml
Due: black, flake8, isort, uvlock

feat(ui): add Qwen-Image UI types and update frontend schema
  invokeai/app/invocations/qwen_image_model_loader.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix(models): remove duplicate QwenImageConfig to restore MainDiffusersConfig
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(ui): add Qwen-Image model field components
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/Qwen2_5VLModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/QwenImageMainModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/QwenImageVAEModelFieldInputComponent.tsx
Due: none

feat(ui): add Qwen-Image model support to frontend
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelBaseBadge.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/QwenImageVAEModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/parameters/types/constants.ts
Due: none

fix(ui): use generic VAE models for Qwen-Image
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/QwenImageVAEModelFieldInputComponent.tsx
Due: none

feat: make VAE optional for Qwen-Image, use bundled VAE by default
  invokeai/app/invocations/qwen_image_model_loader.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

docs: update Qwen-Image implementation documentation
  QWEN_IMAGE_IMPLEMENTATION.md
Due: none

fix: remove incorrect assertion in QwenImageModelLoaderInvocation
  invokeai/app/invocations/qwen_image_model_loader.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
