Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

chore(ui): typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

feat(nodes): better deprecation handling for ui_type
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/invocations/fields.py
Due: black, flake8, isort

restore list_queue_items method
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
Due: black, flake8, isort

ruff
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
Due: black, flake8, isort

fix(ui): do not bake opacity when rasterizing layer adjustments
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayerAdjustmentsPanel.tsx
Due: none

fix(ui): correct the in-place install verbiage, add tooltip
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ScanFolder/ScanFolderResults.tsx
Due: none

canvas tabs added
  invokeai/frontend/web/src/features/controlLayers/store/selectors.ts
  invokeai/frontend/web/src/features/ui/layouts/CanvasTabEditableTitle.tsx
  invokeai/frontend/web/src/features/ui/layouts/CanvasTabs.tsx
  invokeai/frontend/web/src/features/ui/layouts/CanvasWorkspacePanel.tsx
Due: none

introduce new canvas_workflows that can be used to indicate inputs and outputs of the canvas, build UI where use can select a workflow with these nodes to run against canvas
  invokeai/app/invocations/canvas_workflow.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/shared.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasWorkflowSlice.ts
  invokeai/frontend/web/src/features/nodes/components/sidePanel/WorkflowListMenu/WorkflowListMenuTrigger.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/viewMode/EmptyState.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowLibraryModal.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowList.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowListItem.tsx
  invokeai/frontend/web/src/features/nodes/store/workflowLibraryModal.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildCanvasWorkflowGraph.ts
  invokeai/frontend/web/src/features/queue/components/CanvasWorkflowTrigger.tsx
  invokeai/frontend/web/src/features/queue/components/QueueControls.tsx
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueCanvas.ts
  invokeai/frontend/web/src/features/ui/components/ParametersPanels/ParametersPanelCanvas.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

refactor: port MM probes to new api
  invokeai/app/invocations/flux_model_loader.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/app/services/model_records/model_records_base.py
  invokeai/app/services/model_records/model_records_sql.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_22.py
  invokeai/backend/flux/util.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/single_file_config_files.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/patches/lora_conversions/flux_aitoolkit_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/formats.py
  invokeai/backend/quantization/scripts/load_flux_model_bnb_llm_int8.py
  invokeai/backend/quantization/scripts/load_flux_model_bnb_nf4.py
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/patches/lora_conversions/test_flux_aitoolkit_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_flux_kohya_lora_conversion_utils.py
  tests/test_model_probe.py
Due: black, flake8, isort

feat(mm): port TIs to new API
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

tidy(mm): remove unused probes
  invokeai/backend/model_manager/legacy_probe.py
Due: black, flake8, isort

feat(mm): port spandrel to new API
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/legacy_probe.py
Due: black, flake8, isort

fix(mm): parsing for spandrel
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

fix(mm): loader for clip embed
  invokeai/backend/model_manager/load/model_loaders/flux.py
Due: black, flake8, isort

fix(mm): tis use existing weight_files method
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

feat(mm): port vae to new API
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/model_on_disk.py
Due: black, flake8, isort

fix(mm): vae class inheritance and config_path
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

Improve workflow validation error logging and display
  invokeai/frontend/web/.tool-versions
  invokeai/frontend/web/src/common/util/zodErrorLogger.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/migrations.ts
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useLoadWorkflowFromFile.tsx
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useValidateAndLoadWorkflow.ts
  invokeai/frontend/web/vite.config.mts
Due: none

Delete invokeai/frontend/web/.tool-versions
  invokeai/frontend/web/.tool-versions
Due: none

Revert invokeai/frontend/web/src/features/nodes/util/workflow/migrations.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/migrations.ts
Due: none

tidy(mm): patcher types and import paths
  invokeai/backend/model_patcher.py
Due: black, flake8, isort

feat(mm): better errors when invalid model config found in db
  invokeai/app/services/model_records/model_records_sql.py
Due: black, flake8, isort

feat(mm): port t5 to new API
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/model_on_disk.py
Due: black, flake8, isort

feat(mm): make config_path optional
  invokeai/app/invocations/flux_denoise.py
  invokeai/backend/model_manager/config.py
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/MainModelPicker.tsx
  invokeai/frontend/web/src/features/ui/layouts/InitialStateMainModelPicker.tsx
Due: black, flake8, isort

chore: switch requests_testadapter for requests_mock
  pyproject.toml
  tests/app/services/download/test_download_queue.py
  tests/backend/model_manager/model_manager_fixtures.py
Due: black, flake8, isort, uvlock

refactor(mm): simplify model classification process
  invokeai/app/services/model_install/model_install_default.py
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

refactor(mm): remove unused methods in config.py
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

refactor(mm): add model config parsing utils
  invokeai/app/services/model_install/model_install_default.py
  invokeai/backend/model_manager/config.py
  scripts/classify-model.py
  tests/test_model_probe.py
Due: black, flake8, isort

fix(mm): abstractmethod bork
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

tidy(mm): clarify that model id utils are private
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

fix(mm): fall back to UnknownModelConfig correctly
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

feat(mm): port CLIPVisionDiffusersConfig to new api
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

feat(mm): port SigLIPDiffusersConfig to new api
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

feat(mm): make match helpers more succint
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

feat(mm): port flux redux to new api
  invokeai/backend/flux/redux/flux_redux_state_dict_utils.py
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort
