Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

fix gradient mask broken with flux gen
  invokeai/app/invocations/create_gradient_mask.py
Due: black, flake8, isort

feat(ui): split inpaint mask setting selectors to avoid manual memoization
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskSettings.tsx
Due: none

Correctly composite grey values on white for masks
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositorModule.ts
Due: none

clean up comments
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
Due: none

inpaint mask sliders compatible with outpainting
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositorModule.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildCogView4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
Due: none

Update Compel to 2.1.1 and apply Sentences Split logic
  invokeai/app/invocations/compel.py
  pyproject.toml
Due: black, flake8, isort, uvlock

uv update
  uv.lock
Due: none

feat(ui): do not round scale
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStageModule.ts
Due: none

perf(ui): optimize <CanvasToolbarScale />
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbarScale.tsx
Due: none

feat(ui): add computed for stage scale
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStageModule.ts
Due: none

feat(ui): canvas scroll scale snap
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStageModule.ts
Due: none

perf(ui): lazy mount scale slider popover
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbarScale.tsx
Due: none

fix(ui): revert snapping logic, doesn't work w/ certain input devices
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStageModule.ts
Due: none

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

chore: bump version to v5.13.0rc1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

scripts: add script to check pypi classifiers
  scripts/check_classifiers.py
Due: black, flake8, isort

build: update build script to check classifiers
  scripts/build_wheel.sh
Due: none

chore: fix license classifier
  pyproject.toml
Due: uvlock

ci: check classifiers in python-checks workflow
  .github/workflows/python-checks.yml
Due: none

ci: do not install project when checking classifiers
  .github/workflows/python-checks.yml
Due: none

docs: add comments to classifiers stuff
  scripts/build_wheel.sh
  scripts/check_classifiers.py
Due: black, flake8, isort

gh: update CODEOWNERS
  .github/CODEOWNERS
Due: none

remove comments
  invokeai/app/invocations/image_context_utils.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
