Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

Fix DyPE Vision YaRN 3-band frequency blending to match ComfyUI-DyPE
  invokeai/backend/flux/dype/base.py
  invokeai/backend/flux/dype/rope.py
Due: black, flake8, isort

fix(flux2): resolve device mismatch in Klein text encoder (#8851)
  invokeai/app/invocations/flux2_klein_text_encoder.py
Due: black, flake8, isort

Improved resume download behavior
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/download/download_base.py
  invokeai/app/services/download/download_default.py
  invokeai/app/services/model_install/model_install_base.py
  invokeai/app/services/model_install/model_install_common.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ModelInstallQueue/ModelInstallQueueItem.tsx
  invokeai/frontend/web/src/services/api/endpoints/models.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Syntax fix
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ModelInstallQueue/ModelInstallQueueItem.tsx
Due: none

Formatting
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ModelInstallQueue/ModelInstallQueueItem.tsx
  invokeai/frontend/web/src/services/api/endpoints/models.ts
Due: none

Improved partial download recovering
  invokeai/app/services/download/download_base.py
  invokeai/app/services/download/download_default.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(prompts): add numeric attention preference toggle to settings
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/features/system/store/systemSlice.ts
  invokeai/frontend/web/src/features/system/store/types.ts
Due: none

feat(prompts): use attention style preference, rewrite to accomodate prompt functions
  invokeai/frontend/web/src/common/util/promptAST.test.ts
  invokeai/frontend/web/src/common/util/promptAST.ts
  invokeai/frontend/web/src/common/util/promptAttention.test.ts
  invokeai/frontend/web/src/common/util/promptAttention.ts
  invokeai/frontend/web/src/features/prompt/usePromptAttentionHotkeys.ts
Due: none

feat(flux2): add LoRA support for FLUX.2 Klein models
  invokeai/app/invocations/flux2_denoise.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/patches/lora_conversions/flux_bfl_peft_lora_conversion_utils.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addFlux2KleinLoRAs.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(flux2): detect Klein LoRA variant (4B/9B) and filter by compatibility
  invokeai/app/invocations/flux2_klein_lora_loader.py
  invokeai/backend/model_manager/configs/base.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/frontend/web/src/features/lora/components/LoRASelect.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Chore Ruff
  invokeai/backend/patches/lora_conversions/flux_bfl_peft_lora_conversion_utils.py
Due: black, flake8, isort

Chore pnpm
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

perf(flux2): optimize model loading order to prevent cache eviction (fixes #7513)
  invokeai/app/invocations/flux2_klein_text_encoder.py
Due: black, flake8, isort

Update flux2_klein_text_encoder.py
  invokeai/app/invocations/flux2_klein_text_encoder.py
Due: black, flake8, isort

fix(downloads): resume integrity, serialized parts, and UI feedback
  invokeai/app/services/download/download_default.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ModelInstallQueue/ModelInstallQueueItem.tsx
Due: black, flake8, isort

Fix download test expectations and multifile totals
  invokeai/app/services/download/download_default.py
  invokeai/app/services/events/events_base.py
Due: black, flake8, isort

Ruff appease
  invokeai/app/services/download/download_default.py
Due: black, flake8, isort

schema updates
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

schema fix
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Added toast msg if partial file was deleted.
  invokeai/app/services/download/download_base.py
  invokeai/app/services/download/download_default.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ModelInstallQueue/ModelInstallQueueItem.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Formatting
  invokeai/frontend/web/openapi.json
Due: none

Fixed "missing temp file" message pop up
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ModelInstallQueue/ModelInstallQueueItem.tsx
Due: none

Fix Create Board API call
  invokeai/app/services/boards/boards_default.py
Due: black, flake8, isort

Upgrade ROCm support from 6.3 to 7.1
  docker/Dockerfile-rocm-full
  pyproject.toml
Due: uvlock

Fix uv sync for ROCm 7.1 by explicitly declaring triton-rocm
  pyproject.toml
Due: uvlock

Update uv lock and remove old dockerfile
  docker/Dockerfile-rocm-full
  uv.lock
Due: none

Update installation docs for ROCm 7.1
  docs/installation/manual.md
Due: none

fix(flux2): apply BN normalization to latents for inpainting
  invokeai/app/invocations/flux2_denoise.py
Due: black, flake8, isort

fix(ui): handle workflow errors in canvas staging area and improve form UX
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/WorkflowFieldRenderer.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/WorkflowFormPreview.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/useCanvasWorkflowIntegrationExecute.tsx
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: none

Added If node
  invokeai/app/invocations/logic.py
  invokeai/frontend/web/src/features/nodes/store/util/validateConnectionTypes.test.ts
  invokeai/frontend/web/src/features/nodes/store/util/validateConnectionTypes.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/test_graph_execution_state.py
Due: black, flake8, isort

Fix bare except clauses and mutable default arguments
  invokeai/app/services/shared/sqlite/sqlite_database.py
  invokeai/backend/image_util/imwatermark/vendor.py
  invokeai/backend/image_util/mlsd/utils.py
Due: black, flake8, isort

feat(ui): add canvas_output node and entry-based staging area
  invokeai/app/invocations/canvas.py
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/CanvasWorkflowIntegrationModal.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/CanvasWorkflowIntegrationWorkflowSelector.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/useCanvasWorkflowIntegrationExecute.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/workflowHasImageField.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/QueueItemPreviewMini.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaItemsList.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/context.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/shared.test.ts
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/shared.ts
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/state.test.ts
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/state.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStagingAreaModule.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Chore pnp run fix
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/context.tsx
Due: none

feat(z-image): filter LoRAs by variant compatibility and warn on mismatch
  invokeai/app/invocations/z_image_lora_loader.py
  invokeai/backend/model_manager/configs/base.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/frontend/web/src/features/lora/components/LoRASelect.tsx
Due: black, flake8, isort

Chore typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Added stricter type checking on inputs
  invokeai/frontend/web/src/features/nodes/store/util/validateConnection.test.ts
  invokeai/frontend/web/src/features/nodes/store/util/validateConnection.ts
Due: none

feat(model_manager): add export/import for model settings
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelSettingsExportButton.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelSettingsImportButton.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
Due: none

fix(ui): reset settings forms after import so updated values display immediately
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ControlAdapterModelDefaultSettings/ControlAdapterModelDefaultSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/EncoderModelSettings/EncoderModelSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/LoRAModelDefaultSettings/LoRAModelDefaultSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/MainModelDefaultSettings/MainModelDefaultSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelSettingsExportButton.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelSettingsImportButton.tsx
Due: none

Fix(bug): text commit to link uploaded image assets instead of embedding full base64
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasTextToolModule.ts
Due: none

Added SQL injection tests
  tests/app/services/test_sql_injection_protection.py
Due: black, flake8, isort
