Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

feat: add external API for DeepSeek LLM
  invokeai/app/invocations/deepseek.py
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
Due: black, flake8, isort, uvlock

fix(webv2): make the layer curves editor visible and correctly mapped
  invokeai/frontend/webv2/src/workbench/widgets/layers/AdjustmentsPopover.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/AdjustmentsPopover.tsx
Due: none

fix(fp8): never apply FP8 storage to already-quantized weights
  invokeai/backend/model_manager/load/load_default.py
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/MainModelDefaultSettings/MainModelDefaultSettings.tsx
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort

fix(webv2): stop a curve handle drag turning into a text drag
  invokeai/frontend/webv2/src/workbench/widgets/layers/AdjustmentsPopover.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/AdjustmentsPopover.tsx
Due: none

fix(canvas): control layer adjustment border
  invokeai/frontend/webv2/src/workbench/widgets/layers/ControlLayerSettings.tsx
Due: none

chore: update uv.lock
  uv.lock
Due: none

fix(webv2): square the icon-only prompt action buttons
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsButton.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsButton.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PromptTemplatesButton.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PromptTemplatesButton.tsx
Due: none

feat(webv2): describe an image dropped on the positive prompt box
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptActions.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptField.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptField.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PromptTriggerPicker.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/promptImageDrop.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/usePromptImageDrop.ts
Due: none

fix(webv2): show starred state on the image context menu star
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.tsx
Due: none

fix(webv2): give the preview header toggles one on-state and tooltips
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewHeaderActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewHeaderActions.tsx
Due: none

fix(webv2): refuse to compare the previewed image with itself
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewCompareDropZone.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewCompareDropZone.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrameDrag.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/previewCompareDnd.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/previewCompareDnd.ts
Due: none

fix(webv2): clear the floating chrome islands in the preview
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrameChromeInset.browser.test.tsx
Due: none

fix(webv2): keep the workflow tool strip on the shared toolbar size
  invokeai/frontend/webv2/src/features/workflow/ui/editor/EditorToolbar.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/EditorToolbar.tsx
  invokeai/frontend/webv2/src/platform/ui/Toolbar.tsx
Due: none

docs: import Starlight tab components
  docs/src/content/docs/development/Guides/tests.mdx
Due: none

Krea 2 regional prompting (#9407)
  docs/src/content/docs/features/krea-2.mdx
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/krea2_conditioning_rebalance.py
  invokeai/app/invocations/krea2_denoise.py
  invokeai/app/invocations/krea2_seed_variance.py
  invokeai/app/invocations/krea2_text_encoder.py
  invokeai/app/invocations/primitives.py
  invokeai/backend/krea2/attention.py
  invokeai/backend/krea2/regional_prompting.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/controlLayers/store/validators.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/validators.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.regions.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_krea2_denoise.py
  tests/app/invocations/test_krea2_enhancers.py
  tests/app/invocations/test_krea2_text_encoder.py
  tests/backend/krea2/test_attention.py
  tests/backend/krea2/test_regional_prompting.py
Due: black, flake8, isort

fix(images): make single-image and intermediate deletion transactional
  invokeai/app/api/routers/images.py
  invokeai/app/services/image_records/image_records_base.py
  invokeai/app/services/image_records/image_records_sqlite.py
  invokeai/app/services/images/images_default.py
  tests/app/routers/test_images.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/services/image_records/test_image_records_sqlite.py
  tests/app/services/images/test_images_default.py
Due: black, flake8, isort

fix(auth): revoke privileges immediately on role change, deactivation, or deletion
  invokeai/app/api/auth_dependencies.py
  invokeai/app/api/routers/auth.py
  invokeai/app/api/sockets.py
  invokeai/app/api_app.py
  invokeai/app/services/events/events_base.py
  invokeai/app/services/events/events_common.py
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/app/services/shared/invocation_context.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/api/test_sliding_window_token.py
  tests/app/routers/test_privilege_revocation.py
  tests/app/services/session_processor/__init__.py
  tests/app/services/session_processor/test_privilege_revocation.py
  tests/app/services/session_processor/test_session_processor_cancel_guard.py
  tests/app/services/shared/test_invocation_context_images.py
  tests/app/services/shared/test_invocation_context_videos.py
  tests/app/test_socket_privilege_revocation.py
  tests/app/test_workflow_socketio.py
Due: black, flake8, isort

fix(events): keep server-internal events out of the API schema; fix admin test stubs
  invokeai/app/services/events/events_common.py
  tests/app/routers/test_app_info.py
  tests/app/services/events/__init__.py
  tests/app/services/events/test_events_common.py
Due: black, flake8, isort

feat(auth): invalidate tokens on password change via a revocation epoch
  invokeai/app/api/auth_dependencies.py
  invokeai/app/api/routers/auth.py
  invokeai/app/api/sockets.py
  invokeai/app/api_app.py
  invokeai/app/services/auth/token_service.py
  invokeai/app/services/events/events_base.py
  invokeai/app/services/events/events_common.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_07_31_add_user_token_epoch.py
  invokeai/app/services/users/users_common.py
  invokeai/app/services/users/users_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/api/test_sliding_window_token.py
  tests/app/api/test_video_upload_limits.py
  tests/app/routers/test_app_info.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_privilege_revocation.py
  tests/app/services/auth/test_performance.py
  tests/app/services/users/test_user_service.py
  tests/app/test_socket_privilege_revocation.py
  tests/app/test_workflow_socketio.py
Due: black, flake8, isort

fix(auth): stop special-casing the system user in queued-execution checks
  invokeai/app/api/routers/auth.py
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_privilege_revocation.py
  tests/app/services/session_processor/test_privilege_revocation.py
Due: black, flake8, isort

Fix model rename validation off-by-one and Save button gating (#9364)
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelEdit.tsx
Due: none

chore(release): bump version
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

fix(mm): unblock import waiters on shutdown
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

i18n: complete Chinese (zh-CN) translation for all 2833 keys
  invokeai/frontend/web/public/locales/zh-CN.json
Due: none

docs: update WhatsNew
  invokeai/frontend/web/public/locales/en.json
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

docs: add bilingual README (English + Chinese / 英中双语)
  README.md
Due: none

perf(nodes): avoid two full-size copies in Spandrel upscale
  invokeai/app/invocations/spandrel_image_to_image.py
Due: black, flake8, isort

feat(model-manager): support LyCORIS LoKr LoRAs for Krea-2
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/patches/lora_conversions/krea2_lora_conversion_utils.py
  tests/backend/model_manager/configs/test_krea2_lora_config.py
  tests/backend/patches/lora_conversions/test_krea2_lora_conversion_utils.py
Due: black, flake8, isort

fix(mm): clean deferred restore state
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

docs: fix $Home -> ~ in Linux/macOS manual install command
  docs/src/content/docs/start-here/manual.mdx
Due: none

feat(quantization): run ComfyUI scaled-fp8 checkpoints on the fp8 tensor cores
  invokeai/app/services/config/config_default.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_linear.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/quantization/fp8_scaled.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/quantization/test_fp8_scaled.py
Due: black, flake8, isort

fix(mm): synchronize restore shutdown state
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

feat(krea2): keep ComfyUI scaled-fp8 checkpoints quantized and run them on fp8 tensor cores
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_linear.py
  tests/backend/quantization/test_fp8_scaled.py
Due: black, flake8, isort

test(fp8): verify LoRA sidecar patching over fp8 weights, harden metadata read
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  tests/backend/model_manager/load/test_krea2_loader_boundaries.py
  tests/backend/quantization/test_fp8_scaled.py
Due: black, flake8, isort

docs(fp8): correct the plan against the shipped implementation
  invokeai/backend/model_manager/load/model_loaders/krea2.py
Due: black, flake8, isort

fix(deepseek): have more patience for long responses
  invokeai/app/invocations/deepseek.py
Due: black, flake8, isort

feat(qwen-image): add a tiling option to the image-to-latents node
  invokeai/app/invocations/qwen_image_image_to_latents.py
  invokeai/backend/util/vae_working_memory.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Add test
  tests/app/invocations/test_qwen_image_working_memory.py
Due: black, flake8, isort

feat(qwen-image): make VAE tiling usable on both Qwen-Image VAE nodes
  invokeai/app/invocations/qwen_image_image_to_latents.py
  invokeai/app/invocations/qwen_image_latents_to_image.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
