Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

chore(backend): reorganized migrations, but something still broken
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_27.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_28.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_29.py
  tests/test_sqlite_migrator.py
Due: black, flake8, isort

Tweak dropdown to separate cusom and built-in fonts
  invokeai/app/api/routers/utilities.py
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/src/features/controlLayers/components/Text/TextToolOptions.tsx
Due: black, flake8, isort

Fix migration 28 crash when `client_state.data` column is absent (#70)
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_28.py
  tests/test_sqlite_migrator.py
Due: black, flake8, isort

Consolidate multiuser DB migrations 27–29 into a single migration step (#71)
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_27.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_28.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_29.py
  tests/test_sqlite_migrator.py
Due: black, flake8, isort

Fixed delete_lora to remove only the targeted LoRA subdirectory instead of the whole folder.
  src/invokeai/lora_manager.py
Due: black, flake8, isort

feat(docs): add todo
  docs/README.md
Due: none

feat(docs): set up internationalization
  docs/astro.config.mjs
  docs/src/content.config.ts
  docs/src/content/i18n/en.json
Due: none

fix(docs): admonition typo
  docs/src/content/docs/start-here/installation.mdx
Due: none

feat(docs): add invoke styles
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/styles/custom.css
Due: none

feat(docs): add more invoke styling, revamp splash page, remove theme switcher
  docs/astro.config.mjs
  docs/src/content/docs/index.md
  docs/src/content/docs/index.mdx
  docs/src/lib/components/EmptyComponent.astro
  docs/src/lib/components/ForceDarkTheme.astro
  docs/src/styles/custom.css
  scripts/update_config_table.py
Due: black, flake8, isort

Fix Create Board API call (#8866)
  invokeai/app/services/boards/boards_default.py
Due: black, flake8, isort

Fix: Improve non square bbox coverage for linear gradient tool. (#8889)
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasGradientToolModule.ts
Due: none

Update invokeai/app/services/download/download_default.py
  invokeai/app/services/download/download_default.py
Due: black, flake8, isort

Simplify exception propagation tests
  tests/backend/image_util/test_vendor_mutable_defaults.py
Due: black, flake8, isort

Remove unused db initialization in error propagation tests
  tests/backend/image_util/test_vendor_mutable_defaults.py
Due: black, flake8, isort

fix(app): change location of the read_watermark module
  invokeai/app/util/read_watermark.py
  pyproject.toml
Due: black, flake8, isort, uvlock

fix(docs): expressive code sh styles without title
  docs/src/styles/custom.css
Due: none

chore(docs): cleanup readme
  docs/README.md
Due: none

chore(docs): add new github pages workflow
  .github/workflows/deploy-docs.yml
  docs/astro.config.mjs
Due: none

fix(docs): remove base path
  docs/astro.config.mjs
Due: none

Add LLM-powered prompt expansion and image-to-prompt features
  invokeai/app/api/routers/utilities.py
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/text_llm.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/text_llm.py
  invokeai/backend/model_manager/load/model_loaders/text_llm.py
  invokeai/backend/model_manager/metadata/fetch/huggingface.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/text_llm_pipeline.py
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/prompt/ExpandPromptButton.tsx
  invokeai/frontend/web/src/features/prompt/ImageToPromptButton.tsx
  invokeai/frontend/web/src/services/api/endpoints/utilities.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

chore fix windows paths
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Fix detection and loading of 3 unrecognized Flux.2 Klein LoRA formats
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/patches/lora_conversions/flux_bfl_peft_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/flux_diffusers_lora_conversion_utils.py
Due: black, flake8, isort

Fix device mismatch for LLM inference and add CPU-only toggle for Text LLM models
  invokeai/app/api/routers/utilities.py
  invokeai/app/invocations/text_llm.py
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useEncoderModelSettings.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/EncoderModelSettings/EncoderModelSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

Harden LLM endpoints and add tests
  invokeai/app/api/routers/utilities.py
  invokeai/backend/model_manager/load/model_loaders/text_llm.py
  tests/backend/text_llm/__init__.py
  tests/backend/text_llm/test_text_llm_api_models.py
  tests/backend/text_llm/test_text_llm_pipeline.py
Due: black, flake8, isort

Add Ctrl+Z undo for LLM prompt changes
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/prompt/ExpandPromptButton.tsx
  invokeai/frontend/web/src/features/prompt/ImageToPromptButton.tsx
  invokeai/frontend/web/src/features/prompt/promptUndo.ts
  tests/backend/text_llm/test_text_llm_pipeline.py
Due: black, flake8, isort

chore(docs): add initial translations CI, powered by Crowdin
  .github/workflows/translations.yml
  crowdin.yml
Due: none

feat(docs): upgrade astro
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

Add documentation and What's New entry for LLM prompt tools
  docs/features/prompt-tools.md
  invokeai/frontend/web/public/locales/en.json
  mkdocs.yml
Due: none

feat(docs): enhance new contributor guide
  docs/src/content/docs/contributing/new-contributor-guide.mdx
Due: none

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

feat(docs): various enhancements
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/content/docs/concepts/prompt-syntax.mdx
  docs/src/content/docs/development/index.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/start-here/installation.mdx
  docs/src/content/docs/start-here/system-requirements.mdx
  docs/src/layouts/PageFrameExtended.astro
  docs/src/lib/components/DownloadOptions.astro
  docs/src/lib/components/Footer.astro
  docs/src/lib/components/Logo.astro
  docs/src/pages/download.astro
  docs/src/styles/custom.css
Due: none

fix(prompts): account for weirdness with quotes
  invokeai/frontend/web/src/common/util/promptAST.test.ts
  invokeai/frontend/web/src/common/util/promptAST.ts
  invokeai/frontend/web/src/common/util/promptAttention.test.ts
  invokeai/frontend/web/src/common/util/promptAttention.ts
Due: none

fix(prompts): add tests, qol improvements, code cleanup
  invokeai/frontend/web/src/common/util/promptAST.ts
  invokeai/frontend/web/src/common/util/promptAttention.test.ts
  invokeai/frontend/web/src/common/util/promptAttention.ts
Due: none

fix(prompts): test lint
  invokeai/frontend/web/src/common/util/promptAttention.test.ts
Due: none

Updated schema / ruff
  invokeai/app/api/routers/images.py
  invokeai/app/services/image_records/image_records_sqlite.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

ruff format
  tests/app/routers/test_images.py
Due: black, flake8, isort

feat(model manager): redesign queue
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ModelInstallQueue/ModelInstallQueue.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ModelInstallQueue/ModelInstallQueueBadge.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ModelInstallQueue/ModelInstallQueueItem.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/InstallModels.tsx
Due: none
