Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

chore: bump version to v6.8.1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

chore: uv lock
  uv.lock
Due: none

undo/redo handles multiple canvases
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/app/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayerAdjustmentsPanel.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayerCurvesAdjustmentsEditor.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayerMenuItemsAdjustments.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayerSimpleAdjustmentsEditor.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/selectors.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/ui/layouts/CanvasTabEditableTitle.tsx
Due: none

canvas tabs added
  invokeai/frontend/web/src/features/controlLayers/store/selectors.ts
  invokeai/frontend/web/src/features/ui/layouts/CanvasTabEditableTitle.tsx
  invokeai/frontend/web/src/features/ui/layouts/CanvasTabs.tsx
  invokeai/frontend/web/src/features/ui/layouts/CanvasWorkspacePanel.tsx
Due: none

canvasStagingAreaSlice refactored
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
Due: none

canvasSettingsSlice refactored
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
Due: none

canvas dependencies initialization fixed
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: none

rendering global controls in all tabs fixed
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

slices merged
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsClipToBboxCheckbox.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsInvertScrollCheckbox.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/QueueItemPreviewMini.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaAutoSwitchButtons.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/__mocks__/mockStagingAreaApp.ts
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/context.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/state.ts
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolFillColorPicker.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolWidthPicker.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityMenuItemsArrange.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasSessionId.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntityRendererModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStateApiModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/selectors.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/deleteImageModal/store/state.ts
  invokeai/frontend/web/src/features/imageActions/actions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addFLUXFill.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/features/ui/layouts/CanvasTabs.tsx
Due: none

SliceConfig refactored
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/app/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
  invokeai/frontend/web/src/features/dynamicPrompts/store/dynamicPromptsSlice.ts
  invokeai/frontend/web/src/features/gallery/store/gallerySlice.ts
  invokeai/frontend/web/src/features/modelManagerV2/store/modelManagerV2Slice.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/ui/store/uiSlice.ts
Due: none

CanvasInstanceContext removed
  invokeai/frontend/web/src/features/controlLayers/components/InvokeCanvasComponent.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/context.tsx
  invokeai/frontend/web/src/features/controlLayers/contexts/CanvasInstanceContextProvider.tsx
  invokeai/frontend/web/src/features/controlLayers/contexts/CanvasManagerProviderGate.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasId.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasIsStaging.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasSessionId.ts
  invokeai/frontend/web/src/features/ui/layouts/CanvasWorkspacePanel.tsx
  invokeai/frontend/web/src/features/ui/layouts/DockviewTabCanvasWorkspace.tsx
Due: none

selectors refined
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/appConfigReceived.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
  invokeai/frontend/web/src/common/hooks/useGroupedModelCombobox.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildLinearBatchConfig.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildMultidiffusionUpscaleGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addFLUXFill.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addSDXLRefiner.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addSeamless.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildCogView4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildRunwayVideoGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildVeo3VideoGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/features/parameters/components/ModelPicker.tsx
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueCanvas.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueGenerate.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueUpscaling.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueWorkflows.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/UpscaleTabAdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/RefinerSettingsAccordion/RefinerSettingsAccordion.tsx
Due: none

selectors refactored
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageImage.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RegionalGuidance/RegionalGuidanceRefImageImage.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/context.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasIsStaging.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/gallery/hooks/useEditImage.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRecallAllImageMetadata.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRecallDimensions.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRecallRemix.ts
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxAspectRatioSelect.tsx
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxSwapDimensionsButton.tsx
  invokeai/frontend/web/src/features/parameters/components/Bbox/use-is-bbox-size-locked.ts
  invokeai/frontend/web/src/features/ui/layouts/LaunchpadEditImageButton.tsx
  invokeai/frontend/web/src/features/ui/layouts/LaunchpadGenerateFromTextButton.tsx
  invokeai/frontend/web/src/features/ui/layouts/LaunchpadUseALayoutImageButton.tsx
  invokeai/frontend/web/src/features/ui/layouts/StagingArea.tsx
Due: none

fix: schema generation bug in fastapi 0.119.0
  pyproject.toml
Due: uvlock

refactor(ui): remove unused excludeSubmodels
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
Due: none

feat(mm): add UnknownModelConfig
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/taxonomy.py
Due: black, flake8, isort

refactor(ui)refactor(ui): more cleanup of model categories
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelTypeFilter.tsx
Due: none

refactor(ui): move model categorisation-ish logic to central location, simplify model manager models list
  invokeai/backend/model_manager/config.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityFilterer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBboxToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/lora/components/LoRASelect.tsx
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelBaseBadge.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelFormatBadge.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListWrapper.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelTypeFilter.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/Fields/BaseModelSelect.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildLinearBatchConfig.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamCLIPGEmbedModelSelect.tsx
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamCLIPLEmbedModelSelect.tsx
  invokeai/frontend/web/src/features/parameters/components/ModelPicker.tsx
  invokeai/frontend/web/src/features/parameters/store/videoSlice.ts
  invokeai/frontend/web/src/features/parameters/types/constants.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/UpscaleTabGenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
  test.json
Due: black, flake8, isort

chore(ui): typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore(ui): lint
  invokeai/frontend/web/src/features/nodes/types/common.ts
Due: none

docs: update config docstrings
  invokeai/app/services/config/config_default.py
Due: black, flake8, isort

feat(ui): allow changing model format in MM
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/Fields/ModelFormatSelect.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelEdit.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
Due: none

feat(mm): add migration to flat model storage
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_22.py
Due: black, flake8, isort

feat(app): add the installed model config to install complete events
  invokeai/app/services/events/events_common.py
Due: black, flake8, isort

feat(app): add setting to allow unknown models
  invokeai/app/services/config/config_default.py
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

feat(ui): allow changing model type in MM, fix up base and variant selects
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/Fields/BaseModelSelect.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/Fields/ModelTypeSelect.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelEdit.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
Due: none

feat(mm): normalized model storage
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/model_install/model_install_base.py
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

tests(mm): fix test for MM, leave the UnknownModelConfig class in the list of configs
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

feat(nodes): add unknown as model base
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/taxonomy.py
Due: black, flake8, isort

fix(ui): wrong translation string
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
Due: none

feat(ui): toast warning when installed model is unidentified
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/system/store/constants.ts
  invokeai/frontend/web/src/services/events/onModelInstallError.tsx
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: none
