Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

feat(docs): add redirects for app links
  docs/astro.config.mjs
Due: none

feat(docs): update readme links, add installation redirect
  README.md
  docs/astro.config.mjs
Due: none

fix(docs): address bad links (#9074)
  README.md
  docs/astro.config.mjs
  docs/src/content/docs/configuration/invokeai-yaml.mdx
Due: none

translationBot(ui): update translation (Japanese)
  invokeai/frontend/web/public/locales/ja.json
Due: none

translationBot(ui): update translation (German)
  invokeai/frontend/web/public/locales/de.json
Due: none

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

ui: translations update from weblate (#9075)
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
Due: none

fix(docs): anticipate more redirects and update more links
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docker/README.md
  docs/astro.config.mjs
  docs/src/content/docs/configuration/docker.mdx
  docs/src/content/docs/configuration/invokeai-yaml.mdx
  docs/src/content/docs/contributing/index.md
  docs/src/content/docs/contributing/new-contributor-guide.mdx
  docs/src/content/docs/development/Architecture/invocations.mdx
  docs/src/content/docs/development/Architecture/overview.mdx
  docs/src/content/docs/development/Front End/index.md
  docs/src/content/docs/development/Process/release-process.mdx
  docs/src/content/docs/development/Setup/dev-environment.mdx
  docs/src/content/docs/features/gallery.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/workflows/community-nodes.mdx
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/README.md
  invokeai/frontend/web/src/common/hooks/useClipboard.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/NoContentForViewer.tsx
  invokeai/frontend/web/src/features/toast/ErrorToastDescription.tsx
  invokeai/frontend/web/src/services/events/onModelInstallError.tsx
  pyproject.toml
Due: black, flake8, isort, uvlock

fix(docs): anticipate more redirects and update more links (#9076)
  .github/ISSUE_TEMPLATE/config.yml
  README.md
  docker/README.md
  docs/astro.config.mjs
  docs/src/content/docs/configuration/docker.mdx
  docs/src/content/docs/configuration/invokeai-yaml.mdx
  docs/src/content/docs/contributing/index.md
  docs/src/content/docs/contributing/new-contributor-guide.mdx
  docs/src/content/docs/development/Architecture/invocations.mdx
  docs/src/content/docs/development/Architecture/overview.mdx
  docs/src/content/docs/development/Front End/index.md
  docs/src/content/docs/development/Process/release-process.mdx
  docs/src/content/docs/development/Setup/dev-environment.mdx
  docs/src/content/docs/features/gallery.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/workflows/community-nodes.mdx
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/README.md
  invokeai/frontend/web/src/common/hooks/useClipboard.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/NoContentForViewer.tsx
  invokeai/frontend/web/src/features/toast/ErrorToastDescription.tsx
  invokeai/frontend/web/src/services/events/onModelInstallError.tsx
  pyproject.toml
Due: black, flake8, isort, uvlock

Fix external noise handling regressions
  invokeai/app/invocations/anima_denoise.py
  invokeai/app/invocations/flux2_denoise.py
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/metadata_linked.py
  invokeai/app/invocations/z_image_denoise.py
  invokeai/backend/flux2/denoise.py
  tests/app/invocations/test_denoise_noise_inputs.py
Due: black, flake8, isort

Chore Fix merge
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/services/api/types.ts
Due: none

fix(ui): unify FLUX.2 Klein Qwen3 variant matching
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamFlux2KleinModelSelect.tsx
  invokeai/frontend/web/src/features/parameters/util/flux2Klein.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: none

fix: refine ref image recall selection behavior
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
Due: none

feat(nodes): add Save Image (Gallery + File Export) node
  invokeai/app/invocations/image.py
  tests/app/invocations/test_save_image_to_file.py
Due: black, flake8, isort

Chore Ruff
  invokeai/app/invocations/image.py
  tests/app/invocations/test_save_image_to_file.py
Due: black, flake8, isort

Chore Typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Fix Linux CI Test
  invokeai/app/invocations/image.py
Due: black, flake8, isort

Format custom_conv2d with ruff
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_conv2d.py
Due: black, flake8, isort

Handle CustomConv2d bias dtype mismatches
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_conv2d.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_linear.py
Due: black, flake8, isort

Fix mixed-dtype autocast regressions
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_linear.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_module_mixin.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_all_custom_modules.py
Due: black, flake8, isort

perf(canvas): detach hidden layers from DOM, throttle onscreen checks, increase cache (#8939)
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCacheModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityAdapterBase.ts
Due: none

feat(canvas): add per-layer lock transparency option (#8943)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayer.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayerIsTransparencyLockedToggle.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/CanvasObjectBrushLine.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/CanvasObjectBrushLineWithPressure.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBrushToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/store/util.ts
Due: none

Chore: Code cleanup (#8998)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/hooks/useMiddleClickOpenInNewTab.ts
  invokeai/frontend/web/src/common/util/openImageInNewTab.ts
  invokeai/frontend/web/src/features/dnd/DndImage.tsx
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/MenuItems/ContextMenuItemOpenInNewTab.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImage.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/features/system/store/systemSlice.ts
  invokeai/frontend/web/src/features/system/store/types.ts
Due: none

chore(frontend): fix lint errors
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: none

Handle mixed-dtype mismatches in autocast linear and conv wrappers (#9006)
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_conv2d.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_linear.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_module_mixin.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_all_custom_modules.py
Due: black, flake8, isort

fix(ui): FLUX.2 Klein VAE/Qwen3 readiness checks and diffusers source auto-detection (#9041)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamFlux2KleinModelSelect.tsx
  invokeai/frontend/web/src/features/parameters/util/flux2Klein.ts
  invokeai/frontend/web/src/features/queue/store/readiness.test.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: none

Fix: Preserve reference image panel state and selection on recall (#9010)
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
Due: none

Migrate session_queue to SQLModel (Phase 3)
  invokeai/app/api/dependencies.py
  invokeai/app/services/session_queue/session_queue_sqlmodel.py
  invokeai/app/services/shared/sqlite/models.py
  tests/app/services/test_sqlmodel_services/test_session_queue_sqlmodel.py
Due: black, flake8, isort

Fix lazy If branch pruning and skipped-parent handling in graph runtime
  invokeai/app/services/shared/README.md
  invokeai/app/services/shared/graph.py
  tests/test_graph_execution_state.py
Due: black, flake8, isort

feat:(model-manager) add sorting capabilities for models (#9024)
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/model_records/model_records_base.py
  invokeai/app/services/model_records/model_records_sql.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/hooks/useSubMenu.tsx
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/modelManagerV2/store/modelManagerV2Slice.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelFilterMenu.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListNavigation.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelTypeFilter.tsx
  invokeai/frontend/web/src/services/api/endpoints/models.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/services/model_records/test_model_records_sql.py
Due: black, flake8, isort

translationBot(ui): update translation (Italian) (#9078)
  invokeai/frontend/web/public/locales/it.json
Due: none

Extract workflow call coordinator
  docs/contributing/call_saved_workflow.md
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/app/services/shared/README.md
  tests/app/services/test_session_processor_shutdown.py
Due: black, flake8, isort

Fix Z-Image LoRA detection for Kohya and ComfyUI formats (#9007)
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/patches/lora_conversions/z_image_lora_conversion_utils.py
Due: black, flake8, isort

Track workflow call lifecycle state
  docs/contributing/call_saved_workflow.md
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/app/services/shared/README.md
  invokeai/app/services/shared/graph.py
  tests/app/services/test_session_processor_shutdown.py
  tests/test_graph_execution_state.py
Due: black, flake8, isort

Add workflow call queue item metadata
  docs/contributing/call_saved_workflow.md
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/app/services/shared/README.md
  tests/app/services/test_session_processor_shutdown.py
Due: black, flake8, isort

feat(ui): drag-and-drop reordering for reference images
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageList.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImagePreview.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/useRefImageDnd.ts
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
  invokeai/frontend/web/src/features/dnd/dnd.ts
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
