Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

fix(ideogram4): reserve GGUF loads absolutely and unpack BF16 without a decode
  docs/src/content/docs/Users Guide/03.Models/Local Models/ideogram4.mdx
  invokeai/app/invocations/ideogram4/ideogram4_model_loader.py
  invokeai/backend/model_manager/load/model_loaders/ideogram4.py
  invokeai/backend/model_manager/starter_models/ideogram_4.py
  invokeai/backend/quantization/gguf/ggml_tensor.py
  invokeai/frontend/webv2/src/features/generation/core/__snapshots__/generateGraphNodeTypes.json
  invokeai/frontend/webv2/src/features/generation/core/graphCoverage.testing.ts
  tests/app/invocations/test_ideogram4_denoise_branches.py
  tests/app/invocations/test_ideogram4_model_loader.py
  tests/backend/model_manager/load/ideogram4_gguf_fixture.py
  tests/backend/model_manager/load/test_ideogram4_gguf_loader.py
Due: black, flake8, isort

fix(model-cache): reserve the GGUF dequantization transient in every node
  invokeai/app/invocations/flux/flux_denoise.py
  invokeai/app/invocations/flux2/flux2_denoise.py
  invokeai/app/invocations/ideogram4/ideogram4_denoise.py
  invokeai/app/invocations/krea2/krea2_denoise.py
  invokeai/app/invocations/qwen_image/qwen_image_denoise.py
  invokeai/app/invocations/text_encoder/anima_text_encoder.py
  invokeai/app/invocations/text_encoder/ernie_image_text_encoder.py
  invokeai/app/invocations/text_encoder/flux2_dev_text_encoder.py
  invokeai/app/invocations/text_encoder/flux2_klein_text_encoder.py
  invokeai/app/invocations/text_encoder/flux_text_encoder.py
  invokeai/app/invocations/text_encoder/ideogram4_text_encoder.py
  invokeai/app/invocations/text_encoder/krea2_text_encoder.py
  invokeai/app/invocations/text_encoder/sd3_text_encoder.py
  invokeai/app/invocations/text_encoder/z_image_text_encoder.py
  invokeai/app/invocations/wan/wan_denoise.py
  invokeai/app/invocations/z_image/z_image_denoise.py
  invokeai/backend/quantization/dequantizing_linear.py
  invokeai/backend/quantization/gguf/ggml_tensor.py
  tests/app/invocations/test_sd3_text_encoder.py
  tests/app/invocations/test_text_encoders_with_packed_layers.py
  tests/app/invocations/test_wan_denoise.py
  tests/app/invocations/test_wan_expert_swapper.py
  tests/backend/quantization/gguf/test_ggml_tensor.py
Due: black, flake8, isort

fix(gallery): preserve sparse navigation recovery
  invokeai/frontend/webv2/src/features/gallery/core/selection.test.ts
  invokeai/frontend/webv2/src/features/gallery/core/selection.ts
  invokeai/frontend/webv2/src/features/gallery/data/pageLifecycle.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryLoadFailures.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryGridLayout.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryGridLayout.ts
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerPopover.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryGridHotkeys.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryGridSelection.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/usePreviewNavigation.ts
Due: none

fix(ltx2): cap auto duration in frames at the run's own rate
  docs/src/content/docs/Users Guide/05.Video Generation/ltx-2.mdx
  invokeai/app/invocations/ltx2/ltx2_duration.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  invokeai/frontend/webv2/src/features/video/core/__snapshots__/videoGraphNodeTypes.json
  invokeai/frontend/webv2/src/features/video/core/graph.test.ts
  invokeai/frontend/webv2/src/features/video/core/graph.ts
  invokeai/frontend/webv2/src/features/video/core/videoPolicies.test.ts
  invokeai/frontend/webv2/src/features/video/core/videoPolicies.ts
  invokeai/frontend/webv2/src/features/video/ui/VideoWidgetView.tsx
  tests/app/invocations/test_ltx2_duration.py
Due: black, flake8, isort

fix(model-manager): retry superseded loads in the load service
  docs/src/content/docs/development/Architecture/model-manager.mdx
  invokeai/app/services/model_load/model_load_default.py
  invokeai/app/services/shared/invocation_context.py
  tests/app/services/model_load/test_stale_model_load_fence.py
Due: black, flake8, isort

feat(projects): carry every board of a project through export, import and duplicate
  docs/src/content/docs/Users Guide/02.Projects/introduction.mdx
  docs/src/content/docs/development/Front End/project-files.mdx
  invokeai/app/api/routers/projects.py
  invokeai/app/services/project_records/project_records_base.py
  invokeai/app/services/project_records/project_records_common.py
  invokeai/app/services/project_records/project_records_sqlite.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.mjs
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.test.mjs
  invokeai/frontend/webv2/scripts/mock-backend.mjs
  invokeai/frontend/webv2/scripts/run-project-file-journey.mjs
  invokeai/frontend/webv2/src/app/GalleryUiAdapter.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/projects/api.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/board.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/board.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/duplicateProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/duplicateProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/fonts.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/memberBoards.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/memberBoards.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/restoreProjectMedia.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/restoreProjectMedia.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/transfer.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/transfer.ts
  invokeai/frontend/webv2/src/workbench/projects/library.test.ts
  invokeai/frontend/webv2/src/workbench/projects/library.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFileToasts.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFileToasts.ts
  tests/app/routers/test_projects.py
  tests/app/services/project_records/test_project_records.py
Due: black, flake8, isort

perf(projects): stop the board snapshot scan at its ceiling instead of sorting first
  invokeai/app/services/project_records/project_records_sqlite.py
Due: black, flake8, isort

test(gallery): mock the hooks the gallery adapter reads in both adapter tests
  invokeai/frontend/webv2/src/app/GalleryUiAdapter.test.tsx
Due: none

feat(gallery): offer a typed board name in both tiers and ask for names in a dialog
  docs/src/content/docs/Users Guide/06.Gallery/introduction.mdx
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardFilters.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardsPanel.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardsPanel.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.ts
  invokeai/frontend/webv2/src/platform/ui/RenameDialog.tsx
Due: none

fix(projects): bound the boards an archive or a copy may name
  docs/src/content/docs/development/Front End/project-files.mdx
  invokeai/frontend/webv2/src/workbench/projects/invk/board.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/board.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/duplicateProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/duplicateProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.test.ts
Due: none

fix(ui): keep shortcuts suspended while a delete dialog's module loads
  invokeai/frontend/webv2/src/workbench/launchpad/projects/ProjectActionsMenuHost.pending.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/projects/ProjectActionsMenuHost.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/ProjectSwitcher.tsx
Due: none

fix(projects): measure board names in characters, as the server does
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/board.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/board.ts
Due: none

fix(model-manager): read the model record outside MODEL_LOAD_LOCK
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/model_load/model_load_base.py
  invokeai/app/services/model_load/model_load_default.py
  invokeai/backend/model_manager/load/load_default.py
  tests/app/routers/test_model_manager.py
  tests/app/services/model_load/test_stale_model_load_fence.py
Due: black, flake8, isort

fix(gallery): resolve preview successors, star flags, and range queries
  invokeai/frontend/webv2/src/features/gallery/data/queryCache.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GallerySelectionBar.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewNavigation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/usePreviewNavigation.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

fix(gallery): stamp toggled selections with their sparse page
  invokeai/frontend/webv2/src/app/GalleryUiAdapter.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryGridSelection.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

fix(gallery): load an indexed reveal past a stale count
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.ts
Due: none

fix(deps): install bitsandbytes 0.50.2 for ROCm on Linux as well
  pyproject.toml
  uv.lock
Due: uvlock

fix(rocm): hide the Windows iGPU whatever the device settings say, and bound the probe
  docs/src/content/docs/start-here/system-requirements.mdx
  invokeai/app/run_app.py
  invokeai/app/util/rocm_integrated_gpu.py
  invokeai/backend/util/devices.py
  tests/app/util/test_rocm_integrated_gpu.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

fix(quantization): silence the int8 cast notice bitsandbytes 0.50 logs on every matmul
  invokeai/app/invocations/text_encoder/qwen_image_text_encoder.py
  invokeai/backend/quantization/bnb_llm_int8.py
  tests/backend/quantization/test_bnb_llm_int8.py
Due: black, flake8, isort

refactor(rocm): read the ROCm version from torch.version.rocm first
  invokeai/app/util/rocm_aotriton.py
  tests/app/util/test_rocm_aotriton.py
Due: black, flake8, isort

fix(attention): follow upstream's sm86 kernel and recover from transient SageAttention failures
  docs/src/content/docs/configuration/Optimization/sage-attention.mdx
  invokeai/backend/util/sage_attention.py
  tests/backend/util/test_sage_attention.py
Due: black, flake8, isort

fix(attention): keep a GPU on SageAttention after running out of memory
  docs/src/content/docs/configuration/Optimization/sage-attention.mdx
  invokeai/backend/util/sage_attention.py
  tests/backend/util/test_sage_attention.py
Due: black, flake8, isort

fix(gallery): wait for loading pages and bound sparse navigation entries
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryGridLayout.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryGridLayout.ts
Due: none

fix(config): accept unquoted on/off for rocm_aotriton_experimental
  invokeai/app/services/config/config_default.py
  tests/test_config.py
Due: black, flake8, isort

fix(gallery): keep the rest of a selection when toggling off a primary whose successor is unloaded
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryGridSelection.ts
Due: none

fix(audio): align float decode with first stream rate
  invokeai/app/util/video_audio.py
  tests/app/util/test_video_audio_float.py
Due: black, flake8, isort

fix(gallery): keep star flags across selection changes and picker scroll across count updates
  invokeai/frontend/webv2/src/features/gallery/ui/GallerySelectionBar.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerPopover.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerView.tsx
Due: none

fix(quantization): install the int8 cast notice filter without importing bitsandbytes
  invokeai/app/invocations/text_encoder/qwen_image_text_encoder.py
  invokeai/backend/quantization/bnb_cast_notice.py
  invokeai/backend/quantization/bnb_llm_int8.py
  tests/backend/quantization/test_bnb_cast_notice.py
  tests/backend/quantization/test_bnb_llm_int8.py
Due: black, flake8, isort

fix(gallery): keep paginated totals stable through removals and stale reads
  invokeai/frontend/webv2/src/features/gallery/data/locationQueries.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.ts
  invokeai/frontend/webv2/src/features/gallery/data/queryCache.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queryCache.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.ts
  invokeai/frontend/webv2/src/workbench/image-actions/revealGalleryItem.ts
Due: none

fix(gallery): keep Preview and picker navigation anchored to the whole listing
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerPopover.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerView.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewNavigation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/usePreviewNavigation.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

fix(gallery): keep keyboard steps and star state whole across evicted pages
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GallerySelectionBar.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryGridHotkeys.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryGridSelection.ts
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.tsx
Due: none

fix(gallery): address review findings on sparse navigation fixes
  invokeai/frontend/webv2/src/features/gallery/data/pageLifecycle.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.ts
  invokeai/frontend/webv2/src/features/gallery/data/queryCache.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queryCache.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardsPanel.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryGridFocus.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GallerySelectionBar.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerPopover.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
Due: none

test(perf): re-record route resources for sparse gallery paging
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
Due: none

fix(deps): resolve high and critical dependabot alerts
  invokeai/app/api_app.py
  invokeai/app/services/auth/token_service.py
  invokeai/backend/minimax_h3/qwen3vl_vision_device_patch.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/ltx2.py
  invokeai/backend/model_manager/load/model_loaders/minimax_h3.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/backend/model_patcher.py
  invokeai/backend/patches/layer_patcher.py
  pyproject.toml
  tests/app/api/test_sliding_window_token.py
  tests/app/services/auth/test_token_service.py
  tests/backend/minimax_h3/test_qwen3vl_vision_device_patch.py
  tests/backend/model_manager/load/test_ltx2_loader.py
  tests/backend/model_manager/load/test_qwen_image_nvfp4_loader.py
  tests/backend/model_manager/load/test_qwen_image_state_dict_utils.py
  tests/backend/test_clip_text_model_wrapper.py
  uv.lock
Due: black, flake8, isort, uvlock

docs(models): add a format support matrix for every model type
  docs/src/content/docs/Users Guide/03.Models/02.model-families.mdx
  docs/src/content/docs/Users Guide/03.Models/03.model-format-support.mdx
  docs/src/content/docs/contributing/new-model-integration.mdx
Due: none

feat(ernie-image): load GGUF transformers
  docs/src/content/docs/Users Guide/03.Models/02.model-families.mdx
  docs/src/content/docs/Users Guide/03.Models/Local Models/ernie-image.mdx
  docs/src/content/docs/start-here/system-requirements.mdx
  invokeai/app/invocations/ernie_image/ernie_image_denoise.py
  invokeai/app/invocations/ernie_image/ernie_image_model_loader.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/ernie_image.py
  invokeai/backend/model_manager/load/model_loaders/ideogram4.py
  invokeai/backend/model_manager/starter_models/__init__.py
  invokeai/backend/model_manager/starter_models/ernie_image.py
  invokeai/backend/quantization/gguf/loaders.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  tests/app/invocations/test_ernie_image_denoise.py
  tests/app/invocations/test_ernie_image_single_file_loader.py
  tests/backend/model_manager/load/ernie_image_gguf_fixture.py
  tests/backend/model_manager/load/test_ernie_image_gguf_loader.py
Due: black, flake8, isort

fix(model-manager): keep the stale-load check off the database under MODEL_LOAD_LOCK
  docs/src/content/docs/development/Architecture/model-manager.mdx
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/model_load/model_load_base.py
  invokeai/app/services/model_load/model_load_common.py
  invokeai/app/services/model_load/model_load_default.py
  invokeai/backend/model_manager/load/load_default.py
  tests/app/routers/test_model_manager.py
  tests/app/routers/test_update_model_record_cache_invalidation.py
  tests/app/services/model_load/test_stale_model_load_fence.py
Due: black, flake8, isort
