Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

Added scikit-image required for Bria's OpenposeDetector model
  pyproject.toml
  uv.lock
Due: uvlock

removed unused file
  invokeai/backend/bria/pipeline.py
Due: black, flake8, isort

Small cosmetic fixes
  invokeai/nodes/bria_nodes/bria_controlnet.py
  invokeai/nodes/bria_nodes/bria_decoder.py
Due: black, flake8, isort

(fix) remove timeout from image prompt expansion
  invokeai/frontend/web/src/features/prompt/PromptExpansion/expand.ts
Due: none

(fix) remove timeout from image prompt expansion (#8281)
  invokeai/frontend/web/src/features/prompt/PromptExpansion/expand.ts
Due: none

Update dev-environment.md
  docs/contributing/dev-environment.md
Due: none

Remove SDXL refiner-specific code and generalize SDXL model handling
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/sdxl.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.ts
  invokeai/frontend/web/src/features/modelManagerV2/store/modelManagerV2Slice.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ModelInstallQueue/ModelInstallQueue.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelTypeFilter.tsx
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/types/v2/field.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addSDXLRefiner.ts
  invokeai/frontend/web/src/features/sdxl/components/SDXLRefiner/ParamSDXLRefinerModelSelect.tsx
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

Remove aesthetic score parameters from SDXL refiner workflow
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/sdxl.py
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/modelManagerV2/store/modelManagerV2Slice.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelTypeFilter.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addSDXLRefiner.ts
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
  invokeai/frontend/web/src/features/sdxl/components/SDXLRefiner/ParamSDXLRefinerNegativeAestheticScore.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLRefiner/ParamSDXLRefinerPositiveAestheticScore.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/RefinerSettingsAccordion/RefinerSettingsAccordion.tsx
Due: black, flake8, isort

explicitly send details on image upload and enqueue failures
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/batchEnqueued.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/imageUploaded.ts
  invokeai/frontend/web/src/common/hooks/useImageUploadButton.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/PublishWorkflowPanelContent.tsx
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueCanvas.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueGenerate.ts
  invokeai/frontend/web/src/features/queue/hooks/useInvoke.ts
  invokeai/frontend/web/src/features/system/store/actions.ts
  invokeai/frontend/web/src/features/system/store/zodSchemas.ts
Due: none

fix(docker): switch to pnpm10.x
  docker/Dockerfile
Due: none

update to fix
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/RefinerModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addFLUXFill.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addImageToImage.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addSDXLRefiner.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addTextToImage.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
  invokeai/frontend/web/src/services/api/hooks/useIsRefinerAvailable.ts
Due: none

moved bria's nodes to invocations folder
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_sampler.py
  invokeai/app/invocations/bria_model_loader.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/nodes/__init__.py
  invokeai/nodes/bria_nodes/__init__.py
Due: black, flake8, isort

feat(ui): export apis & actions from package
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueCanvas.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueGenerate.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueUpscaling.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueWorkflows.ts
  invokeai/frontend/web/src/index.ts
Due: none

add fallback image and make sure description text is legible for model picker noncompact
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelImage.tsx
  invokeai/frontend/web/src/features/parameters/components/ModelPicker.tsx
Due: none

simplify descriptoin styling
  invokeai/frontend/web/src/features/parameters/components/ModelPicker.tsx
Due: none

fix(ui): aspect ratios out of order
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

fix(ui): uppercase file extensions blocked for image upload
  invokeai/frontend/web/src/common/hooks/useImageUploadButton.tsx
  invokeai/frontend/web/src/features/dnd/FullscreenDropzone.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/Fields/ModelImageUpload.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowThumbnail/WorkflowThumbnailField.tsx
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetForm/StylePresetImageField.tsx
Due: none

feat(ui): clicking invoke switches to viewer tab instead of canvas when save all images to gallery is enabled
  invokeai/frontend/web/src/features/queue/hooks/useInvoke.ts
Due: none

feat(ui): make save all images to gallery option also bypass canvas
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/CanvasAlerts/CanvasAlertsSaveAllImagesToGallery.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasAlerts/CanvasAlertsSelectedEntityStatus.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueCanvas.ts
  invokeai/frontend/web/src/features/ui/layouts/CanvasWorkspacePanel.tsx
Due: none

refactor(ui): simplify canvas session logic
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/components/GlobalModalIsolator.tsx
  invokeai/frontend/web/src/app/hooks/useStudioInitAction.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
  invokeai/frontend/web/src/features/controlLayers/components/ControlLayer/ControlLayerSettingsEmptyState.tsx
  invokeai/frontend/web/src/features/controlLayers/components/NewSessionConfirmationAlertDialog.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageNoImageState.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageNoImageStateWithCanvasOptions.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RegionalGuidance/RegionalGuidanceIPAdapterSettingsEmptyState.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaItemsList.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/context.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaToolbarAcceptButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaToolbarDiscardAllButton.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasDeleteLayerHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityAdapterBase.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStagingAreaModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRecallAll.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRecallDimensions.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRecallRemix.ts
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxAspectRatioSelect.tsx
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxSwapDimensionsButton.tsx
  invokeai/frontend/web/src/features/parameters/components/Bbox/use-is-bbox-size-locked.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueCanvas.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueGenerate.ts
  invokeai/frontend/web/src/features/ui/layouts/CanvasWorkspacePanel.tsx
  invokeai/frontend/web/src/features/ui/layouts/StagingArea.tsx
  invokeai/frontend/web/src/features/ui/store/uiSelectors.ts
  invokeai/frontend/web/src/features/ui/store/uiSlice.ts
  invokeai/frontend/web/src/features/ui/store/uiTypes.ts
Due: none

feat(ui): canvas/viewer panel tabs show progress
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsSaveAllImagesToGalleryCheckbox.tsx
  invokeai/frontend/web/src/features/queue/hooks/useCurrentQueueItemDestination.ts
  invokeai/frontend/web/src/features/queue/hooks/useCurrentQueueItemId.ts
  invokeai/frontend/web/src/features/queue/hooks/useInvoke.ts
  invokeai/frontend/web/src/features/ui/layouts/DockviewTab.tsx
  invokeai/frontend/web/src/features/ui/layouts/DockviewTabCanvasViewer.tsx
  invokeai/frontend/web/src/features/ui/layouts/DockviewTabCanvasWorkspace.tsx
  invokeai/frontend/web/src/features/ui/layouts/DockviewTabLaunchpad.tsx
  invokeai/frontend/web/src/features/ui/layouts/DockviewTabProgress.tsx
  invokeai/frontend/web/src/features/ui/layouts/TabWithoutCloseButtonAndWithProgressIndicator.tsx
  invokeai/frontend/web/src/features/ui/layouts/canvas-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/generate-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/shared.ts
  invokeai/frontend/web/src/features/ui/layouts/upscaling-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/workflows-tab-auto-layout.tsx
  invokeai/frontend/web/src/services/api/endpoints/queue.ts
Due: none

refactor(ui): canvas autoswitch logic
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemPreviewMini.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/context.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStagingAreaModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
Due: none

Update primitives.py
  invokeai/app/invocations/primitives.py
Due: black, flake8, isort

Update __init__.py
  invokeai/invocation_api/__init__.py
Due: black, flake8, isort

Updated __init__.py
  invokeai/invocation_api/__init__.py
Due: black, flake8, isort

Updated schema.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: none
