Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

build(ui): keep the exit-retention hook in the route-shared chunk
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/vite.config.mts
Due: none

feat(canvas): refine vector path drawing and transforms
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Transform/Transform.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityTransformer.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityTransformer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasMoveToolModule.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasMoveToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasShapeToolModule.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasShapeToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/util/vectorPathTopology.test.ts
  invokeai/frontend/web/src/features/controlLayers/util/vectorPathTopology.ts
Due: none

fix(queue): keep result videos on their board and bound recovery sweeps
  invokeai/frontend/webv2/src/features/queue/runtime.test.ts
  invokeai/frontend/webv2/src/features/queue/runtime.ts
  invokeai/frontend/webv2/src/features/queue/runtime/coordinator.test.ts
  invokeai/frontend/webv2/src/features/queue/runtime/coordinator.ts
Due: none

fix(workflow): serve library records by revision and fence invalidated reads
  invokeai/frontend/webv2/src/features/workflow/data/libraryBrowseStore.test.ts
  invokeai/frontend/webv2/src/features/workflow/data/libraryBrowseStore.ts
  invokeai/frontend/webv2/src/features/workflow/data/libraryCache.test.ts
  invokeai/frontend/webv2/src/features/workflow/data/libraryCache.ts
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDetailPanel.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDetailPanel.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/useOpenLibraryWorkflow.ts
  invokeai/frontend/webv2/src/features/workflow/ui/workflowUiStore.ts
Due: none

fix(identity): bind the tab's credential to its account and adopt refreshed tokens
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/src/app/main.tsx
  invokeai/frontend/webv2/src/features/identity/core/sessionPolicy.ts
  invokeai/frontend/webv2/src/features/identity/core/storedCredential.test.ts
  invokeai/frontend/webv2/src/features/identity/core/storedCredential.ts
  invokeai/frontend/webv2/src/features/identity/core/tokenStorage.ts
  invokeai/frontend/webv2/src/features/identity/credential.test.ts
  invokeai/frontend/webv2/src/features/identity/credentialSync.browser.test.ts
  invokeai/frontend/webv2/src/features/identity/data/api.test.ts
  invokeai/frontend/webv2/src/features/identity/data/api.ts
  invokeai/frontend/webv2/src/features/identity/index.ts
  invokeai/frontend/webv2/src/features/identity/session.test.ts
  invokeai/frontend/webv2/src/features/identity/session.ts
  invokeai/frontend/webv2/src/features/identity/transportAdapter.test.ts
  invokeai/frontend/webv2/src/features/identity/transportAdapter.ts
  invokeai/frontend/webv2/src/features/identity/ui/LoginScreen.tsx
  invokeai/frontend/webv2/src/features/identity/ui/ProfileDialog.tsx
  invokeai/frontend/webv2/src/features/identity/ui/SetupScreen.tsx
  invokeai/frontend/webv2/src/features/identity/ui/UserFormDialog.tsx
  invokeai/frontend/webv2/src/features/queue/runtime/coordinator.test.ts
  invokeai/frontend/webv2/src/platform/transport/http.test.ts
  invokeai/frontend/webv2/src/platform/transport/http.ts
  invokeai/frontend/webv2/src/platform/transport/socketHub.test.ts
  invokeai/frontend/webv2/src/platform/transport/socketHub.ts
  invokeai/frontend/webv2/src/workbench/WorkbenchSessionController.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/canvas-operations/backend/canvasImages.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/backend/canvasImages.ts
  invokeai/frontend/webv2/src/workbench/launchpad/OpenProjectsControl.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/projects/ProjectActionsMenuHost.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/projects/useProjectActions.browser.test.tsx
Due: none

fix(workflow): bound image export size and make every capture settle
  docs/src/content/docs/Users Guide/08.Workflows/editor-reference.mdx
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/workflow/ui/editor/EditorToolbar.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/EditorToolbar.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowImageExport.browser.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowImageExport.edgeCases.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowImageExport.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowImageExport.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowImageRaster.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowImageRaster.ts
Due: none

feat(db): add the database layer core with a transitional SQLite facade
  .github/workflows/python-tests.yml
  docs/src/content/docs/development/Guides/database-layer.mdx
  invokeai/app/AGENTS.md
  invokeai/app/services/image_index/image_index_records_base.py
  invokeai/app/services/project_records/project_records_sqlite.py
  invokeai/app/services/shared/database/__init__.py
  invokeai/app/services/shared/database/database.py
  invokeai/app/services/shared/database/engines.py
  invokeai/app/services/shared/database/errors.py
  invokeai/app/services/shared/database/queries/__init__.py
  invokeai/app/services/shared/sqlite/sqlite_database.py
  invokeai/app/services/workflow_records/workflow_records_sqlite.py
  pyproject.toml
  scripts/benchmark_database.py
  tests/app/services/shared/database/conftest.py
  tests/app/services/shared/database/test_database_errors.py
  tests/app/services/shared/database/test_database_legacy_facade.py
  tests/app/services/shared/database/test_database_transactions.py
  tests/app/services/users/test_user_service.py
  tests/app/test_database_access_guard.py
  tests/conftest.py
  tests/fixtures/database.py
  tests/fixtures/database_probe.py
  uv.lock
Due: black, flake8, isort, uvlock

fix(workbench): save pending edits when leaving the editor and at project transitions
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/src/features/generation/ui/GenerateSettingsForm.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/WorkbenchContext.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/WorkbenchContext.tsx
  invokeai/frontend/webv2/src/workbench/WorkbenchSessionController.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/WorkbenchSessionController.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/persistenceRuntime.test.ts
  invokeai/frontend/webv2/src/workbench/persistenceRuntime.ts
  invokeai/frontend/webv2/src/workbench/projects/README.md
  invokeai/frontend/webv2/src/workbench/projects/components/OpenProjectDialog.tsx
  invokeai/frontend/webv2/src/workbench/projects/durableSyncedPersistence.test.ts
  invokeai/frontend/webv2/src/workbench/projects/durableSyncedPersistence.ts
  invokeai/frontend/webv2/src/workbench/projects/editorSession.test.ts
  invokeai/frontend/webv2/src/workbench/projects/editorSession.ts
  invokeai/frontend/webv2/src/workbench/projects/projectTransitionDrafts.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/projects/useProjectActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/projects/useProjectActions.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/ProjectSwitcher.tsx
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

docs(architecture): describe the enforced acyclic owner graph
  invokeai/frontend/webv2/ARCHITECTURE.md
Due: none

perf(queue): poll only queue status on Home and read Generate insights on demand
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/src/app/GenerationUiAdapter.browser.test.tsx
  invokeai/frontend/webv2/src/app/GenerationUiAdapter.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateDimensionFields.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateDimensionFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateRenderSection.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateRenderSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateSettingsForm.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerationUiContext.tsx
  invokeai/frontend/webv2/src/features/queue/core/types.ts
  invokeai/frontend/webv2/src/features/queue/data/mappers.test.ts
  invokeai/frontend/webv2/src/features/queue/data/mappers.ts
  invokeai/frontend/webv2/src/features/queue/data/queries.test.ts
  invokeai/frontend/webv2/src/features/queue/data/queries.ts
  invokeai/frontend/webv2/src/features/queue/data/queueServer.testing.ts
  invokeai/frontend/webv2/src/features/queue/data/serverTypes.ts
  invokeai/frontend/webv2/src/features/queue/runtime.test.ts
  invokeai/frontend/webv2/src/features/queue/ui/launchpad/QueueStatusBand.browser.test.tsx
  invokeai/frontend/webv2/src/features/queue/ui/launchpad/QueueStatusBand.tsx
Due: none

fix(ui): animate the concept row menu out instead of unmounting it on close
  invokeai/frontend/webv2/src/features/generation/ui/shared/ConceptRow.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/shared/ConceptRow.tsx
  invokeai/frontend/webv2/src/features/generation/ui/shared/GenerateFieldContextMenu.tsx
  invokeai/frontend/webv2/src/platform/ui/Menu.tsx
Due: none

fix(image-index): evict a replaced encoder from the model cache before reindexing
  invokeai/app/services/image_index/image_index_default.py
  tests/app/services/image_index/test_image_index_service.py
Due: black, flake8, isort

fix(image-map): show Computing while a replacement encoder drains
  invokeai/frontend/webv2/src/workbench/image-map/imageMap.test.ts
  invokeai/frontend/webv2/src/workbench/image-map/imageMapStore.ts
Due: none

docs(canvas): update vector layer guide
  docs/src/content/docs/features/Canvas/vector-layers.mdx
Due: none

fix(model-manager): invalidate cached models after identity edits
  invokeai/app/api/routers/model_manager.py
  tests/app/routers/test_update_model_record_cache_invalidation.py
Due: black, flake8, isort

fix(model-manager): preserve files after installation failures
  docs/src/content/docs/Users Guide/03.Models/01.introduction.mdx
  invokeai/app/services/model_install/model_install_common.py
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

fix(model-manager): validate loader and IP-Adapter metadata
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/ip_adapter.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
  tests/backend/model_manager/configs/test_ip_adapter_config.py
  tests/backend/model_manager/load/test_generic_diffusers_loader_boundaries.py
Due: black, flake8, isort

fix(model-manager): recover accounting after failed transfers
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_with_partial_load.py
  tests/backend/model_manager/load/model_cache/cached_model/test_cached_model_with_partial_load.py
  tests/backend/model_manager/load/model_cache/cached_model/test_repair_required_tensors.py
Due: black, flake8, isort

hotfix ip adapter style_precise mode with sequential guidance enabled
  invokeai/backend/stable_diffusion/diffusion/custom_atttention.py
  invokeai/backend/stable_diffusion/diffusion/regional_ip_data.py
  invokeai/backend/stable_diffusion/diffusion/shared_invokeai_diffusion.py
Due: black, flake8, isort

separate custom logic in attention processor to functions
  invokeai/backend/stable_diffusion/diffusion/custom_atttention.py
Due: black, flake8, isort

implement ip adapter as extension in sd modular backend
  invokeai/app/invocations/sd/denoise_latents.py
  invokeai/backend/stable_diffusion/denoise_context.py
  invokeai/backend/stable_diffusion/diffusion/custom_atttention.py
  invokeai/backend/stable_diffusion/diffusion/regional_ip_data.py
  invokeai/backend/stable_diffusion/diffusion/shared_invokeai_diffusion.py
  invokeai/backend/stable_diffusion/diffusion/unet_attention_patcher.py
  invokeai/backend/stable_diffusion/extensions/ip_adapter.py
Due: black, flake8, isort

fix(model-manager): preserve recovery data across failures
  docs/src/content/docs/development/Architecture/model-manager.mdx
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/model_install/__init__.py
  invokeai/app/services/model_install/model_install_common.py
  invokeai/app/services/model_install/model_install_default.py
  tests/app/routers/test_model_manager.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

chore: typegen
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
Due: none

feat(ltx2): let auto duration size an extension's continuation
  docs/src/content/docs/Users Guide/05.Video Generation/ltx-2.mdx
  invokeai/app/invocations/ltx2/ltx2_duration.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/video/core/__snapshots__/videoGraphNodeTypes.json
  invokeai/frontend/webv2/src/features/video/core/graph.test.ts
  invokeai/frontend/webv2/src/features/video/core/graph.ts
  invokeai/frontend/webv2/src/features/video/core/videoPolicies.test.ts
  invokeai/frontend/webv2/src/features/video/core/videoPolicies.ts
  invokeai/frontend/webv2/src/features/video/ui/VideoWidgetView.tsx
  tests/app/invocations/test_ltx2_duration.py
Due: black, flake8, isort

docs: list multi-user board and workflow sharing as a v7 known bug
  docs/src/content/docs/troubleshooting/known-bugs.mdx
Due: none

docs: link known-bugs entries to their tracking issues
  docs/src/content/docs/troubleshooting/known-bugs.mdx
Due: none

chore(release): bump version post 7.0.0-alpha.1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

docs: list the missing delete-confirmation opt-out as a v7 known bug
  docs/src/content/docs/troubleshooting/known-bugs.mdx
Due: none

fix(gallery): harden sparse page caching
  docs/src/content/docs/Users Guide/06.Gallery/introduction.mdx
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.test.mjs
  invokeai/frontend/webv2/scripts/mock-backend.mjs
  invokeai/frontend/webv2/src/features/gallery/contracts.ts
  invokeai/frontend/webv2/src/features/gallery/core/locatorCancellation.ts
  invokeai/frontend/webv2/src/features/gallery/core/revealRequest.selection.test.ts
  invokeai/frontend/webv2/src/features/gallery/core/selection.ts
  invokeai/frontend/webv2/src/features/gallery/data/locationQueries.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/pageLifecycle.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.ts
  invokeai/frontend/webv2/src/features/gallery/data/queryCache.ts
  invokeai/frontend/webv2/src/features/gallery/queries.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GallerySelectionBar.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GallerySelectionBar.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryGridHotkeys.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGallerySelectionStar.ts
  invokeai/frontend/webv2/src/features/gallery/utility.ts
  invokeai/frontend/webv2/src/workbench/image-actions/revealGalleryItem.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/revealGalleryItem.ts
  invokeai/frontend/webv2/src/workbench/image-actions/useFindGalleryItem.lazy.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/useFindGalleryItem.ts
  invokeai/frontend/webv2/src/workbench/widgets/image-map/useSelectMapImage.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/image-map/useSelectMapImage.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewNavigation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/usePreviewNavigation.ts
Due: none

feat(db): define the schema as SQLAlchemy metadata with SQLite parity
  docs/src/content/docs/development/Guides/database-layer.mdx
  invokeai/app/AGENTS.md
  invokeai/app/services/shared/database/database.py
  invokeai/app/services/shared/database/dialect.py
  invokeai/app/services/shared/database/engines.py
  invokeai/app/services/shared/database/errors.py
  invokeai/app/services/shared/database/schema/__init__.py
  invokeai/app/services/shared/database/schema/app_settings.py
  invokeai/app/services/shared/database/schema/boards.py
  invokeai/app/services/shared/database/schema/client_state.py
  invokeai/app/services/shared/database/schema/fonts.py
  invokeai/app/services/shared/database/schema/image_index.py
  invokeai/app/services/shared/database/schema/image_moves.py
  invokeai/app/services/shared/database/schema/images.py
  invokeai/app/services/shared/database/schema/intermediates.py
  invokeai/app/services/shared/database/schema/media_references.py
  invokeai/app/services/shared/database/schema/metadata.py
  invokeai/app/services/shared/database/schema/migrator.py
  invokeai/app/services/shared/database/schema/models.py
  invokeai/app/services/shared/database/schema/projects.py
  invokeai/app/services/shared/database/schema/session_queue.py
  invokeai/app/services/shared/database/schema/style_presets.py
  invokeai/app/services/shared/database/schema/system_prompts.py
  invokeai/app/services/shared/database/schema/users.py
  invokeai/app/services/shared/database/schema/videos.py
  invokeai/app/services/shared/database/schema/wildcards.py
  invokeai/app/services/shared/database/schema/workflows.py
  invokeai/app/services/shared/database/types.py
  tests/app/services/shared/database/test_database_errors.py
  tests/app/services/shared/database/test_database_transactions.py
  tests/app/services/shared/database/test_schema.py
  tests/app/services/shared/database/test_schema_parity.py
Due: black, flake8, isort

fix(graph): preserve nested Iterate value scope
  invokeai/app/services/shared/graph_materializer.py
  tests/app/services/shared/test_execution_engine_differential.py
  tests/app/services/shared/test_graph_iterate_planner.py
  tests/test_nodes.py
Due: black, flake8, isort

fix(ui): make the model picker a valid, IME-safe combobox that stays fast with large catalogs
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryItemSearch.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerView.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/usePromptTriggerAutocomplete.tsx
  invokeai/frontend/webv2/src/features/models/ui/components/ModelSelect.browser.test.tsx
  invokeai/frontend/webv2/src/features/models/ui/components/ModelSelect.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/AddNodeDialog.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/AddNodeDialog.tsx
  invokeai/frontend/webv2/src/platform/browser/auditAccessibility.testing.ts
  invokeai/frontend/webv2/src/platform/browser/imeComposition.ts
  invokeai/frontend/webv2/src/platform/ui/Field.tsx
  invokeai/frontend/webv2/src/platform/ui/MiddleTruncate.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/MiddleTruncate.tsx
  invokeai/frontend/webv2/src/platform/ui/Picker.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/Picker.tsx
  invokeai/frontend/webv2/src/platform/ui/list/List.tsx
  invokeai/frontend/webv2/src/platform/ui/list/virtualSections.ts
  invokeai/frontend/webv2/vite.config.mts
Due: none

fix(gallery): show load failures with retry instead of empty or unrelated results
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardsPanel.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardsPanel.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryLayout.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryLoadError.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryLoadFailures.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GallerySelectionBar.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryGridLayout.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryGridLayout.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerPopover.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/useGalleryPickerScope.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryStarredStrip.ts
  invokeai/frontend/webv2/vite.config.mts
Due: none

fix(gallery): keep selection star state in widget owner
  invokeai/frontend/webv2/src/features/gallery/ui/GallerySelectionBar.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryGridHotkeys.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGallerySelectionStar.ts
Due: none

Ruff fixes
  invokeai/app/invocations/sd/denoise_latents.py
  invokeai/backend/stable_diffusion/diffusion/custom_atttention.py
  invokeai/backend/stable_diffusion/diffusion/regional_ip_data.py
  invokeai/backend/stable_diffusion/diffusion/shared_invokeai_diffusion.py
  invokeai/backend/stable_diffusion/extensions/ip_adapter.py
Due: black, flake8, isort

fix(workbench): include pending field drafts in the page-hide save
  invokeai/frontend/webv2/scripts/run-accessibility-journeys.mjs
  invokeai/frontend/webv2/src/platform/ui/RemovableTag.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/Tooltip.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/theme/recipes.ts
  invokeai/frontend/webv2/src/workbench/WorkbenchContext.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/WorkbenchContext.tsx
  invokeai/frontend/webv2/src/workbench/persistenceRuntime.test.ts
  invokeai/frontend/webv2/src/workbench/persistenceRuntime.ts
  invokeai/frontend/webv2/src/workbench/projects/README.md
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetEnableMenu.tsx
Due: none

fix(models): keep unsaved model edits across manager navigation
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/models/ui/ModelManagerDrafts.browser.test.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/DefaultSettingsSection.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/ModelDetail.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/ModelDraftNotices.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/ModelEditForm.tsx
  invokeai/frontend/webv2/src/features/models/ui/library/ModelLibraryList.tsx
  invokeai/frontend/webv2/src/features/models/ui/modelDraftsStore.test.ts
  invokeai/frontend/webv2/src/features/models/ui/modelDraftsStore.ts
Due: none

fix(video): confirm model switches that would discard setup
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/app/VideoModelSwitch.browser.test.tsx
  invokeai/frontend/webv2/src/features/video/core/settings.ts
  invokeai/frontend/webv2/src/features/video/core/videoPolicies.test.ts
  invokeai/frontend/webv2/src/features/video/core/videoPolicies.ts
  invokeai/frontend/webv2/src/features/video/ui/VideoModelField.tsx
  invokeai/frontend/webv2/src/features/video/ui/VideoWidgetView.tsx
Due: none
