Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

chore(release): bump version to 7.0.0-rc1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

fix(devices): leave integrated GPUs out of generation_devices: auto on CUDA/ROCm
  docs/src/content/docs/start-here/system-requirements.mdx
  docs/src/generated/settings.json
  invokeai/app/services/config/config_default.py
  invokeai/backend/util/devices.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  tests/backend/util/test_devices.py
Due: black, flake8, isort

feat(deps): install ROCm 10 from AMD's index on Linux and Windows
  docs/src/content/docs/configuration/Optimization/low-vram-mode.mdx
  docs/src/content/docs/start-here/manual.mdx
  docs/src/content/docs/start-here/system-requirements.mdx
  docs/src/generated/settings.json
  invokeai/app/run_app.py
  invokeai/app/services/config/config_default.py
  invokeai/app/util/rocm_aotriton.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  pins.json
  pyproject.toml
  scripts/check_pins.py
  tests/app/util/test_rocm_aotriton.py
  tests/test_check_pins.py
  uv.lock
Due: black, flake8, isort, uvlock

fix(rocm): hide integrated GPUs from HIP on Windows before torch initializes it
  docs/src/content/docs/start-here/system-requirements.mdx
  invokeai/app/run_app.py
  invokeai/app/util/rocm_integrated_gpu.py
  tests/app/util/test_rocm_integrated_gpu.py
Due: black, flake8, isort

feat(webv2): restore the What's New notes and point docs at the v7 site
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/scripts/mock-backend.mjs
  invokeai/frontend/webv2/scripts/run-accessibility-journeys.mjs
  invokeai/frontend/webv2/src/app/App.tsx
  invokeai/frontend/webv2/src/app/router.tsx
  invokeai/frontend/webv2/src/platform/i18n/translationKeys.test.ts
  invokeai/frontend/webv2/src/platform/runtime/appMetadata.ts
  invokeai/frontend/webv2/src/platform/ui/VendoredIcon.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/HelpMenu.tsx
  invokeai/frontend/webv2/src/workbench/settings/contracts.ts
  invokeai/frontend/webv2/src/workbench/settings/store.ts
  invokeai/frontend/webv2/src/workbench/shell/WhatsNewDialog.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/WhatsNewDialog.lateVersion.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/WhatsNewDialog.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/AppMenu.tsx
  invokeai/frontend/webv2/src/workbench/shell/useWhatsNew.ts
  invokeai/frontend/webv2/src/workbench/shell/whatsNewStore.ts
  invokeai/frontend/webv2/vite.config.mts
Due: none

feat(webv2): open What's New from the launchpad and add Home to the app menu
  invokeai/frontend/webv2/src/workbench/launchpad/LaunchpadNav.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/AppMenu.tsx
Due: none

perf(anima): import the Qwen3.5 encoder only when a prompt uses it
  invokeai/app/invocations/text_encoder/anima_text_encoder.py
  tests/app/invocations/test_anima_qwen3_5_conditioning.py
Due: black, flake8, isort

feat(anima): apply Anima LoRAs and LLLite adapters to the blocks the finetunes kept
  docs/src/content/docs/Users Guide/03.Models/Local Models/anima.mdx
  docs/src/content/docs/contributing/new-model-integration.mdx
  invokeai/app/invocations/anima/anima_denoise.py
  invokeai/backend/anima/block_layout.py
  invokeai/backend/anima/control_net_lllite.py
  invokeai/backend/patches/lora_conversions/anima_lora_conversion_utils.py
  tests/backend/anima/test_block_layout.py
  tests/backend/anima/test_control_net_lllite.py
  tests/backend/patches/lora_conversions/test_anima_lora_conversion_utils.py
Due: black, flake8, isort

fix(anima): cast the whole semantic connector under FP8 Storage
  docs/src/content/docs/Users Guide/03.Models/Local Models/anima.mdx
  invokeai/backend/anima/anima_transformer.py
  tests/backend/anima/test_semantic_connector.py
Due: black, flake8, isort

feat(webv2): redesign the What's New dialog around the v7 highlights
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/assets/V7Logo.webp
  invokeai/frontend/webv2/src/workbench/shell/WhatsNewDialog.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/WhatsNewDialog.tsx
Due: none

fix(webv2): read the app version from the Python package at build time
  docker/Dockerfile
  docs/src/content/docs/development/Process/release-process.mdx
  invokeai/frontend/webv2/src/platform/runtime/appMetadata.ts
  invokeai/frontend/webv2/src/vite-env.d.ts
  invokeai/frontend/webv2/vite.config.mts
Due: none

chore(webv2): re-record the browser baseline for the What's New boot modules
  invokeai/frontend/webv2/performance/browser-baseline.json
Due: none

feat(webv2): keep a return marker for floating widgets
  docs/src/content/docs/Users Guide/01.Workbench/01.introduction.mdx
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/scripts/run-accessibility-journeys.mjs
  invokeai/frontend/webv2/src/workbench/floatingWidgets.test.ts
  invokeai/frontend/webv2/src/workbench/floatingWindows.test.ts
  invokeai/frontend/webv2/src/workbench/floatingWindows.ts
  invokeai/frontend/webv2/src/workbench/image-actions/recallEventRuntime.ts
  invokeai/frontend/webv2/src/workbench/layoutContracts.ts
  invokeai/frontend/webv2/src/workbench/layoutPresetSnapshots.ts
  invokeai/frontend/webv2/src/workbench/shell/CenterArea.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/CenterArea.tsx
  invokeai/frontend/webv2/src/workbench/shell/PresetSwitchKeepAlive.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/WorkbenchShell.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetBar.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetBarFloatingMarker.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetInstanceContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/createWidgetRuntime.test.ts
  invokeai/frontend/webv2/src/workbench/widgetLabels.ts
  invokeai/frontend/webv2/src/workbench/widgetPlacementCommands.test.ts
  invokeai/frontend/webv2/src/workbench/widgetPlacementCommands.ts
  invokeai/frontend/webv2/src/workbench/widgetPlacementMeta.ts
  invokeai/frontend/webv2/src/workbench/widgetRegionItems.ts
  invokeai/frontend/webv2/src/workbench/widgetRegionViewModel.test.ts
  invokeai/frontend/webv2/src/workbench/widgetRegionViewModel.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  invokeai/frontend/webv2/src/workbench/workbenchStateAutoRoute.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

feat(webv2): give floating windows workbench focus and hotkeys
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/scripts/run-accessibility-journeys.mjs
  invokeai/frontend/webv2/src/app/WorkbenchApp.tsx
  invokeai/frontend/webv2/src/app/WorkflowUiAdapter.tsx
  invokeai/frontend/webv2/src/workbench/WorkbenchRuntime.tsx
  invokeai/frontend/webv2/src/workbench/focusRegions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/focusRegions.tsx
  invokeai/frontend/webv2/src/workbench/hotkeys/WorkbenchHotkeyRuntime.tsx
  invokeai/frontend/webv2/src/workbench/hotkeys/extensionHotkeys.test.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/extensionHotkeys.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/resolve.test.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/targetWidget.test.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/targetWidget.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/types.ts
  invokeai/frontend/webv2/src/workbench/shell/CenterArea.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/CenterArea.tsx
  invokeai/frontend/webv2/src/workbench/shell/PresetSwitchKeepAlive.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/WorkbenchShell.tsx
  invokeai/frontend/webv2/src/workbench/useOpenWorkbenchWidget.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetLayer.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetLayer.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetFloatButton.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetFrames.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/workbenchStore.test.ts
Due: none

feat(webv2): reopen floating widgets where they last floated
  docs/src/content/docs/Users Guide/01.Workbench/01.introduction.mdx
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/src/workbench/floatingWidgets.test.ts
  invokeai/frontend/webv2/src/workbench/floatingWindows.test.ts
  invokeai/frontend/webv2/src/workbench/floatingWindows.ts
  invokeai/frontend/webv2/src/workbench/layoutContracts.ts
  invokeai/frontend/webv2/src/workbench/projectContracts.ts
  invokeai/frontend/webv2/src/workbench/projects/projectDocument.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetFloatButton.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetFrames.tsx
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

fix(webv2): save a floated window in the order a reload reads it
  invokeai/frontend/webv2/src/workbench/floatingWidgets.test.ts
  invokeai/frontend/webv2/src/workbench/floatingWindows.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

style(webv2): tighten the floating window title bar
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.tsx
Due: none

fix(ui): keep keyboard focus after removing a floating widget
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/scripts/run-accessibility-journeys.mjs
  invokeai/frontend/webv2/src/workbench/focusRegions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/focusRegions.tsx
  invokeai/frontend/webv2/src/workbench/shell/WorkbenchShell.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetBar.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetBarFloatingMarker.browser.test.tsx
Due: none

fix(ui): scroll floating window title actions into view on focus
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/src/platform/ui/wheelScrollsHorizontally.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/wheelScrollsHorizontally.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.tsx
Due: none

fix(ui): announce a floating window's displayed size on its resize control
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.tsx
Due: none

fix(ui): drop wheel scrolling from floating window title actions
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.tsx
Due: none

chore(release): change version to 7.0.0-alpha.1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

chore(CI/CD): remove codeowners
  .github/CODEOWNERS
Due: none

chore(CI/CD): maintainers are responsible for versions, dependencies and workflows
  .github/CODEOWNERS
Due: none

feat(video): let LTX-2 soundtrack conditioning keep first and last frames
  docs/src/content/docs/Users Guide/05.Video Generation/introduction.mdx
  docs/src/content/docs/Users Guide/05.Video Generation/ltx-2.mdx
  docs/src/content/docs/development/Guides/video-recall-api.mdx
  invokeai/app/api/routers/video_recall.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/video/core/graph.test.ts
  invokeai/frontend/webv2/src/features/video/core/graph.ts
  invokeai/frontend/webv2/src/features/video/core/settings.test.ts
  invokeai/frontend/webv2/src/features/video/core/settings.ts
  invokeai/frontend/webv2/src/features/video/core/videoPolicies.test.ts
  invokeai/frontend/webv2/src/features/video/core/videoPolicies.ts
  invokeai/frontend/webv2/src/features/video/index.ts
  invokeai/frontend/webv2/src/features/video/ui/VideoConditioningClipField.tsx
  invokeai/frontend/webv2/src/features/video/ui/VideoWidgetView.tsx
  invokeai/frontend/webv2/src/features/video/ui/videoConditioningClipRole.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/executeVideoRecall.placement.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/executeVideoRecall.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/executeVideoRecall.ts
  invokeai/frontend/webv2/src/workbench/image-actions/videoRecall.ts
  invokeai/frontend/webv2/src/workbench/image-actions/videoRecallRuntime.test.ts
  tests/app/routers/test_video_recall.py
  tests/backend/ltx2/test_ltx2_denoise.py
Due: black, flake8, isort

fix(ui): close a rail marker's menu when the project changes
  invokeai/frontend/webv2/src/workbench/shell/WorkbenchShell.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetBar.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetBarFloatingMarker.browser.test.tsx
Due: none

fix(ui): keep a floating window's stored size when the viewport is below its minimum
  invokeai/frontend/webv2/src/workbench/floatingWindows.test.ts
  invokeai/frontend/webv2/src/workbench/floatingWindows.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.browser.test.tsx
Due: none

fix(recall): restore concepts when recalling images
  docs/src/content/docs/Users Guide/04.Image Generation/generate-panel.mdx
  docs/src/content/docs/development/Architecture/media-metadata.mdx
  invokeai/frontend/webv2/src/features/generation/core/graphBuilder.ts
  invokeai/frontend/webv2/src/features/generation/core/graphCoverage.test.ts
  invokeai/frontend/webv2/src/features/generation/graph.ts
  invokeai/frontend/webv2/src/features/upscale/core/graph.test.ts
  invokeai/frontend/webv2/src/features/upscale/core/graph.ts
  invokeai/frontend/webv2/src/workbench/image-actions/executeImageRecall.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/executeImageRecall.ts
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.ts
Due: none

feat(generate): explain when a model cannot use concepts
  docs/src/content/docs/Users Guide/04.Image Generation/generate-panel.mdx
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/features/generation/core/graphCoverage.test.ts
  invokeai/frontend/webv2/src/features/generation/ui/GenerateConceptsSection.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateConceptsSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateGuidanceSection.tsx
Due: none

test(webv2): cover floating window position on resize
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.browser.test.tsx
Due: none

fix(ui): keep a floating window's stored position on the axis a resize leaves alone
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/src/workbench/floatingWindows.test.ts
  invokeai/frontend/webv2/src/workbench/floatingWindows.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.tsx
Due: none

test(webv2): cover floating widget focus routing
  invokeai/frontend/webv2/src/workbench/shell/WorkbenchShell.focus.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.browser.test.tsx
Due: none

fix(ui): move focus into docked panels from rail tabs and unavailable widgets
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/src/workbench/shell/BottomPanel.tsx
  invokeai/frontend/webv2/src/workbench/shell/Panels.tsx
  invokeai/frontend/webv2/src/workbench/shell/WorkbenchShell.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/FloatingWidgetWindow.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetRenderer.tsx
Due: none

perf(ui): keep the floated-center notice out of the editor's startup bundle
  invokeai/frontend/webv2/src/workbench/shell/CenterArea.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/CenterArea.tsx
  invokeai/frontend/webv2/src/workbench/shell/FloatedCenterView.tsx
  invokeai/frontend/webv2/src/workbench/shell/WorkbenchShell.tsx
Due: none

feat(webv2): add configurable donation links
  docs/src/content/docs/configuration/01.invokeai-yaml.mdx
  docs/src/generated/settings.json
  invokeai/app/api/routers/app_info.py
  invokeai/app/services/config/config_default.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/scripts/mock-backend.mjs
  invokeai/frontend/webv2/scripts/run-accessibility-journeys.mjs
  invokeai/frontend/webv2/src/workbench/launchpad/HelpMenu.tsx
  invokeai/frontend/webv2/src/workbench/shell/DonationMenuItem.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/DonationMenuItem.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/AppMenu.tsx
  tests/app/routers/test_app_info.py
Due: black, flake8, isort

test(ui): cover lazy center recovery gap
  invokeai/frontend/webv2/src/workbench/shell/CenterArea.browser.test.tsx
Due: none

feat(ui): polish scrubber, splash, toasts, badges, and invoke spinner
  invokeai/frontend/webv2/src/platform/ui/ScrubberField.tsx
  invokeai/frontend/webv2/src/platform/ui/toaster.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/toaster.tsx
  invokeai/frontend/webv2/src/workbench/components/WorkbenchSplashScreen.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/LaunchpadTopBar.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/InvokeButton.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/InvokeButton.tsx
Due: none

feat(ui): run neighbouring borders under the Invoke button
  invokeai/frontend/webv2/src/workbench/shell/topbar/IterationsField.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/RoutingControl.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/invokeClusterCss.ts
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
