Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

feat(ui): image map cluster selection mode
  invokeai/frontend/webv2/src/workbench/image-map/clusterSelection.test.ts
  invokeai/frontend/webv2/src/workbench/image-map/clusterSelection.ts
  invokeai/frontend/webv2/src/workbench/image-map/imageMapTraces.ts
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ImageMapHeaderActions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ImageMapPlot.tsx
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ImageMapWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/image-map/implementation.ts
  invokeai/frontend/webv2/src/workbench/widgets/image-map/useSelectMapImage.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/image-map/useSelectMapImage.ts
Due: none

chore(webv2): regenerate performance baselines after replaying onto main
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
Due: none

fix(webv2): select the cluster's board, and use the shared toggle control
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/src/workbench/image-map/imageMapSettings.ts
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ImageMapHeaderActions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ImageMapWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/image-map/useSelectMapImage.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/image-map/useSelectMapImage.ts
Due: none

Fix HiDiffusion ratio handling
  docs/src/content/docs/features/hidiffusion.mdx
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/metadata_linked.py
  invokeai/backend/hidiffusion/hidiffusion.py
  invokeai/backend/stable_diffusion/hidiffusion_utils.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.test.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addSDXLRefiner.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildHiDiffusionGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamHiDiffusionToggle.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/stable_diffusion/test_hidiffusion_utils.py
Due: black, flake8, isort

Fix HiDiffusion automatic ratio label
  invokeai/frontend/web/public/locales/en.json
Due: none

test(web): update params migration version expectations
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
Due: none

fix(packaging): reconcile v7 and upstream accelerator pins
  uv.lock
Due: none

fix(wan): stop a tagged TI2V-5B falling through the gap between both pickers
  invokeai/app/invocations/wan_lora_loader.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.test.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

docs(wan): correct the two remaining node-editor strings about 5B LoRA routing
  invokeai/app/invocations/wan_lora_loader.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix(backend): reconcile upstream services and model support
  invokeai/app/invocations/wan_model_loader.py
  tests/app/invocations/test_wan_model_loader.py
Due: black, flake8, isort

Fix HiDiffusion regional guidance masks
  invokeai/backend/stable_diffusion/diffusion/regional_ip_data.py
  invokeai/backend/stable_diffusion/diffusion/regional_prompt_data.py
  tests/backend/stable_diffusion/test_regional_ip_data.py
  tests/backend/stable_diffusion/test_regional_prompt_data.py
Due: black, flake8, isort

fix(backend): reject duplicate Wan expert phases
  invokeai/app/invocations/wan_model_loader.py
  tests/app/invocations/test_wan_model_loader.py
Due: black, flake8, isort

Support single-file Wan 2.2 checkpoints (#9503)
  invokeai/app/invocations/wan_lora_loader.py
  invokeai/app/invocations/wan_model_loader.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/comfyui_state_dict_utils.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/backend/model_manager/load/model_loaders/wan.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.wan.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/wanComponentSync.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/wanComponentSync.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamWanModelSelects.tsx
  invokeai/frontend/web/src/features/queue/store/readiness.test.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/MainModelPicker.tsx
  invokeai/frontend/web/src/features/ui/layouts/InitialStateMainModelPicker.tsx
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.test.ts
  invokeai/frontend/web/src/services/api/types.ts
  tests/app/invocations/test_wan_lora_loader.py
  tests/app/invocations/test_wan_model_loader.py
  tests/backend/model_manager/configs/test_wan_checkpoint_config.py
  tests/backend/model_manager/configs/test_wan_gguf_config.py
  tests/backend/model_manager/configs/test_wan_lora_config.py
  tests/backend/model_manager/load/test_wan_checkpoint_loader.py
  tests/backend/model_manager/load/test_wan_loader.py
Due: black, flake8, isort

chore(api): regenerate contracts after upstream sync
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

test(web): widen params migration version comparison
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
Due: none

feat: semantic gallery search over the embedding index
  invokeai/app/api/routers/image_map.py
  invokeai/app/services/image_index/image_index_base.py
  invokeai/app/services/image_index/image_index_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/gallery/core/semanticImageQuery.test.ts
  invokeai/frontend/webv2/src/features/gallery/core/semanticImageQuery.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.ts
  invokeai/frontend/webv2/src/features/gallery/data/queryCache.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queryCache.ts
  invokeai/frontend/webv2/src/features/gallery/data/semanticSearch.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardDragMonitor.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardsPanel.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryItemSearch.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryDnd.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryDnd.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.ts
  tests/app/routers/test_image_map.py
  tests/app/services/image_index/test_image_index_service.py
Due: black, flake8, isort

chore(release): bump version to v6.14.0-rc2
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

chore(webv2): regenerate performance baselines after replaying onto feat/image-map-09-cluster-select
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
Due: none

feat(webv2): restore parity after upstream sync
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryUploadAction.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryUploadAction.ts
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.test.ts
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/features/generation/core/canvas/compileCanvasGraph.ts
  invokeai/frontend/webv2/src/features/generation/core/canvas/types.ts
  invokeai/frontend/webv2/src/features/generation/core/componentCompatibility.test.ts
  invokeai/frontend/webv2/src/features/generation/core/componentCompatibility.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.test.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.ts
  invokeai/frontend/webv2/src/features/generation/core/graphBuilder.ts
  invokeai/frontend/webv2/src/features/generation/data/promptUtilities.test.ts
  invokeai/frontend/webv2/src/features/generation/data/promptUtilities.ts
  invokeai/frontend/webv2/src/features/models/core/taxonomy.test.ts
  invokeai/frontend/webv2/src/features/models/core/taxonomy.ts
  invokeai/frontend/webv2/src/features/models/core/types.ts
  invokeai/frontend/webv2/src/features/queue/core/deviceLabels.test.ts
  invokeai/frontend/webv2/src/features/queue/core/deviceLabels.ts
  invokeai/frontend/webv2/src/features/queue/core/types.ts
  invokeai/frontend/webv2/src/features/queue/data/events.ts
  invokeai/frontend/webv2/src/features/queue/data/generationDevicesStore.ts
  invokeai/frontend/webv2/src/features/queue/data/itemProgressStore.ts
  invokeai/frontend/webv2/src/features/queue/data/realtimeRuntime.ts
  invokeai/frontend/webv2/src/features/queue/data/serverTypes.ts
  invokeai/frontend/webv2/src/features/queue/devices.ts
  invokeai/frontend/webv2/src/features/upscale/core/graph.test.ts
  invokeai/frontend/webv2/src/features/upscale/core/graph.ts
  invokeai/frontend/webv2/src/workbench/settings/GenerationDevicesSettings.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/settings/GenerationDevicesSettings.tsx
  invokeai/frontend/webv2/src/workbench/settings/SettingsDialog.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

test(webv2): pin parity orchestration boundaries
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.test.ts
  invokeai/frontend/webv2/src/features/generation/core/componentCompatibility.test.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.test.ts
  invokeai/frontend/webv2/src/features/queue/core/deviceLabels.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
Due: none

test(webv2): align browser coverage with parity contracts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewMediaChrome.browser.test.tsx
Due: none

style(webv2): type partial device mock consistently
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewMediaChrome.browser.test.tsx
Due: none

chore(ui): unexport handleMiniMaxH3Overrides (knip)
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.ts
Due: none

fix: lock the global torch patch, guard query vectors, and bound the URL fetch
  invokeai/app/api/routers/image_map.py
  invokeai/app/services/image_index/image_index_default.py
  invokeai/frontend/webv2/src/features/gallery/data/queries.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.ts
  tests/app/routers/test_image_map.py
  tests/app/services/image_index/test_image_index_service.py
Due: black, flake8, isort

test(webv2): record parity performance baseline
  invokeai/frontend/webv2/performance/architecture-baseline.json
Due: none

style(webv2): format performance baseline
  invokeai/frontend/webv2/performance/architecture-baseline.json
Due: none

fix(webv2): preserve gallery accessibility after upstream sync
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryViewTabs.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryViewTabs.tsx
Due: none

refactor(krea2): extract extension seams from the prompt and denoise nodes
  invokeai/app/invocations/krea2_denoise.py
  invokeai/app/invocations/krea2_text_encoder.py
  invokeai/backend/krea2/text_encoding.py
  tests/app/invocations/test_krea2_extension_hooks.py
  tests/app/invocations/test_krea2_text_encoder.py
Due: black, flake8, isort

fix(ui): scope viewer preview clears to the session that owns them
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentVideoPreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/viewerProgressLifecycle.test.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/viewerProgressLifecycle.ts
Due: none

fix(api): bound the /images/download name list too
  invokeai/app/api/routers/images.py
  invokeai/frontend/web/openapi.json
  tests/app/routers/test_images.py
Due: black, flake8, isort

test(webv2): stop two more browser tests inheriting the previous test's cursor
  invokeai/frontend/webv2/src/features/generation/ui/shared/ConditioningRebalanceBars.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/hints/FeatureHint.browser.test.tsx
Due: none

fix(model cache): track get()->lock() holders through shutdown and abandonment
  invokeai/backend/model_manager/load/load_base.py
  invokeai/backend/model_manager/load/model_cache/cache_record.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

fix(ui): bound the viewer's retained preview and track claimed items
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/viewerProgressLifecycle.test.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/viewerProgressLifecycle.ts
Due: none

test(ui): assert the resolve timeout is disarmed, not just harmless
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/viewerProgressLifecycle.test.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/viewerProgressLifecycle.ts
Due: none

test(webv2): give the tab hover sweep a budget that matches what it does
  invokeai/frontend/webv2/src/platform/ui/Tabs.browser.test.tsx
Due: none

fix(auth): revoke running work for socket-less owners, and stop trusting an unreadable record
  docs/src/content/docs/features/Multi-User Mode/admin-guide.mdx
  invokeai/app/api/sockets.py
  invokeai/app/services/session_processor/session_processor_base.py
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/app/services/users/users_default.py
  invokeai/app/util/user_management.py
  tests/app/services/session_processor/test_privilege_revocation.py
  tests/app/services/users/test_user_service.py
  tests/app/test_socket_privilege_revocation.py
Due: black, flake8, isort

feat: automatic cluster labels for the image map
  invokeai/app/api/routers/image_map.py
  invokeai/app/services/image_index/cluster_labels.py
  invokeai/app/services/image_index/cluster_vocab.txt
  invokeai/app/services/image_index/image_index_base.py
  invokeai/app/services/image_index/image_index_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/webv2/src/workbench/accountOwnedUiStores.test.ts
  invokeai/frontend/webv2/src/workbench/image-map/api.ts
  invokeai/frontend/webv2/src/workbench/image-map/clusterSelection.test.ts
  invokeai/frontend/webv2/src/workbench/image-map/imageMap.test.ts
  invokeai/frontend/webv2/src/workbench/image-map/imageMapSettings.ts
  invokeai/frontend/webv2/src/workbench/image-map/imageMapStore.ts
  invokeai/frontend/webv2/src/workbench/image-map/imageMapTraces.ts
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ImageMapDataRuntime.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ImageMapHeaderActions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ImageMapPlot.tsx
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ImageMapWidgetView.tsx
  pyproject.toml
  tests/app/routers/test_image_map.py
  tests/app/services/image_index/test_cluster_labels.py
Due: black, flake8, isort, uvlock

Add opt-in low-VRAM mode for Wan generation (#9462)
  docs/src/content/docs/configuration/low-vram-mode.mdx
  docs/src/content/docs/features/video-generation.mdx
  docs/src/generated/settings.json
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_latents_to_video.py
  invokeai/app/invocations/wan_video_denoise.py
  invokeai/app/services/config/config_default.py
  invokeai/backend/model_manager/load/load_base.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/util/vae_working_memory.py
  invokeai/backend/wan/memory_optimization.py
  invokeai/backend/wan/vae_decode.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  scripts/calibrate_wan_vae_working_memory.py
  tests/app/invocations/test_wan_denoise.py
  tests/app/invocations/test_wan_expert_swapper.py
  tests/app/invocations/test_wan_working_memory.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
  tests/backend/model_manager/load/test_loaded_model.py
  tests/backend/wan/test_memory_optimization.py
  tests/backend/wan/test_vae_decode.py
  tests/test_calibrate_wan_vae_working_memory.py
  tests/test_config.py
Due: black, flake8, isort

chore(webv2): regenerate performance baselines after replaying onto main
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ImageMapHeaderActions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ImageMapWidgetView.tsx
Due: none

fix(model cache): epoch-guard hold releases and recover stranded holds at shutdown
  invokeai/backend/model_manager/load/load_base.py
  invokeai/backend/model_manager/load/model_cache/cache_record.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort
