Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

fix(gallery): fence preview navigation by account epoch
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewNavigation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/usePreviewNavigation.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
Due: none

fix(workflow): localize form and node-search copy and drop migration wording
  docs/src/content/docs/Users Guide/08.Workflows/01.introduction.mdx
  docs/src/content/docs/Users Guide/08.Workflows/editor-reference.mdx
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/public/locales/fr.json
  invokeai/frontend/webv2/src/features/workflow/core/types.ts
  invokeai/frontend/webv2/src/features/workflow/data/templates.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/AddNodeDialog.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/AddNodeDialog.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/EditorToolbar.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/linear/FormBuilderTab.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/linear/LinearFormView.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/linear/NodeFieldControl.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/linear/WorkflowLinearPanel.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/linear/formElementMeta.ts
Due: none

feat(db): add portable migrations and server database bootstrap
  docs/src/content/docs/development/Guides/database-layer.mdx
  docs/src/content/docs/development/Guides/sqlite-migrations.mdx
  invokeai/app/AGENTS.md
  invokeai/app/services/shared/database/copy.py
  invokeai/app/services/shared/database/database.py
  invokeai/app/services/shared/database/schema/metadata.py
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migration_loader.py
  invokeai/app/services/shared/sqlite_migrator/sqlite_migrator_common.py
  invokeai/app/services/shared/sqlite_migrator/sqlite_migrator_impl.py
  pyproject.toml
  tests/app/services/shared/database/test_copy.py
  tests/app/services/shared/database/test_schema_parity.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_07_30_repair_projects_table.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_08_06_add_project_boards.py
  tests/app/services/shared/sqlite_migrator/server_schema_at_cutover/mariadb.sql
  tests/app/services/shared/sqlite_migrator/server_schema_at_cutover/mysql.sql
  tests/app/services/shared/sqlite_migrator/test_portable_migrations.py
  tests/test_sqlite_migrator.py
  uv.lock
Due: black, flake8, isort, uvlock

refactor(generation): read Generate drafts through immutable snapshots and explicit selectors
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.test.ts
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/features/generation/ui/GenerateAdvancedFields.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateAdvancedFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateComponentsSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateConceptsSection.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateConceptsSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateConditioningRebalanceField.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateDimensionFields.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateDimensionFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateGuidanceSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateModelCard.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateRenderSection.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateRenderSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateSettingsForm.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateSettingsForm.tsx
  invokeai/frontend/webv2/src/features/generation/ui/generateDebounce.test.ts
  invokeai/frontend/webv2/src/features/generation/ui/generateDebounce.ts
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/GeneratePromptFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/reference-images/GenerateReferenceImagesSection.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.ts
  invokeai/frontend/webv2/src/workbench/image-actions/recallParameters.ts
Due: none

chore(db): allow 50 µs per call in the database benchmark
  scripts/benchmark_database.py
Due: black, flake8, isort

Fix mask building on multiple adapters
  invokeai/backend/stable_diffusion/extensions/ip_adapter.py
Due: black, flake8, isort

fix(gallery): keep keyboard focus with the selection across virtualized rows
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryGridFocus.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryProgressSection.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryThumbnail.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryGridHotkeys.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryGridSelection.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/catalog.test.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/catalog.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/resolve.test.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/resolve.ts
  invokeai/frontend/webv2/src/workbench/image-actions/useDeletionConfirmation.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/palette/entries.ts
Due: none

Fix tenors dimensions flattening, ruff
  invokeai/backend/stable_diffusion/extensions/ip_adapter.py
Due: black, flake8, isort

fix(gallery): expose numbered page count retry
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
Due: none

fix(ui): reveal the selected model in the picker and place the gallery load-more error at the list end
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryLoadFailures.browser.test.tsx
  invokeai/frontend/webv2/src/features/models/ui/add-models/BundleChips.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/DefaultSettingsSection.tsx
  invokeai/frontend/webv2/src/platform/ui/Picker.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/Picker.tsx
Due: none

test: cover modular IP-Adapter regressions
  tests/backend/stable_diffusion/test_ip_adapter_extension.py
Due: black, flake8, isort

Fix arguments for hidiffusion hook
  invokeai/backend/stable_diffusion/diffusion_backend.py
Due: black, flake8, isort

chore(CI/CD): keep dependency and release files maintainer-owned
  .github/CODEOWNERS
Due: none

fix(video): read the panel when a frame or clip drop commits, not when it began
  invokeai/frontend/webv2/src/app/VideoUiAdapter.browser.test.tsx
  invokeai/frontend/webv2/src/app/VideoUiAdapter.tsx
  invokeai/frontend/webv2/src/features/video/core/settings.test.ts
  invokeai/frontend/webv2/src/features/video/core/settings.ts
  invokeai/frontend/webv2/src/features/video/index.ts
  invokeai/frontend/webv2/src/features/video/ui/VideoConditioningClipField.tsx
  invokeai/frontend/webv2/src/features/video/ui/VideoUiContext.tsx
  invokeai/frontend/webv2/src/features/video/ui/VideoWidgetView.tsx
  invokeai/frontend/webv2/src/features/video/ui/referenceConditioningDefault.browser.test.tsx
  invokeai/frontend/webv2/src/features/video/ui/videoConditioningClipRole.browser.test.tsx
Due: none

[SD] Modular backend - add ip adapter (#9678)
  invokeai/app/invocations/sd/denoise_latents.py
  invokeai/backend/stable_diffusion/denoise_context.py
  invokeai/backend/stable_diffusion/diffusion/custom_atttention.py
  invokeai/backend/stable_diffusion/diffusion/regional_ip_data.py
  invokeai/backend/stable_diffusion/diffusion/shared_invokeai_diffusion.py
  invokeai/backend/stable_diffusion/diffusion/unet_attention_patcher.py
  invokeai/backend/stable_diffusion/extensions/ip_adapter.py
  tests/backend/stable_diffusion/test_ip_adapter_extension.py
Due: black, flake8, isort

test: cover positional UNet hook arguments
  tests/backend/stable_diffusion/test_diffusion_backend.py
Due: black, flake8, isort

fix(model-manager): recover completed file copies
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

fix(external): make Atlas Cloud models reachable and sized correctly
  invokeai/app/services/external_generation/external_generation_default.py
  invokeai/app/services/external_generation/providers/atlascloud.py
  invokeai/backend/model_manager/starter_models/external.py
  invokeai/frontend/webv1/src/features/modelManagerV2/subpanels/AddModelPanel/ExternalProviders/ExternalProvidersForm.tsx
  invokeai/frontend/webv1/src/features/nodes/util/graph/generation/buildExternalGraph.ts
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/features/models/ui/credentials/ExternalProviderKeyCards.tsx
  tests/app/services/external_generation/test_atlascloud_provider.py
  tests/app/services/external_generation/test_external_generation_service.py
Due: black, flake8, isort

fix(krea2): give the GGUF loader and denoise one dtype policy
  invokeai/app/invocations/krea2/krea2_denoise.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/util/devices.py
  tests/app/invocations/test_krea2_denoise.py
  tests/backend/model_manager/load/test_krea2_loader_boundaries.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

Fix arguments for hidiffusion hook (#9679)
  invokeai/backend/stable_diffusion/diffusion_backend.py
  tests/backend/stable_diffusion/test_diffusion_backend.py
Due: black, flake8, isort

fix(model-manager): harden recovery and cache invalidation
  docs/src/content/docs/development/Architecture/model-manager.mdx
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/model_install/model_install_common.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/app/services/orphaned_models/orphaned_models_service.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/ip_adapter.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  tests/app/routers/test_model_manager.py
  tests/app/routers/test_update_model_record_cache_invalidation.py
  tests/app/services/model_install/test_model_install.py
  tests/app/services/model_records/test_model_records_sql.py
  tests/app/services/model_relationship_records/test_model_relationship_records_sqlite.py
  tests/app/services/orphaned_models/test_orphaned_models_scratch_dir.py
  tests/backend/model_manager/configs/test_ip_adapter_config.py
Due: black, flake8, isort

fix(gallery): ship the toggle-focused-item command without a default key
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryGridFocus.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryGridHotkeys.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/catalog.test.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/catalog.ts
Due: none

fix(external): accept declared ratios in any terms and keep snapped sizes in bounds
  invokeai/app/services/external_generation/external_generation_default.py
  tests/app/services/external_generation/test_external_generation_service.py
Due: black, flake8, isort

perf(queue): index the session queue listing and keep batch lookups on the batch index
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_10_04_add_session_queue_listing_index.py
  tests/app/services/session_queue/test_session_queue_list_queue_items.py
  tests/app/services/session_queue/test_session_queue_query_plans.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_10_04_add_session_queue_listing_index.py
Due: black, flake8, isort

feat(ui): share one list and detail layout across the model, node and font managers
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/fonts/ui/FontsPage.browser.test.tsx
  invokeai/frontend/webv2/src/features/fonts/ui/FontsPage.tsx
  invokeai/frontend/webv2/src/features/models/ui/ModelManagerDrafts.browser.test.tsx
  invokeai/frontend/webv2/src/features/models/ui/ModelManagerView.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/ModelDetail.tsx
  invokeai/frontend/webv2/src/features/models/ui/manager/DetailPane.tsx
  invokeai/frontend/webv2/src/features/models/ui/manager/LibraryColumn.tsx
  invokeai/frontend/webv2/src/features/models/ui/uiStore.test.ts
  invokeai/frontend/webv2/src/features/models/ui/uiStore.ts
  invokeai/frontend/webv2/src/features/nodes/ui/NodeManagerView.browser.test.tsx
  invokeai/frontend/webv2/src/features/nodes/ui/NodeManagerView.tsx
  invokeai/frontend/webv2/src/features/nodes/ui/detail/NodePackDetail.tsx
  invokeai/frontend/webv2/src/features/nodes/ui/manager/DetailPane.tsx
  invokeai/frontend/webv2/src/features/nodes/ui/manager/LibraryColumn.tsx
  invokeai/frontend/webv2/src/features/nodes/ui/nodesUiStore.ts
  invokeai/frontend/webv2/src/platform/ui/ManagerLayout.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/ManagerLayout.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/HelpMenu.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/Launchpad.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/Launchpad.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/LaunchpadNav.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/OpenProjectsControl.tsx
  invokeai/frontend/webv2/src/workbench/settings/PreferencesPage.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/settings/PreferencesPage.tsx
  invokeai/frontend/webv2/src/workbench/settings/settingsSearchShortcut.ts
Due: none

perf(workflow): open large graphs zoomed out and give each workflow its own flow store
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEditorView.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEditorView.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEditorView.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFilmstrip.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFilmstrip.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
Due: none

feat(minimax-h3): allow audio-only Ref2VA reference sets
  docs/src/content/docs/Users Guide/05.Video Generation/minimax-h3.mdx
  invokeai/app/invocations/minimax_h3/minimax_h3_reference.py
  invokeai/app/services/workflow_records/default_workflows/Reference to Video - MiniMax H3.json
  invokeai/backend/minimax_h3/packing.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  invokeai/frontend/webv2/src/features/video/core/videoPolicies.test.ts
  invokeai/frontend/webv2/src/features/video/core/videoPolicies.ts
  tests/app/invocations/test_minimax_h3_reference_nodes.py
  tests/backend/minimax_h3/test_ref2va_packing.py
Due: black, flake8, isort

docs(minimax-h3): name diffusers as the source of the audio-only rule
  invokeai/backend/minimax_h3/packing.py
Due: black, flake8, isort

refactor(projects): port projects onto board and media-reference queries
  docs/src/content/docs/development/Guides/database-layer.mdx
  invokeai/app/AGENTS.md
  invokeai/app/api/dependencies.py
  invokeai/app/services/project_records/project_records_default.py
  invokeai/app/services/project_records/project_records_sqlite.py
  invokeai/app/services/shared/database/queries/__init__.py
  invokeai/app/services/shared/database/queries/base.py
  invokeai/app/services/shared/database/queries/boards.py
  invokeai/app/services/shared/database/queries/projects.py
  scripts/benchmark_database.py
  tests/app/routers/test_image_map.py
  tests/app/routers/test_image_moves.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_projects.py
  tests/app/routers/test_session_queue_workflow_call.py
  tests/app/routers/test_workflows_multiuser.py
  tests/app/services/project_records/test_project_records.py
  tests/app/services/shared/database/test_locks.py
  tests/app/test_database_access_guard.py
  tests/conftest.py
Due: black, flake8, isort

refactor(workflows): port the workflow library
  .github/workflows/python-tests.yml
  docs/src/content/docs/development/Guides/database-layer.mdx
  invokeai/app/AGENTS.md
  invokeai/app/api/dependencies.py
  invokeai/app/api/routers/workflows.py
  invokeai/app/services/shared/database/dialect.py
  invokeai/app/services/shared/database/queries/__init__.py
  invokeai/app/services/shared/database/queries/workflows.py
  invokeai/app/services/workflow_records/workflow_records_default.py
  invokeai/app/services/workflow_records/workflow_records_sqlite.py
  invokeai/app/services/workflow_thumbnails/workflow_thumbnails_base.py
  invokeai/app/services/workflow_thumbnails/workflow_thumbnails_disk.py
  scripts/benchmark_database.py
  tests/app/routers/test_image_moves.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_privilege_revocation.py
  tests/app/routers/test_session_queue_workflow_call.py
  tests/app/routers/test_workflows_multiuser.py
  tests/app/services/project_records/test_project_records.py
  tests/app/services/workflow_records/conftest.py
  tests/app/services/workflow_records/test_workflow_last_run_at.py
  tests/app/services/workflow_records/test_workflow_library_queries.py
  tests/app/services/workflow_records/test_workflow_media_references.py
  tests/app/services/workflow_records/test_workflow_races.py
  tests/app/services/workflow_records/test_workflow_revisions.py
  tests/app/services/workflow_thumbnails/test_workflow_thumbnails_disk.py
  tests/app/test_database_access_guard.py
  tests/conftest.py
  tests/fixtures/races.py
Due: black, flake8, isort

fix(workflow): localize remaining editor text and show shortcut hints in the node menu
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/app/WorkflowCommandShortcut.browser.test.tsx
  invokeai/frontend/webv2/src/app/WorkflowCommandShortcut.tsx
  invokeai/frontend/webv2/src/app/WorkflowUiAdapter.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateModelCard.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateSettingsForm.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/core/document.ts
  invokeai/frontend/webv2/src/features/workflow/ui/WorkflowUiContext.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/CurrentImageFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/NodeContextMenu.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/NodeContextMenu.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/NotesFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEdge.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEdge.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEditorView.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEditorView.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEditorView.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/flowAdapters.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/flowAdapters.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowHotkeys.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowHotkeys.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/catalog.test.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/catalog.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/keyGlyphs.tsx
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteRows.tsx
Due: none

perf(queue): read only the recent window of queue item ids and count statuses in one pass
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.test.mjs
  invokeai/frontend/webv2/scripts/mock-backend.mjs
  invokeai/frontend/webv2/src/app/GenerationUiAdapter.browser.test.tsx
  invokeai/frontend/webv2/src/features/queue/core/types.ts
  invokeai/frontend/webv2/src/features/queue/data/httpRealtimeQueueBackend.ts
  invokeai/frontend/webv2/src/features/queue/data/queries.test.ts
  invokeai/frontend/webv2/src/features/queue/data/queries.ts
  invokeai/frontend/webv2/src/features/queue/data/queueServer.testing.ts
  invokeai/frontend/webv2/src/features/queue/data/serverApi.test.ts
  invokeai/frontend/webv2/src/features/queue/data/serverApi.ts
  tests/app/routers/test_session_queue_item_id_limits.py
  tests/app/services/session_queue/test_session_queue_list_queue_items.py
  tests/app/services/session_queue/test_session_queue_query_plans.py
  tests/app/services/session_queue/test_session_queue_status_user_scoping.py
Due: black, flake8, isort

feat(gallery): open Preview on double-click and make canvas destinations explicit
  docs/src/content/docs/Users Guide/06.Gallery/gallery-reference.mdx
  docs/src/content/docs/Users Guide/06.Gallery/introduction.mdx
  docs/src/content/docs/Users Guide/07.Canvas/01.introduction.mdx
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryGridFocus.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryThumbnail.tsx
  invokeai/frontend/webv2/src/workbench/canvas-operations/importGalleryImages.test.ts
  invokeai/frontend/webv2/src/workbench/focusRegions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/focusRegions.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/widgetPlacementCommands.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

feat(canvas): shapes edit the selected mask and accepting a result stops its batch
  docs/src/content/docs/Users Guide/07.Canvas/02.canvas-guide.mdx
  docs/src/content/docs/troubleshooting/known-bugs.mdx
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/queue/runtime.test.ts
  invokeai/frontend/webv2/src/features/queue/runtime.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/ARCHITECTURE.md
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/stagedResultController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/stagedResultController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/selectionRepair.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/selectionRepair.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.mask.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/paintConstants.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/paintTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/shapeTool.browser.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/shapeTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/shapeTool.ts
  invokeai/frontend/webv2/src/workbench/canvasProjectMutations.ts
  invokeai/frontend/webv2/src/workbench/canvasStagingView.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/StagingBar.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/StagingBar.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/StagingItemContextMenu.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/StagingItemContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/stagedAcceptance.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/stagedAcceptance.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/ShapeOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerThumbnail.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerThumbnail.tsx
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

refactor(library): port style presets, system prompts and wildcards
  .github/workflows/python-tests.yml
  invokeai/app/api/dependencies.py
  invokeai/app/services/shared/database/queries/__init__.py
  invokeai/app/services/shared/database/queries/style_presets.py
  invokeai/app/services/shared/database/queries/system_prompts.py
  invokeai/app/services/shared/database/queries/wildcards.py
  invokeai/app/services/style_preset_records/style_preset_records_common.py
  invokeai/app/services/style_preset_records/style_preset_records_default.py
  invokeai/app/services/style_preset_records/style_preset_records_sqlite.py
  invokeai/app/services/system_prompt_records/system_prompt_records_default.py
  invokeai/app/services/system_prompt_records/system_prompt_records_sqlite.py
  invokeai/app/services/wildcard_records/wildcard_records_common.py
  invokeai/app/services/wildcard_records/wildcard_records_default.py
  invokeai/app/services/wildcard_records/wildcard_records_sqlite.py
  scripts/benchmark_database.py
  tests/app/routers/conftest.py
  tests/app/routers/test_image_moves.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_privilege_revocation.py
  tests/app/routers/test_session_queue_workflow_call.py
  tests/app/routers/test_style_presets.py
  tests/app/routers/test_system_prompts_multiuser.py
  tests/app/routers/test_system_prompts_single_user.py
  tests/app/routers/test_workflows_multiuser.py
  tests/app/services/test_style_preset_records.py
  tests/app/services/test_system_prompt_records.py
  tests/app/services/test_wildcard_records.py
  tests/app/test_database_access_guard.py
  tests/conftest.py
Due: black, flake8, isort

feat(workbench): keep each layout preset's unsaved arrangement and add delete and scan shortcuts
  docs/src/content/docs/Users Guide/01.Workbench/01.introduction.mdx
  docs/src/content/docs/Users Guide/03.Models/01.introduction.mdx
  docs/src/content/docs/Users Guide/06.Gallery/introduction.mdx
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/generation/ui/useDynamicPrompts.ts
  invokeai/frontend/webv2/src/features/models/ui/add-models/AddModelsView.browser.test.tsx
  invokeai/frontend/webv2/src/features/models/ui/add-models/AddModelsView.tsx
  invokeai/frontend/webv2/src/features/models/ui/add-models/ModelsFolderScan.tsx
  invokeai/frontend/webv2/src/platform/react/useDebouncedValue.ts
  invokeai/frontend/webv2/src/platform/ui/ConfirmDialog.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/ConfirmDialog.tsx
  invokeai/frontend/webv2/src/platform/ui/Tooltip.tsx
  invokeai/frontend/webv2/src/platform/ui/TooltipGroup.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/WorkbenchContext.tsx
  invokeai/frontend/webv2/src/workbench/floatingWidgets.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/useDeletionConfirmation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useDeletionConfirmation.tsx
  invokeai/frontend/webv2/src/workbench/layoutContracts.ts
  invokeai/frontend/webv2/src/workbench/layoutPresetSnapshots.ts
  invokeai/frontend/webv2/src/workbench/layoutPresetWorkingCopies.test.ts
  invokeai/frontend/webv2/src/workbench/projectContracts.ts
  invokeai/frontend/webv2/src/workbench/projects/README.md
  invokeai/frontend/webv2/src/workbench/projects/projectDocument.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/LayoutPresetStrip.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/LayoutPresetStrip.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/useLayoutDrift.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

fix(workbench): keep an edit made just before a reload or tab close
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/scripts/run-project-file-journey.mjs
  invokeai/frontend/webv2/src/workbench/WorkbenchContext.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/persistenceRuntime.test.ts
  invokeai/frontend/webv2/src/workbench/persistenceRuntime.ts
  invokeai/frontend/webv2/src/workbench/projects/README.md
  invokeai/frontend/webv2/src/workbench/projects/accountOwnedWorkbenchDatabase.ts
  invokeai/frontend/webv2/src/workbench/projects/draftStore.contract.ts
  invokeai/frontend/webv2/src/workbench/projects/draftStore.test.ts
  invokeai/frontend/webv2/src/workbench/projects/draftStore.ts
  invokeai/frontend/webv2/src/workbench/projects/durableSyncedPersistence.test.ts
  invokeai/frontend/webv2/src/workbench/projects/durableSyncedPersistence.ts
  invokeai/frontend/webv2/src/workbench/projects/indexedDbDraftStore.browser.test.ts
  invokeai/frontend/webv2/src/workbench/projects/indexedDbDraftStore.ts
  invokeai/frontend/webv2/src/workbench/projects/session.ts
  invokeai/frontend/webv2/src/workbench/projects/syncedPersistence.ts
  invokeai/frontend/webv2/src/workbench/projects/unloadJournal.browser.test.ts
  invokeai/frontend/webv2/src/workbench/projects/unloadJournal.scenarios.browser.test.ts
  invokeai/frontend/webv2/src/workbench/projects/unloadJournal.scenarios.test.ts
  invokeai/frontend/webv2/src/workbench/projects/unloadJournal.scenarios.ts
  invokeai/frontend/webv2/src/workbench/projects/workbenchDatabase.ts
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
