Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

feat(canvas): add transparency lock for gradients and shapes Add bbox clipping for canvas shapes and update the corresponding docs.
  docs/src/content/docs/features/Canvas/shapes-tool.mdx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityObjectRenderer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/CanvasObjectOval.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/CanvasObjectRect.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/needsPixelBbox.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/needsPixelBbox.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasShapeToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/shapeCompositeOperation.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/shapeCompositeOperation.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/transparencyLocking.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/transparencyLocking.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

feat(lora): support PEFT named-adapter LoRAs (e.g. Klein 9B)
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/model_on_disk.py
  invokeai/backend/patches/lora_conversions/flux_diffusers_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/peft_adapter_utils.py
  tests/backend/patches/lora_conversions/test_peft_adapter_utils.py
Due: black, flake8, isort

docs: remove duplicate model settings export/import section
  docs/src/content/docs/concepts/models.mdx
Due: none

feat(model-manager): add Qwen Image single-file checkpoint loader with fp8 support
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  tests/backend/model_manager/configs/test_qwen_image_checkpoint_variant_detection.py
Due: black, flake8, isort

fix(z-image): split pos_ids by own length in regional forward
  invokeai/backend/z_image/z_image_transformer_patch.py
Due: black, flake8, isort

feat(flux2): add regional prompting for FLUX.2 Klein
  invokeai/app/invocations/flux2_denoise.py
  invokeai/backend/flux2/denoise.py
  invokeai/backend/flux2/extensions/__init__.py
  invokeai/backend/flux2/extensions/regional_prompting_extension.py
  invokeai/backend/flux2/text_conditioning.py
  invokeai/frontend/web/src/features/controlLayers/store/validators.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

@ chore(deps): replace compel fork with official compel 2.4.0
  pyproject.toml
  uv.lock
Due: uvlock

feat(video): add frame preview to Frame from Video node
  invokeai/app/invocations/video_frame_extract.py
Due: black, flake8, isort

feat(video): derive Frame Range fps from source video by default
  invokeai/app/invocations/video_frame_extract_range.py
Due: black, flake8, isort

fix(video): use fps=0 sentinel for source-derived Frame Range rate
  invokeai/app/invocations/video_frame_extract_range.py
Due: black, flake8, isort

feat(wan): add Wan 2.2 TI2V Ideal Dimensions node
  invokeai/app/invocations/wan_ideal_dimensions.py
  tests/app/invocations/test_wan_ti2v_ideal_dimensions.py
Due: black, flake8, isort

docs(wan): add A14B/5B model hints to ideal-dimensions node titles
  invokeai/app/invocations/wan_ideal_dimensions.py
Due: black, flake8, isort

feat(workflows): replace bundled Wan 2.2 video workflows with curated set
  invokeai/app/services/workflow_records/default_workflows/Extend Video - Wan 2.2 Lightning w_ Concept LoRAs.json
  invokeai/app/services/workflow_records/default_workflows/Extend Video - Wan 2.2 Lightning.json
  invokeai/app/services/workflow_records/default_workflows/Image to Video - Wan 2.2 Lightning w_ Concept LoRAs.json
  invokeai/app/services/workflow_records/default_workflows/Image to Video - Wan 2.2 Lightning.json
  invokeai/app/services/workflow_records/default_workflows/Image to Video - Wan 2.2 TI2V-5B (Low Quality).json
  invokeai/app/services/workflow_records/default_workflows/Text to Video - Wan 2.2 Lightning w_ Concept LoRAs.json
  invokeai/app/services/workflow_records/default_workflows/Text to Video - Wan 2.2 Lightning.json
  invokeai/app/services/workflow_records/default_workflows/Text to Video - Wan 2.2 TI2V-5B (Low Quality).json
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Image to Video Lightning.json
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Image to Video.json
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Text to Video (Lightning).json
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Text to Video Lightning.json
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Text to Video.json
Due: none

docs(video): add beginner Video Workflows guide for the 8 starter workflows
  docs/src/content/docs/features/video-generation.mdx
  docs/src/content/docs/features/video-workflows.mdx
Due: none

docs(video): fix Concept LoRA slot guidance (slots are required)
  docs/src/content/docs/features/video-workflows.mdx
Due: none

chore: refresh uv.lock
  uv.lock
Due: none

docs(video): drop '(experimental)' from Video Generation title
  docs/src/content/docs/features/video-generation.mdx
Due: none

feat(wan): add first-last-frame interpolation (FLF2V) to I2V-A14B
  invokeai/app/invocations/wan_ref_image_encoder.py
  invokeai/backend/wan/extensions/wan_ref_image_extension.py
  tests/backend/wan/test_wan_ref_image_extension.py
Due: black, flake8, isort

feat(workflows): add 'Interpolate 2 Images to Video' starter + FLF2V docs
  docs/src/content/docs/features/video-generation.mdx
  docs/src/content/docs/features/video-workflows.mdx
  invokeai/app/services/workflow_records/default_workflows/Interpolate 2 Images to Video - Wan 2.2 Lightning.json
Due: none

feat(workflows): add Text/Image/Video to Video library filters + fix video tags
  invokeai/app/services/workflow_records/default_workflows/Extend Video - Wan 2.2 Lightning w_ Concept LoRAs.json
  invokeai/app/services/workflow_records/default_workflows/Extend Video - Wan 2.2 Lightning.json
  invokeai/app/services/workflow_records/default_workflows/Image to Video - Wan 2.2 Lightning w_ Concept LoRAs.json
  invokeai/app/services/workflow_records/default_workflows/Image to Video - Wan 2.2 Lightning.json
  invokeai/app/services/workflow_records/default_workflows/Image to Video - Wan 2.2 TI2V-5B (Low Quality).json
  invokeai/app/services/workflow_records/default_workflows/Interpolate 2 Images to Video - Wan 2.2 Lightning.json
  invokeai/frontend/web/src/features/nodes/store/workflowLibrarySlice.ts
Due: none

feat(nodes): filter LoRA collection loaders by base model
  invokeai/app/invocations/anima_lora_loader.py
  invokeai/app/invocations/flux2_klein_lora_loader.py
  invokeai/app/invocations/flux_lora_loader.py
  invokeai/app/invocations/model.py
  invokeai/app/invocations/qwen_image_lora_loader.py
  invokeai/app/invocations/z_image_lora_loader.py
Due: black, flake8, isort

feat(nodes): inline-editable LoRA collection field
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/LoRAFieldCollectionInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/types/field.test.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
Due: none

security: validate custom node pack names
  invokeai/app/api/routers/custom_nodes.py
  tests/app/routers/test_custom_nodes.py
Due: black, flake8, isort

security: enforce multifile download path boundary
  invokeai/app/services/download/download_default.py
  tests/app/services/download/test_download_queue.py
Due: black, flake8, isort

feat(workflows): add 'Extend Video to Image' FLF2V starter + docs
  docs/src/content/docs/features/video-workflows.mdx
  invokeai/app/services/workflow_records/default_workflows/Extend Video to Image - Wan 2.2 Lightning.json
Due: none

test(nodes): fix LoRAField test types for tsc --noEmit
  configs/controlnet/cldm_v15.yaml
  configs/controlnet/cldm_v21.yaml
  configs/stable-diffusion/sd_xl_base.yaml
  configs/stable-diffusion/sd_xl_inpaint.yaml
  configs/stable-diffusion/sd_xl_refiner.yaml
  configs/stable-diffusion/v1-finetune.yaml
  configs/stable-diffusion/v1-finetune_style.yaml
  configs/stable-diffusion/v1-inference-v.yaml
  configs/stable-diffusion/v1-inference.yaml
  configs/stable-diffusion/v1-inpainting-inference.yaml
  configs/stable-diffusion/v1-m1-finetune.yaml
  configs/stable-diffusion/v2-inference-v.yaml
  configs/stable-diffusion/v2-inference.yaml
  configs/stable-diffusion/v2-inpainting-inference-v.yaml
  configs/stable-diffusion/v2-inpainting-inference.yaml
  configs/stable-diffusion/v2-midas-inference.yaml
  databases/invokeai.db
  databases/invokeai.db-shm
  databases/invokeai.db-wal
  databases/invokeai_backup_20260531-095007.db
  invokeai.example.yaml
  invokeai.yaml
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/nodes/types/field.test.ts
  models/README.txt
  nodes/README.md
Due: none

fix(nodes): validate FLUX/FLUX.2 collection LoRAs against their own base
  invokeai/app/invocations/flux2_klein_lora_loader.py
  invokeai/app/invocations/flux_lora_loader.py
  invokeai/frontend/web/openapi.json
Due: black, flake8, isort

docs(video): reorganize Video Workflows guide sections
  docs/src/content/docs/features/video-workflows.mdx
Due: none

fix(ui): require metadata handler success for some mode (#9197)
  invokeai/frontend/web/src/features/metadata/parsing.test.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

chore(frontend): regenerate openapi and typegen
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore(backend): ruff
  tests/backend/wan/test_wan_ref_image_extension.py
Due: black, flake8, isort

chore: remove files inadvertently added to repo
  configs/controlnet/cldm_v15.yaml
  configs/controlnet/cldm_v21.yaml
  configs/stable-diffusion/sd_xl_base.yaml
  configs/stable-diffusion/sd_xl_inpaint.yaml
  configs/stable-diffusion/sd_xl_refiner.yaml
  configs/stable-diffusion/v1-finetune.yaml
  configs/stable-diffusion/v1-finetune_style.yaml
  configs/stable-diffusion/v1-inference-v.yaml
  configs/stable-diffusion/v1-inference.yaml
  configs/stable-diffusion/v1-inpainting-inference.yaml
  configs/stable-diffusion/v1-m1-finetune.yaml
  configs/stable-diffusion/v2-inference-v.yaml
  configs/stable-diffusion/v2-inference.yaml
  configs/stable-diffusion/v2-inpainting-inference-v.yaml
  configs/stable-diffusion/v2-inpainting-inference.yaml
  configs/stable-diffusion/v2-midas-inference.yaml
  invokeai.yaml
  models/README.txt
Due: none

chore: remove files inadvertently added to repo
  nodes/README.md
Due: none

fix(future): make the WAN LoRA loader compatible with LoRA picker node PR #9259
  invokeai/app/invocations/wan_lora_loader.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

chore(github): update actions from deprecated node-20 versions (#9149)
  .github/actions/install-frontend-deps/action.yml
  .github/workflows/build-container.yml
  .github/workflows/build-wheel.yml
  .github/workflows/clean-caches.yml
  .github/workflows/close-inactive-issues.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/frontend-checks.yml
  .github/workflows/frontend-tests.yml
  .github/workflows/label-pr.yml
  .github/workflows/lfs-checks.yml
  .github/workflows/python-checks.yml
  .github/workflows/python-tests.yml
  .github/workflows/release.yml
  .github/workflows/typegen-checks.yml
  .github/workflows/uv-lock-checks.yml
Due: none

ci: set UV_SYSTEM_PYTHON for typegen and openapi checks
  .github/workflows/openapi-checks.yml
  .github/workflows/typegen-checks.yml
Due: none

fix(ci/cd): fix typegen test failure introduced by PR 9209
  .github/workflows/openapi-checks.yml
  .github/workflows/typegen-checks.yml
Due: none

fix(ci/cd): fix typegen test failure introduced by PR 9209 (#9260)
  .github/workflows/openapi-checks.yml
  .github/workflows/typegen-checks.yml
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
