Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

feat(multi-gpu): mark the remaining text encoders as idle-GPU offloadable
  invokeai/app/invocations/ernie_image_text_encoder.py
  invokeai/app/invocations/ideogram4_text_encoder.py
  invokeai/app/invocations/krea2_text_encoder.py
  invokeai/app/invocations/wan_text_encoder.py
Due: black, flake8, isort

fix(model-loaders): stop materializing scaled-fp8 checkpoints in float32
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  tests/backend/model_manager/load/test_krea2_state_dict_utils.py
Due: black, flake8, isort

perf(nodes): compute the mask fade only on the fade band
  invokeai/app/invocations/image.py
  tests/app/invocations/test_expand_mask_with_fade.py
Due: black, flake8, isort

feat(deepseek): add JSON response-format option
  invokeai/app/invocations/deepseek.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Bump HiDiffusion node versions and refresh schema
  LICENSE-HiDiffusion.txt
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/metadata_linked.py
  invokeai/frontend/web/openapi.json
Due: black, flake8, isort

fix(api): run gallery and search routes off the event loop
  invokeai/app/api/auth_dependencies.py
  invokeai/app/api/routers/gallery.py
  invokeai/app/api/routers/images.py
  invokeai/app/api/routers/videos.py
  invokeai/app/api/routers/virtual_boards.py
  tests/app/routers/test_event_loop_blocking.py
Due: black, flake8, isort

fix(mm): close restore shutdown races
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

feat(webv2): redesign the segment control as a flat strip
  invokeai/frontend/webv2/src/features/generation/ui/reference-images/ReferenceImageControls.tsx
  invokeai/frontend/webv2/src/platform/ui/theme/recipes.ts
  invokeai/frontend/webv2/src/platform/ui/theme/system.ts
Due: none

fix(webv2): stop button text scaling below the lg size
  invokeai/frontend/webv2/src/platform/ui/theme/recipes.ts
  invokeai/frontend/webv2/src/platform/ui/theme/system.ts
Due: none

fix(webv2): stop tab text scaling below the lg size
  invokeai/frontend/webv2/src/features/models/ui/manager/DetailPane.tsx
  invokeai/frontend/webv2/src/features/nodes/ui/add-nodes/AddNodesView.tsx
  invokeai/frontend/webv2/src/features/nodes/ui/manager/DetailPane.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDialog.tsx
  invokeai/frontend/webv2/src/platform/ui/theme/recipes.ts
Due: none

feat(webv2): open the workflow library from the header label
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/workflow/ui/WorkflowWidgetChrome.tsx
Due: none

refactor(webv2): make the workflow panel mode a real tablist
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/workflow/ui/linear/WorkflowLinearPanel.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/linear/WorkflowLinearPanel.tsx
Due: none

fix(mm): close remaining restore ownership races
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

Feat(canvas): Add temporary bbox move with C key hold (#9104)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Text/CanvasTextOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolBboxButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/hooks.ts
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbar.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasSelectBboxToolHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityBufferObjectRenderer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBboxToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasLassoToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasShapeToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasTextToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/toolHotkeys.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/toolHotkeys.ts
  invokeai/frontend/web/src/features/gallery/hooks/useEditImage.ts
  invokeai/frontend/web/src/features/ui/layouts/DockviewCanvasHeaderActions.tsx
Due: none

fix(mm): retain ownership through marker cleanup
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

fix(download): finalize completed range resumes
  invokeai/app/services/download/download_default.py
  tests/app/services/download/test_download_queue.py
Due: black, flake8, isort

perf(gallery): add a flat item-names endpoint and deprecate the legacy ones
  docs/src/content/docs/contributing/blocking-work-in-api-routes.md
  invokeai/app/api/routers/gallery.py
  invokeai/app/api/routers/images.py
  invokeai/app/api/routers/videos.py
  invokeai/app/api/routers/virtual_boards.py
  invokeai/app/services/gallery/gallery_base.py
  invokeai/app/services/gallery/gallery_common.py
  invokeai/app/services/gallery/gallery_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/appStarted.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/boardIdSelected.ts
  invokeai/frontend/web/src/features/gallery/components/GalleryImageGrid.tsx
  invokeai/frontend/web/src/features/gallery/components/use-gallery-image-names.test.ts
  invokeai/frontend/web/src/features/gallery/components/use-gallery-image-names.ts
  invokeai/frontend/web/src/features/gallery/store/gallerySelectors.ts
  invokeai/frontend/web/src/features/gallery/store/selectCachedGalleryItemNames.ts
  invokeai/frontend/web/src/features/gallery/store/virtualBoardGalleryConsumers.test.ts
  invokeai/frontend/web/src/services/api/endpoints/gallery.ts
  invokeai/frontend/web/src/services/api/endpoints/virtual_boards.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
  tests/app/routers/conftest.py
  tests/app/routers/test_gallery_item_names.py
Due: black, flake8, isort

test(multi-gpu): guard the idle-GPU offload contract for the new encoders
  docs/src/content/docs/development/Guides/creating-nodes.mdx
  invokeai/app/invocations/baseinvocation.py
  invokeai/backend/util/device_pool.py
  tests/app/invocations/test_idle_offload_encoder_output_devices.py
  tests/app/services/session_processor/test_encoder_offload.py
Due: black, flake8, isort

perf(api): stop gzipping responses that are already compressed
  invokeai/app/api_app.py
  tests/app/api/test_gzip_content_types.py
Due: black, flake8, isort

feat(queue): add lightweight item summaries endpoint
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_event_loop_blocking.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_session_queue_sanitization.py
  tests/app/services/session_queue/test_session_queue_status_user_scoping.py
Due: black, flake8, isort

build: unpin FastAPI and move to 0.141.1
  invokeai/frontend/web/scripts/typegen.js
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
  tests/app/routers/test_model_manager_authorization.py
  uv.lock
Due: black, flake8, isort, uvlock

Seed HiDiffusion window attention deterministically
  invokeai/app/invocations/denoise_latents.py
  invokeai/backend/stable_diffusion/extensions/hidiffusion.py
  invokeai/backend/stable_diffusion/hidiffusion_utils.py
  tests/backend/stable_diffusion/test_hidiffusion_utils.py
Due: black, flake8, isort

perf(api): run every synchronous route handler off the event loop
  invokeai/app/api/routers/app_info.py
  invokeai/app/api/routers/auth.py
  invokeai/app/api/routers/board_images.py
  invokeai/app/api/routers/boards.py
  invokeai/app/api/routers/client_state.py
  invokeai/app/api/routers/custom_nodes.py
  invokeai/app/api/routers/download_queue.py
  invokeai/app/api/routers/image_moves.py
  invokeai/app/api/routers/images.py
  invokeai/app/api/routers/model_manager.py
  invokeai/app/api/routers/model_relationships.py
  invokeai/app/api/routers/recall_parameters.py
  invokeai/app/api/routers/session_queue.py
  invokeai/app/api/routers/style_presets.py
  invokeai/app/api/routers/system_prompts.py
  invokeai/app/api/routers/utilities.py
  invokeai/app/api/routers/videos.py
  invokeai/app/api/routers/virtual_boards.py
  invokeai/app/api/routers/workflows.py
  tests/app/routers/test_custom_nodes.py
  tests/app/routers/test_no_blocking_async_routes.py
  tests/app/routers/test_videos_multiuser.py
Due: black, flake8, isort

docs(canvas): document generation bounding box behavior
  docs/src/content/docs/features/Canvas/bounding-box.mdx
Due: none

Docs Changes
  docs/src/content/docs/contributing/blocking-work-in-api-routes.md
Due: none

docs(canvas): document generation bounding box behavior (#9435)
  docs/src/content/docs/features/Canvas/bounding-box.mdx
Due: none

fix(backend): ignore ComfyUI model_sampling keys when loading Anima checkpoints (#9404)
  invokeai/backend/model_manager/load/model_loaders/anima.py
  tests/backend/model_manager/load/test_anima_state_dict_utils.py
Due: black, flake8, isort

fix(api): log socket disconnects at the same level as connects
  invokeai/app/api/sockets.py
  tests/app/test_workflow_socketio.py
Due: black, flake8, isort

fix(ui): stop range-based fetching hooks from spinning in a render loop
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.ts
  invokeai/frontend/web/src/features/queue/hooks/useRangeBasedQueueItemFetching.ts
Due: none

i18n(zh-CN): complete zh-CN translation (3034/3034 keys, 100% coverage)
  invokeai/frontend/web/public/locales/zh-CN.json
Due: none

fix(mm): serialize concurrent source imports
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

fix(mm): bound model restore barrier waits
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

fix(mm): prefer live jobs and lock prune_jobs
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

fix(mm): close startup restore barrier race
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

test(mm): harden install concurrency coverage
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

Chore openapi
  invokeai/frontend/web/openapi.json
Due: none

feat(api): make gzip compression level configurable
  docs/src/content/docs/configuration/invokeai-yaml.mdx
  docs/src/generated/settings.json
  invokeai/app/api_app.py
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/api/test_gzip_content_types.py
Due: black, flake8, isort

fix(zh-CN): keep FP8 Storage untranslated (English text)
  invokeai/frontend/web/public/locales/zh-CN.json
Due: none

fix: stale HiDiffusion state in cached UNet
  invokeai/backend/hidiffusion/hidiffusion.py
  tests/backend/stable_diffusion/test_hidiffusion_utils.py
Due: black, flake8, isort
