Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

translationBot(ui): update translation (Russian) (#8830)
  invokeai/frontend/web/public/locales/ru.json
Due: none

chore(release): bump version to 6.11.1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

Add DyPE area option
  invokeai/app/invocations/flux_denoise.py
  invokeai/backend/flux/dype/__init__.py
  invokeai/backend/flux/dype/presets.py
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamFluxDypePreset.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Added tests and fixed frontend build
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  tests/backend/flux/dype/test_dype.py
Due: black, flake8, isort

Made more pythonic
  invokeai/backend/flux/dype/presets.py
Due: black, flake8, isort

Add dype area option (#8844)
  invokeai/app/invocations/flux_denoise.py
  invokeai/backend/flux/dype/__init__.py
  invokeai/backend/flux/dype/presets.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamFluxDypePreset.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/flux/dype/test_dype.py
Due: black, flake8, isort

fix(flux2): Fix high-resolution quality degradation for FLUX.2 Klein
  invokeai/app/invocations/flux2_denoise.py
  invokeai/app/invocations/flux2_vae_decode.py
  invokeai/backend/flux2/sampling_utils.py
Due: black, flake8, isort

Chore Ruff
  invokeai/app/invocations/flux2_vae_decode.py
Due: black, flake8, isort

WIP: Add FLUX.2 Klein LoRA support (BFL PEFT format)
  invokeai/app/invocations/flux2_klein_lora_loader.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/patches/lora_conversions/flux_bfl_peft_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/formats.py
Due: black, flake8, isort

Update presets.py
  invokeai/backend/flux/dype/presets.py
Due: black, flake8, isort

Fix DyPE high-resolution noise by simplifying NTK scaling
  invokeai/backend/flux/dype/base.py
  invokeai/backend/flux/dype/embed.py
  invokeai/backend/flux/dype/rope.py
  tests/backend/flux/dype/test_dype.py
Due: black, flake8, isort

Chore Ruff
  invokeai/backend/flux/dype/base.py
  invokeai/backend/flux/dype/embed.py
  tests/backend/flux/dype/test_dype.py
Due: black, flake8, isort

fix(flux2): Fix FLUX.2 Klein image generation quality (#8838)
  invokeai/app/invocations/flux2_denoise.py
  invokeai/app/invocations/flux2_vae_decode.py
  invokeai/backend/flux2/sampling_utils.py
Due: black, flake8, isort

Update docs/features/orphaned_model_removal.md
  docs/features/orphaned_model_removal.md
Due: none

Update presets.py (#8846)
  invokeai/backend/flux/dype/presets.py
Due: black, flake8, isort

chore(CI/CD): bump version to 6.11.1.post1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

Fix DyPE noise and left-bias with proper YaRN 3-band blending
  invokeai/backend/flux/dype/base.py
  invokeai/backend/flux/dype/embed.py
  invokeai/backend/flux/dype/rope.py
  tests/backend/flux/dype/test_dype.py
Due: black, flake8, isort

chore(CI/CD): bump version to 6.11.1.post1 (#8852)
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

feat(model_manager): Add scan and delete of orphaned models (#8826)
  docs/features/orphaned_model_removal.md
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/orphaned_models/__init__.py
  invokeai/app/services/orphaned_models/orphaned_models_service.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManager.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/SyncModelsButton.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/SyncModelsDialog.tsx
  invokeai/frontend/web/src/services/api/endpoints/models.ts
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/api/schema.ts
  scripts/remove_orphaned_models.py
Due: black, flake8, isort

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

ui: translations update from weblate (#8856)
  invokeai/frontend/web/public/locales/it.json
Due: none

Update to Transformers 5.1.0
  .gitignore
  invokeai.example.yaml
  invokeai.yaml
  invokeai/app/api/routers/model_manager.py
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/app/invocations/sd3_text_encoder.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/backend/image_util/safety_checker.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_util.py
  invokeai/backend/model_manager/metadata/fetch/huggingface.py
  invokeai/backend/model_manager/metadata/metadata_base.py
  invokeai/backend/quantization/scripts/quantize_t5_xxl_bnb_llm_int8.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  nodes/README.md
  plan.md
  pyproject.toml
Due: black, flake8, isort, uvlock

remove extra stuff
  .gitignore
  invokeai.example.yaml
  invokeai.yaml
  nodes/README.md
  plan.md
Due: none

fix(prompt): add more punctuations, fixes attention hotkeys removing them from prompt.
  invokeai/frontend/web/src/common/util/promptAST.ts
Due: none

Refine messaging and pause behavior
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/download/download_base.py
  invokeai/app/services/download/download_default.py
  invokeai/app/services/events/events_base.py
  invokeai/app/services/events/events_common.py
  invokeai/app/services/model_install/model_install_base.py
  invokeai/app/services/model_install/model_install_common.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ModelInstallQueue/ModelInstallQueueBadge.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ModelInstallQueue/ModelInstallQueueItem.tsx
  invokeai/frontend/web/src/services/api/endpoints/models.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix(flux2): resolve device mismatch in Klein text encoder
  invokeai/app/invocations/flux2_klein_text_encoder.py
Due: black, flake8, isort

Add more settings to invokeai.yaml for improved queue management.
  invokeai/app/services/config/config_default.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
Due: black, flake8, isort

Adjusted description
  invokeai/app/services/config/config_default.py
Due: black, flake8, isort

More logic tweaking
  invokeai/app/services/config/config_default.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
Due: black, flake8, isort

chore(api): update generated schema types
  invokeai/app/services/config/config_default.py
Due: black, flake8, isort

chore(api): update generated schema types
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Set mask at 128 alpha treshhold like in example
  invokeai/backend/image_util/infill_methods/patchmatch.py
Due: black, flake8, isort

Switch to patchmatch-cython
  invokeai/backend/image_util/infill_methods/patchmatch.py
  pyproject.toml
  uv.lock
Due: black, flake8, isort, uvlock

increase patch size to 5 and set seed to 0
  invokeai/backend/image_util/infill_methods/patchmatch.py
Due: black, flake8, isort

don't built patchmatch in docker
  docker/Dockerfile
  docker/Dockerfile-rocm-full
Due: none

fix(prompt): improve numeric weighting calculation
  invokeai/frontend/web/src/common/util/promptAttention.test.ts
  invokeai/frontend/web/src/common/util/promptAttention.ts
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
