Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

Added the incomplete-after-recovery path.
  docs/src/content/docs/features/image-storage-maintenance.mdx
  invokeai/app/api/routers/image_moves.py
  invokeai/app/services/image_moves/image_moves_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsImageStorageMaintenance.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_image_moves.py
  tests/app/services/image_moves/test_image_moves_default.py
Due: black, flake8, isort

docs: cover Canvas, Workflow, Gallery, and Model Manager features (#9196)
  docs/src/content/docs/concepts/models.mdx
  docs/src/content/docs/configuration/fp8-storage.mdx
  docs/src/content/docs/features/Canvas/canvas-projects.mdx
  docs/src/content/docs/features/Canvas/layers-and-drops.mdx
  docs/src/content/docs/features/Canvas/run-workflow.mdx
  docs/src/content/docs/features/Workflows/adding-nodes.mdx
  docs/src/content/docs/features/Workflows/custom-node-manager.mdx
  docs/src/content/docs/features/Workflows/editor-interface.mdx
  docs/src/content/docs/features/gallery.mdx
Due: none

Improve image collection chaining
  invokeai/app/invocations/primitives.py
  invokeai/frontend/web/src/features/nodes/components/flow/panels/TopPanel/UpdateNodesButton.tsx
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.test.ts
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_image.py
Due: black, flake8, isort

chore: openapi.json
  invokeai/frontend/web/openapi.json
Due: none

Fix workflow execution state reconciliation
  invokeai/frontend/web/src/services/events/invocationTracking.test.ts
  invokeai/frontend/web/src/services/events/invocationTracking.ts
  invokeai/frontend/web/src/services/events/nodeExecutionState.test.ts
  invokeai/frontend/web/src/services/events/nodeExecutionState.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/workflowExecutionState.test.ts
  invokeai/frontend/web/src/services/events/workflowExecutionState.ts
Due: none

Cleaned up stale code and reworded docs
  docs/src/content/docs/features/image-storage-maintenance.mdx
  invokeai/app/services/image_moves/image_moves_default.py
Due: black, flake8, isort

fix(scripts): force generate_openapi_schema.py to resolve invokeai from the repo root
  scripts/generate_openapi_schema.py
Due: black, flake8, isort

feat(video): add Frame Range from Video invocation with scrubbable preview
  invokeai/app/invocations/video_frame_extract_range.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/ExtractVideoRangePreview.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNode.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(video): emit resolved frame indices and move preview to per-field renderer
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/video_frame_extract_range.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/ExtractVideoRangePreview.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNode.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/IntegerField/VideoFrameIndexFieldInput.tsx
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(deps): exclude linux_aarch64 from PyTorch WHL-index sources
  pyproject.toml
  uv.lock
Due: uvlock

chore: ruff
  invokeai/app/invocations/video_frame_extract_range.py
Due: black, flake8, isort

fix(ui): clarify auto-assign board label
  invokeai/frontend/web/public/locales/en.json
Due: none

chore: image_util.assets is a package
  invokeai/app/invocations/composition-nodes.py
  invokeai/backend/image_util/assets/__init__.py
  invokeai/backend/image_util/composition.py
Due: black, flake8, isort

test: give bitsandbytes a pass on mac
  tests/test_imports.py
Due: black, flake8, isort

chore: use importlib.resources to load font
  invokeai/app/invocations/facetools.py
  invokeai/assets/fonts/__init__.py
  invokeai/assets/fonts/inter/Inter-Regular.ttf
  invokeai/assets/fonts/inter/LICENSE.txt
  invokeai/assets/fonts/inter/__init__.py
Due: black, flake8, isort

chore: ensure all python directories are Regular Packages
  invokeai/app/api/__init__.py
  invokeai/app/api/routers/__init__.py
  invokeai/app/services/board_records/__init__.py
  invokeai/app/services/client_state_persistence/__init__.py
  invokeai/app/services/model_images/__init__.py
  invokeai/app/services/model_relationship_records/__init__.py
  invokeai/app/services/model_relationships/__init__.py
  invokeai/app/services/object_serializer/__init__.py
  invokeai/app/services/style_preset_images/__init__.py
  invokeai/app/services/workflow_records/default_workflows/__init__.py
  invokeai/app/services/workflow_thumbnails/__init__.py
  invokeai/backend/flux/__init__.py
  invokeai/backend/flux/modules/__init__.py
  invokeai/backend/flux/redux/__init__.py
  invokeai/backend/image_util/depth_anything/__init__.py
  invokeai/backend/image_util/imwatermark/__init__.py
  invokeai/backend/image_util/infill_methods/__init__.py
  invokeai/backend/image_util/pbr_maps/__init__.py
  invokeai/backend/image_util/pbr_maps/architecture/__init__.py
  invokeai/backend/image_util/pbr_maps/utils/__init__.py
  invokeai/backend/model_hash/__init__.py
  invokeai/backend/model_manager/load/model_cache/cached_model/__init__.py
  invokeai/backend/model_manager/util/__init__.py
  invokeai/backend/onnx/__init__.py
  invokeai/backend/quantization/gguf/__init__.py
  invokeai/backend/quantization/scripts/__init__.py
  invokeai/backend/sig_lip/__init__.py
  invokeai/backend/stable_diffusion/extensions/__init__.py
  invokeai/configs/__init__.py
Due: black, flake8, isort

chore: tell setuptools to not find implicit namespace packages
  pyproject.toml
Due: uvlock

test(test_imports): report cause of import failure
  tests/test_imports.py
Due: black, flake8, isort

chore: app.assets.images is a package for safety checker resources
  invokeai/app/assets/__init__.py
  invokeai/app/assets/images/__init__.py
  invokeai/backend/image_util/safety_checker.py
Due: black, flake8, isort

ci: use uv.lock when running tests
  .github/workflows/python-tests.yml
Due: none

Fix python tests on CUDA
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_invoke_linear_nf4.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_custom_invoke_linear_8_bit_lt.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_custom_invoke_linear_nf4.py
Due: black, flake8, isort

Updated more CUDA tests
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_all_custom_modules.py
Due: black, flake8, isort

chore(api): refresh openapi schema for user fonts
  invokeai/frontend/web/openapi.json
Due: none

chore(api): refresh hidiffusion openapi schema
  invokeai/frontend/web/openapi.json
Due: none

Fix HiDiffusion cleanup and metadata recall
  invokeai/app/invocations/metadata_linked.py
  invokeai/backend/stable_diffusion/hidiffusion_utils.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildHiDiffusionGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  tests/app/invocations/test_denoise_noise_inputs.py
  tests/backend/stable_diffusion/test_hidiffusion_utils.py
Due: black, flake8, isort

chore: fix lint import ordering
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildHiDiffusionGraph.test.ts
  tests/backend/stable_diffusion/test_hidiffusion_utils.py
Due: black, flake8, isort

Fix progress preview gallery selection
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ToggleMetadataViewerButton.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
Due: none

add latents preview estimation to anima
  invokeai/app/invocations/anima_denoise.py
Due: black, flake8, isort

chore: ruff
  invokeai/app/invocations/anima_denoise.py
Due: black, flake8, isort

update schema
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

pyproject.toml version bumps
  pyproject.toml
Due: uvlock

fix: mediapipe solutions API deprecated
  invokeai/app/invocations/facetools.py
  invokeai/backend/image_util/mediapipe_face/face_landmarker.task
  invokeai/backend/image_util/mediapipe_face/mediapipe_face_common.py
  pyproject.toml
Due: black, flake8, isort, uvlock

fix(i18n): replace "(s)" parenthetical plurals flagged by Weblate (#9179)
  invokeai/frontend/web/public/locales/en.json
Due: none

Harden/router auth and bugfixes (#9200)
  invokeai/app/api/routers/_access.py
  invokeai/app/api/routers/download_queue.py
  invokeai/app/api/routers/images.py
  invokeai/app/api/routers/model_relationships.py
  invokeai/app/api/routers/style_presets.py
  invokeai/app/api/routers/utilities.py
  invokeai/app/services/style_preset_records/style_preset_records_base.py
  invokeai/app/services/style_preset_records/style_preset_records_common.py
  invokeai/app/services/style_preset_records/style_preset_records_sqlite.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/conftest.py
  tests/app/routers/test_download_queue_router.py
  tests/app/routers/test_model_relationships.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_style_presets.py
  tests/app/routers/test_utilities.py
  tests/app/routers/test_virtual_boards.py
Due: black, flake8, isort

fix(ui): auto-add newly created boards (#9193)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/AddBoardButton.test.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/AddBoardButton.tsx
Due: none

fix(ui): match Z-Image variant when defaulting Qwen3 source
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
Due: none

test(ui): cover Z-Image variant-matching Qwen3 source defaults
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.test.ts
Due: none

fix(video): address PR #9163 review follow-ups
  invokeai/app/api/routers/boards.py
  invokeai/app/api/routers/videos.py
  invokeai/app/services/videos/videos_default.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/Boards/DeleteBoardModal.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_videos_multiuser.py
  tests/app/services/videos/__init__.py
  tests/app/services/videos/test_videos_default.py
Due: black, flake8, isort

docs(external): correct mode tables and add Edit Mode plan
  docs/src/content/docs/features/External Models/alibabacloud.mdx
  docs/src/content/docs/features/External Models/gemini.mdx
  docs/src/content/docs/features/External Models/index.mdx
  docs/src/content/docs/features/External Models/openai.mdx
Due: none
