Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

fix(webv2): honor authoritative gallery outcomes
  .superpowers/sdd/mixed-media-gallery-parity/task-5-report.md
  invokeai/frontend/webv2/src/features/gallery/contracts.ts
  invokeai/frontend/webv2/src/features/gallery/core/types.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/index.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.ts
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

feat(webv2): generalize gallery grid and dnd
  .superpowers/sdd/mixed-media-gallery-parity/task-6-report.md
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/scripts/run-accessibility-journeys.mjs
  invokeai/frontend/webv2/src/app/GalleryImageActionsBridge.tsx
  invokeai/frontend/webv2/src/features/gallery/react.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardSelect.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardSelect.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryDnd.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryDnd.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.ts
  invokeai/frontend/webv2/src/features/gallery/utility.ts
  invokeai/frontend/webv2/src/features/generation/ui/reference-images/GenerateReferenceImagesSection.tsx
  invokeai/frontend/webv2/src/features/upscale/ui/UpscaleWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgetDnd.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasImageDnd.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasImageDropLayout.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/RegionalGuidanceSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewCompareDropZone.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewCompareDropZone.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFilmstrip.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrameDrag.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/previewCompareDnd.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/previewCompareDnd.ts
Due: none

fix(webv2): preserve mixed gallery drag identity
  .superpowers/sdd/mixed-media-gallery-parity/task-6-report.md
  invokeai/frontend/webv2/src/app/GalleryImageActionsBridge.browser.test.tsx
  invokeai/frontend/webv2/src/app/GalleryImageActionsBridge.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardSelect.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryDnd.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryDnd.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryImageDroppable.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/utility.ts
  invokeai/frontend/webv2/src/features/generation/ui/reference-images/GenerateReferenceImagesSection.tsx
  invokeai/frontend/webv2/src/features/upscale/ui/UpscaleWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/RegionalGuidanceSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewCompareDropZone.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFilmstrip.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
Due: none

ci: assert uv.lock keeps torch installable on linux/aarch64
  .github/workflows/uv-lock-checks.yml
  scripts/check_aarch64_lock.py
Due: black, flake8, isort

feat(krea2): support multiple conditionings
  docs/src/content/docs/features/krea-2.mdx
  invokeai/app/invocations/krea2_denoise.py
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_krea2_denoise.py
Due: black, flake8, isort

chore: openapi
  invokeai/frontend/web/openapi.json
Due: none

fix(krea2): refine multiple conditioning handling
  docs/src/content/docs/features/krea-2.mdx
  invokeai/app/invocations/krea2_denoise.py
  tests/app/invocations/test_krea2_denoise.py
Due: black, flake8, isort

Krea 2: Support multiple conditionings (#9406)
  docs/src/content/docs/features/krea-2.mdx
  invokeai/app/invocations/krea2_denoise.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_krea2_denoise.py
Due: black, flake8, isort

feat(webv2): add mixed gallery organization transport
  .superpowers/sdd/mixed-media-gallery-parity/task-7a-report.md
  invokeai/frontend/webv2/src/features/gallery/core/items.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/data/organization.test.ts
  invokeai/frontend/webv2/src/features/gallery/index.ts
Due: none

fix(webv2): harden mixed gallery organization transport
  .superpowers/sdd/mixed-media-gallery-parity/task-7a-report.md
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/data/organization.test.ts
Due: none

feat(webv2): add mixed-media gallery actions
  .superpowers/sdd/mixed-media-gallery-parity/task-7b-report.md
  invokeai/frontend/webv2/src/app/GalleryImageActionsBridge.browser.test.tsx
  invokeai/frontend/webv2/src/app/GalleryImageActionsBridge.tsx
  invokeai/frontend/webv2/src/app/GalleryUiAdapter.tsx
  invokeai/frontend/webv2/src/features/gallery/react.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardMenu.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardMenu.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardSelect.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.ts
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
Due: none

fix(ernie-image): exclude prompt enhancer from fp8, tighten turbo detection
  invokeai/app/invocations/ernie_image_text_encoder.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/ernie_image.py
  tests/backend/model_manager/load/test_load_default_fp8.py
  tests/backend/model_manager/test_ernie_image_default_settings.py
Due: black, flake8, isort

fix(webv2): complete mixed gallery action behavior
  .superpowers/sdd/mixed-media-gallery-parity/task-7b-report.md
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
Due: none

fix(ernie-image): honor denoising window, noise init latents, harden PE gate
  README.md
  invokeai/app/invocations/ernie_image_denoise.py
  invokeai/app/invocations/ernie_image_model_loader.py
  invokeai/backend/ernie_image/denoise.py
  invokeai/backend/ernie_image/sampling_utils.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildErnieImageGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildErnieImageGraph.ts
  tests/app/invocations/test_ernie_image_denoise.py
  tests/app/invocations/test_ernie_image_model_loader.py
  tests/backend/ernie_image/test_ernie_denoise.py
Due: black, flake8, isort

Readme.me update with ERNIE-Image-Turbo
  README.md
Due: none

feat(preview): add mixed media video viewer
  .superpowers/sdd/mixed-media-gallery-parity/task-8-report.md
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/identity/index.ts
  invokeai/frontend/webv2/src/features/identity/session.test.ts
  invokeai/frontend/webv2/src/features/identity/session.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewActionStrip.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFilmstrip.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFooter.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrameDrag.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrameVideo.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewHeaderActions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewMediaChrome.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewNavigation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetChrome.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/previewHeaderStore.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/previewNavigation.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/previewNavigation.ts
Due: none

fix(preview): address mixed media review findings
  invokeai/frontend/webv2/src/features/gallery/contracts.ts
  invokeai/frontend/webv2/src/features/gallery/core/items.ts
  invokeai/frontend/webv2/src/features/gallery/index.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.ts
  invokeai/frontend/webv2/src/features/identity/session.test.ts
  invokeai/frontend/webv2/src/features/identity/session.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFilmstrip.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFooter.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewMediaChrome.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewNavigation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
Due: none

docs(preview): record mixed media review follow-up
  .superpowers/sdd/mixed-media-gallery-parity/task-8-report.md
Due: none

feat(preview): add video frame copy and details
  .superpowers/sdd/mixed-media-gallery-parity/task-9-report.md
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewActionStrip.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewDetails.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFooter.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrameVideo.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewHeaderActions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewMediaChrome.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewMetadataPanel.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/previewHeaderStore.ts
Due: none

fix(preview): keep recall details current
  .superpowers/sdd/mixed-media-gallery-parity/task-9-report.md
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewDetails.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrameVideo.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewMetadataPanel.tsx
Due: none

feat(gallery): complete mixed media boards and uploads
  .superpowers/sdd/mixed-media-gallery-parity/task-10-report.md
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/gallery/data/backend.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardMenu.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardMenu.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardSelect.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardSelect.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryToolbar.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.ts
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
Due: none

test(gallery): add mixed media mock coverage
  .superpowers/sdd/mixed-media-gallery-parity/task-11-report.md
  invokeai/frontend/webv2/scripts/mock-assets/fixture-video.mp4
  invokeai/frontend/webv2/scripts/mock-assets/fixture-video.webp
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.mjs
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.test.mjs
  invokeai/frontend/webv2/scripts/mock-backend.mjs
  invokeai/frontend/webv2/scripts/run-accessibility-journeys.mjs
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFooter.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewMediaChrome.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewMetadataPanel.tsx
Due: none

fix(ernie-image): seed the stochastic scheduler, blend at the shifted sigma
  invokeai/app/invocations/ernie_image_denoise.py
  invokeai/backend/ernie_image/denoise.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildErnieImageGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildErnieImageGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_ernie_image_denoise.py
  tests/backend/ernie_image/test_ernie_denoise.py
Due: black, flake8, isort

fix(canvas): clear layer accessibility blockers
  .superpowers/sdd/mixed-media-gallery-parity/task-11a-report.md
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerListItem.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerListItem.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerThumbnail.tsx
Due: none

feat(system-prompts): add Krea 2 expansion prompt, fix node/backfill visibility
  invokeai/app/invocations/text_llm.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_07_10_create_system_prompts.py
  invokeai/app/services/system_prompt_records/system_prompt_records_common.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_text_llm_with_preset.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_07_10_create_system_prompts.py
Due: black, flake8, isort

fix(ui): bump params persist schema to v5 to resolve the dual-v4 collision
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

chore(webv2): record mixed gallery performance baselines
  .superpowers/sdd/mixed-media-gallery-parity/task-12-report.md
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/vite.config.mts
Due: none

fix(webv2): finalize mixed gallery review fixes
  .superpowers/sdd/mixed-media-gallery-parity/final-review-fix-report.md
  invokeai/frontend/webv2/src/features/gallery/contracts.ts
  invokeai/frontend/webv2/src/features/gallery/core/selection.test.ts
  invokeai/frontend/webv2/src/features/gallery/core/selection.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

chore(deps): remove dependency on Jupyter Notebook
  pyproject.toml
  uv.lock
Due: uvlock

feat(model-manager): identify UNet-only SDXL LoRAs (e.g. slider LoRAs) (#9383)
  invokeai/backend/model_manager/configs/lora.py
  tests/backend/model_manager/configs/test_sdxl_slider_lora_identification.py
Due: black, flake8, isort

docs: point the ROCm torch-2.12 caveat at an open tracking issue
  docs/src/content/docs/start-here/manual.mdx
  pyproject.toml
Due: uvlock

chore: update uv version to 0.11.28
  .github/workflows/deploy-docs.yml
  .github/workflows/openapi-checks.yml
  .github/workflows/python-checks.yml
  .github/workflows/python-tests.yml
  .github/workflows/uv-lock-checks.yml
  docker/Dockerfile
Due: none

Fix HiDiffusion modular denoise and docs formatting
  docs/src/content/docs/features/hidiffusion.mdx
  invokeai/backend/hidiffusion/hidiffusion.py
  tests/backend/stable_diffusion/test_hidiffusion_utils.py
Due: black, flake8, isort

Address findings
  docs/src/content/docs/features/krea-2.mdx
  invokeai/app/invocations/krea2_denoise.py
  invokeai/backend/krea2/regional_prompting.py
  tests/app/invocations/test_krea2_denoise.py
  tests/backend/krea2/test_regional_prompting.py
Due: black, flake8, isort

feat(krea2): add regional prompting
  docs/src/content/docs/features/krea-2.mdx
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/krea2_conditioning_rebalance.py
  invokeai/app/invocations/krea2_denoise.py
  invokeai/app/invocations/krea2_seed_variance.py
  invokeai/app/invocations/krea2_text_encoder.py
  invokeai/app/invocations/primitives.py
  invokeai/backend/krea2/attention.py
  invokeai/backend/krea2/regional_prompting.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/controlLayers/store/validators.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/validators.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_krea2_denoise.py
  tests/app/invocations/test_krea2_enhancers.py
  tests/app/invocations/test_krea2_text_encoder.py
  tests/backend/krea2/test_attention.py
  tests/backend/krea2/test_regional_prompting.py
Due: black, flake8, isort

fix(krea2): harden regional prompting
  docs/src/content/docs/features/krea-2.mdx
  invokeai/app/invocations/krea2_denoise.py
  invokeai/backend/krea2/regional_prompting.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.ts
  tests/app/invocations/test_krea2_denoise.py
  tests/backend/krea2/test_attention.py
  tests/backend/krea2/test_regional_prompting.py
Due: black, flake8, isort

chore: stop tracking agent planning artifacts
  .gitignore
  .superpowers/sdd/mixed-media-gallery-parity/final-review-fix-report.md
  .superpowers/sdd/mixed-media-gallery-parity/task-10-report.md
  .superpowers/sdd/mixed-media-gallery-parity/task-11-report.md
  .superpowers/sdd/mixed-media-gallery-parity/task-11a-report.md
  .superpowers/sdd/mixed-media-gallery-parity/task-12-report.md
  .superpowers/sdd/mixed-media-gallery-parity/task-4-report.md
  .superpowers/sdd/mixed-media-gallery-parity/task-5-report.md
  .superpowers/sdd/mixed-media-gallery-parity/task-6-report.md
  .superpowers/sdd/mixed-media-gallery-parity/task-7a-report.md
  .superpowers/sdd/mixed-media-gallery-parity/task-7b-report.md
  .superpowers/sdd/mixed-media-gallery-parity/task-8-report.md
  .superpowers/sdd/mixed-media-gallery-parity/task-9-report.md
Due: none

fix(queue): account for upstream's video outputs and device field
  invokeai/app/api/routers/session_queue.py
  tests/app/routers/test_session_queue_sanitization.py
Due: black, flake8, isort
