Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

Fix memory issues when installing models on Windows (#8652)
  invokeai/backend/model_manager/model_on_disk.py
  invokeai/backend/quantization/gguf/loaders.py
Due: black, flake8, isort

Feat: SDXL Color Compensation (#8637)
  invokeai/app/invocations/image_to_latents.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/parameters/components/VAEModel/ParamColorCompensation.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(ui): improve hotkey customization UX with interactive controls and validation (#8649)
  docs/contributing/HOTKEYS.md
  docs/features/hotkeys.md
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeyEditor.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeyListItem.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeysModal.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
  invokeai/frontend/web/src/features/system/store/hotkeysSlice.test.ts
  invokeai/frontend/web/src/features/system/store/hotkeysSlice.ts
  invokeai/frontend/web/src/features/system/store/hotkeysTypes.ts
Due: none

feat(ui): Color Picker V2 (#8585)
  invokeai/frontend/web/src/common/components/ColorPicker/RgbaColorPicker.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/PinnedFillColorPickerOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolFillColorPicker.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
  invokeai/frontend/web/src/features/ui/layouts/CanvasWorkspacePanel.tsx
Due: none

refactor(ui): simplify canvas workflow integration field rendering
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/CanvasWorkflowIntegrationParameterPanel.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/CanvasWorkflowIntegrationWorkflowSelector.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/WorkflowFieldRenderer.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/WorkflowFormPreview.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/useCanvasWorkflowIntegrationExecute.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasWorkflowIntegrationSlice.ts
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: none

chore: localize extraction errors
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

chore: rename extract masked area menu item
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/ExtractMaskedArea.tsx
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItems.tsx
Due: none

chore: rename inpaint mask extract component
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

fix: use mask bounds for extraction region
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

feat(ui): enhance model manager bulk selection with select-all and actions menu
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListHeader.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListItem.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListNavigation.tsx
Due: none

fix the wrong path seperater from my windows system
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

feat(ui): add canvas-workflow-integration logging namespace
  invokeai/frontend/web/src/app/logging/logger.ts
Due: none

feat(ui): add workflow filtering for canvas-workflow integration
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/CanvasWorkflowIntegrationModal.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/CanvasWorkflowIntegrationWorkflowSelector.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/WorkflowFormPreview.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/useCanvasWorkflowIntegrationExecute.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/useFilteredWorkflows.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/workflowHasImageField.tsx
Due: none

feat(ui): add persistence and migration for canvas workflow integration state
  invokeai/frontend/web/src/features/controlLayers/store/canvasWorkflowIntegrationSlice.ts
Due: none

pnpm fix imports
  invokeai/frontend/web/src/features/controlLayers/store/canvasWorkflowIntegrationSlice.ts
Due: none

Prettier format applied to InpaintMaskMenuItemsExtractMaskedArea.tsx
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

Fix base64 image import bug in extracted area in InpaintMaskMenuItemsExtractMaskedArea.tsx and removed unused locales entries in en.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

Fix formatting issue in InpaintMaskMenuItemsExtractMaskedArea.tsx
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

Minnor comment fix
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

Initial commit
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/DataViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataGraphTabContent.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataWorkflowTabContent.tsx
Due: none

feat(prompts): add hotkey controlled prompt attention adjust
  invokeai/frontend/web/src/common/util/promptAttention.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamNegativePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
Due: none

fix(hotkeys): :adhesive_bandage: add translations for hotkey dialog
  invokeai/frontend/web/public/locales/en.json
Due: none

Minor comment fix
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

feat: Add Z-Image-Turbo model support
  invokeai/app/api/dependencies.py
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/metadata.py
  invokeai/app/invocations/model.py
  invokeai/app/invocations/primitives.py
  invokeai/app/invocations/z_image_denoise.py
  invokeai/app/invocations/z_image_image_to_latents.py
  invokeai/app/invocations/z_image_latents_to_image.py
  invokeai/app/invocations/z_image_model_loader.py
  invokeai/app/invocations/z_image_text_encoder.py
  invokeai/app/util/step_callback.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/stable_diffusion/diffusion/conditioning_data.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addImageToImage.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addTextToImage.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildZImageGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/features/nodes/util/graph/types.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamCFGScale.tsx
  invokeai/frontend/web/src/features/parameters/components/ModelPicker.tsx
  invokeai/frontend/web/src/features/parameters/types/constants.ts
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
  invokeai/frontend/web/src/features/parameters/util/optimalDimension.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueCanvas.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueGenerate.ts
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
Due: black, flake8, isort, uvlock

fix windows path again.
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

feat: Add Z-Image LoRA support
  invokeai/app/invocations/model.py
  invokeai/app/invocations/z_image_denoise.py
  invokeai/app/invocations/z_image_lora_loader.py
  invokeai/app/invocations/z_image_text_encoder.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/patches/layer_patcher.py
  invokeai/backend/patches/layers/lora_layer_base.py
  invokeai/backend/patches/lora_conversions/flux_aitoolkit_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/z_image_lora_constants.py
  invokeai/backend/patches/lora_conversions/z_image_lora_conversion_utils.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addZImageLoRAs.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildZImageGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Fix windows path again again
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Feature(UI): bulk remove models loras (#8659)
  invokeai/app/api/routers/model_manager.py
  invokeai/frontend/web/src/features/modelManagerV2/store/modelManagerV2Slice.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/BulkDeleteModelsModal.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListHeader.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListItem.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListNavigation.tsx
  invokeai/frontend/web/src/services/api/endpoints/models.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix: Improve Flux AI Toolkit LoRA detection to prevent Z-Image misidentification
  invokeai/backend/patches/lora_conversions/flux_aitoolkit_lora_conversion_utils.py
Due: black, flake8, isort

feat: Add GGUF quantized Z-Image support and improve VAE/encoder flexibility
  invokeai/app/invocations/z_image_denoise.py
  invokeai/app/invocations/z_image_image_to_latents.py
  invokeai/app/invocations/z_image_latents_to_image.py
  invokeai/app/invocations/z_image_model_loader.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/model_manager/load/model_util.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/patches/layer_patcher.py
  invokeai/backend/quantization/gguf/ggml_tensor.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelFormatBadge.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildZImageGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamZImageQwen3VaeModelSelect.tsx
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

Fix windows path again again again...
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix: :label: remove unused exports
  invokeai/frontend/web/src/common/util/promptAST.ts
  invokeai/frontend/web/src/common/util/promptAttention.ts
Due: none

fix(keybinds): :bug: use `arrowup`/`arrowdown` over `up`/`down`
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
Due: none

refactor(prompts): :recycle: use better language for attention direction
  invokeai/frontend/web/src/common/util/promptAttention.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
Due: none

fix for the typegen-checks
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Patch from @lstein for the update of diffusers
  invokeai/backend/util/hotfixes.py
Due: black, flake8, isort

Feature: Add Tag System for user made Workflows
  invokeai/app/api/routers/workflows.py
  invokeai/app/services/workflow_records/workflow_records_base.py
  invokeai/app/services/workflow_records/workflow_records_sqlite.py
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowLibrarySideNav.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowList.tsx
  invokeai/frontend/web/src/services/api/endpoints/workflows.ts
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(ui): add model path update for external models
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelUpdatePathButton.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
Due: none

style: :rotating_light: appease the linter
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
Due: none

feat(z-image): add single-file checkpoint support for Z-Image models
  invokeai/app/invocations/z_image_denoise.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
