Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

perf(webv2): re-record architecture performance baselines
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
Due: none

fix(webv2): align the projects page to one grid
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/platform/ui/EmptyState.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/projects/NewProjectCard.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/projects/ProjectsBrowser.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/projects/ProjectsToolbar.tsx
Due: none

feat(webv2): carry videos in .invk archives
  docs/src/content/docs/development/Front End/project-files.mdx
  invokeai/frontend/webv2/src/workbench/projects/invk/archive.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/format.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.ts
  invokeai/frontend/webv2/src/workbench/projects/projectAssets.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectAssets.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.ts
Due: none

docs(fp8): document that FP8 Compute needs the model fully resident
  docs/src/content/docs/configuration/fp8-storage.mdx
  docs/src/generated/settings.json
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix(webv2): exclude the compare selection from .invk archives
  docs/src/content/docs/development/Front End/project-files.mdx
  invokeai/frontend/webv2/src/workbench/projects/projectAssets.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectAssets.ts
Due: none

fix(webv2): stop the project cover index from clobbering itself
  invokeai/frontend/webv2/src/workbench/projects/covers.test.ts
  invokeai/frontend/webv2/src/workbench/projects/covers.ts
Due: none

fix(webv2): bound .invk expansion before it happens, not after
  invokeai/frontend/webv2/src/workbench/projects/invk/archive.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/archive.ts
Due: none

fix(webv2): keep cancelled exports and gallery selections out of .invk
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.ts
  invokeai/frontend/webv2/src/workbench/projects/projectAssets.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectAssets.ts
Due: none

fix(webv2): reuse the restored cover instead of leaking a copy per import
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.ts
Due: none

feat(webv2): report project file progress and partial success
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/launchpad/pages/HomePage.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/pages/ProjectsPage.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/projects/useProjectCardActions.ts
  invokeai/frontend/webv2/src/workbench/projects/components/OpenProjectDialog.tsx
  invokeai/frontend/webv2/src/workbench/projects/projectFile.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFileToasts.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFileToasts.ts
  invokeai/frontend/webv2/src/workbench/projects/useProjectFileActions.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/ProjectSwitcher.tsx
  invokeai/frontend/webv2/vite.config.mts
Due: none

fix(webv2): restore keyboard access to the projects layout toggle
  invokeai/frontend/webv2/src/workbench/launchpad/projects/ProjectsToolbar.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/projects/ProjectsToolbar.tsx
Due: none

docs(webv2): document project file guards, reporting and the cover index
  docs/src/content/docs/development/Front End/project-files.mdx
Due: none

fix(webv2): bound .invk archives at both allocation boundaries
  invokeai/frontend/webv2/src/workbench/projects/invk/archive.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/archivePackedLimit.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.ts
Due: none

fix(webv2): validate imported projects before restoring assets
  invokeai/frontend/webv2/src/workbench/projects/projectFile.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.ts
Due: none

fix(webv2): stop cancelled exports before download
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.ts
Due: none

fix(webv2): distinguish missing videos from failed lookups
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.ts
Due: none

fix(webv2): serialize project cover index writes
  invokeai/frontend/webv2/src/workbench/projects/covers.test.ts
  invokeai/frontend/webv2/src/workbench/projects/covers.ts
Due: none

fix(webv2): discard stale project cover writes
  invokeai/frontend/webv2/src/workbench/projects/covers.test.ts
  invokeai/frontend/webv2/src/workbench/projects/covers.ts
Due: none

test(webv2): round-trip project files through the mock backend
  invokeai/frontend/webv2/package.json
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.mjs
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.test.mjs
  invokeai/frontend/webv2/scripts/mock-backend.mjs
  invokeai/frontend/webv2/scripts/run-project-file-journey.mjs
Due: none

fix(webv2): make project-file journey teardown deadline-safe
  invokeai/frontend/webv2/package.json
  invokeai/frontend/webv2/scripts/run-project-file-journey.mjs
  invokeai/frontend/webv2/scripts/run-project-file-journey.test.mjs
Due: none

docs(webv2): update project file guards and verification
  docs/src/content/docs/development/Front End/project-files.mdx
Due: none

fix(webv2): close project file safety gaps
  docs/src/content/docs/development/Front End/project-files.mdx
  invokeai/frontend/webv2/src/workbench/projects/covers.test.ts
  invokeai/frontend/webv2/src/workbench/projects/covers.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/archive.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/archive.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFilePicker.browser.test.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/ProjectSwitcher.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/ProjectSwitcher.tsx
Due: none

test(webv2): satisfy project journey lint
  invokeai/frontend/webv2/scripts/run-project-file-journey.mjs
  invokeai/frontend/webv2/scripts/run-project-file-journey.test.mjs
Due: none

ci(pins): reject unreal python pins by shape, not by digit count
  scripts/check_pins.py
  tests/test_check_pins.py
Due: black, flake8, isort

fix(flux2): make flux2_dev_text_encoder idle-GPU-offloadable
  invokeai/app/invocations/flux2_dev_text_encoder.py
  invokeai/frontend/web/openapi.json
  tests/app/invocations/test_flux2_dev_output_device.py
Due: black, flake8, isort

ci: check aarch64 dependency resolution in uv-lock-checks (#9357)
  .github/workflows/uv-lock-checks.yml
  scripts/check_aarch64_lock.py
Due: black, flake8, isort

ci: keep pins.json in sync with pyproject.toml (#9351)
  .github/workflows/python-tests.yml
  .github/workflows/uv-lock-checks.yml
  docs/src/content/docs/start-here/manual.mdx
  pins.json
  pyproject.toml
  scripts/check_pins.py
  tests/test_check_pins.py
Due: black, flake8, isort, uvlock

Revert "ci: keep pins.json in sync with pyproject.toml (#9351)"
  .github/workflows/python-tests.yml
  .github/workflows/uv-lock-checks.yml
  docs/src/content/docs/start-here/manual.mdx
  pins.json
  pyproject.toml
  scripts/check_pins.py
  tests/test_check_pins.py
Due: black, flake8, isort, uvlock

ci(pins): make the python-classifier check advisory, not fatal
  scripts/check_pins.py
  tests/test_check_pins.py
Due: black, flake8, isort

ci(pins): tighten the classifier advisory after self-review
  scripts/check_pins.py
  tests/test_check_pins.py
Due: black, flake8, isort

fix(flux2): stop the Mistral tokenizer ladder from crashing and from silently mis-encoding Tekken
  invokeai/app/invocations/flux2_dev_model_loader.py
  invokeai/app/invocations/flux2_klein_model_loader.py
  invokeai/backend/model_manager/load/model_loaders/mistral_encoder.py
  tests/app/invocations/test_flux2_model_loader_source_guards.py
  tests/backend/model_manager/load/test_mistral_tokenizer_ladder.py
Due: black, flake8, isort

fix: Handle ControlNet conditioning args correctly in do_controlnet_step (closes #9444)
  invokeai/backend/stable_diffusion/diffusion/shared_invokeai_diffusion.py
Due: black, flake8, isort

docs: fix typo 'teh' to 'the' in controlLayers/README.md
  invokeai/frontend/web/src/features/controlLayers/README.md
Due: none

docs: fix typo 'outut' to 'output' in api/README.md
  invokeai/frontend/web/src/services/api/README.md
Due: none

docs: fix spelling 'approachs' to 'approaches' in gallery/README.md
  invokeai/frontend/web/src/features/gallery/README.md
Due: none

fix(pid): harden PiD decoder identification, GGUF loader tests and docs
  docs/src/content/docs/features/pid-decode.mdx
  invokeai/backend/model_manager/configs/gemma2_encoder.py
  invokeai/backend/model_manager/configs/pid_decoder.py
  invokeai/backend/pid/decode.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/model_manager/configs/test_pid_decoder_config.py
  tests/backend/model_manager/load/test_gemma2_encoder_gguf_loader.py
  tests/backend/pid/test_pid_decode.py
Due: black, flake8, isort

feat(projects): add first-class project boards
  invokeai/app/api/routers/boards.py
  invokeai/app/api/routers/projects.py
  invokeai/app/services/board_records/board_records_base.py
  invokeai/app/services/board_records/board_records_sqlite.py
  invokeai/app/services/boards/boards_base.py
  invokeai/app/services/boards/boards_common.py
  invokeai/app/services/boards/boards_default.py
  invokeai/app/services/images/images_base.py
  invokeai/app/services/images/images_default.py
  invokeai/app/services/project_records/project_records_base.py
  invokeai/app/services/project_records/project_records_common.py
  invokeai/app/services/project_records/project_records_sqlite.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_08_06_add_project_boards.py
  invokeai/app/services/videos/videos_base.py
  invokeai/app/services/videos/videos_default.py
  tests/app/routers/conftest.py
  tests/app/routers/test_boards_multiuser.py
  tests/app/routers/test_projects.py
  tests/app/services/project_records/test_project_records.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_08_06_add_project_boards.py
Due: black, flake8, isort

feat(images,videos): copy media server-side
  invokeai/app/api/routers/_access.py
  invokeai/app/api/routers/board_images.py
  invokeai/app/api/routers/images.py
  invokeai/app/api/routers/videos.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_media_copy.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
