Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

feat(webv2): open a workflow tile's actions from a menu button beside its title
  docs/src/content/docs/features/Workflows/editor-interface.mdx
  invokeai/frontend/webv2/scripts/run-project-file-journey.mjs
  invokeai/frontend/webv2/src/features/workflow/ui/library/ProjectWorkflowsView.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryCard.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDetailPanel.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDetailPanel.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDialog.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDialog.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryGrid.tsx
Due: none

style(webv2): drop the blank line left by a removed comment
  invokeai/frontend/webv2/src/features/workflow/ui/library/ProjectWorkflowsView.tsx
Due: none

fix(db): create browser holds for previously migrated databases
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_09_23_index_client_state_references.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_09_23_index_client_state_references.py
Due: black, flake8, isort

fix(vae): scope the Wan video decode's tiling state
  invokeai/app/invocations/vae/wan_latents_to_video.py
  tests/app/invocations/test_wan_working_memory.py
Due: black, flake8, isort

feat(flux): load the FLUX.1 VAE as a diffusers AutoencoderKL, and tile its encode
  docs/src/content/docs/features/pid-decode.mdx
  invokeai/app/invocations/pid/pid_upscale.py
  invokeai/app/invocations/vae/anima_image_to_latents.py
  invokeai/app/invocations/vae/flux_vae_decode.py
  invokeai/app/invocations/vae/flux_vae_encode.py
  invokeai/app/invocations/vae/z_image_image_to_latents.py
  invokeai/app/invocations/vae/z_image_latents_to_image.py
  invokeai/backend/flux/extensions/kontext_extension.py
  invokeai/backend/flux/modules/autoencoder.py
  invokeai/backend/flux/util.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/util/vae_tiling_scope.py
  invokeai/backend/util/vae_working_memory.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/conftest.py
  tests/app/invocations/test_anima_vae.py
  tests/app/invocations/test_anima_vae_tiling.py
  tests/app/invocations/test_flux_vae_decode_tiling.py
  tests/app/invocations/test_flux_vae_encode_tiling.py
  tests/app/invocations/test_z_image_tiled_decode.py
  tests/app/invocations/test_z_image_working_memory.py
  tests/backend/flux/extensions/test_kontext_extension.py
  tests/backend/flux/modules/test_autoencoder_tiling.py
  tests/backend/model_manager/load/test_flux_vae_loader.py
  tests/backend/util/test_rocm_sdpa_head_dim_guard.py
  tests/backend/util/test_vae_tiling_scope.py
Due: black, flake8, isort

feat(scripts): check in the FLUX VAE working-memory calibrator
  scripts/calibrate_flux_vae_working_memory.py
Due: black, flake8, isort

fix(webv2): restore waiting workflow preview after reload
  invokeai/frontend/webv2/src/features/queue/runtime.test.ts
  invokeai/frontend/webv2/src/features/queue/runtime/coordinator.ts
Due: none

test(auth): cover the password-change replacement racing a routine refresh
  invokeai/frontend/web/src/services/api/endpoints/auth.test.ts
Due: none

fix(auth): keep a password-change token when a routine refresh lands first (#9599)
  invokeai/frontend/web/src/features/auth/store/authTokenRefresh.test.ts
  invokeai/frontend/web/src/features/auth/store/authTokenRefresh.ts
  invokeai/frontend/web/src/services/api/endpoints/auth.test.ts
  invokeai/frontend/web/src/services/api/index.ts
Due: none

feat(gpu): run prompt tools and image embedding on an idle GPU
  docs/src/content/docs/configuration/invokeai-yaml.mdx
  invokeai/app/api/routers/utilities.py
  invokeai/app/services/image_index/image_index_default.py
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/backend/util/device_pool.py
  tests/app/services/image_index/test_image_index_service.py
  tests/app/services/session_processor/test_encoder_offload.py
  tests/app/services/session_processor/test_lent_device_scheduling.py
  tests/backend/text_llm/test_text_llm_api_models.py
  tests/backend/util/test_device_pool.py
  tests/fixtures/device_pool.py
Due: black, flake8, isort

test: keep the nvfp4 loader forwards off torch's CPU bf16 GEMM
  tests/AGENTS.md
  tests/backend/model_manager/load/test_krea2_nvfp4_loader.py
  tests/backend/model_manager/load/test_mistral_encoder_checkpoint_loader.py
  tests/backend/model_manager/load/test_qwen_image_nvfp4_loader.py
  tests/backend/model_manager/load/test_z_image_loader_boundaries.py
  tests/backend/quantization/test_nvfp4.py
Due: black, flake8, isort

fix(webv2): show a finished video in the preview when its run completes
  invokeai/frontend/webv2/src/features/gallery/contracts.ts
  invokeai/frontend/webv2/src/features/gallery/core/items.ts
  invokeai/frontend/webv2/src/features/gallery/core/types.ts
  invokeai/frontend/webv2/src/features/queue/core/historyTypes.ts
  invokeai/frontend/webv2/src/features/queue/core/types.ts
  invokeai/frontend/webv2/src/features/queue/data/httpRealtimeQueueBackend.ts
  invokeai/frontend/webv2/src/features/queue/data/queries.test.ts
  invokeai/frontend/webv2/src/features/queue/data/serverTypes.ts
  invokeai/frontend/webv2/src/features/queue/data/submissionApi.ts
  invokeai/frontend/webv2/src/features/queue/runtime.test.ts
  invokeai/frontend/webv2/src/features/queue/runtime.ts
  invokeai/frontend/webv2/src/workbench/queue-integration/queueRunRestoration.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

fix(webv2): start preview videos at half volume and keep the viewer's setting
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrameVideo.browser.test.tsx
Due: none

fix(vae): decide tiling on what other processes hold, not on the budget
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/util/vae_working_memory.py
  invokeai/backend/util/wddm.py
  tests/app/invocations/test_qwen_image_working_memory.py
  tests/app/invocations/test_vae_working_memory_backend.py
  tests/app/util/test_torch_cuda_allocator.py
  tests/backend/ltx2/test_ltx2_real_files.py
  tests/backend/util/test_vae_pretile.py
  tests/backend/util/test_wddm.py
Due: black, flake8, isort

chore(release): bump version to 6.14.2
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

fix(flux): stop extrapolating the FLUX.1 schedule shift past its fit
  invokeai/backend/flux/sampling_utils.py
  tests/app/invocations/test_denoise_noise_inputs.py
  tests/backend/flux/test_sampling_utils.py
Due: black, flake8, isort

fix(workflows): restore viewport when returning to editor
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEditorView.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowViewportRestoreRuntime.tsx
  invokeai/frontend/webv2/src/workbench/shell/PresetSwitchKeepAlive.browser.test.tsx
Due: none

fix(vae): tile on the budget and our own residency, not on an adapter counter
  invokeai/backend/util/vae_working_memory.py
  invokeai/backend/util/wddm.py
  tests/app/invocations/test_qwen_image_working_memory.py
  tests/backend/util/test_vae_pretile.py
  tests/backend/util/test_wddm.py
Due: black, flake8, isort

feat(webv2): accept gallery drops on the Uncategorized board
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardRow.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryDnd.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryDnd.ts
Due: none

feat(webv2): rename gallery Assets to Uploads
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerContextActions.ts
Due: none

feat(webv2): thicken the gallery selection border
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryProgressSection.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryTileFrame.tsx
Due: none

fix(webv2): let Ctrl/Cmd+Enter reach the app from a gallery tile
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryThumbnail.tsx
Due: none

feat(webv2): show starred items above in-progress in the gallery
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryProgressSection.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryGridHotkeys.ts
Due: none

style(webv2): stronger hover background on line tabs
  invokeai/frontend/webv2/src/platform/ui/theme/recipes.ts
Due: none

fix(webv2): keep error styling visible on hovered inputs and media drops
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryMediaSlot.tsx
  invokeai/frontend/webv2/src/features/video/ui/VideoReferenceListField.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/fields/WorkflowFieldInput.tsx
  invokeai/frontend/webv2/src/platform/ui/DropZone.tsx
  invokeai/frontend/webv2/src/platform/ui/theme/recipes.ts
Due: none

style(webv2): add a text shadow to ScrubberField labels
  invokeai/frontend/webv2/src/platform/ui/ScrubberField.tsx
Due: none

fix(webv2): raise the selected node above others in the graph preview
  invokeai/frontend/webv2/src/features/workflow/ui/graph-preview/GraphPreviewFlow.tsx
Due: none

perf(webv2): re-render only the edited Generate section while scrubbing
  invokeai/frontend/webv2/src/app/GenerationUiAdapter.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateDimensionFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateHeaderActions.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GeneratePresetsPopover.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateSettingsForm.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateSettingsForm.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateWidgetView.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateWidgetView.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerationUiContext.tsx
  invokeai/frontend/webv2/src/features/generation/ui/generateDebounce.test.ts
  invokeai/frontend/webv2/src/features/generation/ui/generateDebounce.ts
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/GeneratePromptFields.tsx
Due: none

feat(webv2): list open projects in the Launchpad sidebar
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/scripts/run-accessibility-journeys.mjs
  invokeai/frontend/webv2/src/workbench/launchpad/Launchpad.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/LaunchpadNav.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/LaunchpadTopBar.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/OpenProjectsControl.tsx
Due: none

feat(webv2): customizable workflow library thumbnails
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.test.mjs
  invokeai/frontend/webv2/scripts/mock-backend.mjs
  invokeai/frontend/webv2/src/features/workflow/data/api.ts
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDetailPanel.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDetailPanel.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryThumbnail.tsx
Due: none

feat(webv2): drive the Upscale widget from an architecture table, and add FLUX.1
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/upscale/core/architectures.ts
  invokeai/frontend/webv2/src/features/upscale/core/graph.test.ts
  invokeai/frontend/webv2/src/features/upscale/core/graph.ts
  invokeai/frontend/webv2/src/features/upscale/core/settings.test.ts
  invokeai/frontend/webv2/src/features/upscale/core/settings.ts
  invokeai/frontend/webv2/src/features/upscale/core/types.ts
  invokeai/frontend/webv2/src/features/upscale/ui/UpscaleFormFields.tsx
  invokeai/frontend/webv2/src/features/upscale/ui/UpscaleWidgetView.tsx
  invokeai/frontend/webv2/src/platform/ui/hints/hintRegistry.ts
  invokeai/frontend/webv2/src/workbench/invocation.test.ts
Due: none

fix(tiles): start the seam-blend seam at the lowest-energy column
  invokeai/backend/tiles/utils.py
  tests/backend/tiles/test_utils.py
Due: black, flake8, isort

fix(nodes): return an exclusive x_max/y_max from Get Image Mask Bounding Box
  invokeai/app/invocations/mask.py
  tests/app/invocations/test_mask.py
Due: black, flake8, isort

fix(webv2): preserve workflow viewport across preview switches
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEditorView.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowViewportRestoreRuntime.tsx
  invokeai/frontend/webv2/src/workbench/shell/PresetSwitchKeepAlive.browser.test.tsx
Due: none

fix(nodes): keep the alpha channel in Adjust Image Hue
  invokeai/app/invocations/image.py
  tests/app/invocations/test_image.py
Due: black, flake8, isort

fix(nodes): split on whitespace when the String Split delimiter is blank
  invokeai/app/invocations/strings.py
  tests/app/invocations/test_strings.py
Due: black, flake8, isort

fix(model-manager): identify standalone 16-channel VAEs as FLUX.1 or SD3
  docs/src/content/docs/contributing/new-model-integration.mdx
  invokeai/app/api/routers/model_manager.py
  invokeai/app/invocations/pid/sd3_pid_decode.py
  invokeai/backend/flux/util.py
  invokeai/backend/model_manager/configs/backbone_names.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/pid_decoder.py
  invokeai/backend/model_manager/configs/vae.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/vae.py
  invokeai/backend/sd3/__init__.py
  invokeai/backend/sd3/vae.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_model_manager.py
  tests/backend/model_manager/configs/test_vae_base_identification.py
  tests/backend/model_manager/load/test_16_channel_vae_loader.py
  tests/backend/model_manager/load/test_flux_vae_loader.py
  tests/backend/model_manager/load/test_side_channel_blind_loaders.py
  tests/model_identification/stripped_models/649624c4-0d16-46ca-b649-e836f0308969/__test_metadata__.json
  tests/model_identification/stripped_models/649624c4-0d16-46ca-b649-e836f0308969/config.json
  tests/model_identification/stripped_models/649624c4-0d16-46ca-b649-e836f0308969/diffusion_pytorch_model.safetensors
  tests/model_identification/stripped_models/9bc59438-58de-482c-b012-2c40017144a3/__test_metadata__.json
  tests/model_identification/stripped_models/9bc59438-58de-482c-b012-2c40017144a3/config.json
  tests/model_identification/stripped_models/9bc59438-58de-482c-b012-2c40017144a3/diffusion_pytorch_model.safetensors
Due: black, flake8, isort

feat(deps): support ROCm on Windows through the rocm extra
  docs/src/content/docs/start-here/manual.mdx
  docs/src/content/docs/start-here/system-requirements.mdx
  invokeai/app/run_app.py
  pyproject.toml
  scripts/check_pins.py
  uv.lock
Due: black, flake8, isort, uvlock

fix(auth): preserve password replacement across concurrent 401s
  invokeai/frontend/web/src/features/auth/store/authSlice.ts
  invokeai/frontend/web/src/features/auth/store/authTokenRefresh.test.ts
  invokeai/frontend/web/src/features/auth/store/authTokenRefresh.ts
  invokeai/frontend/web/src/services/api/endpoints/auth.test.ts
  invokeai/frontend/web/src/services/api/index.ts
Due: none

fix: preserve For final-output contexts through If
  docs/src/content/docs/contributing/loop-nodes.md
  docs/src/content/docs/features/Workflows/loop-nodes.mdx
  invokeai/app/services/shared/graph_if_runtime.py
  invokeai/app/services/shared/graph_materializer.py
  tests/test_graph_execution_state.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
