Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

Fix workflow call runtime test double
  tests/app/services/workflow_call_test_utils.py
Due: black, flake8, isort

fix(multiuser): restore X/Y queue badge and redacted queue entries for non-admins (#9262)
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/queue/components/QueueCountBadge.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_multiuser_authorization.py
  tests/app/services/session_queue/test_session_queue_status_user_scoping.py
Due: black, flake8, isort

remove redundant inclusion of torch-triton wheel && confirm no aarch64-linux support
  pyproject.toml
  uv.lock
Due: uvlock

Fix uv sync for ROCm 7.1 by explicitly declaring triton-rocm
  pyproject.toml
Due: uvlock

Upgrade ROCm support from 6.3 to 7.1
  docker/Dockerfile-rocm-full
  pyproject.toml
Due: uvlock

Update uv lock and remove old dockerfile
  docker/Dockerfile-rocm-full
  uv.lock
Due: none

docs: update ROCm torch backend from 6.3 to 7.1
  docs/src/content/docs/start-here/manual.mdx
Due: none

fix: regenerate uv.lock with ROCm 7.1 dependencies
  uv.lock
Due: none

chore(frontend): openapi and typegen
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore: drop spurious typegen changes from ROCm PR
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Route Z-Image ControlNet diagnostics through logging (#9298)
  invokeai/backend/z_image/z_image_controlnet_extension.py
  tests/backend/z_image/test_z_image_controlnet_extension.py
Due: black, flake8, isort

fix(deps): keep macOS on torch 2.7.x; gate rocm extra to linux
  pyproject.toml
  uv.lock
Due: uvlock

chore(frontend): regenerate schema for pydantic 2.13 docstring descriptions
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Update ROCm to 7.1 (supersedes #8867) (#9297)
  docker/Dockerfile-rocm-full
  docs/src/content/docs/start-here/manual.mdx
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
  uv.lock
Due: uvlock

fix(db): repair model_relationships foreign keys broken by migration 22 (#9272)
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_32.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_32.py
Due: black, flake8, isort

Fix python tests on CUDA
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_invoke_linear_nf4.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_custom_invoke_linear_8_bit_lt.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_custom_invoke_linear_nf4.py
Due: black, flake8, isort

Address CUDA test review feedback
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_invoke_linear_nf4.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_all_custom_modules.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_custom_invoke_linear_nf4.py
Due: black, flake8, isort

Updated more CUDA tests
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_all_custom_modules.py
Due: black, flake8, isort

chore: typegen/openapi
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

docs: add 3d party GPU hosting services
  docs/src/content/docs/index.mdx
  docs/src/lib/components/DownloadOptions.astro
  docs/src/styles/custom.css
Due: none

Fixed database migration 33
  invokeai/app/services/shared/sqlite/sqlite_util.py
Due: black, flake8, isort

chore(frontend): typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Update tests after queue status merge
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_session_queue_workflow_call.py
  tests/test_sqlite_migrator.py
Due: black, flake8, isort

Fix custom font test FontFace mock for Vitest 4
  invokeai/frontend/web/src/features/controlLayers/text/textUserFonts.test.ts
Due: none

Fix python tests on CUDA (#9215)
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_invoke_linear_nf4.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_all_custom_modules.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_custom_invoke_linear_8_bit_lt.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_custom_invoke_linear_nf4.py
Due: black, flake8, isort

Chore Fix schema.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(api): regenerate schema.ts to match locked typegen deps
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

feat(mm): add Qwen Image single-file checkpoint loader with fp8 support (#9253)
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/backend/quantization/bnb_llm_int8.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/model_manager/configs/test_qwen_image_checkpoint_variant_detection.py
Due: black, flake8, isort

fix(flux2): strip reference-image tokens from Heun preview latents (#9274)
  invokeai/backend/flux2/denoise.py
Due: black, flake8, isort

feat(ideogram4): backend + model-manager registration for Ideogram 4
  invokeai/backend/ideogram4/NOTICE.md
  invokeai/backend/ideogram4/__init__.py
  invokeai/backend/ideogram4/autoencoder.py
  invokeai/backend/ideogram4/constants.py
  invokeai/backend/ideogram4/denoise.py
  invokeai/backend/ideogram4/latent_norm.py
  invokeai/backend/ideogram4/modeling_ideogram4.py
  invokeai/backend/ideogram4/quantized_loading.py
  invokeai/backend/ideogram4/sampler_configs.py
  invokeai/backend/ideogram4/sampling_utils.py
  invokeai/backend/ideogram4/scheduler.py
  invokeai/backend/ideogram4/text_encoding.py
  invokeai/backend/ideogram4/transformer_pair.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/ideogram4.py
  invokeai/backend/model_manager/taxonomy.py
Due: black, flake8, isort

feat(multi-gpu): show per-device names in startup log and progress circles
  invokeai/app/run_app.py
  invokeai/backend/util/devices.py
  invokeai/frontend/web/src/common/hooks/useProgressDeviceLabel.ts
  invokeai/frontend/web/src/common/util/getDeviceNameLabels.test.ts
  invokeai/frontend/web/src/common/util/getDeviceNameLabels.ts
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/QueueItemCircularProgress.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ProgressIndicator2.tsx
Due: black, flake8, isort

fix(ui): keep main panel reachable on small screens (#9144)
  invokeai/frontend/web/src/features/ui/layouts/canvas-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/generate-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/shared.ts
  invokeai/frontend/web/src/features/ui/layouts/upscaling-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/workflows-tab-auto-layout.tsx
Due: none

fix(ui): add missing canvas-workflow-integration log namespace translation (#9275)
  invokeai/frontend/web/public/locales/en.json
Due: none

feat(ideogram4): Ideogram 4 backend — model manager, invocations, nf4 loading
  invokeai/app/api/dependencies.py
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/ideogram4_denoise.py
  invokeai/app/invocations/ideogram4_latents_to_image.py
  invokeai/app/invocations/ideogram4_model_loader.py
  invokeai/app/invocations/ideogram4_text_encoder.py
  invokeai/app/invocations/metadata.py
  invokeai/app/invocations/primitives.py
  invokeai/backend/model_manager/load/model_loaders/ideogram4.py
  invokeai/backend/stable_diffusion/diffusion/conditioning_data.py
Due: black, flake8, isort

fix(gallery): traverse image subfolders when finding orphaned db entries (#9291)
  invokeai/backend/util/gallery_maintenance.py
Due: black, flake8, isort

feat(ideogram4): frontend — Regions→JSON prompt, graph builder, UI
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildIdeogram4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildIdeogram4Prompt.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildIdeogram4Prompt.ts
  invokeai/frontend/web/src/features/nodes/util/graph/types.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamIdeogram4SamplerPreset.tsx
  invokeai/frontend/web/src/features/parameters/components/ModelPicker.tsx
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
  invokeai/frontend/web/src/features/parameters/util/optimalDimension.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueCanvas.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueGenerate.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

feat(ideogram4): advanced sampler overrides + color palette
  invokeai/app/invocations/ideogram4_denoise.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildIdeogram4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildIdeogram4Prompt.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildIdeogram4Prompt.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamIdeogram4ColorPalette.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamIdeogram4GuidanceScale.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamIdeogram4Mu.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamIdeogram4SamplerPreset.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamIdeogram4Steps.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort
