Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

Fix workflow library unsupported badge (#9341)
  invokeai/app/api/routers/workflows.py
  invokeai/app/services/shared/workflow_graph_builder.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/CallSavedWorkflowNode.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/callSavedWorkflowFormUtils.test.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/callSavedWorkflowFormUtils.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/savedWorkflowFieldUtils.test.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/savedWorkflowFieldUtils.ts
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowListItem.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.test.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.ts
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useValidateAndLoadWorkflow.ts
  invokeai/frontend/web/src/features/workflowLibrary/util/workflowLibraryListItemState.test.ts
  invokeai/frontend/web/src/features/workflowLibrary/util/workflowLibraryListItemState.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_workflows_multiuser.py
  tests/app/services/test_workflow_call_compatibility.py
  tests/app/services/test_workflow_graph_builder.py
Due: black, flake8, isort

Fix nested collector iteration scope (#9343)
  invokeai/app/services/shared/README.md
  invokeai/app/services/shared/graph.py
  tests/test_graph_execution_state.py
Due: black, flake8, isort

fix(app): failed video saves no longer orphan files on disk
  invokeai/app/services/video_files/video_files_disk.py
  invokeai/app/services/videos/videos_default.py
  tests/app/services/video_files/test_video_files_disk.py
  tests/app/services/videos/test_videos_default.py
Due: black, flake8, isort

feat(app): support VideoField values in session queue batch data
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/test_session_queue.py
Due: black, flake8, isort

docs(app): document videos.user_id lifecycle and pin user-deletion behavior
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_07_01_add_videos_tables.py
  tests/app/services/video_records/test_video_records_sqlite.py
Due: black, flake8, isort

fix(ui): video uploads are opt-in per consumer; upload validation fixes
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/hooks/useImageUploadButton.tsx
  invokeai/frontend/web/src/common/util/uploadMediaAccept.test.ts
  invokeai/frontend/web/src/common/util/uploadMediaAccept.ts
  invokeai/frontend/web/src/features/dnd/FullscreenDropzone.tsx
  invokeai/frontend/web/src/features/dnd/fullscreenDropzoneAccept.test.ts
  invokeai/frontend/web/src/features/dnd/fullscreenDropzoneAccept.ts
  invokeai/frontend/web/src/features/gallery/components/GalleryUploadButton.tsx
Due: none

ci: add pins.json consistency check, bump ROCm index to 7.1
  .github/workflows/uv-lock-checks.yml
  pins.json
  scripts/check_pins.py
Due: black, flake8, isort

fix: cap torch below 2.12 on linux/windows
  pyproject.toml
  uv.lock
Due: uvlock

change rocm6.3 to rocm7.1 (#9337)
  pins.json
Due: none

Handle missing queue items in session failure (#9350)
  invokeai/app/services/session_processor/session_processor_default.py
Due: black, flake8, isort

fix(canvas): normalize z-image control state
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvasMigration.test.ts
  invokeai/frontend/webv2/src/workbench/canvasMigration.ts
  invokeai/frontend/webv2/src/workbench/controlAdapters.test.ts
  invokeai/frontend/webv2/src/workbench/controlAdapters.ts
  invokeai/frontend/webv2/src/workbench/generation/canvas/addControlLayers.test.ts
  invokeai/frontend/webv2/src/workbench/generation/canvas/addControlLayers.ts
  invokeai/frontend/webv2/src/workbench/generation/canvas/controlValidation.test.ts
  invokeai/frontend/webv2/src/workbench/generation/canvas/controlValidation.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/ControlLayerSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/RegionalGuidanceSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectedModel.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/useSelectedModelBase.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

fix(canvas): guard malformed canvas snapshots
  invokeai/frontend/webv2/src/workbench/canvasMigration.test.ts
  invokeai/frontend/webv2/src/workbench/canvasMigration.ts
Due: none

fix(canvas): validate persisted snapshot layers
  invokeai/frontend/webv2/src/workbench/canvasMigration.test.ts
  invokeai/frontend/webv2/src/workbench/canvasMigration.ts
Due: none

fix(canvas): preserve filter geometry and keyboard reorder
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/compositor.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/compositor.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerGroupSection.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerListItem.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerDndConfig.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerFilterRunner.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerFilterRunner.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerImageResult.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layersDnd.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/runLayerWorkflow.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.ts
Due: none

fix(canvas): keep operation controls visible
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasInteractionLock.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasInteractionLock.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationBar.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/ToolOptionsBar.tsx
Due: none

fix(canvas): enforce operation lock boundaries
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomControls.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomControls.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.ts
Due: none

fix(canvas): interrupt locked canvas operations
  invokeai/frontend/webv2/src/workbench/canvas-engine/canvasOperationController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomControls.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomControls.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.ts
Due: none

fix(canvas): segment canvas bbox composite
  invokeai/frontend/webv2/src/workbench/canvas-engine/canvasOperationController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/canvasOperationController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engineStores.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/compositor.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/samTool.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerContextActions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerContextActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerContextMenuLayout.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerImageResult.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.ts
Due: none

fix(canvas): guard sam composite exports
  invokeai/frontend/webv2/src/workbench/canvas-engine/canvasOperationController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/canvasOperationController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.test.ts
Due: none

fix(ui): shift+x hotkey cancels current queue item instead of deleting it
  invokeai/frontend/web/src/common/hooks/useGlobalHotkeys.ts
Due: none

fix(app): tolerate queue items deleted while running
  invokeai/app/services/session_processor/workflow_call_runtime.py
  tests/app/services/test_workflow_call_runtime.py
  tests/app/services/workflow_call_test_utils.py
Due: black, flake8, isort

fix(canvas): harden sam processing feedback
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engineStores.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerImageResult.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerImageResult.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.ts
Due: none

fix(canvas): validate sam preview output
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
Due: none

fix(ui): reset progress bar when the current queue item is canceled
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.test.ts
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.ts
Due: none

fix(canvas): reconcile sam utility results
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engineStores.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerImageResult.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.ts
Due: none

fix(canvas): contain utility queue seams
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.ts
Due: none

feat(canvas): redesign canvas operation panels
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationBar.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
Due: none

fix(canvas): make operation panels responsive
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomOverlay.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomOverlay.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerFilterControls.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerFilterControls.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.ts
Due: none

fix(canvas): close layer properties on operations
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomOverlay.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/ControlLayerSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerPropertiesPopover.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/RasterLayerFilterSection.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerPropertiesOperation.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerPropertiesOperation.ts
Due: none

fix(canvas): close operation integration gaps
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/canvasOperationController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/canvasOperationController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomControls.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomControls.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomOverlay.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomOverlay.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerPropertiesPopover.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/filterOperationSession.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerFilterRunner.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerFilterRunner.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerPropertiesOperation.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerPropertiesOperation.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.ts
Due: none

fix(canvas): reset and reuse sam sources
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.ts
Due: none

feat(canvas): expand spline editing and vector layer transforms
  invokeai/frontend/web/src/features/controlLayers/components/Transform/Transform.tsx
  invokeai/frontend/web/src/features/controlLayers/components/VectorLayer/VectorLayerMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositorModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityAdapterVectorLayer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityTransformer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStateApiModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasPathToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/store/vectorLayer.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/vectorLayerUndo.test.ts
  invokeai/frontend/web/src/features/controlLayers/util/bezierPath.test.ts
  invokeai/frontend/web/src/features/controlLayers/util/bezierPath.ts
Due: none

fix(sam): update sam2 post-processing
  invokeai/backend/image_util/segment_anything/segment_anything_2_pipeline.py
  tests/backend/image_util/segment_anything/test_segment_anything_2_pipeline.py
Due: black, flake8, isort

fix(canvas): preserve utility error details
  invokeai/frontend/webv2/src/workbench/backend/events.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.test.ts
Due: none

fix(canvas): compact select object controls
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
Due: none

fix(canvas): match legacy select object layout
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
Due: none

fix(canvas): preserve compact panel behavior
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
Due: none

fix(canvas): align queue event error types
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/__mocks__/mockStagingAreaApp.ts
  invokeai/frontend/webv2/src/workbench/backend/events.ts
  invokeai/frontend/webv2/src/workbench/backend/queueCoordinator.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/backend/utilityQueue.test.ts
Due: none

feat(canvas): redesign SAM tool options
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomOverlay.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationBar.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOperationPanel.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
Due: none

fix(app): close TOCTOU races in parent lifecycle transitions
  invokeai/app/services/session_processor/workflow_call_runtime.py
  tests/app/services/test_workflow_call_runtime.py
  tests/app/services/workflow_call_test_utils.py
Due: black, flake8, isort
