Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

docs: document model settings export/import in concepts/models
  docs/src/content/docs/concepts/models.mdx
Due: none

docs: add Gradient description
  docs/src/content/docs/features/Canvas/gradient-tool.mdx
Due: none

fix(anima): correct RoPE configuration to match the reference model
  invokeai/backend/model_manager/load/model_loaders/anima.py
Due: black, flake8, isort

chore: openapi
  invokeai/frontend/web/openapi.json
Due: none

fix(flux): support .weight variant for attention norm parameter mappings
  invokeai/backend/model_manager/load/model_loaders/flux.py
Due: black, flake8, isort

fix(ui): auto-add newly created boards
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/AddBoardButton.test.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/AddBoardButton.tsx
Due: none

fix(frontend): resolve canvas vector layer lint and build errors
  invokeai/frontend/web/src/features/controlLayers/components/VectorLayer/VectorLayerEditFooter.tsx
  invokeai/frontend/web/src/features/controlLayers/components/VectorLayer/VectorLayerMenuItemsEdit.tsx
  invokeai/frontend/web/src/features/controlLayers/components/VectorLayer/VectorLayerMenuItemsTraceAll.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityMenuItemsRunWorkflow.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasProjectLoad.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositorModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityVectorLayerRenderer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStateApiModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBrushToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasPathToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/selectors.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/store/vectorLayer.test.ts
  invokeai/frontend/web/src/features/controlLayers/util/bezierPath.ts
  invokeai/frontend/web/src/features/controlLayers/util/canvasProjectFile.test.ts
  invokeai/frontend/web/src/features/dnd/dnd.ts
  invokeai/frontend/web/src/features/ui/layouts/canvasToolModifierHints.ts
Due: none

feat(anima): Make Anima respect the `precision` property in Invoke.yaml (#9183)
  invokeai/app/invocations/anima_denoise.py
  invokeai/app/invocations/anima_text_encoder.py
  invokeai/backend/model_manager/load/model_loaders/anima.py
  invokeai/backend/util/devices.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

docs: cover Canvas, Workflow, Gallery, and Model Manager features
  docs/src/content/docs/concepts/models.mdx
  docs/src/content/docs/configuration/fp8-storage.mdx
  docs/src/content/docs/features/Canvas/canvas-projects.mdx
  docs/src/content/docs/features/Canvas/layers-and-drops.mdx
  docs/src/content/docs/features/Canvas/run-workflow.mdx
  docs/src/content/docs/features/Workflows/adding-nodes.mdx
  docs/src/content/docs/features/Workflows/custom-node-manager.mdx
  docs/src/content/docs/features/Workflows/editor-interface.mdx
  docs/src/content/docs/features/gallery.mdx
Due: none

fix(ui): require metadata handler success for some mode
  invokeai/frontend/web/src/features/metadata/parsing.test.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

fix(ui): clarify model defaults toast
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
Due: none

harden(api): enforce auth on 4 routers, fix 4 router bugs, add route tests
  invokeai/app/api/routers/download_queue.py
  invokeai/app/api/routers/model_relationships.py
  invokeai/app/api/routers/style_presets.py
  invokeai/app/api/routers/utilities.py
  pyproject.toml
  tests/app/routers/conftest.py
  tests/app/routers/test_download_queue.py
  tests/app/routers/test_model_relationships.py
  tests/app/routers/test_style_presets.py
  tests/app/routers/test_utilities.py
  tests/app/routers/test_virtual_boards.py
Due: black, flake8, isort, uvlock

Ruff
  invokeai/app/api/routers/utilities.py
  tests/app/routers/test_download_queue.py
  tests/app/routers/test_model_relationships.py
  tests/app/routers/test_style_presets.py
  tests/app/routers/test_utilities.py
  tests/app/routers/test_virtual_boards.py
Due: black, flake8, isort

fix(anima): ignore community checkpoint pos_embedder runtime buffers
  invokeai/backend/model_manager/load/model_loaders/anima.py
Due: black, flake8, isort

chore: openapi.json
  invokeai/frontend/web/openapi.json
Due: none

harden(api): enforce auth on 4 routers, fix 4 router bugs, scope style presets per-user, add route tests
  invokeai/app/api/routers/style_presets.py
  invokeai/app/services/style_preset_records/style_preset_records_base.py
  invokeai/app/services/style_preset_records/style_preset_records_common.py
  invokeai/app/services/style_preset_records/style_preset_records_sqlite.py
  tests/app/routers/conftest.py
  tests/app/routers/test_download_queue_router.py
  tests/app/routers/test_style_presets.py
Due: black, flake8, isort

fix(external-providers): admin guard, validation, locale keys (#9171)
  invokeai/app/api/routers/app_info.py
  invokeai/app/services/external_generation/providers/seedream.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/CanvasDropArea.tsx
  invokeai/frontend/web/src/features/parameters/components/External/GeminiProviderOptions.tsx
  invokeai/frontend/web/src/features/parameters/components/External/OpenAIProviderOptions.tsx
  invokeai/frontend/web/src/features/parameters/components/External/externalProviderOptionsI18n.test.ts
  tests/app/routers/test_app_info.py
  tests/app/services/external_generation/test_external_generation_service.py
  tests/app/services/external_generation/test_seedream_provider.py
Due: black, flake8, isort

translationBot(ui): update translation (English)
  invokeai/frontend/web/public/locales/en.json
Due: none

translationBot(ui): update translation (Japanese)
  invokeai/frontend/web/public/locales/ja.json
Due: none

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

chore(pytest): drop --cov=invokeai from this PR
  pyproject.toml
Due: uvlock

refactor(api): share access helpers, tighten conftest, polish review nits
  invokeai/app/api/routers/_access.py
  invokeai/app/api/routers/download_queue.py
  invokeai/app/api/routers/images.py
  invokeai/app/api/routers/utilities.py
  tests/app/routers/conftest.py
  tests/app/routers/test_multiuser_authorization.py
Due: black, flake8, isort

chore: openapi.json and typegen
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore(i18n): lint-prettier
  invokeai/frontend/web/public/locales/en.json
Due: none

feat(prompt): show phase + token progress for LLM prompt expansion
  invokeai/app/api/routers/utilities.py
  invokeai/app/api/sockets.py
  invokeai/app/services/events/events_base.py
  invokeai/app/services/events/events_common.py
  invokeai/backend/llava_onevision_pipeline.py
  invokeai/backend/text_llm_pipeline.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/prompt/ExpandPromptButton.tsx
  invokeai/frontend/web/src/features/prompt/ImageToPromptButton.tsx
  invokeai/frontend/web/src/features/prompt/LLMTaskProgressDisplay.tsx
  invokeai/frontend/web/src/services/api/endpoints/utilities.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/stores.ts
  invokeai/frontend/web/src/services/events/types.ts
  tests/backend/text_llm/test_text_llm_pipeline.py
Due: black, flake8, isort

Chore Ruff
  invokeai/app/api/routers/utilities.py
Due: black, flake8, isort

Chore Ruff
  invokeai/app/api/routers/images.py
  invokeai/app/api/routers/style_presets.py
  tests/app/routers/test_style_presets.py
Due: black, flake8, isort

docs: load Plausible on invoke.ai (custom), not ghpages (#9161)
  .github/workflows/deploy-docs.yml
  docs/astro.config.mjs
Due: none

Chore openapi
  invokeai/frontend/web/openapi.json
Due: none

feat(mm): add gpt-image-2 as a starter model (#9096)
  invokeai/app/services/external_generation/providers/openai.py
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

fix(metadata): recall z_image_shift correctly (#9139)
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildZImageGraph.ts
Due: none

translationBot(ui): update translation files (with lint fix) (#9205)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
Due: none

fix(openapi): normalize Path defaults to POSIX in schema generation
  invokeai/app/util/custom_openapi.py
Due: black, flake8, isort

fix(anima): ignore community checkpoint pos_embedder runtime buffers (#9201)
  invokeai/backend/model_manager/load/model_loaders/anima.py
Due: black, flake8, isort

Remove OpenAPI target
  Makefile
Due: none

Remove OpenAPI target (#9203)
  Makefile
Due: none

Merge remote-tracking branch 'origin/main'
  invokeai/frontend/web/public/locales/en.json
Due: none

Add universal noise and optional denoiser noise inputs (#9044)
  docs-old/contributing/NEW_MODEL_INTEGRATION.md
  docs-old/nodes/NODES.md
  docs/src/content/docs/development/Guides/models.mdx
  docs/src/content/docs/features/Workflows/editor-interface.mdx
  invokeai/app/invocations/anima_denoise.py
  invokeai/app/invocations/cogview4_denoise.py
  invokeai/app/invocations/flux2_denoise.py
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/latent_noise.py
  invokeai/app/invocations/metadata_linked.py
  invokeai/app/invocations/noise.py
  invokeai/app/invocations/sd3_denoise.py
  invokeai/app/invocations/z_image_denoise.py
  invokeai/backend/flux/denoise.py
  invokeai/backend/flux2/denoise.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_denoise_noise_inputs.py
  tests/app/invocations/test_latent_noise.py
Due: black, flake8, isort

docs: address review feedback
  docs/src/content/docs/concepts/models.mdx
  docs/src/content/docs/configuration/fp8-storage.mdx
  docs/src/content/docs/features/Workflows/adding-nodes.mdx
  docs/src/content/docs/features/Workflows/custom-node-manager.mdx
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
