Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

docs(z-image) add minimum requirements for Z-Image and create Z-Image starter bundle
  docs/installation/quick_start.md
  docs/installation/requirements.md
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

fix(ui): fix z-image scheduler recall by reordering metadata handlers
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

fix(model-loaders): add local_files_only=True to prevent network requests
  invokeai/backend/model_manager/load/model_loaders/cogview4.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
  invokeai/backend/model_manager/load/model_loaders/onnx.py
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
Due: black, flake8, isort

fix(model manager) add flux VAE to Z-Image bundle
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

docs(model manager) remove out-of-date model info link
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/InstallModels.tsx
Due: none

chore: fix frontendchecks
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/InstallModels.tsx
Due: black, flake8, isort

chore: lint:prettier
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/InstallModels.tsx
Due: none

fix(model-loaders): add local_files_only=True to prevent network requests (#8735)
  invokeai/backend/model_manager/load/model_loaders/cogview4.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
  invokeai/backend/model_manager/load/model_loaders/onnx.py
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
Due: black, flake8, isort

docs(model manager): clarify minimum hardware for z-image turbo
  docs/installation/quick_start.md
  docs/installation/requirements.md
Due: none

chore: typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

(fix) default timeout to 0 min, to disable timeout feature and restore previous default behavior
  invokeai/app/services/config/config_default.py
Due: black, flake8, isort

chore: typegen update
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

(fix) add flux VAE to ZIT starter dependencies & tweak UI docs
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/public/locales/en.json
Due: black, flake8, isort

docs(z-image) add Z-Image requirements and starter bundle (#8734)
  docs/installation/quick_start.md
  docs/installation/requirements.md
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/InstallModels.tsx
Due: black, flake8, isort

docs: fix mkdocs syntax issues
  docs/multiuser/specification.md
  mkdocs.yml
Due: none

chore: remove codeowners from /docs directory
  .github/CODEOWNERS
Due: none

fix(naming style) change name of model_cache_keep_alive to model_cache_keep_alive_min
  invokeai/app/services/config/config_default.py
  invokeai/app/services/model_manager/model_manager_default.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

chore: remove dangling debug statements
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
Due: black, flake8, isort

feat(ui): improve Z-Image model selector UX with auto-clearing conflicts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamZImageQwen3VaeModelSelect.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

feat(z-image): add `add_noise` option to Z-Image Denoise
  invokeai/app/invocations/z_image_denoise.py
Due: black, flake8, isort

Fix typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore: remove dangling debug statements (#8738)
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/stable_diffusion.py
Due: black, flake8, isort

Fix Z-Image VAE operations not reserving working memory for OOM prevention (#8)
  invokeai/app/invocations/z_image_image_to_latents.py
  invokeai/app/invocations/z_image_latents_to_image.py
  tests/app/invocations/test_z_image_working_memory.py
Due: black, flake8, isort

fix: remove check for non-flux vae
  invokeai/app/invocations/z_image_image_to_latents.py
  tests/app/invocations/test_z_image_working_memory.py
Due: black, flake8, isort

fix: remove check for non-flux vae: latents_to_image
  invokeai/app/invocations/z_image_latents_to_image.py
Due: black, flake8, isort

Implemented ordering for expanded iterators
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

Update test_graph_execution_state.py
  tests/test_graph_execution_state.py
Due: black, flake8, isort

Filter invalid nested-iterator parent mappings in _prepare()
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

feat(z-image): add `add_noise` option to Z-Image Denoise (#8739)
  invokeai/app/invocations/z_image_denoise.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

(chore) bump to version v6.10.0
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

(chore) Bump to version 6.10.0 (#8742)
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

changed update alias to updateall
  .salias
  .salias_f
Due: none

image test update
  invokeai/frontend/web/public/nodeDocs/en/images/z_image_example_t2i.png
  invokeai/frontend/web/public/nodeDocs/en/z_image_denoise.md
Due: none

Phase 1: Add multi-user database schema and authentication foundation (#6)
  invokeai/app/services/auth/__init__.py
  invokeai/app/services/auth/password_utils.py
  invokeai/app/services/auth/token_service.py
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_25.py
  invokeai/app/services/users/__init__.py
  invokeai/app/services/users/users_base.py
  invokeai/app/services/users/users_common.py
  invokeai/app/services/users/users_default.py
  pyproject.toml
  tests/app/services/users/test_password_utils.py
  tests/app/services/users/test_token_service.py
  tests/app/services/users/test_user_service.py
  tests/test_sqlite_migrator.py
  uv.lock
Due: black, flake8, isort, uvlock

Remove conditional estimation tests
  tests/app/invocations/test_z_image_working_memory.py
Due: black, flake8, isort

added NodeDocs info file.
  invokeai/frontend/web/public/nodeDocs/_INFO_.md
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
