Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

Make HiDiffusion teardown transactional
  invokeai/backend/hidiffusion/hidiffusion.py
  tests/backend/stable_diffusion/test_hidiffusion_utils.py
Due: black, flake8, isort

Format HiDiffusion teardown with Ruff
  invokeai/backend/hidiffusion/hidiffusion.py
Due: black, flake8, isort

test(backend): add XPU coverage for TorchDevice
  tests/backend/util/test_devices.py
Due: black, flake8, isort

feat(backend): add Intel XPU (torch.xpu) device support
  invokeai/app/api/routers/app_info.py
  invokeai/app/invocations/anima_latents_to_image.py
  invokeai/app/invocations/blend_latents.py
  invokeai/app/invocations/qwen_image_text_encoder.py
  invokeai/app/invocations/wan_latents_to_video.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/invocation_stats/invocation_stats_default.py
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/backend/image_util/depth_anything/depth_anything_pipeline.py
  invokeai/backend/image_util/grounding_dino/grounding_dino_pipeline.py
  invokeai/backend/image_util/pbr_maps/pbr_maps.py
  invokeai/backend/image_util/segment_anything/segment_anything_2_pipeline.py
  invokeai/backend/image_util/segment_anything/segment_anything_pipeline.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/memory_snapshot.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  invokeai/backend/textual_inversion.py
  invokeai/backend/util/attention.py
  invokeai/backend/util/devices.py
  invokeai/backend/util/test_utils.py
Due: black, flake8, isort

chore(ui): typegen
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

build: add [xpu] extra
  pyproject.toml
  uv.lock
Due: uvlock

feat(backend): extend idle-GPU text encoder offload to XPU
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/backend/util/device_pool.py
  tests/backend/util/test_device_pool.py
Due: black, flake8, isort

fix(mm): gate Krea 2 fp8 encoder casting on fp8 storage support
  invokeai/backend/model_manager/load/model_loaders/krea2.py
Due: black, flake8, isort

feat(ui): show the executing GPU for XPU sessions
  invokeai/app/services/events/events_common.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/common/hooks/useProgressDeviceLabel.ts
  invokeai/frontend/web/src/common/util/getCudaDeviceIndex.test.ts
  invokeai/frontend/web/src/common/util/getCudaDeviceIndex.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

test: cover XPU config validation, progress device and fp8 probe
  tests/app/services/config/test_config_device.py
  tests/app/services/config/test_config_generation_devices.py
  tests/app/services/events/test_progress_event_device.py
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort

chore: label XPU devices by index in load logs and fp8 help text
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/frontend/web/public/locales/en.json
Due: black, flake8, isort

fix(nodes): recognise XPU out-of-memory errors in the Anima VAE retry
  invokeai/app/invocations/anima_latents_to_image.py
  tests/app/invocations/test_anima_vae.py
Due: black, flake8, isort

style: wrap long vram_usage_gb ternary for ruff
  invokeai/app/services/invocation_stats/invocation_stats_default.py
Due: black, flake8, isort

fix: drop CUDA-only wording from progress device description
  invokeai/app/services/events/events_common.py
Due: black, flake8, isort

docs: regenerate settings data for xpu device values
  docs/src/generated/settings.json
Due: none

fix: stop xpu VRAM probe from reporting an unknown total as zero
  invokeai/backend/util/devices.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

fix: probe fp8 support on the target device, per device, without caching failures
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort

fix: pin torch current device when borrowing an idle GPU
  invokeai/app/services/session_processor/session_processor_default.py
Due: black, flake8, isort

fix: keep idle-GPU borrows within one device type
  invokeai/backend/util/device_pool.py
  tests/backend/util/test_device_pool.py
Due: black, flake8, isort

feat: detect Intel integrated GPUs via Level Zero
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/util/devices.py
  invokeai/backend/util/level_zero.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

feat: add xpu torch index to pins.json
  pins.json
Due: none

fix: report VRAM diagnostics for the device in use
  invokeai/app/services/invocation_stats/invocation_stats_default.py
  invokeai/backend/model_manager/load/memory_snapshot.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
Due: black, flake8, isort

docs: record why xpu takes the CUDA VAE constants and keeps the broad OOM needle
  invokeai/app/invocations/anima_latents_to_image.py
  invokeai/backend/util/vae_working_memory.py
Due: black, flake8, isort

fix: derive rand_device metadata from the backend's devices
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/randDeviceMetadata.ts
Due: none

docs: add Intel Arc install, driver and VRAM-reporting notes
  docs/src/content/docs/start-here/manual.mdx
  docs/src/content/docs/start-here/system-requirements.mdx
Due: none

fix: query Level Zero Sysman for driver-global free VRAM on xpu
  invokeai/backend/util/devices.py
  invokeai/backend/util/level_zero.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

fix: probe fp8 device support only when a model requests it
  invokeai/backend/model_manager/load/load_default.py
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort

fix: make the fp8 probe mirror the runtime cast path
  invokeai/backend/model_manager/load/load_default.py
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort

fix: degrade gracefully when a backend cannot name a device
  invokeai/backend/util/devices.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

fix: resolve an index-less device in the Sysman VRAM query
  invokeai/backend/util/level_zero.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

fix: declare ctypes prototypes for the Level Zero calls
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/util/level_zero.py
  tests/app/services/session_processor/test_encoder_offload.py
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort

fix: drop the ZES_ENABLE_SYSMAN mutation from the Sysman probe
  invokeai/backend/util/level_zero.py
Due: black, flake8, isort

refactor: tidy up the xpu additions after a cleanup review
  invokeai/backend/image_util/pbr_maps/pbr_maps.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/util/devices.py
  invokeai/backend/util/level_zero.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/randDeviceMetadata.ts
  tests/backend/model_manager/load/test_load_default_fp8.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

build: pin the xpu extra to torch 2.13.0
  pyproject.toml
  uv.lock
Due: uvlock

Serialize imports behind startup restoration (#9433)
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

translationBot(ui): update translation (Chinese (Simplified Han script))
  invokeai/frontend/web/public/locales/es.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/vi.json
  invokeai/frontend/web/public/locales/zh-CN.json
Due: none

feat(ui): raise dimension slider max to 2048
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxHeight.tsx
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxScaledHeight.tsx
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxScaledWidth.tsx
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxWidth.tsx
  invokeai/frontend/web/src/features/parameters/components/Dimensions/DimensionsHeight.tsx
  invokeai/frontend/web/src/features/parameters/components/Dimensions/DimensionsWidth.tsx
Due: none

translationBot(ui): update translation (Chinese (Simplified Han script)) (#9445)
  invokeai/frontend/web/public/locales/es.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/vi.json
  invokeai/frontend/web/public/locales/zh-CN.json
Due: none

fix: don't hold VRAM in an idle server (CUDA context at startup)
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

test(ui): regression tests for the range-based fetching render loop
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.test.ts
  invokeai/frontend/web/src/features/queue/hooks/useRangeBasedQueueItemFetching.test.ts
Due: none
