Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

chore: fix ruff I001 import-order violations
  invokeai/app/api/dependencies.py
  invokeai/app/invocations/wan_lora_loader.py
  invokeai/app/invocations/wan_video_denoise.py
  invokeai/app/services/invocation_services.py
  invokeai/app/services/shared/invocation_context.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/patches/lora_conversions/wan_lora_conversion_utils.py
  invokeai/backend/wan/extensions/wan_ref_image_extension.py
Due: black, flake8, isort

fix(videos): restrict uploads to MP4 only
  invokeai/app/api/routers/videos.py
Due: black, flake8, isort

chore(videos): clean up stale @knipignore on consumed hooks
  invokeai/frontend/web/src/services/api/endpoints/videos.ts
Due: none

docs(videos): document invalidate/select race in addVideosToGallery
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: none

feat(video): add Video Primitive invocation and VideoField input UI
  invokeai/app/invocations/primitives.py
  invokeai/frontend/web/src/features/dnd/dnd.ts
  invokeai/frontend/web/src/features/dnd/useDndMonitor.ts
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryVideoItem.tsx
  invokeai/frontend/web/src/features/imageActions/actions.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/VideoFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/hooks/useNodeHasGalleryOutput.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
Due: black, flake8, isort

chore(backend): ruff
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/video_concat.py
  invokeai/app/invocations/video_frame_extract.py
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_image_to_latents.py
  invokeai/app/invocations/wan_latents_to_image.py
  invokeai/app/invocations/wan_latents_to_video.py
  invokeai/app/invocations/wan_model_loader.py
  invokeai/app/invocations/wan_ref_image_encoder.py
  invokeai/app/invocations/wan_text_encoder.py
  invokeai/app/invocations/wan_video_denoise.py
  invokeai/app/services/gallery/gallery_common.py
  invokeai/app/services/gallery/gallery_default.py
  invokeai/app/services/video_records/video_records_sqlite.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/configs/vae.py
  invokeai/backend/model_manager/load/model_loaders/wan.py
  invokeai/backend/patches/lora_conversions/anima_lora_constants.py
  invokeai/backend/patches/lora_conversions/wan_lora_constants.py
  invokeai/backend/patches/lora_conversions/wan_lora_conversion_utils.py
  invokeai/backend/wan/extensions/wan_ref_image_extension.py
  tests/app/invocations/test_wan_denoise.py
  tests/app/invocations/test_wan_expert_swapper.py
  tests/app/invocations/test_wan_lora_loader.py
  tests/backend/model_manager/configs/test_wan_lora_config.py
  tests/backend/model_manager/configs/test_wan_lora_probe_independence.py
  tests/backend/model_manager/configs/test_wan_t5_encoder_config.py
  tests/backend/patches/lora_conversions/test_wan_lora_conversion_utils.py
  tests/backend/wan/test_sampling_utils.py
Due: black, flake8, isort

chore(frontend): typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

feat: :arrow_up: upgrade deps
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/features/nodes/util/workflow/buildWorkflow.ts
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useValidateAndLoadWorkflow.ts
Due: none

chore: :arrow_up: upgrade `react` to `19.2`
  invokeai/frontend/web/eslint.config.mjs
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
Due: none

perf: refactors to avoid synchronous state setting in effects
  invokeai/frontend/web/src/common/components/ColorPicker/RgbaColorPicker.tsx
  invokeai/frontend/web/src/common/components/InformationalPopover/InformationalPopover.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasEntityQuickSwitchHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasProjectSave.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useDeferredModelLoadingInvocationProgressMessage.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRecallCLIPSkip.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/AddNodeCmdk/AddNodeCmdk.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/SchedulerFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowLibraryModal.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowThumbnail/WorkflowThumbnailField.tsx
  invokeai/frontend/web/src/features/stylePresets/components/StylePresetForm/StylePresetModal.tsx
  invokeai/frontend/web/src/features/stylePresets/store/stylePresetModal.ts
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: none

perf: :zap: enable react compiler
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/main.tsx
  invokeai/frontend/web/vite.config.mts
Due: none

perf: avoid cascading renders on `InvokeAIUI`
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
Due: none

perf(canvas): run workflows hook improvements
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/useFilteredWorkflows.tsx
Due: none

fix: react 19 upgrade migrations
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/common/components/ColorPicker/RgbColorPicker.tsx
  invokeai/frontend/web/src/common/components/ColorPicker/RgbaColorPicker.tsx
  invokeai/frontend/web/src/common/components/Picker/Picker.tsx
  invokeai/frontend/web/src/common/hooks/focus.ts
  invokeai/frontend/web/src/common/hooks/useCallbackOnDragEnter.ts
  invokeai/frontend/web/src/common/hooks/useEditable.ts
  invokeai/frontend/web/src/common/hooks/useMiddleClickOpenInNewTab.ts
  invokeai/frontend/web/src/common/hooks/usePersistedTextareaSize.ts
  invokeai/frontend/web/src/common/hooks/useSubMenu.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/useCanvasEntityListDnd.ts
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/useRefImageDnd.ts
  invokeai/frontend/web/src/features/controlLayers/components/SaveCanvasProjectDialog.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaItemsList.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityPreviewImage.tsx
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/ImageContextMenu.tsx
  invokeai/frontend/web/src/features/gallery/components/GalleryImageGrid.tsx
  invokeai/frontend/web/src/features/gallery/components/useScrollableGallery.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/Flow.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/FormElementEditModeHeader.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/WorkflowBuilder.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/dnd-hooks.ts
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowSearch.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamNegativePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Prompts/PromptResizeHandle.tsx
  invokeai/frontend/web/src/features/prompt/usePrompt.ts
  invokeai/frontend/web/src/features/queue/components/QueueCountBadge.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/useScrollableQueueList.ts
  invokeai/frontend/web/src/features/system/components/AboutModal/AboutModal.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeysModal.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/features/ui/layouts/navigation-api.test.ts
  invokeai/frontend/web/src/features/workflowLibrary/components/SaveWorkflowAsDialog.tsx
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useCreateNewWorkflow.ts
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useSaveLibraryWorkflow.ts
Due: none

chore: upgrade vite to v8
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/tsconfig.json
  invokeai/frontend/web/tsconfig.node.json
  invokeai/frontend/web/vite-plugin-eslint.d.ts
  invokeai/frontend/web/vite.config.mts
Due: none

fix: dragHandleRef can be null
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/NodeFieldElementEditMode.tsx
Due: none

feat: upgrade deps, configure compiler linting errors
  invokeai/frontend/web/eslint.config.mjs
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/app/eslintConfig.test.ts
Due: none

fix(api): run typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore(docs): transition tests, generators to new docs
  .github/CODEOWNERS
  .gitignore
  Makefile
  mkdocs.yml
  pyproject.toml
  scripts/update_config_docstring.py
  tests/test_docs.py
  uv.lock
Due: black, flake8, isort, uvlock

Update .github/workflows/deploy-docs.yml
  .github/workflows/deploy-docs.yml
Due: none

chore: typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

docs(multiuser): correct API and UI inaccuracies flagged in review
  docs/src/content/docs/features/Multi-User Mode/admin-guide.mdx
  docs/src/content/docs/features/Multi-User Mode/api-guide.mdx
  docs/src/content/docs/features/Multi-User Mode/user-guide.mdx
Due: none

docs: update ROCm torch backend from 6.3 to 7.1
  docs/src/content/docs/start-here/manual.mdx
Due: none

fix: regenerate uv.lock with ROCm 7.1 dependencies
  uv.lock
Due: none

feat(wan): split Wan 2.2 starter bundle into T2V and I2V
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

fix(videos): tighten multiuser isolation in list and board-move endpoints
  invokeai/app/api/routers/videos.py
  invokeai/app/services/gallery/gallery_default.py
  invokeai/app/services/video_records/video_records_sqlite.py
Due: black, flake8, isort

fix(boards): cascade video deletion when deleting a board with media
  invokeai/app/api/routers/boards.py
  invokeai/frontend/web/src/services/api/endpoints/images.ts
Due: black, flake8, isort

fix(videos): return affected_boards from board move/remove endpoints
  invokeai/app/api/routers/videos.py
  invokeai/frontend/web/src/services/api/endpoints/videos.ts
Due: black, flake8, isort

fix(videos): stream uploads, FileResponse for full video + thumbnail
  invokeai/app/api/routers/videos.py
Due: black, flake8, isort

fix(videos): localize video UI strings
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/MenuItems/ContextMenuItemDeleteVideo.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/VideoPlayButtonOverlay.tsx
Due: none

fix(video-invocations): exact frame counts and odd-tf transitions
  invokeai/app/invocations/video_concat.py
  invokeai/app/invocations/video_frame_extract.py
Due: black, flake8, isort

docs(gallery): describe video gallery items, upload, and deletion
  docs/src/content/docs/features/gallery.mdx
Due: none

test(videos): regression coverage for PR #9163 review fixes
  invokeai/app/invocations/video_frame_extract.py
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_video_concat.py
  tests/app/invocations/test_video_frame_extract.py
  tests/app/routers/test_boards_multiuser.py
  tests/app/routers/test_videos_multiuser.py
  tests/app/services/gallery/test_gallery_default.py
  tests/app/services/video_records/test_video_records_sqlite.py
Due: black, flake8, isort

fix(canvas): update dockview hints for base tool state
  invokeai/frontend/web/src/features/ui/layouts/DockviewCanvasHeaderActions.tsx
Due: none

feat(wan): add 'Wan 2.2 I2V Ideal Dimensions' invocation
  invokeai/app/invocations/wan_ideal_dimensions.py
  tests/app/invocations/test_wan_ideal_dimensions.py
Due: black, flake8, isort

feat(wan): swap target_short_side int for 480p/720p/1080p preset dropdown
  invokeai/app/invocations/wan_ideal_dimensions.py
  tests/app/invocations/test_wan_ideal_dimensions.py
Due: black, flake8, isort

fix(wan): empty_cache around the I2V reference-image VAE encode
  invokeai/app/invocations/wan_ref_image_encoder.py
Due: black, flake8, isort

feat(wan): support TI2V-5B in the video denoise node (T2V mode)
  invokeai/app/invocations/wan_video_denoise.py
Due: black, flake8, isort

fix(wan): instantiate TI2V-5B VAE with the right architectural config
  invokeai/backend/model_manager/load/model_loaders/vae.py
  tests/backend/model_manager/load/test_wan_vae_loader.py
Due: black, flake8, isort
