Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

ruff format
  invokeai/app/services/config/config_default.py
Due: black, flake8, isort

chore(ui): typgen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Update supported cuda slot input.
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/util/test_devices.py
Due: black, flake8, isort

run "make frontend-typegen"
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(app): config docstrings
  invokeai/app/services/config/config_default.py
Due: black, flake8, isort

fix names of unpublishable nodes
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/publish.ts
Due: none

Add stripped models for testing OMI
  tests/test_model_probe/stripped_models/omi/flux_lora_full.safetensors
  tests/test_model_probe/stripped_models/omi/sd15_lora_full.safetensors
  tests/test_model_probe/stripped_models/omi/sd35_lora_full.safetensors
  tests/test_model_probe/stripped_models/omi/sdxl_lora_full.safetensors
Due: none

Add OMI to model format taxonomy
  invokeai/backend/model_manager/taxonomy.py
Due: black, flake8, isort

Add OMI LoRA config
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

Convert from OMI to default LoRA state dict
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/omi.py
Due: black, flake8, isort

Formatting
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/omi.py
  invokeai/backend/model_manager/taxonomy.py
Due: black, flake8, isort

flux kontext in canvas
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/enqueueRequestedLinear.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/addLayerHooks.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useIsEntityTypeEnabled.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/store/util.ts
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/publish.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFluxKontextGraph.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
Due: none

Loader
  invokeai/backend/model_manager/load/model_loaders/lora.py
Due: black, flake8, isort

Schema update
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

add aspect ratio support
  invokeai/frontend/web/src/features/controlLayers/hooks/addLayerHooks.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFluxKontextGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxAspectRatioSelect.tsx
Due: none

lint
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFluxKontextGraph.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
Due: none

not sure what to do about aspect ratios
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/main.tsx
Due: none

Use OMI conversion utils
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/omi.py
  pyproject.toml
Due: black, flake8, isort, uvlock

Formatting
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/omi.py
Due: black, flake8, isort

Typo: dot should be comma
  invokeai/backend/model_manager/load/model_loaders/lora.py
Due: black, flake8, isort

Convert FROM OMI to diffusers
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/omi.py
Due: black, flake8, isort

Import
  invokeai/backend/model_manager/load/model_loaders/lora.py
Due: black, flake8, isort

Ignore
  invokeai/backend/model_manager/omi.py
Due: black, flake8, isort

Hard code source
  invokeai/backend/model_manager/omi.py
Due: black, flake8, isort

fix(nodes): ensure each invocation overrides _original_model_fields with own field data
  invokeai/app/invocations/baseinvocation.py
Due: black, flake8, isort

feat(ui): default canvas tool is move
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
Due: none

refactor(ui): image viewer & comparison convolutedness
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageComparison.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageComparisonSideBySide.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageComparisonSlider.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/common.ts
Due: none

fix(ui): circular import issue
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityHeaderWarnings.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/addLayerHooks.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/saveCanvasHooks.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildChatGPT4oGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/endpoints/models.ts
Due: none

refactor(ui): canvas flow (wip)
  invokeai/frontend/web/src/app/components/GlobalHookIsolator.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildChatGPT4oGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildCogView4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
Due: none

refactor(ui): move params state to big file of canvas zod stuff
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

refactor(ui): params state zodification
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/util/getScaledBoundingBoxDimensions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/features/parameters/util/optimalDimension.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: none

refactor(ui): canvas flow (wip)
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/enqueueRequestedLinear.ts
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildChatGPT4oGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildCogView4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/getGenerationMode.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: none

feat(ui): viewer is a modal (wip)
  invokeai/frontend/web/src/app/components/GlobalHookIsolator.tsx
  invokeai/frontend/web/src/app/components/GlobalModalIsolator.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasDropArea.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasRightPanel.tsx
  invokeai/frontend/web/src/features/controlLayers/components/NewSessionConfirmationAlertDialog.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolBboxButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolBrushButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolBrushWidth.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolColorPickerButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolEraserButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolEraserWidth.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolFillColorPicker.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolMoveButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolRectButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolViewButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbarResetViewButton.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasDeleteLayerHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasEntityQuickSwitchHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasResetLayerHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasUndoRedoHotkeys.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useEntityFilter.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useEntitySegmentAnything.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useEntityTransform.ts
  invokeai/frontend/web/src/features/dnd/DndImage.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/useImageViewer.ts
  invokeai/frontend/web/src/features/ui/components/FloatingParametersPanelButtons.tsx
Due: none

refactor(ui): zod-ify params slice state
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
Due: none

chore(ui): bump @reduxjs/toolkit to latest
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
Due: none

refactor(ui): org state in prep for new flow
  invokeai/frontend/web/src/common/util/zodUtils.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/selectors.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/dynamicPrompts/store/dynamicPromptsSlice.ts
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
Due: none

wip
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/dnd/DndImage.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageContextMenu.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImage.tsx
Due: none
