Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

fix Windows video thumbnail handling
  invokeai/app/api/routers/videos.py
  tests/app/routers/test_videos_multiuser.py
Due: black, flake8, isort

test: cover remaining video review findings
  invokeai/frontend/web/src/app/store/store.test.ts
  invokeai/frontend/web/src/features/auth/store/protectedMediaConsumers.test.ts
  invokeai/frontend/web/src/features/auth/store/refreshedTokenConsumers.test.ts
  invokeai/frontend/web/src/features/gallery/store/virtualBoardGalleryConsumers.test.ts
  tests/app/invocations/test_wan_model_loader.py
  tests/app/routers/test_videos_multiuser.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_07_01_add_videos_tables.py
  tests/app/util/test_video_thumbnails.py
Due: black, flake8, isort

test: cover adversarial video and Wan findings
  invokeai/frontend/web/src/app/store/store.test.ts
  invokeai/frontend/web/src/features/auth/store/protectedMediaConsumers.test.ts
  invokeai/frontend/web/src/features/auth/store/refreshedTokenConsumers.test.ts
  invokeai/frontend/web/src/features/gallery/store/gallerySlice.test.ts
  invokeai/frontend/web/src/features/gallery/store/virtualBoardGalleryConsumers.test.ts
  tests/app/api/test_video_upload_limits.py
  tests/app/invocations/test_wan_denoise.py
  tests/app/invocations/test_wan_latents_to_image.py
  tests/app/invocations/test_wan_latents_to_video_encoding.py
  tests/app/invocations/test_wan_model_loader.py
  tests/app/routers/test_boards_multiuser.py
  tests/app/routers/test_videos_multiuser.py
  tests/app/util/test_video_thumbnails.py
  tests/backend/model_manager/load/test_wan_loader.py
Due: black, flake8, isort

fix(ideogram4): enforce steps>=2 client-side and validate region bbox
  invokeai/app/invocations/ideogram4_caption.py
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  tests/backend/ideogram4/test_caption_builder_node.py
Due: black, flake8, isort

fix: address remaining video and Wan review findings
  invokeai/app/api/routers/boards.py
  invokeai/app/api/routers/videos.py
  invokeai/app/api_app.py
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_latents_to_image.py
  invokeai/app/invocations/wan_latents_to_video.py
  invokeai/app/invocations/wan_model_loader.py
  invokeai/app/invocations/wan_ref_image_encoder.py
  invokeai/app/invocations/wan_video_denoise.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_07_01_add_videos_tables.py
  invokeai/app/util/video_thumbnails.py
  invokeai/backend/model_manager/load/model_loaders/wan.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/appStarted.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/boardIdSelected.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/auth/components/ProtectedRoute.tsx
  invokeai/frontend/web/src/features/auth/store/authSlice.ts
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/VideoMetadataViewer.tsx
  invokeai/frontend/web/src/features/gallery/store/gallerySlice.ts
  invokeai/frontend/web/src/features/gallery/store/selectCachedGalleryItemNames.ts
  invokeai/frontend/web/src/features/gallery/store/virtualBoardGalleryConsumers.test.ts
  invokeai/frontend/web/src/services/api/endpoints/images.ts
  invokeai/frontend/web/src/services/api/endpoints/virtual_boards.ts
  tests/app/api/test_video_upload_limits.py
Due: black, flake8, isort

fix(pid): keep large Gemma2 as TextLLM, raise (not assert) schedule guard, compute_device, narrow pid_upscale VAE
  invokeai/app/invocations/flux2_pid_decode.py
  invokeai/app/invocations/flux_pid_decode.py
  invokeai/app/invocations/pid_upscale.py
  invokeai/app/invocations/qwen_image_pid_decode.py
  invokeai/app/invocations/sd3_pid_decode.py
  invokeai/app/invocations/sdxl_pid_decode.py
  invokeai/app/invocations/z_image_pid_decode.py
  invokeai/backend/model_manager/configs/text_llm.py
  invokeai/backend/pid/decode.py
  tests/backend/model_manager/configs/test_text_llm_gemma2_config.py
  tests/backend/pid/test_pid_decode.py
Due: black, flake8, isort

chore: regenerate OpenAPI schema and frontend types
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(ideogram4): block unsupported canvas modes/bbox, warn dropped region inputs, constrain bbox
  invokeai/app/invocations/ideogram4_caption.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/store/validators.ts
  invokeai/frontend/web/src/features/queue/store/readiness.test.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  tests/backend/ideogram4/test_caption_builder_node.py
Due: black, flake8, isort

feat(pid): accept single-file GGUF Gemma-2-2b as the PiD caption encoder
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/gemma2_encoder.py
  invokeai/backend/model_manager/load/model_loaders/gemma2_encoder.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/model_manager/configs/test_gemma2_encoder_config.py
Due: black, flake8, isort

Chore Ruff
  tests/backend/model_manager/configs/test_gemma2_encoder_config.py
Due: black, flake8, isort

fix(ideogram4): reject text encoders with weights left on the meta device
  invokeai/backend/model_manager/load/model_loaders/ideogram4.py
  tests/backend/ideogram4/test_text_encoder_loader.py
Due: black, flake8, isort

fix(models): stop Qwen3 GGUF config from matching Gemma-2 GGUF encoders
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  tests/backend/model_manager/configs/test_qwen3_encoder_config.py
Due: black, flake8, isort

test(models): assert re-identified Gemma GGUF drops the stale Qwen3 variant
  tests/backend/model_manager/configs/test_gemma2_encoder_config.py
Due: black, flake8, isort

fix(pid): point 2K-to-4K starter decoders at NVIDIA's v1.5 replacements
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

chore(sponsors): add new sponsor
  README.md
Due: none

test: call now-sync star/unstar routes directly
  tests/app/routers/test_videos_multiuser.py
Due: black, flake8, isort

fix(model cache): close lost-wakeup race in deferred RAM-budget reconcile
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

test: cover Wan conditioning and video link regressions
  invokeai/frontend/web/src/features/auth/store/protectedMediaConsumers.test.ts
  tests/app/invocations/test_wan_denoise.py
Due: black, flake8, isort

fix: validate Wan conditions and video links
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_video_denoise.py
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/VideoMetadataViewer.tsx
Due: black, flake8, isort

perf(webv2): grow layer caches without a CPU round trip
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/renderController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/colorSample.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/controlTransparency.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/layerCache.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/layerCache.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/layerCacheGrowth.browser.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/raster.testStub.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/raster.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/colorPickerTool.test.ts
Due: none

Fix: remove deleted serializer IDs from cache queue
  invokeai/app/services/object_serializer/object_serializer_forward_cache.py
  tests/test_object_serializer_disk.py
Due: black, flake8, isort

refactor(docs): extract shared locale path helpers
  docs/package.json
  docs/plugins/remark-localize-content.mjs
  docs/src/lib/link-localization.mjs
  docs/src/lib/link-localization.test.mjs
Due: none

fix(docs): apply base path to root-relative links in MDX components
  docs/astro.config.mjs
  docs/plugins/rehype-prefix-base-to-root-links.mjs
  docs/plugins/rehype-prefix-base-to-root-links.test.mjs
  docs/scripts/verify-deploy-output.mjs
Due: none

fix(docs): correct base stripping in the localized link rewrite
  docs/src/lib/components/MarkdownContent.astro
Due: none

fix(docs): allow localized links to Starlight fallback pages
  docs/astro.config.mjs
Due: none

test(docs): pin the fallback assertion to an untranslated page
  docs/scripts/verify-deploy-output.mjs
Due: none

perf(webv2): stop layout switches paying React's fallback throttle
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/src/workbench/shell/topbar/LayoutPresetMenu.tsx
  invokeai/frontend/webv2/src/workbench/widgetImplementationResource.test.ts
  invokeai/frontend/webv2/src/workbench/widgetImplementationResource.ts
  invokeai/frontend/webv2/src/workbench/widgetRegistry.ts
Due: none

fix(gallery): stabilize masonry keyboard navigation
  invokeai/frontend/web/src/features/gallery/components/GalleryImageGridMasonry.test.ts
  invokeai/frontend/web/src/features/gallery/components/GalleryImageGridMasonry.tsx
  invokeai/frontend/web/src/features/gallery/components/masonryScrollIntoView.ts
Due: none

test(perf): measure the layout switch, not the test driver
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/scripts/measure-architecture-performance.mjs
Due: none

feat(pid): load Gemma-2 GGUF encoders natively (keep weights quantized)
  invokeai/app/invocations/pid_decoder_loader.py
  invokeai/backend/model_manager/configs/pid_decoder.py
  invokeai/backend/model_manager/load/model_loaders/gemma2_encoder.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/backend/model_manager/taxonomy.py
  tests/backend/model_manager/configs/test_pid_decoder_config.py
  tests/backend/model_manager/load/test_gemma2_encoder_gguf_loader.py
Due: black, flake8, isort

Chore openapi + typegen
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Defer markers of pending imports in restore and recheck once the reservation resolves
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

fix(model cache): close remaining RAM-budget reconcile gaps
  invokeai/backend/model_manager/load/model_cache/cache_record.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

Feat(canvas): add pressure dependent opacity for brush (#9232)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsPopover.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsPressureSensitivity.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityBufferObjectRenderer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/CanvasObjectBrushLineWithPressure.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/CanvasObjectEraserLineWithPressure.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBrushToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasEraserToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/pressure.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/pressure.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

security: enforce multifile download path boundary (#9258)
  invokeai/app/services/download/download_default.py
  tests/app/services/download/test_download_queue.py
Due: black, flake8, isort

Docs update
  docs/src/content/docs/features/pid-decode.mdx
  invokeai/backend/model_manager/configs/pid_decoder.py
Due: black, flake8, isort

chore(sponsors): add new sponsor (#9386)
  README.md
Due: none

fix(deps): drop the blanket torch <2.12 cap; scope the ROCm caveat to docs
  docs/src/content/docs/start-here/manual.mdx
  pyproject.toml
  uv.lock
Due: uvlock

Fix (UI): Extend input draggability fix to all browsers (#9100)
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/useCanvasEntityListDnd.ts
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/useRefImageDnd.ts
  invokeai/frontend/web/src/features/dnd/DndImage.tsx
  invokeai/frontend/web/src/features/dnd/util.ts
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImage.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/WorkflowBuilder.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/builder/dnd-hooks.ts
Due: none

ci: raise python-tests job timeout to 30 minutes
  .github/workflows/python-tests.yml
Due: none
