Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

Localize saved workflow node UI strings
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/CallSavedWorkflowNode.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/SavedWorkflowFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/savedWorkflowFieldUtils.test.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/savedWorkflowFieldUtils.ts
Due: none

Execute saved workflow children inline
  docs/contributing/call_saved_workflow.md
  invokeai/app/invocations/call_saved_workflow.py
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/app/services/shared/graph.py
  invokeai/app/services/shared/workflow_graph_builder.py
  invokeai/frontend/web/src/features/nodes/util/graph/buildNodesGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildNodesGraph.ts
  tests/app/invocations/test_call_saved_workflows.py
  tests/app/services/test_session_processor_shutdown.py
  tests/app/services/test_workflow_graph_builder.py
Due: black, flake8, isort

chore: ruff
  invokeai/app/services/shared/workflow_graph_builder.py
Due: black, flake8, isort

Test inline saved workflow execution semantics
  docs/contributing/call_saved_workflow.md
  tests/app/services/test_session_processor_shutdown.py
Due: black, flake8, isort

fix(docs): remove crowdin translations
  .github/workflows/translations.yml
Due: none

Fix saved workflow lint and schema warnings
  invokeai/app/invocations/call_saved_workflow.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/savedWorkflowFieldUtils.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Updated documentation
  invokeai/app/services/shared/README.md
Due: none

test: add shared helper for custom-nodes gate + admin happy-path tests
  invokeai/frontend/web/src/features/customNodes/useIsCustomNodesEnabled.test.ts
  invokeai/frontend/web/src/features/customNodes/useIsCustomNodesEnabled.ts
  tests/app/routers/test_multiuser_authorization.py
Due: black, flake8, isort

fix(docs): deployment paths mismatch
  .github/workflows/deploy-docs.yml
  docs/astro.config.mjs
  docs/public/CNAME
  docs/public/favicon.svg
Due: none

Propagate workflow return values to callers
  docs/contributing/call_saved_workflow.md
  invokeai/app/invocations/call_saved_workflow.py
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/app/services/shared/README.md
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_call_saved_workflows.py
  tests/app/services/test_session_processor_shutdown.py
Due: black, flake8, isort

fix(docs): deployment paths mismatch (#9067)
  .github/workflows/deploy-docs.yml
  docs/astro.config.mjs
  docs/public/CNAME
  docs/public/favicon.svg
Due: none

fix(custom-nodes): return optimistic default while setup status loads
  invokeai/app/api/routers/custom_nodes.py
  invokeai/frontend/web/src/features/customNodes/ScanNodesForm.tsx
  invokeai/frontend/web/src/features/customNodes/getParentDirectory.test.ts
  invokeai/frontend/web/src/features/customNodes/getParentDirectory.ts
  invokeai/frontend/web/src/features/customNodes/useIsCustomNodesEnabled.test.ts
  invokeai/frontend/web/src/features/customNodes/useIsCustomNodesEnabled.ts
  invokeai/frontend/web/src/services/api/endpoints/customNodes.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix(external): fix mask handling and mode support for external providers
  invokeai/app/services/external_generation/providers/openai.py
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

fix(docs): avoid relative link urls, fix homepage title
  docs/astro.config.mjs
  docs/src/content/docs/concepts/dynamic-prompting.mdx
  docs/src/content/docs/concepts/image-generation.mdx
  docs/src/content/docs/concepts/models.mdx
  docs/src/content/docs/concepts/prompt-syntax.mdx
  docs/src/content/docs/concepts/prompting-guide.mdx
  docs/src/content/docs/configuration/docker.mdx
  docs/src/content/docs/contributing/new-contributor-guide.mdx
  docs/src/content/docs/development/Guides/creating-nodes.mdx
  docs/src/content/docs/development/index.mdx
  docs/src/content/docs/features/text-tool.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/start-here/manual.mdx
  docs/src/content/docs/start-here/system-requirements.mdx
  docs/src/content/docs/troubleshooting/faq.mdx
  docs/src/content/docs/workflows/adding-nodes.mdx
  docs/src/content/docs/workflows/comfyui-migration.mdx
  docs/src/content/docs/workflows/editor-interface.mdx
  docs/src/content/docs/workflows/index.mdx
  docs/src/lib/components/DownloadOptions.astro
  docs/src/lib/components/SystemRequirmentsLink.astro
Due: none

fix(docs): better deployment run scheduling
  .github/workflows/deploy-docs.yml
  .github/workflows/mkdocs-material.yml
  mkdocs.yml
Due: none

fix(docs): remove crowdin
  crowdin.yml
Due: none

ui: split custom nodes permission into isKnown/isAllowed to close loading window
  invokeai/frontend/web/src/features/customNodes/useIsCustomNodesEnabled.test.ts
  invokeai/frontend/web/src/features/customNodes/useIsCustomNodesEnabled.ts
  invokeai/frontend/web/src/features/ui/components/AppContent.tsx
  invokeai/frontend/web/src/features/ui/components/VerticalNavBar.tsx
Due: none

fix(docs): urls respect baseurl + better deployment scheduling (#9069)
  .github/workflows/deploy-docs.yml
  .github/workflows/mkdocs-material.yml
  crowdin.yml
  docs/astro.config.mjs
  docs/src/content/docs/concepts/dynamic-prompting.mdx
  docs/src/content/docs/concepts/image-generation.mdx
  docs/src/content/docs/concepts/models.mdx
  docs/src/content/docs/concepts/prompt-syntax.mdx
  docs/src/content/docs/concepts/prompting-guide.mdx
  docs/src/content/docs/configuration/docker.mdx
  docs/src/content/docs/contributing/new-contributor-guide.mdx
  docs/src/content/docs/development/Guides/creating-nodes.mdx
  docs/src/content/docs/development/index.mdx
  docs/src/content/docs/features/text-tool.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/start-here/manual.mdx
  docs/src/content/docs/start-here/system-requirements.mdx
  docs/src/content/docs/troubleshooting/faq.mdx
  docs/src/content/docs/workflows/adding-nodes.mdx
  docs/src/content/docs/workflows/comfyui-migration.mdx
  docs/src/content/docs/workflows/editor-interface.mdx
  docs/src/content/docs/workflows/index.mdx
  docs/src/lib/components/DownloadOptions.astro
  docs/src/lib/components/SystemRequirmentsLink.astro
  mkdocs.yml
Due: none

fix(docs): deploy targets
  .github/workflows/deploy-docs.yml
  docs/src/lib/base-path.ts
  docs/src/lib/components/DownloadOptions.astro
  docs/src/lib/components/SystemRequirmentsLink.astro
Due: none

fix(docs): deploy targets (#9070)
  .github/workflows/deploy-docs.yml
  docs/src/lib/base-path.ts
  docs/src/lib/components/DownloadOptions.astro
  docs/src/lib/components/SystemRequirmentsLink.astro
Due: none

fix anima model auto-selection (#9035)
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
Due: none

Add SQLModel ORM layer alongside raw SQLite for database portability
  invokeai/app/api/dependencies.py
  invokeai/app/services/app_settings/app_settings_sqlmodel.py
  invokeai/app/services/board_image_records/board_image_records_sqlmodel.py
  invokeai/app/services/board_records/board_records_sqlmodel.py
  invokeai/app/services/client_state_persistence/client_state_persistence_sqlmodel.py
  invokeai/app/services/image_records/image_records_sqlmodel.py
  invokeai/app/services/model_records/model_records_sqlmodel.py
  invokeai/app/services/model_relationship_records/model_relationship_records_sqlmodel.py
  invokeai/app/services/shared/sqlite/models.py
  invokeai/app/services/shared/sqlite/sqlite_database.py
  invokeai/app/services/style_preset_records/style_preset_records_sqlmodel.py
  invokeai/app/services/users/users_sqlmodel.py
  invokeai/app/services/workflow_records/workflow_records_sqlmodel.py
  pyproject.toml
  tests/app/services/test_sqlmodel_services/__init__.py
  tests/app/services/test_sqlmodel_services/conftest.py
  tests/app/services/test_sqlmodel_services/test_app_settings_sqlmodel.py
  tests/app/services/test_sqlmodel_services/test_benchmark_sqlmodel_vs_sqlite.py
  tests/app/services/test_sqlmodel_services/test_board_image_records_sqlmodel.py
  tests/app/services/test_sqlmodel_services/test_board_records_sqlmodel.py
  tests/app/services/test_sqlmodel_services/test_client_state_sqlmodel.py
  tests/app/services/test_sqlmodel_services/test_image_records_sqlmodel.py
  tests/app/services/test_sqlmodel_services/test_model_records_sqlmodel.py
  tests/app/services/test_sqlmodel_services/test_model_relationships_sqlmodel.py
  tests/app/services/test_sqlmodel_services/test_style_presets_sqlmodel.py
  tests/app/services/test_sqlmodel_services/test_users_sqlmodel.py
Due: black, flake8, isort, uvlock

remove anima denoise case
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
Due: none

fix(external): update mode support and UI for external providers
  invokeai/app/invocations/external_image_generation.py
  invokeai/app/services/external_generation/providers/openai.py
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

Chore typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

refactor(custom-nodes): extract permission derivation into shared helper
  invokeai/frontend/web/src/features/customNodes/useIsCustomNodesEnabled.test.ts
  invokeai/frontend/web/src/features/customNodes/useIsCustomNodesEnabled.ts
Due: none

Chore Knit fix
  invokeai/frontend/web/src/features/customNodes/useIsCustomNodesEnabled.ts
Due: none

fix(custom-nodes): purge full module subtree on uninstall
  invokeai/app/api/routers/custom_nodes.py
  tests/app/routers/test_custom_nodes.py
Due: black, flake8, isort

fix(custom-nodes): purge full module subtree on uninstall
  tests/app/routers/test_custom_nodes.py
Due: black, flake8, isort

fix(external): improve OpenAI node UX and disable cache by default
  invokeai/app/invocations/external_image_generation.py
Due: black, flake8, isort

fix(external): duplicate cached images on cache hit instead of skipping
  invokeai/app/invocations/external_image_generation.py
Due: black, flake8, isort

Chore typegen + ruff
  invokeai/app/invocations/external_image_generation.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

CHore ruff format
  invokeai/app/invocations/external_image_generation.py
Due: black, flake8, isort

fix(external): restore OpenAI advanced settings on Remix recall
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

fix(docs): add more yaml configuration docs
  docs/src/content/docs/configuration/invokeai-yaml.mdx
Due: none
