Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

chore(frontend): typegen+openapi
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

docs(multi-gpu): add configuration information
  docs/src/content/docs/configuration/invokeai-yaml.mdx
Due: none

chore(frontend): typegen + openapi again
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(mm): denoise working-memory telemetry crashed every denoise
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/services/shared/invocation_context.py
  invokeai/backend/util/denoise_working_memory.py
  tests/backend/util/test_denoise_working_memory.py
Due: black, flake8, isort

feat(mm): log activation multiplier in DENOISE_MEM for self-contained calibration
  invokeai/backend/util/denoise_working_memory.py
  tests/backend/util/test_denoise_working_memory.py
Due: black, flake8, isort

feat(mm): per-architecture denoise working-memory multipliers
  invokeai/app/invocations/anima_denoise.py
  invokeai/app/invocations/flux2_denoise.py
  invokeai/app/invocations/qwen_image_denoise.py
  invokeai/app/invocations/sd3_denoise.py
  invokeai/app/invocations/z_image_denoise.py
  invokeai/backend/util/denoise_working_memory.py
  tests/backend/util/test_denoise_working_memory.py
Due: black, flake8, isort

feat(mm): default smart_partial_loading to off (opt-in, pending hardware validation)
  invokeai/app/services/config/config_default.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
Due: black, flake8, isort

feat(mm): log denoise-loop wall time (elapsed_ms) in DENOISE_MEM
  invokeai/backend/util/denoise_working_memory.py
  tests/backend/util/test_denoise_working_memory.py
Due: black, flake8, isort

feat(model manager): external providers UI/UX tweaks (#9237)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ExternalProviders/ExternalProvidersForm.tsx
Due: none

feat(settings): add Generation Devices selector to Settings dialog
  invokeai/app/api/routers/app_info.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsGenerationDevices.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/services/api/endpoints/appInfo.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_app_info.py
Due: black, flake8, isort

feat(settings): boldface the restart notice on Generation Devices
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsGenerationDevices.tsx
Due: none

feat(settings): show GPU name in Generation Devices badges
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsGenerationDevices.tsx
Due: none

chore(frontend): openapi
  invokeai/frontend/web/openapi.json
Due: none

chore(backend): ruff
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

Support Hugging Face blob file URLs (#9167)
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

docs(external): correct mode tables and add Edit Mode plan (#9222)
  docs/src/content/docs/features/External Models/alibabacloud.mdx
  docs/src/content/docs/features/External Models/gemini.mdx
  docs/src/content/docs/features/External Models/index.mdx
  docs/src/content/docs/features/External Models/openai.mdx
Due: none

feat(services): add S3CompatibleImageFileStorage (first cloud impl of ImageFileStorageBase)
  .github/workflows/s3-integration.yml
  docs/src/content/docs/configuration/fp8-storage.mdx
  docs/src/content/docs/configuration/object-storage.mdx
  docs/src/generated/settings.json
  invokeai/app/api/dependencies.py
  invokeai/app/api/routers/images.py
  invokeai/app/services/bulk_download/bulk_download_default.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/image_files/image_files_base.py
  invokeai/app/services/image_files/image_files_common.py
  invokeai/app/services/image_files/image_files_disk.py
  invokeai/app/services/image_files/image_files_s3.py
  invokeai/app/services/images/images_base.py
  invokeai/app/services/images/images_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
  tests/app/routers/test_image_serving.py
  tests/app/services/bulk_download/test_bulk_download.py
  tests/app/services/image_files/test_image_files_disk.py
  tests/app/services/image_files/test_image_files_s3.py
  tests/integration/test_image_files_s3_real.py
  tests/test_config.py
  uv.lock
Due: black, flake8, isort, uvlock

fix(mm): partial-load headroom to prevent high-res thrash under smart_partial_loading
  invokeai/backend/model_manager/load/model_cache/model_cache.py
Due: black, flake8, isort

fix(canvas): wrap text line-height combobox tooltip child
  invokeai/frontend/web/src/features/controlLayers/components/Text/TextToolOptions.tsx
Due: none

fix(app): keep rehydration bootstrap outside strict mode
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/main.tsx
Due: none

fix(canvas): clear workflow filtering state for empty lists
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/useFilteredWorkflows.tsx
Due: none

fix(workflows): gate library render until view sync
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowLibraryModal.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowLibraryModal.utils.test.ts
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowLibraryModal.utils.ts
Due: none

fix(canvas): keep model loading indicator across transitions
  invokeai/frontend/web/src/features/controlLayers/hooks/useDeferredModelLoadingInvocationProgressMessage.ts
Due: none

fix(canvas): seed text overlay size from content metrics
  invokeai/frontend/web/src/features/controlLayers/components/Text/CanvasTextOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Text/CanvasTextOverlay.utils.test.ts
  invokeai/frontend/web/src/features/controlLayers/components/Text/CanvasTextOverlay.utils.ts
Due: none

test(ui): restore null active tab navigation coverage
  invokeai/frontend/web/src/features/ui/layouts/navigation-api.test.ts
Due: none

fix(nodes): guard optional scheduler field
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/SchedulerFieldInputComponent.tsx
Due: none

style: ruff format (wrap long model_on_device call in denoise_latents)
  invokeai/app/invocations/denoise_latents.py
Due: black, flake8, isort

chore(api): regenerate openapi schema + types for smart_partial_loading config field
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore(backend): ruff
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

Fix(model install): wait for startup restore before imports (#9239)
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

feat(anima): bundle T5-XXL tokenizer, remove t5_encoder_model input (#9244)
  invokeai/app/invocations/anima_model_loader.py
  invokeai/app/invocations/anima_text_encoder.py
  invokeai/backend/anima/t5_tokenizer.py
  invokeai/backend/anima/tokenizer/special_tokens_map.json
  invokeai/backend/anima/tokenizer/tokenizer.json
  invokeai/backend/anima/tokenizer/tokenizer_config.json
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildAnimaGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildAnimaGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamAnimaModelSelect.tsx
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
  tests/backend/anima/test_t5_tokenizer.py
Due: black, flake8, isort, uvlock

chore(frontend): openapi & typegen
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

feat(lora): support PEFT named-adapter LoRAs (e.g. Klein 9B) (#9252)
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/model_on_disk.py
  invokeai/backend/patches/lora_conversions/flux_diffusers_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/peft_adapter_utils.py
  tests/backend/patches/lora_conversions/test_peft_adapter_utils.py
Due: black, flake8, isort

chore(lint): ruff, openapi and typegen
  invokeai/backend/model_manager/configs/lora.py
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/services/image_records/test_image_records_sqlite.py
Due: black, flake8, isort

chore(frontend): remove unused selectT5EncoderModels import
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
Due: none

chore(backend): ruff
  invokeai/app/services/model_install/model_install_default.py
Due: black, flake8, isort

chore(frontend): remove unused export
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
Due: none

chore(typegen): add weight_min/weight_max to LoraModelDefaultSettings schema
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore(frontend): regenerate openapi
  invokeai/frontend/web/openapi.json
Due: none

fix(qwen-image): align ComfyUI-prefix detection with loader, tighten edit heuristic, dedupe fp8 helpers
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  tests/backend/model_manager/configs/test_qwen_image_checkpoint_variant_detection.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
