Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

perf(webv2): stop the upscale widget re-rendering every field on each edit
  invokeai/frontend/webv2/src/app/UpscaleUiAdapter.tsx
  invokeai/frontend/webv2/src/features/upscale/ui/UpscaleUiContext.tsx
  invokeai/frontend/webv2/src/features/upscale/ui/UpscaleWidgetView.tsx
Due: none

perf(ui): re-record architecture performance baselines
  invokeai/frontend/webv2/performance/architecture-baseline.json
Due: none

chore(api): remove the download_queue REST router entirely
  docs/src/content/docs/features/Multi-User Mode/admin-guide.mdx
  invokeai/app/api/routers/download_queue.py
  invokeai/app/api_app.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/conftest.py
  tests/app/routers/test_download_queue_router.py
Due: black, flake8, isort

feat(backend): add Intel XPU (torch.xpu) device support
  invokeai/app/api/routers/app_info.py
  invokeai/app/invocations/anima_latents_to_image.py
  invokeai/app/invocations/blend_latents.py
  invokeai/app/invocations/qwen_image_text_encoder.py
  invokeai/app/invocations/wan_latents_to_video.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/invocation_stats/invocation_stats_default.py
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/backend/image_util/depth_anything/depth_anything_pipeline.py
  invokeai/backend/image_util/grounding_dino/grounding_dino_pipeline.py
  invokeai/backend/image_util/pbr_maps/pbr_maps.py
  invokeai/backend/image_util/segment_anything/segment_anything_2_pipeline.py
  invokeai/backend/image_util/segment_anything/segment_anything_pipeline.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/memory_snapshot.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  invokeai/backend/textual_inversion.py
  invokeai/backend/util/attention.py
  invokeai/backend/util/devices.py
  invokeai/backend/util/test_utils.py
Due: black, flake8, isort

test(backend): add XPU coverage for TorchDevice
  tests/backend/util/test_devices.py
Due: black, flake8, isort

build: add [xpu] extra
  pyproject.toml
  uv.lock
Due: uvlock

feat(backend): extend idle-GPU text encoder offload to XPU
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/backend/util/device_pool.py
  tests/backend/util/test_device_pool.py
Due: black, flake8, isort

feat(ui): show the executing GPU for XPU sessions
  invokeai/app/services/events/events_common.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/common/hooks/useProgressDeviceLabel.ts
  invokeai/frontend/web/src/common/util/getCudaDeviceIndex.test.ts
  invokeai/frontend/web/src/common/util/getCudaDeviceIndex.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

chore: label XPU devices by index in load logs and fp8 help text
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/frontend/web/public/locales/en.json
Due: black, flake8, isort

fix(mm): gate Krea 2 fp8 encoder casting on fp8 storage support
  invokeai/backend/model_manager/load/model_loaders/krea2.py
Due: black, flake8, isort

test: cover XPU config validation, progress device and fp8 probe
  tests/app/services/config/test_config_device.py
  tests/app/services/config/test_config_generation_devices.py
  tests/app/services/events/test_progress_event_device.py
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort

fix(nodes): recognise XPU out-of-memory errors in the Anima VAE retry
  invokeai/app/invocations/anima_latents_to_image.py
  tests/app/invocations/test_anima_vae.py
Due: black, flake8, isort

fix: drop CUDA-only wording from progress device description
  invokeai/app/services/events/events_common.py
Due: black, flake8, isort

style: wrap long vram_usage_gb ternary for ruff
  invokeai/app/services/invocation_stats/invocation_stats_default.py
Due: black, flake8, isort

docs: regenerate settings data for xpu device values
  docs/src/generated/settings.json
Due: none

fix: stop xpu VRAM probe from reporting an unknown total as zero
  invokeai/backend/util/devices.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

fix: probe fp8 support on the target device, per device, without caching failures
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort

fix: pin torch current device when borrowing an idle GPU
  invokeai/app/services/session_processor/session_processor_default.py
Due: black, flake8, isort

fix: keep idle-GPU borrows within one device type
  invokeai/backend/util/device_pool.py
  tests/backend/util/test_device_pool.py
Due: black, flake8, isort

feat: detect Intel integrated GPUs via Level Zero
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/util/devices.py
  invokeai/backend/util/level_zero.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

feat: add xpu torch index to pins.json
  pins.json
Due: none

docs: record why xpu takes the CUDA VAE constants and keeps the broad OOM needle
  invokeai/app/invocations/anima_latents_to_image.py
  invokeai/backend/util/vae_working_memory.py
Due: black, flake8, isort

fix: report VRAM diagnostics for the device in use
  invokeai/app/services/invocation_stats/invocation_stats_default.py
  invokeai/backend/model_manager/load/memory_snapshot.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
Due: black, flake8, isort

fix: derive rand_device metadata from the backend's devices
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/randDeviceMetadata.ts
Due: none

fix: probe fp8 device support only when a model requests it
  invokeai/backend/model_manager/load/load_default.py
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort

docs: add Intel Arc install, driver and VRAM-reporting notes
  docs/src/content/docs/start-here/manual.mdx
  docs/src/content/docs/start-here/system-requirements.mdx
Due: none

fix: query Level Zero Sysman for driver-global free VRAM on xpu
  invokeai/backend/util/devices.py
  invokeai/backend/util/level_zero.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

fix: make the fp8 probe mirror the runtime cast path
  invokeai/backend/model_manager/load/load_default.py
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort

fix: resolve an index-less device in the Sysman VRAM query
  invokeai/backend/util/level_zero.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

fix: degrade gracefully when a backend cannot name a device
  invokeai/backend/util/devices.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

fix: declare ctypes prototypes for the Level Zero calls
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/util/level_zero.py
  tests/app/services/session_processor/test_encoder_offload.py
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort

fix: drop the ZES_ENABLE_SYSMAN mutation from the Sysman probe
  invokeai/backend/util/level_zero.py
Due: black, flake8, isort

build: pin the xpu extra to torch 2.13.0
  pyproject.toml
  uv.lock
Due: uvlock

refactor: tidy up the xpu additions after a cleanup review
  invokeai/backend/image_util/pbr_maps/pbr_maps.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/util/devices.py
  invokeai/backend/util/level_zero.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/randDeviceMetadata.ts
  tests/backend/model_manager/load/test_load_default_fp8.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

test: stub Sysman in the unknown-total xpu probe test
  tests/backend/util/test_devices.py
Due: black, flake8, isort

build: teach the pins check about the xpu index
  scripts/check_pins.py
Due: black, flake8, isort

fix: defer the xpu device pin like cuda's
  invokeai/app/services/session_processor/session_processor_default.py
Due: black, flake8, isort

docs: regenerate settings data on linux
  docs/src/generated/settings.json
Due: none

fix(mm): handle shared memory on integrated GPUs
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_integrated_gpu.py
Due: black, flake8, isort

docs: note intel device selection and integrated-GPU memory
  docs/src/content/docs/start-here/system-requirements.mdx
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
