Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

fix: clear device cache when a queue item is cancelled or completes
  invokeai/app/services/session_processor/session_processor_default.py
Due: black, flake8, isort

chore: regenerate openapi schema for system prompts endpoints
  invokeai/frontend/web/openapi.json
Due: none

Chore fix Path
  invokeai/frontend/web/openapi.json
Due: none

Fix tests
  tests/app/routers/conftest.py
Due: black, flake8, isort

fix(ui): clarify model defaults toast
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
Due: none

fix(ui): require metadata handler success for some mode
  invokeai/frontend/web/src/features/metadata/parsing.test.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

feat(canvas):add transparency locking support for gradients
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/CanvasObjectGradient.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBrushToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasGradientToolModule.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasGradientToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/gradientBufferState.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/transparencyLocking.test.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/transparencyLocking.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

docs: add transparency lock support
  docs/src/content/docs/features/Canvas/gradient-tool.mdx
Due: none

resolve docs gradient tool merge conflict
  docs/src/content/docs/features/Canvas/gradient-tool.mdx
Due: none

fix(canvas): add fine-grid hint to move tool
  invokeai/frontend/web/src/features/ui/layouts/canvasToolModifierHints.test.ts
  invokeai/frontend/web/src/features/ui/layouts/canvasToolModifierHints.ts
Due: none

Merged missed
  invokeai/frontend/web/openapi.json
Due: none

Chore Ruff
  invokeai/backend/ernie_image/denoise.py
Due: black, flake8, isort

chore(docs): transition tests, generators to new docs
  .github/CODEOWNERS
  .gitignore
  Makefile
  mkdocs.yml
  pyproject.toml
  scripts/update_config_docstring.py
  tests/test_docs.py
  uv.lock
Due: black, flake8, isort, uvlock

feat(docs): add image section
  docs/src/content/docs/development/Documentation/index.mdx
Due: none

feat(docs): add guide for docs translations
  docs/src/content/docs/development/Documentation/index.mdx
Due: none

feat(docs): add pages for contributing to docs
  docs/src/content/docs/development/Documentation/index.mdx
Due: none

feat(docs): add cover image
  docs/src/assets/coverimage.png
Due: none

feat(docs): improve config organization
  docs/astro.config.mjs
  docs/src/config/index.ts
  docs/src/config/redirects.ts
  docs/src/config/sidebar.ts
  docs/src/config/social.ts
Due: none

fix(docs): add social image metadata
  docs/astro.config.mjs
  docs/public/coverimage.png
  docs/src/config/head.ts
  docs/src/config/index.ts
Due: none

feat(canvas): improve spline editing and add vector-to-vector merge down
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/VectorLayer/VectorLayerMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityMenuItemsMergeDown.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/canvasMergeHotkeyUtils.test.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/canvasMergeHotkeyUtils.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasMergeDownHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositorModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStateApiModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasPathToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/vectorLayer.test.ts
  invokeai/frontend/web/src/features/controlLayers/util/bezierPath.test.ts
  invokeai/frontend/web/src/features/controlLayers/util/bezierPath.ts
  invokeai/frontend/web/src/features/ui/layouts/canvasToolModifierHints.test.ts
  invokeai/frontend/web/src/features/ui/layouts/canvasToolModifierHints.ts
Due: none

feat(quantization): add SDNQ (SD.Next Quantization) support
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/quantization/sdnq/__init__.py
  invokeai/backend/quantization/sdnq/loaders.py
  invokeai/backend/quantization/sdnq/sdnq_tensor.py
  invokeai/backend/quantization/sdnq/utils.py
  tests/backend/quantization/sdnq/__init__.py
  tests/backend/quantization/sdnq/test_sdnq_loader.py
  tests/backend/quantization/sdnq/test_sdnq_tensor.py
Due: black, flake8, isort

fix(sdnq): improve uint4 dequantization and add diffusers format support
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/flux_model_loader.py
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/app/invocations/flux_vae_decode.py
  invokeai/app/util/t5_model_identifier.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/vae.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/model_manager/model_on_disk.py
  invokeai/backend/quantization/sdnq/loaders.py
  invokeai/backend/quantization/sdnq/sdnq_tensor.py
  invokeai/backend/quantization/sdnq/utils.py
Due: black, flake8, isort

test(sdnq): align asymmetric dequant expectation with upstream convention
  tests/backend/quantization/sdnq/test_sdnq_tensor.py
Due: black, flake8, isort

test(sdnq): align asymmetric dequant expectation with upstream convention
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_conv2d.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_invoke_linear_8_bit_lt.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_invoke_linear_nf4.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_linear.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_module_mixin.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/quantization/sdnq/sdnq_tensor.py
  invokeai/backend/quantization/sdnq/utils.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_all_custom_modules.py
  tests/backend/quantization/sdnq/test_sdnq_loader.py
  tests/backend/quantization/sdnq/test_sdnq_tensor.py
Due: black, flake8, isort

feat(sdnq): support SDNQ-quantized T5 encoders
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/t5_encoder.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
Due: black, flake8, isort

feat(sdnq): support SDNQ-quantized FLUX.2 transformers
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
Due: black, flake8, isort

feat(sdnq): support full ZImagePipeline diffusers folders
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
Due: black, flake8, isort

fix(sdnq): match T5 SDNQ submodel layout in FluxPipeline bundles
  invokeai/backend/model_manager/configs/t5_encoder.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
Due: black, flake8, isort

fix(sdnq): swap scale/shift halves in FLUX BFL converter's norm_out
  invokeai/app/invocations/flux2_denoise.py
  invokeai/app/invocations/z_image_denoise.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
Due: black, flake8, isort

feat(sdnq): dispatch all ZImagePipeline submodels via SDNQ loader
  invokeai/app/invocations/z_image_model_loader.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

feat(sdnq): support FLUX.2 Klein dynamic mixed-precision pipelines
  invokeai/app/invocations/flux2_klein_model_loader.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/quantization/sdnq/loaders.py
  invokeai/backend/quantization/sdnq/sdnq_tensor.py
  invokeai/backend/quantization/sdnq/utils.py
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

fix(docs): pages in wrong locations
  docs/src/config/sidebar.ts
  docs/src/content/docs/development/Guides/creating-node-pack.mdx
  docs/src/content/docs/features/Canvas/canvas-projects.mdx
  docs/src/content/docs/features/Workflows/comfyui-migration.mdx
  docs/src/content/docs/features/custom-node-manager.mdx
  docs/src/content/docs/features/gallery.mdx
  docs/src/content/docs/features/prompt-tools.md
Due: none

fix(sdnq): unblock FLUX.2 Klein SDNQ pipelines in the UI
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelFormatBadge.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore(docs): upgrade deps
  docs/package.json
  docs/pnpm-lock.yaml
Due: none

feat(sdnq): add starter models and user-facing docs
  docs/src/content/docs/configuration/fp8-storage.mdx
  docs/src/content/docs/configuration/sdnq-quantization.mdx
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

Chore Fix Path
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

docs: Updated uvicorn URL
  docs/src/generated/settings.json
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

chore: prep v6.13.0 release
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsMenu.tsx
  invokeai/frontend/web/src/features/ui/components/WhatsNew.tsx
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

fix(fp8): route ModelMixin through hook-based path to survive partial load
  invokeai/backend/model_manager/load/load_default.py
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort
