Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

feat(qwen-image): support ComfyUI single-file Qwen2.5-VL encoder
  invokeai/app/invocations/qwen_image_text_encoder.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/qwen_vl_encoder.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(qwen-image): standalone VAE checkpoint and Qwen2.5-VL encoder support
  invokeai/app/invocations/qwen_image_model_loader.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/qwen_vl_encoder.py
  invokeai/backend/model_manager/configs/vae.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/backend/model_manager/load/model_loaders/vae.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelFormatBadge.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildQwenImageGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamQwenImageComponentSourceSelect.tsx
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

feat(qwen-image): register standalone components as starter models
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

Chore Ruff Format
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
Due: black, flake8, isort

fix(Canvas): harden merge hotkeys and add gating tests
  invokeai/frontend/web/src/features/controlLayers/hooks/canvasMergeHotkeyUtils.test.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/canvasMergeHotkeyUtils.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasMergeDownHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasMergeVisibleHotkey.ts
Due: none

fix(text-tool): address custom font review findings
  invokeai/app/api/routers/utilities.py
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Text/CanvasTextOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Text/TextToolOptions.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasTextToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/text/textConstants.test.ts
  invokeai/frontend/web/src/features/controlLayers/text/textConstants.ts
  invokeai/frontend/web/src/features/controlLayers/text/textUserFonts.test.ts
  invokeai/frontend/web/src/features/controlLayers/text/textUserFonts.ts
  invokeai/frontend/web/src/services/api/endpoints/utilities.ts
  tests/app/routers/test_utilities.py
  tests/app/util/test_custom_openapi.py
  tests/test_config.py
Due: black, flake8, isort

fix(text-tool): preserve logical size when committing HiDPI text
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasTextToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/text/textCommit.test.ts
  invokeai/frontend/web/src/features/controlLayers/text/textCommit.ts
Due: none

fix(mm): support ComfyUI bundled checkpoint format for Anima model identification
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/anima.py
  tests/backend/model_manager/configs/test_anima_model_identification.py
Due: black, flake8, isort

Remove optimized image-to-image toggle from UI for Z-Image
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
Due: none

feat(devices): add resolve_model_precision helper for per-model dtype overrides
  invokeai/backend/util/devices.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

feat(config): add anima_precision field for per-model precision override
  docs/src/generated/settings.json
  invokeai/app/services/config/config_default.py
Due: black, flake8, isort

feat(anima): respect anima_precision override in model loader
  invokeai/backend/model_manager/load/model_loaders/anima.py
Due: black, flake8, isort

feat(anima): respect anima_precision override in denoise invocation
  invokeai/app/invocations/anima_denoise.py
Due: black, flake8, isort

feat(anima): respect anima_precision override in text encoder LoRA dtype
  invokeai/app/invocations/anima_text_encoder.py
Due: black, flake8, isort

chore(anima): apply ruff lint and format fixes
  invokeai/app/invocations/anima_denoise.py
  invokeai/app/invocations/anima_text_encoder.py
  invokeai/backend/model_manager/load/model_loaders/anima.py
Due: black, flake8, isort

fix(docs): add trailing newline to generated settings.json
  docs/src/generated/settings.json
Due: none

fix(frontend): add anima_precision to generated schema.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(config): update InvokeAIAppConfig docstring with anima_precision
  invokeai/app/services/config/config_default.py
Due: black, flake8, isort

fix(frontend): include anima_precision in InvokeAIAppConfig docstring in schema.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Feat(canvas): add contextual tool hints to header bar
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/ui/layouts/DockviewCanvasHeaderActions.tsx
  invokeai/frontend/web/src/features/ui/layouts/canvas-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/canvasToolModifierHints.test.ts
  invokeai/frontend/web/src/features/ui/layouts/canvasToolModifierHints.ts
  invokeai/frontend/web/src/features/ui/styles/dockview-theme-invoke.css
Due: none

Chore Ruff + Typegen
  invokeai/app/invocations/ernie_image_denoise.py
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/app/invocations/sd3_text_encoder.py
  invokeai/backend/ernie_image/denoise.py
  invokeai/backend/ernie_image/sampling_utils.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Chore ruff
  invokeai/backend/util/hotfixes.py
Due: black, flake8, isort

fix(mm): support diffusers FLUX LoRAs on NF4/8-bit quantized base models
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_invoke_linear_8_bit_lt.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_invoke_linear_nf4.py
Due: black, flake8, isort

fix(UI): keep resize handle out of prompt textarea
  invokeai/frontend/web/src/features/parameters/components/Core/ParamNegativePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Prompts/PromptResizeHandle.tsx
Due: none

fix(ernie-image): timestep scale, live preview, missing graph case, and UI cleanup
  invokeai/app/invocations/ernie_image_denoise.py
  invokeai/app/util/step_callback.py
  invokeai/backend/ernie_image/denoise.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueGenerate.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  pyproject.toml
  uv.lock
Due: black, flake8, isort, uvlock

fix connector node hit targets (#9105)
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Connector/ConnectorNode.tsx
Due: none

Feat(canvas): Add hotkey for Merge Down and Merge Visible layers (#9106)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbar.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/canvasMergeHotkeyUtils.test.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/canvasMergeHotkeyUtils.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasMergeDownHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasMergeVisibleHotkey.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useNextRenderableEntityIdentifier.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.test.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
Due: none

docs: fix info text on storage location of external model api keys
  invokeai/frontend/web/public/locales/en.json
Due: none

feat(prompt-tools): show install hint when no LLM/vision model is present
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/prompt/ExpandPromptButton.tsx
  invokeai/frontend/web/src/features/prompt/ImageToPromptButton.tsx
Due: black, flake8, isort

Feat(Canvas): Add canvas zoom on Ctrl/Cmd+MMB drag. (#8965)
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStageModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/cursors/zoom-drag-cursor.svg
  invokeai/frontend/web/src/features/controlLayers/konva/cursors/zoomDragCursor.ts
Due: none

fix connector context menu handling (#9107)
  invokeai/frontend/web/src/features/nodes/components/flow/Flow.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/workflowContextMenu.test.ts
  invokeai/frontend/web/src/features/nodes/components/flow/workflowContextMenu.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.test.ts
Due: none

fix(mm): identify Qwen2.5/Qwen3 causal LMs as Text LLM, not Qwen3 encoder (#9097)
  invokeai/app/services/model_records/model_records_sql.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/prompt/ExpandPromptButton.tsx
  invokeai/frontend/web/src/features/prompt/ImageToPromptButton.tsx
  tests/app/services/model_records/test_model_records_sql.py
  tests/backend/model_manager/configs/test_qwen3_encoder_config.py
Due: black, flake8, isort

test(refImageList): extract reorder helper and cover edge cases
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageList.helpers.test.ts
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageList.helpers.ts
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageList.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/useRefImageDnd.ts
Due: none

feat(apionly): add Alibaba Cloud Models (#9055)
  docs/features/external-models/alibabacloud.md
  docs/src/generated/settings.json
  invokeai/app/api/dependencies.py
  invokeai/app/api/routers/app_info.py
  invokeai/app/invocations/external_image_generation.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/external_generation/providers/__init__.py
  invokeai/app/services/external_generation/providers/alibabacloud.py
  invokeai/app/services/external_generation/providers/gemini.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ExternalProviders/ExternalProvidersForm.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildExternalGraph.ts
  invokeai/frontend/web/src/features/parameters/components/External/GeminiProviderOptions.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  mkdocs.yml
  tests/app/services/external_generation/test_alibabacloud_provider.py
Due: black, flake8, isort

refactor(anima): reshape ANIMA_SCHEDULER_MAP to (class, kwargs) tuples
  invokeai/app/invocations/anima_denoise.py
  invokeai/backend/flux/schedulers.py
  tests/backend/flux/test_anima_schedulers.py
Due: black, flake8, isort

refactor(anima): address Task 1 review feedback
  invokeai/app/invocations/anima_denoise.py
  invokeai/backend/flux/schedulers.py
  tests/backend/flux/test_anima_schedulers.py
Due: black, flake8, isort

feat(anima): add dpmpp_2m and dpmpp_2m_sde schedulers
  invokeai/backend/flux/schedulers.py
  tests/backend/flux/test_anima_schedulers.py
Due: black, flake8, isort

refactor(anima): unify ANIMA_SHIFT in schedulers.py and add Literal-coverage test
  invokeai/app/invocations/anima_denoise.py
  invokeai/backend/flux/schedulers.py
  tests/backend/flux/test_anima_schedulers.py
Due: black, flake8, isort

fix(anima): seed generator into scheduler.step for SDE reproducibility
  invokeai/app/invocations/anima_denoise.py
Due: black, flake8, isort
