Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

chore(app): ruff format
  invokeai/app/api/routers/recall_parameters.py
  invokeai/backend/image_util/controlnet_processor.py
Due: black, flake8, isort

Corrected error message and redirected popup messages to use translation file
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

Made further improvements on brush size selection behavior
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolWidthPicker.tsx
Due: none

Fix for brush/eraser size not updating on up/down arrow click
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolWidthPicker.tsx
Due: none

Fix(UI): Canvas numeric brush size (#8761)
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolWidthPicker.tsx
Due: none

Revise seedVarianceStrength explanation
  invokeai/frontend/web/public/locales/en.json
Due: none

Feat(UI): Canvas high level transform smoothing (#8756)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Transform/Transform.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Transform/TransformSmoothingControls.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityObjectRenderer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityTransformer.ts
  invokeai/frontend/web/src/features/controlLayers/konva/util.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
Due: none

feat: Implement Phase 5 of multiuser plan - Frontend authentication (#19)
  .github/copilot-instructions.md
  Makefile
  docs/multiuser/phase5_testing.md
  docs/multiuser/phase5_verification.md
  docs/multiuser/testing_token_expiration.md
  invokeai/app/api/routers/auth.py
  invokeai/frontend/web/knip.ts
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/components/App.tsx
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/auth/components/AdministratorSetup.tsx
  invokeai/frontend/web/src/features/auth/components/LoginPage.tsx
  invokeai/frontend/web/src/features/auth/components/ProtectedRoute.tsx
  invokeai/frontend/web/src/features/auth/store/authSlice.ts
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useStarterModelsToast.tsx
  invokeai/frontend/web/src/i18n.ts
  invokeai/frontend/web/src/services/api/endpoints/auth.ts
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/useSocketIO.ts
Due: black, flake8, isort

chore(ci/cd): fix formatting glitch in makefile help
  Makefile
Due: none

Update description for seedVarianceStrength
  invokeai/frontend/web/public/locales/en.json
Due: none

fix(z-image): correct noise range comment from [-1, 1] to [-1, 1)
  invokeai/app/invocations/z_image_seed_variance_enhancer.py
Due: black, flake8, isort

feat(z-image): add Seed Variance Enhancer node and Linear UI integration (#8753)
  invokeai/app/invocations/z_image_seed_variance_enhancer.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildZImageGraph.ts
  invokeai/frontend/web/src/features/parameters/components/SeedVariance/ParamZImageSeedVarianceEnabled.tsx
  invokeai/frontend/web/src/features/parameters/components/SeedVariance/ParamZImageSeedVarianceRandomizePercent.tsx
  invokeai/frontend/web/src/features/parameters/components/SeedVariance/ParamZImageSeedVarianceSettings.tsx
  invokeai/frontend/web/src/features/parameters/components/SeedVariance/ParamZImageSeedVarianceStrength.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(flux): add DyPE preset selector to Linear UI
  invokeai/backend/flux/dype/base.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamFluxDypePreset.tsx
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(flux): add DyPE preset to metadata recall
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

chore: remove dype-implementation-plan.md
  docs/plans/dype-implementation-plan.md
Due: none

Phase 7: Comprehensive testing and security validation for multiuser authentication (#23)
  docs/multiuser/board_isolation_issue.md
  docs/multiuser/phase7_summary.md
  docs/multiuser/phase7_testing.md
  docs/multiuser/phase7_verification.md
  invokeai/app/services/auth/password_utils.py
  invokeai/app/services/auth/token_service.py
  tests/app/services/auth/__init__.py
  tests/app/services/auth/test_data_isolation.py
  tests/app/services/auth/test_password_utils.py
  tests/app/services/auth/test_performance.py
  tests/app/services/auth/test_security.py
  tests/app/services/auth/test_token_service.py
Due: black, flake8, isort

chore(flux): bump flux_denoise version to 4.3.0
  invokeai/app/invocations/flux_denoise.py
Due: black, flake8, isort

chore: ruff check fix
  invokeai/backend/flux/dype/base.py
  tests/backend/flux/dype/test_dype.py
Due: black, flake8, isort

chore: ruff format
  invokeai/backend/flux/denoise.py
Due: black, flake8, isort

refactor(mm): simplify _has_z_image_keys with early return
  invokeai/backend/model_manager/configs/main.py
Due: black, flake8, isort

fix(model_manager): prevent Z-Image LoRAs from being misclassified as main models (#8754)
  invokeai/backend/model_manager/configs/main.py
Due: black, flake8, isort

example math docs
  invokeai/frontend/web/public/nodeDocs/_INFO_.md
  invokeai/frontend/web/public/nodeDocs/en/float_math.md
  invokeai/frontend/web/public/nodeDocs/en/float_to_int.md
  invokeai/frontend/web/public/nodeDocs/en/integer_math.md
  invokeai/frontend/web/public/nodeDocs/en/rand_float.md
  invokeai/frontend/web/public/nodeDocs/en/rand_int.md
  invokeai/frontend/web/public/nodeDocs/en/round_float.md
Due: none

chore(node-docs): add packaged node docs resources and node_docs router
  invokeai/app/api/routers/node_docs.py
  invokeai/app/api_app.py
  invokeai/resources/node_docs/_INFO_.md
  invokeai/resources/node_docs/en/float_math.md
  invokeai/resources/node_docs/en/float_to_int.md
  invokeai/resources/node_docs/en/images/z_image_example_t2i.png
  invokeai/resources/node_docs/en/integer_math.md
  invokeai/resources/node_docs/en/rand_float.md
  invokeai/resources/node_docs/en/rand_int.md
  invokeai/resources/node_docs/en/round_float.md
  invokeai/resources/node_docs/en/z_image_denoise.md
Due: black, flake8, isort

feat(node-docs): serve packaged node docs; switch frontend to marked and remove react-markdown
  invokeai/frontend/web/package.json
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNodeHelpModal.tsx
Due: none

moved nodeDocs location
  invokeai/frontend/web/public/nodeDocs/_INFO_.md
  invokeai/frontend/web/public/nodeDocs/en/float_math.md
  invokeai/frontend/web/public/nodeDocs/en/float_to_int.md
  invokeai/frontend/web/public/nodeDocs/en/images/z_image_example_t2i.png
  invokeai/frontend/web/public/nodeDocs/en/integer_math.md
  invokeai/frontend/web/public/nodeDocs/en/rand_float.md
  invokeai/frontend/web/public/nodeDocs/en/rand_int.md
  invokeai/frontend/web/public/nodeDocs/en/round_float.md
  invokeai/frontend/web/public/nodeDocs/en/z_image_denoise.md
  invokeai/resources/node_docs/_INFO_.md
  invokeai/resources/node_docs/en/float_math.md
  invokeai/resources/node_docs/en/float_to_int.md
  invokeai/resources/node_docs/en/images/z_image_example_t2i.png
  invokeai/resources/node_docs/en/integer_math.md
  invokeai/resources/node_docs/en/rand_float.md
  invokeai/resources/node_docs/en/rand_int.md
  invokeai/resources/node_docs/en/round_float.md
  invokeai/resources/node_docs/en/z_image_denoise.md
Due: none

fix doc service for user installs
  invokeai/app/api/routers/node_docs.py
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNodeHelpModal.tsx
  invokeai/resources/__init__.py
  pyproject.toml
Due: black, flake8, isort, uvlock

git markdown style
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNodeHelpModal.tsx
  node_modules/.pnpm-workspace-state.json
Due: none

Add user survey section to README
  README.md
Due: none

docs: add user survey link to WhatsNew
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/ui/components/WhatsNew.tsx
Due: none

Fix formatting issues in WhatsNew.tsx
  invokeai/frontend/web/src/features/ui/components/WhatsNew.tsx
Due: none

Add user survey section to README (#8766)
  README.md
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/ui/components/WhatsNew.tsx
Due: none

Fixed Collect node ordering
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

ruff
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

fix style issues
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNodeHelpModal.tsx
  invokeai/frontend/web/src/types/dompurify.d.ts
Due: none

Removed ordering guarantees from test_node_graph.py
  tests/test_node_graph.py
Due: black, flake8, isort

api: serve packaged node docs via importlib.resources (no filesystem fallback); set markdown content-type and image headers
  invokeai/app/api/routers/node_docs.py
  node_modules/.pnpm-workspace-state.json
Due: black, flake8, isort

clean up docstrings
  invokeai/app/api/routers/node_docs.py
Due: black, flake8, isort

edit install info
  invokeai/resources/node_docs/_INFO_.md
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
