Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

front end support for bria
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelBaseBadge.tsx
  invokeai/frontend/web/src/features/parameters/types/constants.ts
Due: none

fixed node issue
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_sampler.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
Due: black, flake8, isort

Add Bria text to image model and controlnet support
  invokeai/backend/bria/controlnet_aux/__init__.py
  invokeai/backend/bria/controlnet_aux/canny/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/LICENSE
  invokeai/backend/bria/controlnet_aux/open_pose/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/body.py
  invokeai/backend/bria/controlnet_aux/open_pose/face.py
  invokeai/backend/bria/controlnet_aux/open_pose/hand.py
  invokeai/backend/bria/controlnet_aux/open_pose/model.py
  invokeai/backend/bria/controlnet_aux/open_pose/util.py
  invokeai/backend/bria/controlnet_aux/util.py
  invokeai/backend/bria/controlnet_bria.py
  invokeai/backend/bria/controlnet_utils.py
  invokeai/backend/bria/pipeline_bria.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
  invokeai/backend/model_manager/load/model_util.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/BriaControlNetModelFieldInputComponent.tsx
  invokeai/nodes/bria_nodes/__init__.py
  invokeai/nodes/bria_nodes/bria_controlnet.py
  invokeai/nodes/bria_nodes/bria_denoiser.py
  invokeai/nodes/bria_nodes/bria_latent_sampler.py
  invokeai/nodes/bria_nodes/bria_text_encoder.py
Due: black, flake8, isort

added support for loading bria transformer
  invokeai/backend/bria/__init__.py
  invokeai/backend/bria/bria_utils.py
  invokeai/backend/bria/pipeline.py
  invokeai/backend/bria/transformer_bria.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
Due: black, flake8, isort

moved bria's nodes to invocations folder
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_sampler.py
  invokeai/app/invocations/bria_model_loader.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/nodes/__init__.py
  invokeai/nodes/bria_nodes/__init__.py
Due: black, flake8, isort

Setup Probe and UI to accept bria controlnet models
  invokeai/app/invocations/fields.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/BriaControlNetModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

Added scikit-image required for Bria's OpenposeDetector model
  pyproject.toml
  uv.lock
Due: uvlock

Small cosmetic fixes
  invokeai/nodes/bria_nodes/bria_controlnet.py
  invokeai/nodes/bria_nodes/bria_decoder.py
Due: black, flake8, isort

addded bria nodes for bria3.1 and bria3.2
  invokeai/nodes/__init__.py
  invokeai/nodes/bria_nodes/bria_decoder.py
  invokeai/nodes/bria_nodes/bria_denoiser.py
  invokeai/nodes/bria_nodes/bria_latent_sampler.py
  invokeai/nodes/bria_nodes/bria_model_loader.py
  invokeai/nodes/bria_nodes/bria_text_encoder.py
Due: black, flake8, isort

Setup Probe and UI to accept bria main models
  invokeai/app/invocations/fields.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/BriaMainModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

removed unused file
  invokeai/backend/bria/pipeline.py
Due: black, flake8, isort

ruff fix
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_sampler.py
  invokeai/app/invocations/bria_model_loader.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/backend/bria/bria_utils.py
  invokeai/backend/bria/controlnet_aux/__init__.py
  invokeai/backend/bria/controlnet_aux/canny/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/body.py
  invokeai/backend/bria/controlnet_aux/open_pose/face.py
  invokeai/backend/bria/controlnet_aux/open_pose/hand.py
  invokeai/backend/bria/controlnet_aux/open_pose/model.py
  invokeai/backend/bria/controlnet_aux/open_pose/util.py
  invokeai/backend/bria/controlnet_aux/util.py
  invokeai/backend/bria/controlnet_bria.py
  invokeai/backend/bria/controlnet_utils.py
  invokeai/backend/bria/pipeline_bria.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/backend/bria/transformer_bria.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
Due: black, flake8, isort

fixed schema
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

refactor(ui): iterate on persistence
  invokeai/frontend/web/src/app/store/enhancers/reduxRemember/driver.ts
Due: none

chore(ui): typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore(ui): lint
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/features/system/store/systemSlice.ts
Due: none

refactor(ui): alternate approach to slice configs
  invokeai/frontend/web/src/app/store/enhancers/reduxRemember/driver.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/app/store/types.ts
  invokeai/frontend/web/src/features/changeBoardModal/store/slice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/lorasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
  invokeai/frontend/web/src/features/dynamicPrompts/store/dynamicPromptsSlice.ts
  invokeai/frontend/web/src/features/gallery/store/gallerySlice.ts
  invokeai/frontend/web/src/features/modelManagerV2/store/modelManagerV2Slice.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/store/workflowLibrarySlice.ts
  invokeai/frontend/web/src/features/nodes/store/workflowSettingsSlice.ts
  invokeai/frontend/web/src/features/parameters/store/upscaleSlice.ts
  invokeai/frontend/web/src/features/queue/store/queueSlice.ts
  invokeai/frontend/web/src/features/stylePresets/store/stylePresetSlice.ts
  invokeai/frontend/web/src/features/system/store/configSlice.ts
  invokeai/frontend/web/src/features/system/store/systemSlice.ts
  invokeai/frontend/web/src/features/ui/store/uiSlice.ts
Due: none

feat(api): make client state key query not body
  invokeai/app/api/routers/app_info.py
Due: black, flake8, isort

feat: server-side client state persistence
  invokeai/app/api/dependencies.py
  invokeai/app/api/routers/app_info.py
  invokeai/app/services/client_state_persistence/client_state_persistence_base.py
  invokeai/app/services/client_state_persistence/client_state_persistence_sqlite.py
  invokeai/app/services/invocation_services.py
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_21.py
  invokeai/frontend/web/src/app/store/enhancers/reduxRemember/driver.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/index.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/addAdHocPostProcessingRequestedListener.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/addArchivedOrDeletedBoardListener.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/anyEnqueued.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/appConfigReceived.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/appStarted.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/batchEnqueued.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/boardAndImagesDeleted.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/boardIdSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/bulkDownload.tsx
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/getOpenAPISchema.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/imageAddedToBoard.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/imageRemovedFromBoard.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/imageUploaded.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/setDefaultSettings.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/socketConnected.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/common/hooks/useClearStorage.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStateApiModule.ts
  invokeai/frontend/web/src/features/dynamicPrompts/store/dynamicPromptsSlice.ts
  invokeai/frontend/web/src/features/ui/components/VerticalNavBar.tsx
  invokeai/frontend/web/src/services/api/endpoints/appInfo.ts
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: black, flake8, isort

refactor(ui): iterate on persistence
  invokeai/frontend/web/src/app/store/constants.ts
  invokeai/frontend/web/src/app/store/enhancers/reduxRemember/driver.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/changeBoardModal/store/slice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
  invokeai/frontend/web/src/features/dynamicPrompts/store/dynamicPromptsSlice.ts
  invokeai/frontend/web/src/features/parameters/store/upscaleSlice.ts
  invokeai/frontend/web/src/features/stylePresets/store/stylePresetSlice.ts
  invokeai/frontend/web/src/features/ui/components/VerticalNavBar.tsx
  invokeai/frontend/web/src/features/ui/store/uiSlice.ts
Due: none

refactor(ui): cleaner slice definitions
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/app/store/types.ts
  invokeai/frontend/web/src/features/changeBoardModal/store/slice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/lorasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
  invokeai/frontend/web/src/features/dynamicPrompts/store/dynamicPromptsSlice.ts
  invokeai/frontend/web/src/features/gallery/store/gallerySlice.ts
  invokeai/frontend/web/src/features/modelManagerV2/store/modelManagerV2Slice.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/store/workflowLibrarySlice.ts
  invokeai/frontend/web/src/features/nodes/store/workflowSettingsSlice.ts
  invokeai/frontend/web/src/features/parameters/store/upscaleSlice.ts
  invokeai/frontend/web/src/features/queue/store/queueSlice.ts
  invokeai/frontend/web/src/features/stylePresets/store/stylePresetSlice.ts
  invokeai/frontend/web/src/features/system/store/configSlice.ts
  invokeai/frontend/web/src/features/system/store/systemSlice.ts
  invokeai/frontend/web/src/features/ui/store/uiSlice.ts
  invokeai/frontend/web/src/features/ui/store/uiTypes.ts
Due: none

revert(ui): temp changes to main.tsx for testing
  invokeai/frontend/web/src/main.tsx
Due: none

refactor(ui): restructure persistence driver creation to support custom drivers
  invokeai/frontend/web/.storybook/preview.tsx
  invokeai/frontend/web/src/app/components/App.tsx
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/app/contexts/clear-storage-context.tsx
  invokeai/frontend/web/src/app/store/enhancers/reduxRemember/driver.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/common/hooks/useClearStorage.ts
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
Due: none

revert(ui): temp disable eslint rule
  invokeai/frontend/web/eslint.config.mjs
Due: none

chore(ui): bump zod to latest
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
Due: none

tests(app): service mocks
  tests/conftest.py
Due: black, flake8, isort

refactor(ui): use zod for all redux state
  invokeai/frontend/web/eslint.config.mjs
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/app/store/types.ts
  invokeai/frontend/web/src/app/types/invokeai.ts
  invokeai/frontend/web/src/features/changeBoardModal/store/slice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/lorasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/dynamicPrompts/store/dynamicPromptsSlice.ts
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemSendToUpscale.tsx
  invokeai/frontend/web/src/features/gallery/store/gallerySlice.ts
  invokeai/frontend/web/src/features/gallery/store/types.test.ts
  invokeai/frontend/web/src/features/gallery/store/types.ts
  invokeai/frontend/web/src/features/imageActions/actions.ts
  invokeai/frontend/web/src/features/modelManagerV2/store/modelManagerV2Slice.ts
  invokeai/frontend/web/src/features/nodes/components/flow/Flow.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/store/types.ts
  invokeai/frontend/web/src/features/nodes/store/workflowLibrarySlice.ts
  invokeai/frontend/web/src/features/nodes/store/workflowSettingsSlice.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/invocation.ts
  invokeai/frontend/web/src/features/parameters/components/Upscale/ParamTileControlNetModel.tsx
  invokeai/frontend/web/src/features/parameters/hooks/useIsTooLargeToUpscale.ts
  invokeai/frontend/web/src/features/parameters/store/upscaleSlice.ts
  invokeai/frontend/web/src/features/queue/store/queueSlice.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/UpscaleSettingsAccordion/UpscaleInitialImage.tsx
  invokeai/frontend/web/src/features/stylePresets/store/stylePresetSlice.ts
  invokeai/frontend/web/src/features/stylePresets/store/types.ts
  invokeai/frontend/web/src/features/system/store/configSlice.ts
  invokeai/frontend/web/src/features/system/store/systemSlice.ts
  invokeai/frontend/web/src/features/system/store/types.ts
  invokeai/frontend/web/src/features/ui/layouts/UpscalingLaunchpadPanel.tsx
  invokeai/frontend/web/src/features/ui/store/uiSlice.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: none

chore: ruff
  tests/conftest.py
Due: black, flake8, isort

wip
  invokeai/frontend/web/eslint.config.mjs
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/app/store/enhancers/reduxRemember/driver.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/common/hooks/useClearStorage.ts
  invokeai/frontend/web/src/index.ts
  invokeai/frontend/web/src/main.tsx
Due: none

refactor(ui): use zod for all redux state (wip)
  invokeai/frontend/web/src/app/store/types.ts
  invokeai/frontend/web/src/app/types/invokeai.ts
  invokeai/frontend/web/src/features/changeBoardModal/store/initialState.ts
  invokeai/frontend/web/src/features/changeBoardModal/store/slice.ts
  invokeai/frontend/web/src/features/changeBoardModal/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/filters.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/dynamicPrompts/store/dynamicPromptsSlice.ts
  invokeai/frontend/web/src/features/system/store/configSlice.ts
  invokeai/frontend/web/src/features/ui/store/uiSlice.ts
  invokeai/frontend/web/src/features/ui/store/uiTypes.ts
Due: none

git: update gitignore
  invokeai/frontend/web/.gitignore
Due: none

feat(ui): iterate on storage api
  invokeai/frontend/web/.storybook/preview.tsx
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/app/store/enhancers/reduxRemember/driver.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/index.ts
Due: none

refactor(ui): just manually validate async stuff
  invokeai/frontend/web/src/features/controlLayers/store/replaceWithServerValidatedSchemas.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/replaceWithServerValidatedSchemas.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

fix(ui): check initial retrieval and set as last persisted
  invokeai/frontend/web/src/app/store/enhancers/reduxRemember/driver.ts
Due: none

chore(ui): lint
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/util/modelFetchingHelpers.ts
Due: none

fix(ui): do not store whole model configs in state
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/parameters/store/upscaleSlice.ts
Due: none

refactor(ui): work around zod async validation issue
  invokeai/frontend/web/src/features/controlLayers/store/replaceWithServerValidatedSchemas.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/replaceWithServerValidatedSchemas.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

tidy(ui): enable devmode redux checks
  invokeai/frontend/web/src/app/store/store.ts
Due: none

fix(ui): infinite loop when setting tile controlnet model
  invokeai/frontend/web/src/features/settingsAccordions/components/UpscaleSettingsAccordion/UpscaleWarning.tsx
Due: none
