Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

fix(auth): accept epoch-changing token refreshes
  invokeai/frontend/web/src/features/auth/store/authTokenRefresh.test.ts
  invokeai/frontend/web/src/features/auth/store/authTokenRefresh.ts
  invokeai/frontend/web/src/services/api/endpoints/auth.test.ts
  invokeai/frontend/web/src/services/api/index.ts
Due: none

fix(mm): identify sharded Qwen3 encoder folders instead of falling back to unknown
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  tests/backend/model_manager/configs/test_qwen3_encoder_config.py
Due: black, flake8, isort

fix(tests): make the IP-Adapter slow test runnable again
  invokeai/backend/util/test_utils.py
  tests/backend/ip_adapter/test_ip_adapter.py
  tests/conftest.py
Due: black, flake8, isort

test(ui): pin the scroll/success restore of parked ranges; drop a stray vitest artifact
  .gitignore
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.test.ts
  invokeai/frontend/web/src/features/queue/hooks/useRangeBasedQueueItemFetching.test.ts
  node_modules/.vite/vitest/da39a3ee5e6b4b0d3255bfef95601890afd80709/results.json
Due: none

perf(video): stream uploads into a single on-disk copy (#9396)
  invokeai/app/api/routers/videos.py
  invokeai/app/api_app.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/api/test_video_upload_limits.py
Due: black, flake8, isort

chore(deps): bump diffusers to 0.40.0 (#9550)
  pyproject.toml
  tests/backend/model_manager/load/test_diffusers_040_compatibility.py
  uv.lock
Due: black, flake8, isort, uvlock

fix(model cache): claim the first-use window at the lookup, and let a cancelled admission release itself
  invokeai/app/services/model_load/model_load_default.py
  invokeai/backend/model_manager/load/load_base.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_cache/cache_record.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

fix(fp8): make the RAM prediction split-aware, pin the two unpinned folds
  invokeai/backend/model_manager/load/model_loaders/anima.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/quantization/fp8_scaled.py
  tests/backend/model_manager/load/test_scaled_fp8_fold_axis.py
  tests/backend/quantization/test_fp8_scaled.py
Due: black, flake8, isort

fix(gguf): honor ComfyUI's comfy.gguf.orig_shape metadata
  invokeai/backend/quantization/gguf/loaders.py
  tests/backend/quantization/gguf/test_loaders.py
Due: black, flake8, isort

test(ui): pin the parked-set clear and both coalescing call sites
  invokeai/frontend/web/src/common/hooks/useBoundedRangeRetry.test.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.test.ts
  invokeai/frontend/web/src/features/queue/hooks/useRangeBasedQueueItemFetching.test.ts
Due: none

fix(download): require trust for injected sessions (#9524)
  docs/src/content/docs/development/Architecture/model-manager.mdx
  invokeai/app/services/download/download_default.py
  tests/app/services/download/test_download_queue.py
  tests/backend/model_manager/model_manager_fixtures.py
Due: black, flake8, isort

fix(hidiffusion): correct scheduling and ratio behavior
  LICENSE-HiDiffusion.txt
  docs/src/content/docs/features/hidiffusion.mdx
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/fields.py
  invokeai/backend/hidiffusion/hidiffusion.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  invokeai/backend/stable_diffusion/diffusion/regional_ip_data.py
  invokeai/backend/stable_diffusion/diffusion/regional_prompt_data.py
  invokeai/backend/stable_diffusion/extensions/hidiffusion.py
  invokeai/backend/stable_diffusion/hidiffusion_utils.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.test.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addSDXLRefiner.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addSDXLRefiner.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildHiDiffusionGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamHiDiffusionToggle.tsx
  tests/backend/stable_diffusion/test_hidiffusion_utils.py
  tests/backend/stable_diffusion/test_regional_ip_data.py
  tests/backend/stable_diffusion/test_regional_prompt_data.py
Due: black, flake8, isort

fix(lora): preserve ai-toolkit DoRA magnitudes
  invokeai/backend/patches/lora_conversions/anima_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/flux_aitoolkit_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/flux_bfl_peft_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/flux_diffusers_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/flux_kohya_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/flux_onetrainer_bfl_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/flux_onetrainer_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/qwen_image_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/wan_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/z_image_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_anima_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_flux_aitoolkit_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_flux_bfl_peft_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_flux_diffusers_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_flux_kohya_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_qwen_image_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_wan_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_z_image_lora_conversion_utils.py
Due: black, flake8, isort

fix(ui): stop range-based fetching hooks from spinning in a render loop (#9439)
  .gitignore
  invokeai/frontend/web/src/common/hooks/useBoundedRangeRetry.test.ts
  invokeai/frontend/web/src/common/hooks/useBoundedRangeRetry.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.test.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.ts
  invokeai/frontend/web/src/features/queue/hooks/useRangeBasedQueueItemFetching.test.ts
  invokeai/frontend/web/src/features/queue/hooks/useRangeBasedQueueItemFetching.ts
Due: none

docs: fix typo acheived -> achieved (#9557)
  docs/src/content/docs/start-here/manual.mdx
Due: none

fix(flux2): estimate working memory for denoise and both VAE directions (#9519)
  invokeai/app/invocations/flux2_denoise.py
  invokeai/app/invocations/flux2_vae_decode.py
  invokeai/app/invocations/flux2_vae_encode.py
  invokeai/backend/flux2/ref_image_extension.py
  invokeai/backend/model_manager/configs/flux2_variant.py
  invokeai/backend/util/attention.py
  invokeai/backend/util/vae_working_memory.py
  scripts/calibrate_flux2_working_memory.py
  tests/app/invocations/test_flux2_working_memory.py
Due: black, flake8, isort

chore(deps): use the global form of exclude-dependencies, and finish the uv bump
  .github/workflows/typegen-checks.yml
  pyproject.toml
  uv.lock
Due: uvlock

chore(deps): remove dependency on Jupyter Notebook (and update uv) (#9409)
  .github/workflows/deploy-docs.yml
  .github/workflows/openapi-checks.yml
  .github/workflows/python-checks.yml
  .github/workflows/python-tests.yml
  .github/workflows/typegen-checks.yml
  .github/workflows/uv-lock-checks.yml
  docker/Dockerfile
  pyproject.toml
  uv.lock
Due: uvlock

fix(model cache): refuse post-shutdown prefetch admissions, and keep abandonment releases
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

fix(images): serialize image mutations against subfolder moves
  invokeai/app/services/image_moves/image_moves_default.py
  invokeai/app/services/images/images_default.py
  tests/app/services/images/test_images_default.py
Due: black, flake8, isort

feat(external): register multiple Atlas Cloud image models
  invokeai/app/services/external_generation/providers/atlascloud.py
  invokeai/backend/model_manager/starter_models.py
  tests/app/services/external_generation/test_atlascloud_provider.py
Due: black, flake8, isort

fix(images): propagate directory fsync failures and sync purges before dropping the journal
  docs/src/content/docs/features/gallery.mdx
  invokeai/app/services/image_files/image_files_disk.py
  tests/app/services/image_files/test_image_files_disk.py
Due: black, flake8, isort

fix(model cache): bound the abandonment queue, own worker-less admissions, keep live claims through recovery
  invokeai/backend/model_manager/load/model_cache/cache_record.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

fix(ui): prevent disabled hotkeys from blocking shared keys
  invokeai/frontend/web/src/features/system/components/HotkeysModal/registeredHotkeyOptions.test.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/registeredHotkeyOptions.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
Due: none

feat(ui): (optional) Protect starred media from accidental deletion
  invokeai/app/api/routers/boards.py
  invokeai/app/api/routers/images.py
  invokeai/app/api/routers/videos.py
  invokeai/app/services/images/images_base.py
  invokeai/app/services/images/images_common.py
  invokeai/app/services/images/images_default.py
  invokeai/app/services/videos/videos_base.py
  invokeai/app/services/videos/videos_common.py
  invokeai/app/services/videos/videos_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/src/features/deleteImageModal/store/state.test.ts
  invokeai/frontend/web/src/features/deleteImageModal/store/state.ts
  invokeai/frontend/web/src/features/deleteVideoModal/store/state.test.ts
  invokeai/frontend/web/src/features/deleteVideoModal/store/state.ts
  invokeai/frontend/web/src/features/gallery/components/Boards/DeleteBoardModal.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/getMediaDeletionSummary.test.ts
  invokeai/frontend/web/src/features/gallery/components/Boards/getMediaDeletionSummary.ts
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/features/system/store/systemSlice.test.ts
  invokeai/frontend/web/src/features/system/store/systemSlice.ts
  invokeai/frontend/web/src/features/system/store/types.ts
  invokeai/frontend/web/src/services/api/endpoints/boards.ts
  invokeai/frontend/web/src/services/api/endpoints/images.ts
  invokeai/frontend/web/src/services/api/endpoints/videos.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_boards_multiuser.py
  tests/app/routers/test_images.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_videos_multiuser.py
  tests/app/services/images/test_images_default.py
  tests/app/services/videos/test_videos_default.py
Due: black, flake8, isort

fix(images): keep the record when a failed save's cleanup cannot be journaled
  docs/src/content/docs/features/gallery.mdx
  invokeai/app/services/images/images_default.py
  tests/app/services/images/test_images_default.py
Due: black, flake8, isort

fix(model cache): refuse worker-less post-shutdown admissions
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

fix(ui): let I toggle metadata from focused gallery
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolColorPickerButton.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ToggleMetadataViewerButton.tsx
Due: none

chore: update HiDiffusion generated API schemas
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(model cache): clean shutdown-retained records
  invokeai/backend/model_manager/load/model_cache/cache_record.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

chore(release): bump version
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

chore(release): bump version to 6.14.1-post1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

feat(canvas): apply point type to selected points
  invokeai/frontend/web/src/features/controlLayers/components/VectorLayer/VectorLayerEditFooter.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasPathToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/util/bezierPath.test.ts
  invokeai/frontend/web/src/features/controlLayers/util/bezierPath.ts
Due: none

fix(fp8): restore the loader registration the extracted helper stole
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  tests/backend/model_manager/load/test_load_default_fp8.py
  tests/backend/model_manager/load/test_model_loader_registry_entries.py
Due: black, flake8, isort

feat(canvas): add tapered vector path tracing
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolWidthPicker.tsx
  invokeai/frontend/web/src/features/controlLayers/components/VectorLayer/VectorLayerMenuItemsTraceAll.tsx
  invokeai/frontend/web/src/features/controlLayers/components/VectorLayer/VectorLayerTraceWidth.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/util/vectorLayerTrace.test.ts
  invokeai/frontend/web/src/features/controlLayers/util/vectorLayerTrace.ts
Due: none

fix(ui): address I hotkey review feedback
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolColorPickerButton.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewerPanel.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ToggleMetadataViewerButton.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/useToggleMetadataHotkey.ts
  invokeai/frontend/web/src/features/gallery/store/gallerySelectors.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/registeredHotkeyOptions.test.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/sharedHotkeyRouting.test.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/sharedHotkeyRouting.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useSharedInfoHotkeyTarget.ts
Due: none

fix(qwen): make room in VRAM before loading the quantized Qwen2.5-VL encoder
  invokeai/app/invocations/qwen_image_text_encoder.py
  invokeai/app/services/shared/invocation_context.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/app/invocations/test_qwen_image_text_encoder.py
  tests/backend/model_manager/load/model_cache/test_model_cache_make_room_in_vram.py
Due: black, flake8, isort

fix(qwen): release the quantized encoder before emptying the CUDA cache
  invokeai/app/invocations/qwen_image_text_encoder.py
  tests/app/invocations/test_qwen_image_text_encoder.py
Due: black, flake8, isort

fix(qwen): make_room_in_vram is a no-op on a CPU execution device; tighten tests
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/app/invocations/test_qwen_image_text_encoder.py
  tests/app/services/shared/test_invocation_context_make_room_in_vram.py
  tests/backend/model_manager/load/model_cache/test_model_cache_make_room_in_vram.py
Due: black, flake8, isort

fix(qwen): release the encoder on the error path and drop activations before empty_cache
  invokeai/app/invocations/qwen_image_text_encoder.py
  tests/app/invocations/test_qwen_image_text_encoder.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
