Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

chore: bump version to v6.2.0
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

fix(ui): ensure all node context provider wraps all calls to useInvocationNodeContext
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/PublishWorkflowPanelContent.tsx
Due: none

add newline
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

bria-ui-updates-wip
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/ControlLayer/ControlLayerControlAdapter.tsx
  invokeai/frontend/web/src/features/controlLayers/components/ControlLayer/ControlLayerControlAdapterControlMode.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addControlAdapters.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildBriaGraph.ts
  invokeai/frontend/web/src/features/parameters/util/optimalDimension.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: none

removed unused file
  invokeai/backend/bria/pipeline.py
Due: black, flake8, isort

moved bria's nodes to invocations folder
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_sampler.py
  invokeai/app/invocations/bria_model_loader.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/nodes/__init__.py
  invokeai/nodes/bria_nodes/__init__.py
Due: black, flake8, isort

front end support for bria
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelBaseBadge.tsx
  invokeai/frontend/web/src/features/parameters/types/constants.ts
Due: none

Added scikit-image required for Bria's OpenposeDetector model
  pyproject.toml
  uv.lock
Due: uvlock

fixed node issue
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_sampler.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
Due: black, flake8, isort

ruff fix
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_sampler.py
  invokeai/app/invocations/bria_model_loader.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/backend/bria/bria_utils.py
  invokeai/backend/bria/controlnet_aux/__init__.py
  invokeai/backend/bria/controlnet_aux/canny/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/body.py
  invokeai/backend/bria/controlnet_aux/open_pose/face.py
  invokeai/backend/bria/controlnet_aux/open_pose/hand.py
  invokeai/backend/bria/controlnet_aux/open_pose/model.py
  invokeai/backend/bria/controlnet_aux/open_pose/util.py
  invokeai/backend/bria/controlnet_aux/util.py
  invokeai/backend/bria/controlnet_bria.py
  invokeai/backend/bria/controlnet_utils.py
  invokeai/backend/bria/pipeline_bria.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/backend/bria/transformer_bria.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
Due: black, flake8, isort

fixed schema
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Setup Probe and UI to accept bria controlnet models
  invokeai/app/invocations/fields.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/BriaControlNetModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

addded bria nodes for bria3.1 and bria3.2
  invokeai/nodes/__init__.py
  invokeai/nodes/bria_nodes/bria_decoder.py
  invokeai/nodes/bria_nodes/bria_denoiser.py
  invokeai/nodes/bria_nodes/bria_latent_sampler.py
  invokeai/nodes/bria_nodes/bria_model_loader.py
  invokeai/nodes/bria_nodes/bria_text_encoder.py
Due: black, flake8, isort

Add Bria text to image model and controlnet support
  invokeai/backend/bria/controlnet_aux/__init__.py
  invokeai/backend/bria/controlnet_aux/canny/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/LICENSE
  invokeai/backend/bria/controlnet_aux/open_pose/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/body.py
  invokeai/backend/bria/controlnet_aux/open_pose/face.py
  invokeai/backend/bria/controlnet_aux/open_pose/hand.py
  invokeai/backend/bria/controlnet_aux/open_pose/model.py
  invokeai/backend/bria/controlnet_aux/open_pose/util.py
  invokeai/backend/bria/controlnet_aux/util.py
  invokeai/backend/bria/controlnet_bria.py
  invokeai/backend/bria/controlnet_utils.py
  invokeai/backend/bria/pipeline_bria.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
  invokeai/backend/model_manager/load/model_util.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/BriaControlNetModelFieldInputComponent.tsx
  invokeai/nodes/bria_nodes/__init__.py
  invokeai/nodes/bria_nodes/bria_controlnet.py
  invokeai/nodes/bria_nodes/bria_denoiser.py
  invokeai/nodes/bria_nodes/bria_latent_sampler.py
  invokeai/nodes/bria_nodes/bria_text_encoder.py
Due: black, flake8, isort

Setup Probe and UI to accept bria main models
  invokeai/app/invocations/fields.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/BriaMainModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

Small cosmetic fixes
  invokeai/nodes/bria_nodes/bria_controlnet.py
  invokeai/nodes/bria_nodes/bria_decoder.py
Due: black, flake8, isort

added support for loading bria transformer
  invokeai/backend/bria/__init__.py
  invokeai/backend/bria/bria_utils.py
  invokeai/backend/bria/pipeline.py
  invokeai/backend/bria/transformer_bria.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
Due: black, flake8, isort

build(ui): add vite plugin to add relative file path to logger context
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/tsconfig.node.json
  invokeai/frontend/web/vite-plugin-logger-context.ts
  invokeai/frontend/web/vite.config.mts
Due: none

chore(ui): update knip conifg
  invokeai/frontend/web/knip.ts
Due: none

build(ui): skip logging ctx plugin when running tests
  invokeai/frontend/web/vite.config.mts
Due: none

cr fixes 1
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_noise.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/app/util/step_callback.py
  invokeai/backend/bria/bria_utils.py
  invokeai/backend/bria/controlnet_aux/__init__.py
  invokeai/backend/bria/controlnet_aux/canny/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/LICENSE
  invokeai/backend/bria/controlnet_aux/open_pose/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/body.py
  invokeai/backend/bria/controlnet_aux/open_pose/face.py
  invokeai/backend/bria/controlnet_aux/open_pose/hand.py
  invokeai/backend/bria/controlnet_aux/open_pose/model.py
  invokeai/backend/bria/controlnet_aux/open_pose/util.py
  invokeai/backend/bria/controlnet_aux/util.py
  invokeai/backend/bria/controlnet_bria.py
  invokeai/backend/bria/pipeline_bria.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/backend/bria/transformer_bria.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/model_util.py
  pyproject.toml
  uv.lock
Due: black, flake8, isort, uvlock

chore(ui): lint
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

fix(ui): race condition w/ queue counts
  invokeai/frontend/web/src/services/api/endpoints/queue.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: none

fix(ui): ignore events for already-completed queue items
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: none

fix(ui): clear progress images from viewer at the right time
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
Due: none

tidy(ui): remove unused progress related logic and components
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/GenerationProgressPanel.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ProgressImage.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ProgressIndicator.tsx
  invokeai/frontend/web/src/features/ui/layouts/canvas-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/generate-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/shared.ts
  invokeai/frontend/web/src/features/ui/layouts/upscaling-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/workflows-tab-auto-layout.tsx
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/stores.ts
Due: none

docs(ui): add some comments for race condition handling
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: none

fix(ui): connect metadata to output node for ext api nodes
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildChatGPT4oGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFluxKontextGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildImagen4Graph.ts
Due: none
