Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

feat(hotkeys modal): :zap: loading state + performance improvements
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeyListItem.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeysListWrapper.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeysModal.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
Due: none

feat(hotkeys modal): add tooltip to edit button and adjust layout spacing
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeyListItem.tsx
Due: none

style(hotkeys modal): :rotating_light: satisfy the linter
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeysModal.tsx
Due: none

chore: bump version to v6.10.0rc1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

docs: fix names of code owners in release doc
  docs/RELEASE.md
Due: none

chore(api): regenerate schema.ts after merge
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Feature: add prompt template node (#8680)
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/prompt_template.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/StylePresetFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(hotkeys modal): ⚡ loading state + performance improvements (#8694)
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeyListItem.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeysListWrapper.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeysModal.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
Due: none

feat(ui): display tags on workflow library tiles
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowListItem.tsx
Due: none

Feature/user workflow tags (#8698)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowListItem.tsx
Due: none

feat(backend): add support for xlabs Flux LoRA format (#8686)
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/patches/lora_conversions/flux_xlabs_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/formats.py
  tests/backend/patches/lora_conversions/lora_state_dicts/flux_lora_xlabs_format.py
  tests/backend/patches/lora_conversions/test_flux_xlabs_lora_conversion_utils.py
Due: black, flake8, isort

Initial mashup of mentioned feature. Still need to resolve some quirks and kinks.
  docs/development/canvas-text-tool.md
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/controlLayers/components/Text/CanvasTextOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Text/TextToolOptions.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/PinnedFillColorPickerOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolChooser.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolFillColorPicker.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolTextButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbar.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasTextToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasTextSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/text/textConstants.ts
  invokeai/frontend/web/src/features/controlLayers/text/textHotkeys.test.ts
  invokeai/frontend/web/src/features/controlLayers/text/textHotkeys.ts
  invokeai/frontend/web/src/features/controlLayers/text/textRenderer.test.ts
  invokeai/frontend/web/src/features/controlLayers/text/textRenderer.ts
  invokeai/frontend/web/src/features/controlLayers/text/textSessionMachine.test.ts
  invokeai/frontend/web/src/features/controlLayers/text/textSessionMachine.ts
  invokeai/frontend/web/src/features/ui/layouts/CanvasWorkspacePanel.tsx
Due: none

(bugfix)(mm) work around Windows being unable to rmtree tmp directories after GGUF install
  invokeai/app/services/model_install/model_install_default.py
Due: black, flake8, isort

(style) fix ruff error
  invokeai/app/services/model_install/model_install_default.py
Due: black, flake8, isort

fix(prompts): :bug: prompt attention behaviors, add tests (#8683)
  invokeai/frontend/web/src/common/util/promptAST.test.ts
  invokeai/frontend/web/src/common/util/promptAST.ts
  invokeai/frontend/web/src/common/util/promptAttention.test.ts
  invokeai/frontend/web/src/common/util/promptAttention.ts
  invokeai/frontend/web/src/features/controlLayers/components/RegionalGuidance/RegionalGuidanceNegativePrompt.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RegionalGuidance/RegionalGuidancePositivePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamNegativePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/prompt/usePromptAttentionHotkeys.ts
Due: none

feat: Implement PBR Maps Generation Node
  invokeai/app/invocations/pbr_maps.py
  invokeai/backend/image_util/pbr_maps/architecture/block.py
  invokeai/backend/image_util/pbr_maps/architecture/pbr_rrdb_net.py
  invokeai/backend/image_util/pbr_maps/pbr_maps.py
  invokeai/backend/image_util/pbr_maps/utils/image_ops.py
Due: black, flake8, isort

feat(ui): Add PBR Maps Generation to UI
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/addPBRFilterListener.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/MenuItems/ContextMenuItemFiltersSubMenu.tsx
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/SingleSelectionMenuItems.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/filters/buildPBRFilterGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore: fix typegen checks
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

(fix) add workaround for Windows Permission Denied on GGUF file move() call
  invokeai/app/services/model_install/model_install_default.py
Due: black, flake8, isort

Clean text tool integration
  docs/development/canvas-text-tool.md
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/prompt_template.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/patches/lora_conversions/flux_xlabs_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/formats.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Text/CanvasTextOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Text/TextToolOptions.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolOptionsRowContainer.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolWidthPicker.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbar.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasTextToolModule.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/StylePresetFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowListItem.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeyListItem.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeysListWrapper.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeysModal.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/patches/lora_conversions/lora_state_dicts/flux_lora_xlabs_format.py
  tests/backend/patches/lora_conversions/test_flux_xlabs_lora_conversion_utils.py
Due: black, flake8, isort

(fix) perform torch copy() in GGUF reader to avoid deletion failures on Windows
  invokeai/app/services/model_install/model_install_default.py
  invokeai/backend/quantization/gguf/loaders.py
Due: black, flake8, isort

(style) fix ruff formatting issues
  invokeai/app/services/model_install/model_install_default.py
Due: black, flake8, isort

Workaround for Windows being unable to remove tmp directories when installing GGUF files (#8699)
  invokeai/app/services/model_install/model_install_default.py
  invokeai/backend/quantization/gguf/loaders.py
Due: black, flake8, isort

chore: bump version to v6.10.0rc1 (#8695)
  docs/RELEASE.md
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

Feature: Add Z-Image-Turbo regional guidance (#8672)
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/z_image_denoise.py
  invokeai/app/invocations/z_image_text_encoder.py
  invokeai/backend/z_image/__init__.py
  invokeai/backend/z_image/extensions/__init__.py
  invokeai/backend/z_image/extensions/regional_prompting_extension.py
  invokeai/backend/z_image/text_conditioning.py
  invokeai/backend/z_image/z_image_transformer_patch.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/controlLayers/store/validators.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addZImageLoRAs.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildZImageGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

(chore) Prep for v6.10.0rc2
  docs/RELEASE.md
  invokeai/version/invokeai_version.py
  pyproject.toml
Due: black, flake8, isort, uvlock

feat(flux): add scheduler selection for Flux models
  invokeai/app/invocations/flux_denoise.py
  invokeai/backend/flux/denoise.py
  invokeai/backend/flux/schedulers.py
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamFluxScheduler.tsx
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(z-image): add scheduler selection for Z-Image models
  invokeai/app/invocations/z_image_denoise.py
  invokeai/backend/flux/schedulers.py
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildZImageGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamZImageScheduler.tsx
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix ruff check
  invokeai/app/invocations/z_image_denoise.py
Due: black, flake8, isort

(chore) Prep for v6.10.0rc2 (#8701)
  docs/RELEASE.md
  invokeai/version/invokeai_version.py
  pyproject.toml
Due: black, flake8, isort, uvlock

feat: :arrow_up: upgrade deps
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/features/nodes/util/workflow/buildWorkflow.ts
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useValidateAndLoadWorkflow.ts
Due: none

install stuff
  .salias
  .salias_f
Due: none

first install
  .envrc
  invokeai_data/invokeai.yaml
  setup_dev.sh
Due: none

chore: :arrow_up: upgrade `react` to `19.2`
  invokeai/frontend/web/eslint.config.mjs
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
Due: none

fix(model-manager): add Z-Image LoRA/DoRA detection support
  invokeai/backend/model_manager/configs/lora.py
Due: black, flake8, isort

perf: :zap: enable react compiler
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/main.tsx
  invokeai/frontend/web/vite.config.mts
Due: none

fix(model-manager): add Z-Image LoRA/DoRA detection and loading support
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/patches/lora_conversions/z_image_lora_conversion_utils.py
Due: black, flake8, isort

zimage updates 2?
  .gitignore
  .salias
  .salias_f
  setup_dev.sh
  uv.lock
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
