Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

test(perf): refresh architecture baselines
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
Due: none

style(api): format style preset tests
  tests/app/routers/test_style_presets.py
Due: black, flake8, isort

fix(model-manager): anchor SDXL UNet-only LoRA heuristic on lora_unet_ prefix
  invokeai/backend/model_manager/configs/lora.py
  tests/backend/model_manager/configs/test_sdxl_slider_lora_identification.py
Due: black, flake8, isort

fix(model-manager): anchor SDXL UNet-only LoRA heuristic on lora_unet_ prefix
  tests/backend/model_manager/configs/test_sdxl_slider_lora_identification.py
Due: black, flake8, isort

Chore Ruff format
  invokeai/backend/model_manager/load/model_loaders/vae.py
Due: black, flake8, isort

fix(backend): ignore ComfyUI model_sampling keys when loading Anima checkpoints
  invokeai/backend/model_manager/load/model_loaders/anima.py
Due: black, flake8, isort

refactor: generalize non-model key filtering in Anima checkpoint loader
  invokeai/backend/model_manager/load/model_loaders/anima.py
  tests/backend/model_manager/load/test_anima_state_dict_utils.py
Due: black, flake8, isort

fix(webv2): authenticate media requests with the login cookie
  invokeai/frontend/webv2/src/features/identity/data/api.ts
  invokeai/frontend/webv2/src/features/identity/session.test.ts
  invokeai/frontend/webv2/src/features/identity/session.ts
  invokeai/frontend/webv2/src/platform/transport/http.test.ts
  invokeai/frontend/webv2/src/platform/transport/http.ts
Due: none

feat(webv2): surface board video counts and partial delete failures
  invokeai/frontend/webv2/src/features/gallery/core/types.ts
  invokeai/frontend/webv2/src/features/gallery/core/videoPaths.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/data/videoUrls.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
Due: none

feat(webv2): add Krea-2, Ideogram 4, and Wan 2.2 model support
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.test.ts
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/features/generation/core/canvas/compileCanvasGraph.ts
  invokeai/frontend/webv2/src/features/generation/core/componentCompatibility.ts
  invokeai/frontend/webv2/src/features/generation/core/contracts.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.test.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.ts
  invokeai/frontend/webv2/src/features/generation/core/graphBuilder.ts
  invokeai/frontend/webv2/src/features/generation/core/settings.ts
  invokeai/frontend/webv2/src/features/generation/core/types.ts
  invokeai/frontend/webv2/src/features/generation/ui/GenerateComponentsSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateModelFamilyFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateSettingsForm.tsx
  invokeai/frontend/webv2/src/features/models/core/baseIdentity.test.ts
  invokeai/frontend/webv2/src/features/models/core/baseIdentity.ts
  invokeai/frontend/webv2/src/features/models/core/types.ts
  invokeai/frontend/webv2/src/features/upscale/core/graph.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/importGalleryImages.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
Due: none

fix(model cache): release shared weights when a cache goes away
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_only_full_load.py
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_with_partial_load.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/model_manager/load/model_cache/ram_budget.py
  invokeai/backend/model_manager/load/model_cache/shared_cpu_weights.py
  tests/backend/model_manager/load/model_cache/cached_model/test_cached_model_shared_weights.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

feat(webv2): separate pressure width and opacity
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/canvas-engine/engineStores.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/pressureBands.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/pressureBands.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/brushTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/eraserTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/paintTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/strokeSession.browser.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/strokeSession.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/strokeSession.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/BrushOptions.tsx
Due: none

fix(session queue): count only rows actually transitioned by a bulk cancel
  invokeai/app/services/session_queue/session_queue_sqlite.py
  tests/app/services/session_queue/test_session_queue_multigpu_cancel.py
Due: black, flake8, isort

docs(config): disclose legacy device precedence in generation_devices auto copy
  docs/src/content/docs/configuration/invokeai-yaml.mdx
  docs/src/generated/settings.json
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/services/config/test_config_generation_devices.py
Due: black, flake8, isort

test(perf): re-record the architecture baselines
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/src/features/generation/ui/GenerateModelFamilyFields.tsx
Due: none

style(perf): format the re-recorded architecture baseline
  invokeai/frontend/webv2/performance/architecture-baseline.json
Due: none

fix(ui): make multi-GPU viewer previews survive owner termination and queue lifecycle events
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/viewerProgressLifecycle.test.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/viewerProgressLifecycle.ts
Due: none

fix(webv2): accept anima-registered VAEs for Krea-2
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.test.ts
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/features/generation/core/componentCompatibility.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.test.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.ts
Due: none

feat(webv2): add the FP8 storage default-settings toggle
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/models/ui/detail/DefaultSettingsSection.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/ModelDetail.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/defaultSettingsFields.test.ts
Due: none

fix(krea2): decode MXFP8 and block-wise fp8 scales correctly
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/backend/quantization/scaled_fp8.py
  tests/backend/model_manager/load/test_krea2_state_dict_utils.py
Due: black, flake8, isort

fix: serialize forward cache eviction updates
  invokeai/app/services/object_serializer/object_serializer_forward_cache.py
  tests/test_object_serializer_disk.py
Due: black, flake8, isort

feat(krea2): load NVFP4 checkpoints and stream fp8 storage
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/quantization/dequantize_common.py
  invokeai/backend/quantization/nvfp4.py
  invokeai/backend/quantization/scaled_fp8.py
  tests/backend/model_manager/load/test_krea2_loader_boundaries.py
  tests/backend/model_manager/load/test_krea2_state_dict_utils.py
  tests/backend/quantization/test_nvfp4.py
Due: black, flake8, isort

Revert "feat(krea2): load NVFP4 checkpoints and stream fp8 storage" and MXFP8 fix
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/backend/quantization/dequantize_common.py
  invokeai/backend/quantization/nvfp4.py
  invokeai/backend/quantization/scaled_fp8.py
  tests/backend/model_manager/load/test_krea2_loader_boundaries.py
  tests/backend/model_manager/load/test_krea2_state_dict_utils.py
  tests/backend/quantization/test_nvfp4.py
Due: black, flake8, isort

fix(mm): estimate standalone-root submodel size instead of zero
  invokeai/backend/model_manager/load/model_util.py
  tests/backend/model_manager/load/test_krea2_loader_boundaries.py
Due: black, flake8, isort

fix(mm): estimate standalone-root submodel size instead of zero (#9405)
  invokeai/backend/model_manager/load/model_util.py
  tests/backend/model_manager/load/test_krea2_loader_boundaries.py
Due: black, flake8, isort

fix(model-cache): report current usage across per-device caches
  invokeai/app/api/routers/model_manager.py
  tests/app/routers/test_model_manager.py
Due: black, flake8, isort

feat(webv2): show per-GPU progress for parallel sessions
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/gallery/contracts.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/features/queue/core/deviceLabels.test.ts
  invokeai/frontend/webv2/src/features/queue/core/deviceLabels.ts
  invokeai/frontend/webv2/src/features/queue/core/types.ts
  invokeai/frontend/webv2/src/features/queue/data/activeProgressTargetStore.test.ts
  invokeai/frontend/webv2/src/features/queue/data/activeProgressTargetStore.ts
  invokeai/frontend/webv2/src/features/queue/data/events.ts
  invokeai/frontend/webv2/src/features/queue/data/generationDevicesStore.ts
  invokeai/frontend/webv2/src/features/queue/data/itemProgressStore.test.ts
  invokeai/frontend/webv2/src/features/queue/data/itemProgressStore.ts
  invokeai/frontend/webv2/src/features/queue/data/mappers.test.ts
  invokeai/frontend/webv2/src/features/queue/data/mappers.ts
  invokeai/frontend/webv2/src/features/queue/data/realtimeRuntime.test.ts
  invokeai/frontend/webv2/src/features/queue/data/realtimeRuntime.ts
  invokeai/frontend/webv2/src/features/queue/data/serverTypes.ts
  invokeai/frontend/webv2/src/features/queue/react.ts
  invokeai/frontend/webv2/src/features/queue/ui/QueueDataRuntime.tsx
  invokeai/frontend/webv2/src/features/queue/ui/QueueItemDetails.tsx
  invokeai/frontend/webv2/src/features/queue/ui/QueueItemRow.tsx
  invokeai/frontend/webv2/src/features/queue/ui/useDeviceLabel.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/previewNavigation.test.ts
Due: none

feat(webv2): add the generation devices admin setting
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/identity/capabilities.test.ts
  invokeai/frontend/webv2/src/features/identity/capabilities.ts
  invokeai/frontend/webv2/src/features/queue/data/generationDevicesStore.test.ts
  invokeai/frontend/webv2/src/features/queue/data/generationDevicesStore.ts
  invokeai/frontend/webv2/src/features/queue/react.ts
  invokeai/frontend/webv2/src/workbench/settings/GenerationDevicesSettings.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/settings/GenerationDevicesSettings.tsx
  invokeai/frontend/webv2/src/workbench/settings/SettingsDialog.tsx
Due: none

feat(webv2): add PiD super-resolution decode support
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.test.ts
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.test.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.ts
  invokeai/frontend/webv2/src/features/generation/core/pid.test.ts
  invokeai/frontend/webv2/src/features/generation/core/pid.ts
  invokeai/frontend/webv2/src/features/generation/core/pidGraph.ts
  invokeai/frontend/webv2/src/features/generation/core/settings.ts
  invokeai/frontend/webv2/src/features/generation/core/types.ts
  invokeai/frontend/webv2/src/features/generation/ui/GenerateAdvancedFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateComponentsSection.tsx
  invokeai/frontend/webv2/src/features/models/core/types.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/importGalleryImages.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
Due: none

fix(webv2): reject PiD on the canvas with an actionable message
  invokeai/frontend/webv2/src/features/generation/core/canvas/compileCanvasGraph.test.ts
  invokeai/frontend/webv2/src/features/generation/core/canvas/compileCanvasGraph.ts
Due: none

Move HiDiffusion license notice to repository root
  LICENSE-HiDiffusion.txt
  invokeai/backend/hidiffusion/LICENSE
  invokeai/backend/hidiffusion/NOTICE
  pyproject.toml
Due: uvlock

perf(webv2): keep the devices store out of the gallery activation path
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/src/architecture/featureInterfaces.ts
  invokeai/frontend/webv2/src/features/queue/devices.ts
  invokeai/frontend/webv2/src/features/queue/react.ts
  invokeai/frontend/webv2/src/workbench/settings/GenerationDevicesSettings.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/settings/GenerationDevicesSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
Due: none

feat(webv2): add mixed gallery item contracts
  invokeai/frontend/webv2/src/features/gallery/contracts.ts
  invokeai/frontend/webv2/src/features/gallery/core/items.test.ts
  invokeai/frontend/webv2/src/features/gallery/core/items.ts
  invokeai/frontend/webv2/src/features/gallery/core/recentImages.test.ts
  invokeai/frontend/webv2/src/features/gallery/index.ts
Due: none

feat(gallery): filter polymorphic items by created range
  invokeai/app/api/routers/gallery.py
  invokeai/app/services/gallery/gallery_base.py
  invokeai/app/services/gallery/gallery_default.py
  tests/app/routers/test_gallery.py
  tests/app/services/gallery/test_gallery_default.py
Due: black, flake8, isort

feat(webv2): add mixed gallery data layer
  invokeai/frontend/webv2/src/features/gallery/data/backend.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/index.ts
  invokeai/frontend/webv2/src/features/gallery/paletteSearch.ts
  invokeai/frontend/webv2/src/workbench/palette/paletteProviders.ts
Due: none

feat(webv2): generalize gallery item queries
  .superpowers/sdd/mixed-media-gallery-parity/task-4-report.md
  invokeai/frontend/webv2/src/features/gallery/data/backend.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/data/dateBoardItemHydration.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/itemQueryCache.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/mixedQueries.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.ts
  invokeai/frontend/webv2/src/features/gallery/data/queryCache.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queryCache.ts
  invokeai/frontend/webv2/src/features/gallery/queries.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.ts
Due: none

fix(webv2): match gallery binary ordering
  .superpowers/sdd/mixed-media-gallery-parity/task-4-report.md
  invokeai/frontend/webv2/src/features/gallery/data/queryCache.ts
  invokeai/frontend/webv2/src/features/gallery/queries.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.ts
Due: none

feat(webv2): canonicalize mixed gallery selection
  .superpowers/sdd/mixed-media-gallery-parity/task-5-report.md
  invokeai/frontend/webv2/src/app/GenerationUiAdapter.tsx
  invokeai/frontend/webv2/src/app/gallerySelectionConsumers.test.ts
  invokeai/frontend/webv2/src/features/gallery/contracts.ts
  invokeai/frontend/webv2/src/features/gallery/core/selection.test.ts
  invokeai/frontend/webv2/src/features/gallery/core/selection.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.ts
  invokeai/frontend/webv2/src/features/gallery/data/queryCache.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queryCache.ts
  invokeai/frontend/webv2/src/features/gallery/queries.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.ts
  invokeai/frontend/webv2/src/features/workflow/ui/fields/WorkflowFieldInput.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/RunLayerWorkflowDialog.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewNavigation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none
