Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

chore(ui): bump package version
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
Due: none

more linting
  invokeai/frontend/web/src/features/parameters/components/Bbox/constants.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Revert "build(ui): adopt sonda over rollup-plugin-visualizer to examine bundle"
  .gitignore
  invokeai/frontend/web/.prettierignore
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/common/components/ColorPicker/RgbColorPicker.tsx
  invokeai/frontend/web/src/common/components/ColorPicker/RgbaColorPicker.tsx
  invokeai/frontend/web/src/common/components/Picker/Picker.tsx
  invokeai/frontend/web/tsconfig.json
  invokeai/frontend/web/tsconfig.node.json
  invokeai/frontend/web/vite.config.mts
Due: none

Flux Kontext UI support (#8111)
  invokeai/app/invocations/fields.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/enqueueRequestedLinear.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/addLayerHooks.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useIsEntityTypeEnabled.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/store/util.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelBaseBadge.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FluxKontextModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/publish.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFluxKontextGraph.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/features/parameters/components/Bbox/BboxAspectRatioSelect.tsx
  invokeai/frontend/web/src/features/parameters/components/Bbox/constants.ts
  invokeai/frontend/web/src/features/parameters/hooks/useIsApiModel.ts
  invokeai/frontend/web/src/features/parameters/types/constants.ts
  invokeai/frontend/web/src/features/parameters/util/optimalDimension.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

feat: add user_label to FieldIdentifier (#8126)
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/publish.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueWorkflows.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix 1:1 ratio
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
Due: none

fix 1:1 ratio (#8127)
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
Due: none

Add Rule of 4 composition guide to canvas settings and rendering
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsPopover.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsRuleOfFourGuideSwitch.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositionGuideModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasManager.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
Due: none

Rename Rule of 4 Guide to Rule of Thirds in canvas composition guide
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsPopover.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsRuleOfFourGuideSwitch.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositionGuideModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSettingsSlice.ts
Due: none

Updates to comp guide and naming
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsRuleOfThirdsGuideSwitch.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositionGuideModule.ts
Due: none

Fix reference
  invokeai/frontend/web/src/features/controlLayers/components/Settings/CanvasSettingsPopover.tsx
Due: none

refactor: optimistic gallery updates
  invokeai/app/api/routers/images.py
  invokeai/app/services/image_records/image_records_base.py
  invokeai/app/services/image_records/image_records_common.py
  invokeai/app/services/image_records/image_records_sqlite.py
  invokeai/app/services/images/images_base.py
  invokeai/app/services/images/images_default.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/index.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/galleryImageClicked.ts
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImage.tsx
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
  invokeai/frontend/web/src/features/gallery/components/use-gallery-image-names.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.ts
  invokeai/frontend/web/src/features/ui/layouts/auto-layout-context.tsx
  invokeai/frontend/web/src/features/ui/layouts/canvas-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/generate-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/upscaling-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/workflows-tab-auto-layout.tsx
  invokeai/frontend/web/src/services/api/endpoints/images.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
  invokeai/frontend/web/src/services/api/util/optimisticUpdates.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: black, flake8, isort

fix(ui): prevent duplicate initial galler yfetches
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.ts
Due: none

feat(ui): clean up GalleryImage
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImage.tsx
Due: none

fix(ui): tab bar shrinkage
  invokeai/frontend/web/src/features/ui/components/VerticalNavBar.tsx
Due: none

fix(ui): queue count badge showing up multiple times
  invokeai/frontend/web/src/features/queue/components/QueueCountBadge.tsx
Due: none

Remove OMI from dependencies
  invokeai/backend/model_manager/omi/omi.py
  pyproject.toml
Due: black, flake8, isort, uvlock

Add OMI vendor files
  invokeai/backend/model_manager/omi/vendor/__init__.py
  invokeai/backend/model_manager/omi/vendor/convert/__init__.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/__init__.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_clip.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_flux_lora.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_lora_util.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_sdxl_lora.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_t5.py
  invokeai/backend/model_manager/omi/vendor/model_spec/__init__.py
  invokeai/backend/model_manager/omi/vendor/model_spec/architecture.py
Due: black, flake8, isort

OMI files
  invokeai/backend/model_manager/omi/__init__.py
  invokeai/backend/model_manager/omi/omi.py
Due: black, flake8, isort

Use definitions in config
  invokeai/backend/model_manager/config.py
Due: black, flake8, isort

Update import path
  invokeai/backend/model_manager/load/model_loaders/lora.py
Due: black, flake8, isort

Ruff formatting
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/omi/__init__.py
  invokeai/backend/model_manager/omi/omi.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_clip.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_flux_lora.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_lora_util.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_sdxl_lora.py
  invokeai/backend/model_manager/omi/vendor/convert/lora/convert_t5.py
  invokeai/backend/model_manager/omi/vendor/model_spec/architecture.py
Due: black, flake8, isort

Update uv lock
  uv.lock
Due: none

fix(ui): auto image selection on invocation complete, board change
  invokeai/frontend/web/src/app/store/middleware/debugLoggerMiddleware.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/index.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/boardIdSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/ensureImageIsSelectedListener.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/store/gallerySlice.ts
  invokeai/frontend/web/src/services/api/endpoints/images.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: none

fix(ui): handle selecting images/boards on invocation complete
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/boardIdSelected.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
Due: none

fix(ui): ensure image selected on first load
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/appStarted.ts
Due: none

fix(ui): progress in viewer bg color
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
Due: none

fix(ui): some progress image jank
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/enqueueRequestedLinear.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/buildLinearBatchConfig.ts
  invokeai/frontend/web/src/features/ui/layouts/auto-layout-context.tsx
Due: none

feat(ui): boards and gallery panel collapse
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/BoardsSearch.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsSettingsPopover.tsx
  invokeai/frontend/web/src/features/gallery/components/BoardsListPanelContent.tsx
  invokeai/frontend/web/src/features/gallery/components/Gallery.tsx
  invokeai/frontend/web/src/features/gallery/components/GallerySettingsPopover/GallerySettingsPopover.tsx
  invokeai/frontend/web/src/features/gallery/components/GalleryTopBar.tsx
  invokeai/frontend/web/src/features/ui/layouts/canvas-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/generate-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/shared.ts
  invokeai/frontend/web/src/features/ui/layouts/upscaling-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/use-collapsible-gridview-panel.ts
  invokeai/frontend/web/src/features/ui/layouts/workflows-tab-auto-layout.tsx
Due: none

feat(ui): tweak canvas entity group list button layout
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/CanvasEntityGroupList.tsx
Due: none

feat(ui): gallery scrollbars autohide
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
Due: none

feat(ui): use consistent gallery scrollseek placeholder component
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
Due: none

chore: ruff
  invokeai/app/services/image_records/image_records_common.py
  invokeai/app/services/image_records/image_records_sqlite.py
Due: black, flake8, isort

chore(ui): lint
  invokeai/frontend/web/src/features/gallery/components/GalleryTopBar.tsx
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: none

chore: bump version to v6.0.0a9
  invokeai/version/invokeai_version.py
Due: black, flake8, isort
