Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

feat(mm): add model taxonomy and other classes to public API exports
  invokeai/invocation_api/__init__.py
Due: black, flake8, isort

feat(mm): write warning README file to models dir
  invokeai/app/services/model_install/model_install_default.py
Due: black, flake8, isort

chore: bump version to v6.9.0rc1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

feat(mm): more exports in invocation api
  invokeai/invocation_api/__init__.py
Due: black, flake8, isort

tidy(mm): remove unused class
  invokeai/backend/model_manager/configs/base.py
Due: black, flake8, isort

fix(ui): wait for nav api to be ready before loading main app component
  invokeai/frontend/web/src/app/components/App.tsx
  invokeai/frontend/web/src/app/components/GlobalHookIsolator.tsx
Due: none

docs(mm): add readme for updating or adding new model support
  invokeai/backend/model_manager/README.md
Due: none

feat(ui): add flag for connected status
  invokeai/frontend/web/src/features/ui/layouts/navigation-api.test.ts
  invokeai/frontend/web/src/features/ui/layouts/navigation-api.ts
Due: none

chore: bump version to v6.9.0rc2
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

fix(mm): ignore files in hidden directories when identifying models
  invokeai/backend/model_manager/configs/factory.py
Due: black, flake8, isort

feat(mm): reidentify models
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/model_records/model_records_base.py
  invokeai/app/services/model_records/model_records_sql.py
Due: black, flake8, isort

chore(ui): typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

feat(ui): add button to reidentify model to mm
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelReidentifyButton.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
  invokeai/frontend/web/src/services/api/endpoints/models.ts
Due: none

fix(ui): generator nodes
  invokeai/frontend/web/src/features/nodes/types/invocation.ts
Due: none

chore(ui): point ui lib dep at gh repo
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
Due: none

deserialization fixed
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/app/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/store/types.ts
Due: none

ui elements isolated per tab/canvas
  invokeai/frontend/web/src/common/components/Picker/Picker.tsx
  invokeai/frontend/web/src/common/hooks/usePersistedTextareaSize.ts
  invokeai/frontend/web/src/features/controlLayers/store/tabSlice.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/UpscaleTabAdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/hooks/useExpanderToggle.ts
  invokeai/frontend/web/src/features/settingsAccordions/hooks/useStandaloneAccordionToggle.ts
  invokeai/frontend/web/src/features/ui/layouts/use-navigation-api.tsx
Due: none

chore: bump version to v6.9.0
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

translationBot(ui): update translation files
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/es.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/vi.json
  invokeai/frontend/web/public/locales/zh-CN.json
Due: none

translationBot(ui): update translation (Japanese)
  invokeai/frontend/web/public/locales/ja.json
Due: none

feat: Add cloud model integration for Google Gemini 2.5 Flash Image
  .env.example
  docs/features/CLOUD_MODELS.md
  invokeai/app/invocations/gemini_text_to_image.py
  invokeai/app/services/cloud_providers/__init__.py
  invokeai/app/services/cloud_providers/google_gemini_provider.py
  invokeai/app/services/cloud_providers/provider_base.py
  invokeai/backend/model_manager/configs/cloud_models.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/load/model_loaders/cloud_model_loader.py
  invokeai/backend/model_manager/taxonomy.py
  pyproject.toml
  scripts/test_gemini_integration.py
Due: black, flake8, isort, uvlock

feat: remove the ModelFooter in the ModelView and add the Delete Model Button from the Footer into the View
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
Due: none

forget to run pnpm fix
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
Due: none

Rework graph, add documentation
  invokeai/app/services/shared/README.md
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

Minor fixes to README.md
  invokeai/app/services/shared/README.md
Due: none

feat(nodes/UI): add SDXL color compensation option
  invokeai/app/invocations/image_to_latents.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/parameters/components/VAEModel/ParamColorCompensation.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

adjust value
  invokeai/app/invocations/image_to_latents.py
Due: black, flake8, isort

fix(mm): directory path leakage on scan folder error
  invokeai/app/api/routers/model_manager.py
Due: black, flake8, isort
