Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

fixed node issue
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_sampler.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
Due: black, flake8, isort

ruff fix
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_sampler.py
  invokeai/app/invocations/bria_model_loader.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/backend/bria/bria_utils.py
  invokeai/backend/bria/controlnet_aux/__init__.py
  invokeai/backend/bria/controlnet_aux/canny/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/body.py
  invokeai/backend/bria/controlnet_aux/open_pose/face.py
  invokeai/backend/bria/controlnet_aux/open_pose/hand.py
  invokeai/backend/bria/controlnet_aux/open_pose/model.py
  invokeai/backend/bria/controlnet_aux/open_pose/util.py
  invokeai/backend/bria/controlnet_aux/util.py
  invokeai/backend/bria/controlnet_bria.py
  invokeai/backend/bria/controlnet_utils.py
  invokeai/backend/bria/pipeline_bria.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/backend/bria/transformer_bria.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
Due: black, flake8, isort

readded support for bria3.2 and controlnet
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
Due: black, flake8, isort

Small cosmetic fixes
  invokeai/nodes/bria_nodes/bria_controlnet.py
  invokeai/nodes/bria_nodes/bria_decoder.py
Due: black, flake8, isort

removed unused file
  invokeai/backend/bria/pipeline.py
Due: black, flake8, isort

moved bria's nodes to invocations folder
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_sampler.py
  invokeai/app/invocations/bria_model_loader.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/nodes/__init__.py
  invokeai/nodes/bria_nodes/__init__.py
Due: black, flake8, isort

added support for loading bria transformer
  invokeai/backend/bria/__init__.py
  invokeai/backend/bria/bria_utils.py
  invokeai/backend/bria/pipeline.py
  invokeai/backend/bria/transformer_bria.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
Due: black, flake8, isort

cr fixes 3
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_noise.py
  invokeai/app/invocations/bria_latents_to_image.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Add Bria text to image model and controlnet support
  invokeai/backend/bria/controlnet_aux/__init__.py
  invokeai/backend/bria/controlnet_aux/canny/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/LICENSE
  invokeai/backend/bria/controlnet_aux/open_pose/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/body.py
  invokeai/backend/bria/controlnet_aux/open_pose/face.py
  invokeai/backend/bria/controlnet_aux/open_pose/hand.py
  invokeai/backend/bria/controlnet_aux/open_pose/model.py
  invokeai/backend/bria/controlnet_aux/open_pose/util.py
  invokeai/backend/bria/controlnet_aux/util.py
  invokeai/backend/bria/controlnet_bria.py
  invokeai/backend/bria/controlnet_utils.py
  invokeai/backend/bria/pipeline_bria.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
  invokeai/backend/model_manager/load/model_loaders/generic_diffusers.py
  invokeai/backend/model_manager/load/model_util.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/BriaControlNetModelFieldInputComponent.tsx
  invokeai/nodes/bria_nodes/__init__.py
  invokeai/nodes/bria_nodes/bria_controlnet.py
  invokeai/nodes/bria_nodes/bria_denoiser.py
  invokeai/nodes/bria_nodes/bria_latent_sampler.py
  invokeai/nodes/bria_nodes/bria_text_encoder.py
Due: black, flake8, isort

feat(nodes): use TorchDevice to get device/dtype in bria latent noise node
  invokeai/app/invocations/bria_latent_noise.py
Due: black, flake8, isort

cr fixes 1
  invokeai/app/invocations/bria_controlnet.py
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_noise.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/app/util/step_callback.py
  invokeai/backend/bria/bria_utils.py
  invokeai/backend/bria/controlnet_aux/__init__.py
  invokeai/backend/bria/controlnet_aux/canny/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/LICENSE
  invokeai/backend/bria/controlnet_aux/open_pose/__init__.py
  invokeai/backend/bria/controlnet_aux/open_pose/body.py
  invokeai/backend/bria/controlnet_aux/open_pose/face.py
  invokeai/backend/bria/controlnet_aux/open_pose/hand.py
  invokeai/backend/bria/controlnet_aux/open_pose/model.py
  invokeai/backend/bria/controlnet_aux/open_pose/util.py
  invokeai/backend/bria/controlnet_aux/util.py
  invokeai/backend/bria/controlnet_bria.py
  invokeai/backend/bria/pipeline_bria.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/backend/bria/transformer_bria.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/model_util.py
  pyproject.toml
  uv.lock
Due: black, flake8, isort, uvlock

Added scikit-image required for Bria's OpenposeDetector model
  pyproject.toml
  uv.lock
Due: uvlock

front end support for bria
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelBaseBadge.tsx
  invokeai/frontend/web/src/features/parameters/types/constants.ts
Due: none

Setup Probe and UI to accept bria main models
  invokeai/app/invocations/fields.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/BriaMainModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

Setup Probe and UI to accept bria controlnet models
  invokeai/app/invocations/fields.py
  invokeai/backend/model_manager/legacy_probe.py
  invokeai/backend/model_manager/load/model_loaders/bria.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/BriaControlNetModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

cr fixes 2
  invokeai/app/invocations/bria_decoder.py
  invokeai/app/invocations/bria_denoiser.py
  invokeai/app/invocations/bria_latent_noise.py
  invokeai/app/invocations/bria_text_encoder.py
  invokeai/app/util/step_callback.py
  invokeai/backend/bria/pipeline_bria.py
  invokeai/backend/bria/pipeline_bria_controlnet.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelBaseBadge.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/parameters/types/constants.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

addded bria nodes for bria3.1 and bria3.2
  invokeai/nodes/__init__.py
  invokeai/nodes/bria_nodes/bria_decoder.py
  invokeai/nodes/bria_nodes/bria_denoiser.py
  invokeai/nodes/bria_nodes/bria_latent_sampler.py
  invokeai/nodes/bria_nodes/bria_model_loader.py
  invokeai/nodes/bria_nodes/bria_text_encoder.py
Due: black, flake8, isort

fixed schema
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

feat(mm): support bria-3 controlnets
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/legacy_probe.py
Due: black, flake8, isort

Update NODES.md
  docs/nodes/NODES.md
Due: none

chore: fix some comments
  docs/contributing/MODEL_MANAGER.md
  docs/contributing/contributors.md
  invokeai/backend/quantization/scripts/load_flux_model_bnb_llm_int8.py
  invokeai/backend/quantization/scripts/load_flux_model_bnb_nf4.py
  invokeai/backend/quantization/scripts/quantize_t5_xxl_bnb_llm_int8.py
  scripts/get_external_contributions.py
Due: black, flake8, isort

feat: add adaLN for custom module test
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_all_custom_modules.py
Due: black, flake8, isort

chore: update util function name as convention
  invokeai/backend/patches/lora_conversions/flux_diffusers_lora_conversion_utils.py
Due: black, flake8, isort

feat: add sample lora diffuser keys with norm_out.linear layer to test
  tests/backend/patches/lora_conversions/lora_state_dicts/flux_lora_diffusers_with_norm_out_format.py
  tests/backend/patches/lora_conversions/test_flux_diffusers_lora_conversion_utils.py
Due: black, flake8, isort

feat: add new layer type for diffusers-ada-ln
  invokeai/backend/patches/layers/diffusers_ada_ln_lora_layer.py
  invokeai/backend/patches/layers/utils.py
  invokeai/backend/patches/lora_conversions/flux_diffusers_lora_conversion_utils.py
Due: black, flake8, isort

feat: refine swap logic
  invokeai/backend/patches/layers/diffusers_ada_ln_lora_layer.py
  tests/backend/patches/layers/test_diffuser_ada_ln_lora_layer.py
Due: black, flake8, isort

chore: fix import path
  tests/backend/patches/lora_conversions/test_flux_diffusers_lora_conversion_utils.py
Due: black, flake8, isort

feat: refactor conversion module, add test for svd correctness
  invokeai/backend/patches/layers/utils.py
  invokeai/backend/patches/lora_conversions/flux_diffusers_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_flux_diffusers_lora_conversion_utils.py
Due: black, flake8, isort

feat: approximate adaLN layer for more compatibility
  invokeai/backend/patches/layers/diffusers_ada_ln_lora_layer.py
  invokeai/backend/patches/layers/utils.py
  invokeai/backend/patches/lora_conversions/flux_diffusers_lora_conversion_utils.py
  tests/backend/patches/layers/test_diffuser_ada_ln_lora_layer.py
  tests/backend/patches/layers/test_layer_utils.py
Due: black, flake8, isort

feat: verify function called while converting model
  tests/backend/patches/lora_conversions/test_flux_diffusers_lora_conversion_utils.py
Due: black, flake8, isort

chore: ruff fix
  invokeai/backend/patches/layers/utils.py
  invokeai/backend/patches/lora_conversions/flux_diffusers_lora_conversion_utils.py
  tests/backend/patches/layers/test_layer_utils.py
  tests/backend/patches/lora_conversions/lora_state_dicts/flux_lora_diffusers_with_norm_out_format.py
  tests/backend/patches/lora_conversions/test_flux_diffusers_lora_conversion_utils.py
Due: black, flake8, isort

feat: add tests for DiffuserAdaLN layer logic
  invokeai/backend/patches/layers/diffusers_ada_ln_lora_layer.py
  tests/backend/patches/layers/test_diffuser_ada_ln_lora_layer.py
Due: black, flake8, isort

feat: add missing adaLN layer in lora conversion
  invokeai/backend/patches/lora_conversions/flux_diffusers_lora_conversion_utils.py
Due: black, flake8, isort

chore: remove unused test setup
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_all_custom_modules.py
Due: black, flake8, isort

fix: correct guidance_in layer keys in lora conversion
  invokeai/backend/patches/lora_conversions/flux_diffusers_lora_conversion_utils.py
Due: black, flake8, isort

chore(ui): lint
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
Due: none

fix(ui): do not add pos style prompt to metadata
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
Due: none

feat(ui): remove SDXL style prompt from linear UI
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
  invokeai/frontend/web/src/features/gallery/hooks/useRecallPrompts.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/buildMultidiffusionUpscaleGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Prompts/Prompts.tsx
  invokeai/frontend/web/src/features/parameters/components/Prompts/UpscalePrompts.tsx
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
  invokeai/frontend/web/src/features/sdxl/components/SDXLPrompts/ParamSDXLNegativeStylePrompt.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLPrompts/ParamSDXLPositiveStylePrompt.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLPrompts/SDXLConcatButton.tsx
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
