Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

ui: translations update from weblate (#8985)
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
Due: none

Fix(frontend): Make ordering of multiple FLUX.2 reference images deterministic (#8989)
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
Due: none

Fix typo in Z-Image Turbo diversity description
  invokeai/frontend/web/public/locales/en.json
Due: none

Fix SIGINT shutdown during active inference
  invokeai/app/services/session_processor/session_processor_default.py
  tests/app/services/test_session_processor_shutdown.py
Due: black, flake8, isort

chore: bump version to 6.12.0.post1 (#8990)
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

Chore: Code cleanup
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/hooks/useMiddleClickOpenInNewTab.ts
  invokeai/frontend/web/src/common/util/openImageInNewTab.ts
  invokeai/frontend/web/src/features/dnd/DndImage.tsx
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/MenuItems/ContextMenuItemOpenInNewTab.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImage.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/features/system/store/systemSlice.ts
  invokeai/frontend/web/src/features/system/store/types.ts
Due: none

Fix three bugs in LLM/VLM utility endpoints
  invokeai/app/api/routers/utilities.py
Due: black, flake8, isort

Fix tokenizer validation, drag-drop dead end, and i18n for LLM prompt tools
  invokeai/backend/model_manager/configs/text_llm.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/prompt/ExpandPromptButton.tsx
  invokeai/frontend/web/src/features/prompt/ImageToPromptButton.tsx
Due: black, flake8, isort

feat: add editable source_url field to model config
  invokeai/app/services/model_records/model_records_base.py
  invokeai/backend/model_manager/configs/base.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelEdit.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelHeader.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/Graph.test.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix: diffusers compat, VL encoder image resize, badge wrapping
  invokeai/app/invocations/qwen_image_edit_denoise.py
  invokeai/app/invocations/qwen_image_edit_latents_to_image.py
  invokeai/app/invocations/qwen_image_edit_text_encoder.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image_edit.py
  invokeai/frontend/web/src/common/components/Picker/Picker.tsx
  pyproject.toml
Due: black, flake8, isort, uvlock

fix: free BnB-quantized encoder after use, suppress int8 cast warning
  invokeai/app/invocations/qwen_image_edit_text_encoder.py
Due: black, flake8, isort

chore: ruff & uv lock
  invokeai/app/invocations/qwen_image_edit_denoise.py
  uv.lock
Due: black, flake8, isort

feat(frontend): suppress tooltips on touch devices
  invokeai/frontend/web/src/app/components/ThemeLocaleProvider.tsx
  invokeai/frontend/web/src/app/components/touchDevice.css
Due: none

fix: bypass HfApi in model install test
  invokeai/backend/model_manager/metadata/fetch/huggingface.py
Due: black, flake8, isort

feat(backend): add support for a Comfy LoRA variant
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/patches/lora_conversions/qwen_image_edit_lora_conversion_utils.py
Due: black, flake8, isort

Add unit tests for promptUndo module
  invokeai/frontend/web/src/features/prompt/promptUndo.test.ts
Due: none

feat: Add tiled multi-diffusion upscaling support for FLUX and Z-Image models
  invokeai/app/invocations/tiled_flux_denoise.py
  invokeai/app/invocations/tiled_z_image_denoise.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/util/graph/buildFluxMultidiffusionUpscaleGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildZImageMultidiffusionUpscaleGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addFLUXLoRAs.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addZImageLoRAs.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueUpscaling.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/UpscaleTabAdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/UpscaleTabGenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/UpscaleSettingsAccordion/UpscaleWarning.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat: add QwenImage variant type to distinguish edit vs txt2img models
  invokeai/app/services/model_records/model_records_base.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/parameters/components/Prompts/Prompts.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

feat: add Qwen Image 2512 txt2img support
  invokeai/app/invocations/qwen_image_denoise.py
  invokeai/app/invocations/qwen_image_text_encoder.py
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

chore: ruff & lint:prettier
  invokeai/app/invocations/qwen_image_text_encoder.py
  invokeai/app/services/model_records/model_records_base.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/src/features/controlLayers/hooks/addLayerHooks.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamQwenImageQuantization.tsx
Due: black, flake8, isort

fix: remove unused frontend exports (zQwenImageVariantType, isQwenImageEditMainModelConfig)
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: none

fix: make QwenImage variant optional to fix model detection tags
  invokeai/backend/model_manager/configs/main.py
  invokeai/frontend/web/src/features/parameters/components/Prompts/Prompts.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

fix: make QwenImage variant optional to fix model detection tags
  invokeai/backend/model_manager/configs/main.py
  invokeai/frontend/web/src/features/parameters/components/Prompts/Prompts.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix: restore Qwen Image Edit starter models with distinct variable names
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

fix: rename edit starter model variables to qwen_image_edit_* prefix
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

fix: remove unused exports (zQwenImageVariantType, isQwenImageEditMainModelConfig)
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: none

fix: restore correct GGUF filenames in Qwen Image Edit starter model URLs
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

feat: tag edit starter models with variant, pass variant through install
  invokeai/app/services/model_records/model_records_base.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/src/features/controlLayers/hooks/addLayerHooks.ts
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useBuildModelsToInstall.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamQwenImageQuantization.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

fix: skip reference images in graph for non-edit Qwen Image models
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildQwenImageGraph.ts
Due: none

fix: only set zero_cond_t=True for edit-variant GGUF models
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
Due: black, flake8, isort

fix: recall Qwen Image advanced params (component source, quantization, shift)
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildQwenImageGraph.ts
Due: none

fix: remove unnecessary async from QwenImageComponentSource parse
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

fix: prevent Flux LoRAs from being detected as Qwen Image LoRAs
  invokeai/backend/model_manager/configs/lora.py
Due: black, flake8, isort

test: add Qwen Image LoRA model identification tests
  tests/model_identification/stripped_models/165644cc-b656-4680-88ac-947901272c4f/__test_metadata__.json
  tests/model_identification/stripped_models/165644cc-b656-4680-88ac-947901272c4f/qwen_image_edit_lightning_test.safetensors
  tests/model_identification/stripped_models/5e72cdbb-da06-42c0-891e-f63d54ba93e3/__test_metadata__.json
  tests/model_identification/stripped_models/5e72cdbb-da06-42c0-891e-f63d54ba93e3/qwen_image_community_lora_test.safetensors
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
