Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

refactor(t5-gguf): drop dead _shape_of branch, document T5 v1.1 XXL assumptions
  invokeai/backend/model_manager/load/model_loaders/flux.py
Due: black, flake8, isort

feat: t5 encoder gguf support (#9324)
  invokeai/app/invocations/anima_text_encoder.py
  invokeai/backend/anima/t5_tokenizer.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/configs/t5_encoder.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/backend/t5/__init__.py
  invokeai/backend/t5/t5_tokenizer.py
  invokeai/backend/t5/tokenizer/special_tokens_map.json
  invokeai/backend/t5/tokenizer/tokenizer.json
  invokeai/backend/t5/tokenizer/tokenizer_config.json
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
  invokeai/frontend/web/src/features/metadata/parsing.test.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
  tests/backend/model_manager/load/test_t5_gguf_loader.py
  tests/backend/t5/__init__.py
  tests/backend/t5/test_t5_tokenizer.py
Due: black, flake8, isort, uvlock

refactor(qwen3): fix stale tokenizer-loader comments and method name
  invokeai/backend/model_manager/load/model_loaders/z_image.py
Due: black, flake8, isort

fix(qwen3): restore chat_template in bundled tokenizer config
  invokeai/backend/qwen3/tokenizer/tokenizer_config.json
  tests/backend/qwen3/test_qwen3_tokenizer.py
Due: black, flake8, isort

feat(qwen3): bundle Qwen3 tokenizer for offline single-file/GGUF encoders (#9338)
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/qwen3/__init__.py
  invokeai/backend/qwen3/qwen3_tokenizer.py
  invokeai/backend/qwen3/tokenizer/special_tokens_map.json
  invokeai/backend/qwen3/tokenizer/tokenizer.json.gz
  invokeai/backend/qwen3/tokenizer/tokenizer_config.json
  pyproject.toml
  tests/backend/qwen3/test_qwen3_tokenizer.py
Due: black, flake8, isort, uvlock

docs(anima): correct token-grid docstrings to ceil division
  invokeai/app/invocations/anima_denoise.py
  invokeai/backend/anima/regional_prompting.py
Due: black, flake8, isort

Fix graph stall for collectors downstream of empty iterators (#9349)
  invokeai/app/services/shared/graph.py
  tests/test_graph_execution_state.py
  tests/test_node_graph.py
Due: black, flake8, isort

fix(text-encoder): anima encodes on the intended compute device, not current residency
  invokeai/app/invocations/anima_text_encoder.py
  tests/app/invocations/test_anima_text_encoder.py
Due: black, flake8, isort

Fix lock-order deadlock in import_model and mid-scan owner-completion race in restore
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

Fix: Anima regional prompting should mirror width/height calculation for correct mask size (#9356)
  invokeai/app/invocations/anima_denoise.py
  invokeai/backend/anima/regional_prompting.py
  tests/app/invocations/test_anima_denoise.py
Due: black, flake8, isort

Fix: compute device partial load (#9375)
  invokeai/app/invocations/anima_latents_to_image.py
  invokeai/app/invocations/anima_text_encoder.py
  invokeai/app/invocations/cogview4_latents_to_image.py
  invokeai/app/invocations/cogview4_text_encoder.py
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/flux2_klein_text_encoder.py
  invokeai/app/invocations/flux2_vae_decode.py
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/app/invocations/flux_vae_decode.py
  invokeai/app/invocations/latents_to_image.py
  invokeai/app/invocations/qwen_image_latents_to_image.py
  invokeai/app/invocations/qwen_image_text_encoder.py
  invokeai/app/invocations/sd3_latents_to_image.py
  invokeai/app/invocations/sd3_text_encoder.py
  invokeai/app/invocations/z_image_latents_to_image.py
  invokeai/app/invocations/z_image_text_encoder.py
  invokeai/backend/flux/modules/conditioner.py
  invokeai/backend/model_manager/load/load_base.py
  tests/app/invocations/test_anima_text_encoder.py
  tests/app/invocations/test_anima_vae.py
  tests/app/invocations/test_cogview4_text_encoder.py
  tests/app/invocations/test_compel.py
  tests/app/invocations/test_qwen_image_working_memory.py
  tests/app/invocations/test_sd3_text_encoder.py
  tests/app/invocations/test_z_image_working_memory.py
  tests/backend/flux/modules/test_conditioner.py
  tests/backend/model_manager/load/test_loaded_model_compute_device.py
Due: black, flake8, isort

ci(check_pins): validate an explicit required platform/backend matrix
  .github/workflows/python-tests.yml
  .github/workflows/uv-lock-checks.yml
  pins.json
  scripts/check_pins.py
  tests/test_check_pins.py
Due: black, flake8, isort

feat(model-manager): identify UNet-only SDXL LoRAs (e.g. slider LoRAs)
  invokeai/backend/model_manager/configs/lora.py
  tests/backend/model_manager/configs/test_sdxl_slider_lora_identification.py
Due: black, flake8, isort

Fix: address FLUX.2 [dev] round-2 review (4 blockers + 6 cleanups)
  invokeai/app/invocations/flux2_dev_lora_loader.py
  invokeai/app/invocations/flux2_dev_model_loader.py
  invokeai/app/invocations/flux2_dev_text_encoder.py
  invokeai/app/invocations/flux2_klein_model_loader.py
  invokeai/backend/model_manager/load/model_loaders/mistral_encoder.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/metadata/parsing.test.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  pyproject.toml
  uv.lock
Due: black, flake8, isort, uvlock

Fix: address SDNQ review merge blockers (partial pipelines, Qwen/T5 identification, cat/stack)
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/configs/t5_encoder.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/quantization/sdnq/sdnq_tensor.py
  tests/backend/model_manager/configs/test_qwen3_encoder_sdnq_single_file_identification.py
  tests/backend/model_manager/configs/test_sdnq_pipeline_submodel_discovery.py
  tests/backend/model_manager/configs/test_sdnq_t5_encoder_identification.py
  tests/backend/quantization/sdnq/test_sdnq_tensor.py
Due: black, flake8, isort

Fix: address ideogram4 review (strict load, 1-step guidance, i18n, runtime caption)
  invokeai/app/invocations/ideogram4_caption.py
  invokeai/app/invocations/ideogram4_denoise.py
  invokeai/app/invocations/metadata.py
  invokeai/backend/ideogram4/caption.py
  invokeai/backend/model_manager/load/model_loaders/ideogram4.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildIdeogram4Graph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildIdeogram4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildIdeogram4Prompt.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildIdeogram4Prompt.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamIdeogram4SamplerPreset.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamIdeogram4Steps.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/ideogram4/test_caption.py
  tests/backend/ideogram4/test_guidance_schedule.py
Due: black, flake8, isort

fix(api): require authentication for the models_dir endpoint
  invokeai/app/api/routers/model_manager.py
  invokeai/frontend/web/openapi.json
  tests/app/routers/test_model_manager_authorization.py
Due: black, flake8, isort

feat(webv2): warn about known browser canvas issues on the launchpad
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/platform/browser/knownBrowserIssues.test.ts
  invokeai/frontend/webv2/src/platform/browser/knownBrowserIssues.ts
  invokeai/frontend/webv2/src/workbench/launchpad/KnownBrowserIssuesAlert.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/KnownBrowserIssuesAlert.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/pages/ProjectsPage.tsx
Due: none

fix(webv2): sample canvas colors through the shared compositor
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/colorSample.browser.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/colorSample.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/colorSample.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/colorPickerTool.test.ts
Due: none

refactor(webv2): route canvas edit intents and origins through the mutation port
  invokeai/frontend/webv2/src/app/UpscaleUiAdapter.tsx
  invokeai/frontend/webv2/src/architecture/workbenchOwnershipManifest.json
  invokeai/frontend/webv2/src/features/generation/core/settings.ts
  invokeai/frontend/webv2/src/features/generation/settings.ts
  invokeai/frontend/webv2/src/features/upscale/core/integration.test.ts
  invokeai/frontend/webv2/src/features/upscale/core/settings.ts
  invokeai/frontend/webv2/src/features/upscale/index.ts
  invokeai/frontend/webv2/src/features/workflow/core/document.ts
  invokeai/frontend/webv2/src/workbench/autoRoutePolicy.test.ts
  invokeai/frontend/webv2/src/workbench/autoRoutePolicy.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/ARCHITECTURE.md
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/mutationContext.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/mutationContext.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/stagedResultController.integration.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/stagedResultController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.mask.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/engineRegistry.test.ts
  invokeai/frontend/webv2/src/workbench/canvasDimsSync.ts
  invokeai/frontend/webv2/src/workbench/canvasProjectMutationPort.test.ts
  invokeai/frontend/webv2/src/workbench/canvasProjectMutationPort.ts
  invokeai/frontend/webv2/src/workbench/canvasProjectMutations.test.ts
  invokeai/frontend/webv2/src/workbench/canvasProjectMutations.ts
  invokeai/frontend/webv2/src/workbench/invocation.test.ts
  invokeai/frontend/webv2/src/workbench/invocation.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasSurface.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.testing.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  invokeai/frontend/webv2/src/workbench/workbenchStateAutoRoute.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

fix(webv2): serialize project saves and remote sync mutations
  invokeai/frontend/webv2/src/workbench/persistenceRuntime.test.ts
  invokeai/frontend/webv2/src/workbench/persistenceRuntime.ts
  invokeai/frontend/webv2/src/workbench/projects/syncedPersistence.test.ts
  invokeai/frontend/webv2/src/workbench/projects/syncedPersistence.ts
Due: none

feat(webv2): add Create From Bbox canvas context menu
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/canvas-operations/api.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/createFromBbox.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/createFromBbox.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/createFromBboxNotice.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/createFromBboxNotice.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/exportCanvasComposite.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/exportCanvasComposite.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/saveCanvasToGallery.ts
  invokeai/frontend/webv2/src/workbench/image-actions/appendReferenceImage.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/appendReferenceImage.ts
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasCreateFromBboxSubmenu.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasGallerySaveState.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasGallerySaveState.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/useCreateFromBbox.ts
Due: none

feat(webv2): default control models and pre-flight control layer checks
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/architecture/workbenchOwnershipManifest.json
  invokeai/frontend/webv2/src/features/generation/core/canvas/addControlLayers.test.ts
  invokeai/frontend/webv2/src/features/generation/core/canvas/addControlLayers.ts
  invokeai/frontend/webv2/src/features/generation/graph.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/filterResultController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/generatedResultController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/layerFactories.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/importGalleryImages.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/importGalleryImages.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/useCanvasEngine.ts
  invokeai/frontend/webv2/src/workbench/controlLayerChecks.test.ts
  invokeai/frontend/webv2/src/workbench/controlLayerChecks.ts
  invokeai/frontend/webv2/src/workbench/invocation.test.ts
  invokeai/frontend/webv2/src/workbench/invocation.ts
  invokeai/frontend/webv2/src/workbench/invocationSubmit.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/InvokeControl.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/ControlLayerSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/ControlLayerWarningIcon.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerListItem.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/controlModelOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/controlModelOptions.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerOps.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerOps.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/useAddLayer.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/useSelectedMainModel.ts
Due: none

fix(webv2): make layer-panel selection authoritative on canvas
  invokeai/frontend/webv2/src/workbench/canvas-engine/capabilities.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/documentMirror.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/documentMirror.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/moveHitTest.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/moveHitTest.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/moveTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/moveTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/transformTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/transformTool.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasContextMenu.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasContextMenu.ts
Due: none

feat(webv2): add rectangular and elliptical marquee selection
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/canvas-engine/capabilities.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engineStores.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/overlayRenderer.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/selection/selectionOpMode.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/selection/selectionOpMode.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/selection/selectionPaths.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/selection/selectionPaths.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/selection/selectionState.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/lassoTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/lassoTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/marqueeTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/marqueeTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/types.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/catalog.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/ToolStrip.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/engineStoreHooks.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/LassoOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/MarqueeOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SelectionOptionsRow.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/ToolOptionsBar.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/ToolOptionsBar.tsx
Due: none

feat(webv2): add polygonal lasso mode
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/canvas-engine/engineStores.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/lassoTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/lassoTool.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/LassoOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SelectionOptionsRow.test.tsx
Due: none

feat(webv2): float selected pixels for move
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/editingController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/editingController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/floatingSelectionController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/floatingSelectionController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/compositor.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/compositor.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/selection/floatingSelection.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/selection/floatingSelection.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/selection/marchingAnts.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/moveTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/moveTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/tool.ts
Due: none

feat(webv2): transform floating selections
  invokeai/frontend/webv2/src/workbench/canvas-engine/capabilities.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/editingController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/floatingSelectionController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/floatingSelectionController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engineStores.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/transformTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/transformTool.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/engineStoreHooks.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/TransformOptions.tsx
Due: none

feat(webv2): add selection clipboard ops and layer-via-copy
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/canvas-engine/capabilities.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/layerController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/layerController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/newRasterLayerController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/newRasterLayerController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasClipboard.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasClipboard.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SelectionOptionsRow.tsx
Due: none

feat(ideogram4): step previews + document the model's built-in safety filter
  docs/src/content/docs/concepts/models.mdx
  invokeai/app/invocations/ideogram4_denoise.py
  invokeai/backend/ideogram4/denoise.py
Due: black, flake8, isort

fix(webv2): render floating selections through the layer's display effects
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/floatingSelectionController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/floatingSelectionController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/layerDisplayEffect.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/layerDisplayEffect.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/selection/floatingSelection.ts
Due: none

feat(webv2): separate hiding overlay layers from disabling them
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/autoRoutePolicy.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/capabilities.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/contracts.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/sources.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/sources.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/compositor.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/compositor.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/render/frameDemand.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/generationCompositePlan.test.ts
  invokeai/frontend/webv2/src/workbench/canvasMigration.ts
  invokeai/frontend/webv2/src/workbench/canvasProjectMutations.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerGroupSection.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerListItem.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerGroupActions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerGroupActions.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
Due: none

fix(webv2): stop layer rows claiming Enter from commands and portals
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerListItem.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/RegionalGuidanceSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerDndConfig.browser.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerDndConfig.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layersDnd.test.ts
Due: none

fix(webv2): keep control-layer filter results out of the gallery
  invokeai/frontend/webv2/src/features/gallery/data/backend.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/index.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/FilterOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/RunLayerWorkflowDialog.tsx
Due: none

feat(webv2): add the legacy clip-strokes-to-bbox canvas setting
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/canvas-engine/capabilities.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engineStores.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/paintTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/strokeSession.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/strokeSession.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/tool.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasSettings.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasSettings.ts
Due: none

fix(webv2): scroll the canvas staging thumbnail strip instead of clipping it
  invokeai/frontend/webv2/src/workbench/widgets/canvas/StagingBar.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/StagingBar.tsx
Due: none

fix(webv2): span the canvas staging strip across the full widget width
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomOverlay.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomOverlay.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/StagingBar.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/StagingBar.tsx
Due: none

feat(webv2): mirror bbox resize across the frame center while ctrl is held
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/bboxHitTest.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/bboxHitTest.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/bboxTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/bboxTool.ts
Due: none

feat(webv2): snap layer moves and transform handles to the grid
  invokeai/frontend/webv2/src/workbench/canvas-engine/math/snapping.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/math/snapping.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/gridSnap.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/moveTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/moveTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/transformTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/transformTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/transform/transformMath.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/transform/transformMath.ts
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
