Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

docs: Updated uvicorn URL in documentation (#9230)
  docs/src/generated/settings.json
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

ci: use uv.lock when running tests (#9214)
  .github/workflows/python-tests.yml
Due: none

ci: run pytest via uv run to fix venv PATH breakage (#9286)
  .github/workflows/python-tests.yml
Due: none

fix(ci): repair wrapped ENABLE_ANALYTICS expression in deploy-docs workflow (#9271)
  docs/src/content/docs/configuration/fp8-storage.mdx
Due: none

fix(lora): sidecar-patch fp8 weights to avoid float8 add crash (#9246)
  invokeai/backend/patches/layer_patcher.py
  tests/app/util/test_step_callback.py
  tests/backend/patches/test_layer_patcher.py
Due: black, flake8, isort

Fix progress preview gallery selection (#9217)
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ToggleMetadataViewerButton.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
Due: none

Fix workflow execution state reconciliation (#9199)
  invokeai/frontend/web/src/services/events/invocationTracking.test.ts
  invokeai/frontend/web/src/services/events/invocationTracking.ts
  invokeai/frontend/web/src/services/events/nodeExecutionState.test.ts
  invokeai/frontend/web/src/services/events/nodeExecutionState.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.test.ts
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.ts
  invokeai/frontend/web/src/services/events/workflowExecutionState.test.ts
  invokeai/frontend/web/src/services/events/workflowExecutionState.ts
Due: none

Fix: add SD negative prompt graph wiring and history (#9243)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildLinearBatchConfig.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildMultidiffusionUpscaleGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDNegativePromptGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/types.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/PositivePromptHistory.tsx
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueCanvas.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueGenerate.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueUpscaling.ts
Due: none

fix(multiuser): restore X/Y queue badge and redacted queue entries for non-admins (#9262)
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/queue/components/QueueCountBadge.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_multiuser_authorization.py
  tests/app/services/session_queue/test_session_queue_status_user_scoping.py
Due: black, flake8, isort

Route Z-Image ControlNet diagnostics through logging (#9298)
  invokeai/backend/z_image/z_image_controlnet_extension.py
  tests/backend/z_image/test_z_image_controlnet_extension.py
Due: black, flake8, isort

Fix python tests on CUDA (#9215)
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_invoke_linear_nf4.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_all_custom_modules.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_custom_invoke_linear_8_bit_lt.py
  tests/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/test_custom_invoke_linear_nf4.py
Due: black, flake8, isort

Update ROCm to 7.1 (supersedes #8867) (#9297)
  docker/Dockerfile-rocm-full
  docs/src/content/docs/start-here/manual.mdx
  invokeai/frontend/web/openapi.json
  pyproject.toml
  uv.lock
Due: uvlock

fix(flux2): strip reference-image tokens from Heun preview latents (#9274)
  invokeai/backend/flux2/denoise.py
Due: black, flake8, isort

fix(db): repair model_relationships foreign keys broken by migration 22 (#9272)
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_32.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_32.py
Due: black, flake8, isort

fix(ui): keep main panel reachable on small screens (#9144)
  invokeai/frontend/web/src/features/ui/layouts/canvas-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/generate-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/shared.ts
  invokeai/frontend/web/src/features/ui/layouts/upscaling-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/workflows-tab-auto-layout.tsx
Due: none

feat(mm): add Qwen Image single-file checkpoint loader with fp8 support (#9253)
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/backend/quantization/bnb_llm_int8.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/model_manager/configs/test_qwen_image_checkpoint_variant_detection.py
Due: black, flake8, isort

fix(ui): add missing canvas-workflow-integration log namespace translation (#9275)
  invokeai/frontend/web/public/locales/en.json
Due: none

feat(api): append mode for recalled reference images (+ fix recall socket double-emit) (#9288)
  docs/src/content/docs/development/Guides/recall-api.mdx
  invokeai/app/api/routers/recall_parameters.py
  invokeai/app/api/sockets.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_recall_parameters.py
Due: black, flake8, isort

fix: honor empty-string metadata overrides (supersedes 9283) (#9309)
  invokeai/app/api/extract_metadata_from_image.py
  tests/app/test_extract_metadata_from_image.py
Due: black, flake8, isort

Fix: z-image regional guidance split mismatch (#9273)
  invokeai/app/invocations/z_image_denoise.py
  invokeai/backend/z_image/z_image_transformer_patch.py
Due: black, flake8, isort

fix(gallery): traverse image subfolders when finding orphaned db entries (#9291)
  invokeai/backend/util/gallery_maintenance.py
Due: black, flake8, isort

docs: add GitHub Sponsors button and README sponsors section (#9312)
  .github/FUNDING.yml
  README.md
Due: none

fix(multiuser): keep queue badge & progress bar live across users
  invokeai/app/api/sockets.py
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/types.ts
Due: black, flake8, isort

fix(multiuser): don't hijack admin's gallery with other users' images
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: none

feat(workbench): add project-scoped diagnostics logger
  invokeai/frontend/webv2/src/workbench/diagnostics/logger.test.ts
  invokeai/frontend/webv2/src/workbench/diagnostics/logger.ts
  invokeai/frontend/webv2/src/workbench/types.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/createWidgetRuntime.test.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/createWidgetRuntime.ts
Due: none

feat(workbench): expose diagnostics developer settings
  invokeai/frontend/webv2/src/workbench/WorkbenchRuntime.tsx
  invokeai/frontend/webv2/src/workbench/settings/SettingsDialog.tsx
  invokeai/frontend/webv2/src/workbench/settings/store.test.ts
  invokeai/frontend/webv2/src/workbench/settings/store.ts
Due: none

feat(workbench): route errors through diagnostics
  invokeai/frontend/webv2/src/workbench/persistence.test.ts
  invokeai/frontend/webv2/src/workbench/persistence.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

feat(workbench): add diagnostic metadata to error producers
  invokeai/frontend/webv2/src/workbench/WorkbenchContext.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/executeImageRecall.ts
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/gallery/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/gallery/useGalleryActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/generate/promptFields/PositivePromptActions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
Due: none

feat(workbench): record performance timings in diagnostics
  invokeai/frontend/webv2/src/workbench/performanceMarks.test.ts
  invokeai/frontend/webv2/src/workbench/performanceMarks.ts
  invokeai/frontend/webv2/src/workbench/projects/syncedPersistence.ts
  invokeai/frontend/webv2/src/workbench/widgets/workflow/editor/WorkflowEditorView.tsx
Due: none

feat(workbench): render diagnostics entries in diagnostics widget
  invokeai/frontend/webv2/src/workbench/widgets/diagnostics/DiagnosticsHeaderActions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/diagnostics/DiagnosticsWidgetView.tsx
Due: none

chore(root): remove misplaced claude .md file
  USER_ISOLATION_IMPLEMENTATION.md
Due: none

Chore OpenApi + typegen
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

test(qwen): cover VAE working-memory estimate is passed to cache
  invokeai/backend/util/vae_working_memory.py
  tests/app/invocations/test_qwen_image_working_memory.py
Due: black, flake8, isort

fix(dynamicprompts): prevent hang on unknown wildcards (#9307)
  invokeai/app/api/routers/utilities.py
  invokeai/app/invocations/prompt.py
  invokeai/app/util/dynamicprompts.py
  tests/app/routers/test_utilities.py
  tests/app/util/test_dynamicprompts.py
Due: black, flake8, isort

feat(queue): clear intermediates
  invokeai/frontend/webv2/src/workbench/auth/capabilities.test.ts
  invokeai/frontend/webv2/src/workbench/auth/capabilities.ts
  invokeai/frontend/webv2/src/workbench/images/intermediates.test.ts
  invokeai/frontend/webv2/src/workbench/images/intermediates.ts
  invokeai/frontend/webv2/src/workbench/settings/ClearIntermediatesSetting.tsx
  invokeai/frontend/webv2/src/workbench/settings/SettingsDialog.tsx
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

fix(multi-gpu): tie device #N label to cuda index, not filtered position
  invokeai/backend/util/devices.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

fix(qwen): recalibrate VAE working-memory constants from a measured grid
  invokeai/backend/util/vae_working_memory.py
  scripts/calibrate_qwen_vae_working_memory.py
Due: black, flake8, isort

feat - Migrate to Transformers 5.5.4 (#9248)
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/app/invocations/sd3_text_encoder.py
  invokeai/backend/image_util/safety_checker.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/model_manager/load/model_util.py
  invokeai/backend/model_manager/metadata/fetch/huggingface.py
  invokeai/backend/quantization/scripts/quantize_t5_xxl_bnb_llm_int8.py
  pyproject.toml
  tests/app/invocations/test_sd3_text_encoder.py
  uv.lock
Due: black, flake8, isort, uvlock

feat(ui): PiD decode (Fit mode) for FLUX text-to-image
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addPidDecode.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/PidSettings.tsx
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
Due: none
