Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

feat: add split gpu text encoder cache
  SECOND_GPU_TEXT_ENCODER_FEATURE.md
  invokeai/app/api/routers/app_info.py
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/model_manager/model_manager_default.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_cache/cache_record.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamUseSecondGpuForTextEncoder.tsx
  invokeai/frontend/web/src/features/parameters/components/Advanced/SystemHardwareStatus.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModelCacheSleepTimerSelect.tsx
  invokeai/frontend/web/src/services/api/endpoints/appInfo.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(model-cache): report clear results and current usage
  invokeai/app/api/routers/model_manager.py
  invokeai/backend/model_manager/load/model_cache/cache_stats.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_drop_model.py
Due: black, flake8, isort

feat(queue): support project-scoped queue queries
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
Due: black, flake8, isort

feat(workbench): tag queue submissions with project origin
  invokeai/frontend/webv2/src/workbench/WorkbenchRuntime.tsx
  invokeai/frontend/webv2/src/workbench/backend/events.ts
  invokeai/frontend/webv2/src/workbench/backend/queueCoordinator.test.ts
  invokeai/frontend/webv2/src/workbench/backend/queueCoordinator.ts
  invokeai/frontend/webv2/src/workbench/generation/api.test.ts
  invokeai/frontend/webv2/src/workbench/generation/api.ts
  invokeai/frontend/webv2/src/workbench/generation/types.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

fix(workbench): preserve live progress images while streaming
  invokeai/frontend/webv2/src/workbench/backend/itemProgressStore.test.ts
  invokeai/frontend/webv2/src/workbench/backend/itemProgressStore.ts
  invokeai/frontend/webv2/src/workbench/backend/progressImageStore.ts
  invokeai/frontend/webv2/src/workbench/images/StreamingImageFrame.tsx
  invokeai/frontend/webv2/src/workbench/images/streamingImageSource.test.ts
  invokeai/frontend/webv2/src/workbench/images/streamingImageSource.ts
  invokeai/frontend/webv2/src/workbench/images/useStreamingImageSource.ts
  invokeai/frontend/webv2/src/workbench/widgets/gallery/GalleryImageGrid.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/workflow/editor/CurrentImageFlowNode.tsx
Due: none

fix(api): formatting
  invokeai/app/api/routers/session_queue.py
Due: black, flake8, isort

fix(ci): sort service imports
  invokeai/app/api/dependencies.py
  invokeai/app/services/invocation_services.py
Due: black, flake8, isort

fix(ci): format project records tests
  tests/app/services/project_records/test_project_records.py
Due: black, flake8, isort

fix(ci): update generated api schema
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(ci): regenerate api types with locked deps
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(tests): update stale router and queue test doubles
  tests/app/routers/test_app_info.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/services/session_queue/test_session_queue_status_event_isolation.py
Due: black, flake8, isort

fix: honor empty-string metadata overrides (supersedes 9283) (#9309)
  invokeai/app/api/extract_metadata_from_image.py
  tests/app/test_extract_metadata_from_image.py
Due: black, flake8, isort

chore(uv): update uv.lock
  uv.lock
Due: none

Fix: z-image regional guidance split mismatch (#9273)
  invokeai/app/invocations/z_image_denoise.py
  invokeai/backend/z_image/z_image_transformer_patch.py
Due: black, flake8, isort

fix(dynamicprompts): narrow unknown-wildcard guard to combinatorial variant values
  invokeai/app/api/routers/utilities.py
  invokeai/app/invocations/prompt.py
  invokeai/app/util/dynamicprompts.py
  tests/app/routers/test_utilities.py
  tests/app/util/test_dynamicprompts.py
Due: black, flake8, isort

feat(multi-gpu): offload text encoders to idle GPUs
  docs/src/content/docs/configuration/invokeai-yaml.mdx
  docs/src/content/docs/development/Guides/creating-nodes.mdx
  invokeai/app/invocations/anima_text_encoder.py
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/invocations/cogview4_text_encoder.py
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/flux2_klein_text_encoder.py
  invokeai/app/invocations/flux_redux.py
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/app/invocations/qwen_image_text_encoder.py
  invokeai/app/invocations/sd3_text_encoder.py
  invokeai/app/invocations/z_image_text_encoder.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/backend/util/device_pool.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/services/session_processor/test_encoder_offload.py
  tests/backend/util/test_device_pool.py
Due: black, flake8, isort

feat(multi-gpu): offload text encoders to idle GPUs
  docs/src/content/docs/configuration/invokeai-yaml.mdx
  docs/src/content/docs/development/Guides/creating-nodes.mdx
  docs/src/generated/settings.json
  invokeai/app/invocations/anima_text_encoder.py
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/invocations/cogview4_text_encoder.py
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/flux2_klein_text_encoder.py
  invokeai/app/invocations/flux_redux.py
  invokeai/app/invocations/flux_text_encoder.py
  invokeai/app/invocations/qwen_image_text_encoder.py
  invokeai/app/invocations/sd3_text_encoder.py
  invokeai/app/invocations/z_image_text_encoder.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/backend/util/device_pool.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/services/session_processor/test_encoder_offload.py
  tests/backend/util/test_device_pool.py
Due: black, flake8, isort

docs: add GitHub Sponsors button and README sponsors section
  .github/FUNDING.yml
  README.md
Due: none

fix(ui): widen useVideoContextMenu ref type to allow null
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/VideoContextMenu.tsx
Due: none

chore(backend): ruff
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_workflows_multiuser.py
  tests/conftest.py
Due: black, flake8, isort

perf(workflows): index workflow graph lookups
  invokeai/frontend/webv2/src/workbench/workflows/buildGraph.ts
  invokeai/frontend/webv2/src/workbench/workflows/connectorHandles.ts
  invokeai/frontend/webv2/src/workbench/workflows/connectors.ts
  invokeai/frontend/webv2/src/workbench/workflows/graphIndex.test.ts
  invokeai/frontend/webv2/src/workbench/workflows/graphIndex.ts
  invokeai/frontend/webv2/src/workbench/workflows/validation.ts
Due: none

perf(workflows): optimize large workflow rendering
  invokeai/frontend/webv2/src/workbench/performanceMarks.test.ts
  invokeai/frontend/webv2/src/workbench/performanceMarks.ts
  invokeai/frontend/webv2/src/workbench/widgets/workflow/editor/InvocationFlowNode.tsx
  invokeai/frontend/webv2/src/workbench/widgets/workflow/editor/WorkflowEditorView.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/workflow/editor/WorkflowEditorView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/workflow/editor/flowAdapters.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/workflow/editor/flowAdapters.ts
  invokeai/frontend/webv2/src/workbench/widgets/workflow/editor/performanceConstants.ts
  invokeai/frontend/webv2/src/workbench/widgets/workflow/editor/workflowViewportStore.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/workflow/editor/workflowViewportStore.ts
Due: none

fix(workbench): harden persistence for large projects
  invokeai/frontend/webv2/src/workbench/WorkbenchContext.tsx
  invokeai/frontend/webv2/src/workbench/persistence.test.ts
  invokeai/frontend/webv2/src/workbench/persistence.ts
  invokeai/frontend/webv2/src/workbench/projects/syncedPersistence.ts
  invokeai/frontend/webv2/src/workbench/workbenchAutosave.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchAutosave.ts
Due: none

feat(workbench): show fallback for lazy widgets
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetLoadingFallback.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetRenderer.tsx
Due: none

feat(router): use workbnch splash screen
  invokeai/frontend/webv2/src/router.tsx
Due: none

fix(multi-gpu): adopt GGUF weights across devices to stop RAM spikes
  invokeai/backend/model_manager/load/load_default.py
  tests/backend/model_manager/load/test_shared_weight_adoption.py
Due: black, flake8, isort

fix(ui): require metadata handler success for some mode (#9197)
  invokeai/frontend/web/src/features/metadata/parsing.test.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

docs(fp8): refresh FP8 Storage page after hook-based loader change (#9241)
  docs/src/content/docs/configuration/fp8-storage.mdx
Due: none

fix(openapi): normalize Path defaults to POSIX in schema generation (#9209)
  invokeai/app/util/custom_openapi.py
Due: black, flake8, isort

feat(lora): support PEFT named-adapter LoRAs (e.g. Klein 9B) (#9252)
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/model_on_disk.py
  invokeai/backend/patches/lora_conversions/flux_diffusers_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/peft_adapter_utils.py
  tests/backend/patches/lora_conversions/test_peft_adapter_utils.py
Due: black, flake8, isort

feat(model manager): external providers UI/UX tweaks (#9237)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ExternalProviders/ExternalProvidersForm.tsx
Due: none

chore(github): update actions from deprecated node-20 versions (#9149)
  .github/workflows/deploy-docs.yml
Due: none

Support Hugging Face blob file URLs (#9167)
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

fix(ci/cd): fix typegen test failure introduced by PR 9209 (#9260)
  .github/workflows/openapi-checks.yml
  .github/workflows/typegen-checks.yml
Due: none

chore(ci): update cached-lfs-checkout from deprecated node 20 version (#9261)
  .github/workflows/python-tests.yml
Due: none

Fix(model install): wait for startup restore before imports (#9239)
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

docs(external): correct mode tables and add Edit Mode plan (#9222)
  docs/src/content/docs/features/External Models/alibabacloud.mdx
  docs/src/content/docs/features/External Models/gemini.mdx
  docs/src/content/docs/features/External Models/index.mdx
  docs/src/content/docs/features/External Models/openai.mdx
Due: none

feat(anima): bundle T5-XXL tokenizer, remove t5_encoder_model input (#9244)
  invokeai/app/invocations/anima_model_loader.py
  invokeai/app/invocations/anima_text_encoder.py
  invokeai/backend/anima/t5_tokenizer.py
  invokeai/backend/anima/tokenizer/special_tokens_map.json
  invokeai/backend/anima/tokenizer/tokenizer.json
  invokeai/backend/anima/tokenizer/tokenizer_config.json
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildAnimaGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildAnimaGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamAnimaModelSelect.tsx
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
  tests/backend/anima/test_t5_tokenizer.py
Due: black, flake8, isort, uvlock

docs: add graph execution example to API guide (#9276)
  docs/src/content/docs/development/Guides/workflow-api.mdx
  docs/src/content/docs/features/Multi-User Mode/api-guide.mdx
Due: none
