Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

fix(model-cache): sync stats on the peer-eviction paths
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
Due: black, flake8, isort

test(krea2): cover regional prompting gaps in attention, denoise and canvas graph
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.regions.test.ts
  tests/app/invocations/test_krea2_denoise.py
  tests/backend/krea2/test_attention.py
  tests/backend/krea2/test_regional_prompting.py
Due: black, flake8, isort

fix(db): repair the projects table on upstream-originated databases
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_07_30_repair_projects_table.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_07_30_repair_projects_table.py
Due: black, flake8, isort

feat(webv2): bring System Prompts to the Expand Prompt popover
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/generation/core/systemPrompts.test.ts
  invokeai/frontend/webv2/src/features/generation/core/systemPrompts.ts
  invokeai/frontend/webv2/src/features/generation/data/systemPrompts.ts
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptActions.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/SystemPromptsField.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/useSystemPrompts.ts
Due: none

Improve custom font import reliability
  invokeai/app/api/routers/utilities.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Text/TextToolOptions.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasTextToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/text/textUserFonts.test.ts
  invokeai/frontend/web/src/features/controlLayers/text/textUserFonts.ts
  pyproject.toml
  tests/app/routers/test_utilities.py
  uv.lock
Due: black, flake8, isort, uvlock

fix(ci): survive percent-encoded wheel URLs in aarch64 lock check
  .github/workflows/uv-lock-checks.yml
  scripts/check_aarch64_lock.py
Due: black, flake8, isort

Chore openapi
  invokeai/frontend/web/openapi.json
Due: none

fix(flux2): scope the cross-variant source guard to encoder extraction, widen the tokenizer ladder
  invokeai/app/invocations/flux2_dev_model_loader.py
  invokeai/app/invocations/flux2_klein_model_loader.py
  invokeai/backend/model_manager/load/model_loaders/mistral_encoder.py
  invokeai/frontend/web/openapi.json
  tests/app/invocations/test_flux2_model_loader_source_guards.py
  tests/backend/model_manager/load/test_mistral_tokenizer_ladder.py
Due: black, flake8, isort

Fix macos test error
  tests/backend/test_text_llm_pipeline.py
Due: black, flake8, isort

feat(prompt): show phase + token progress for LLM prompt expansion (#9204)
  invokeai/app/api/routers/utilities.py
  invokeai/app/api/sockets.py
  invokeai/app/services/events/events_base.py
  invokeai/app/services/events/events_common.py
  invokeai/backend/llava_onevision_pipeline.py
  invokeai/backend/text_llm_pipeline.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/prompt/ExpandPromptButton.tsx
  invokeai/frontend/web/src/features/prompt/ImageToPromptButton.tsx
  invokeai/frontend/web/src/features/prompt/LLMTaskProgressDisplay.tsx
  invokeai/frontend/web/src/services/api/endpoints/utilities.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/stores.ts
  invokeai/frontend/web/src/services/events/types.ts
  tests/backend/llava_onevision/__init__.py
  tests/backend/llava_onevision/test_llava_onevision_pipeline.py
  tests/backend/test_text_llm_pipeline.py
  tests/backend/text_llm/test_text_llm_pipeline.py
Due: black, flake8, isort

feat(metadata): declare mistral_encoder on core_metadata, bump to 2.2.0
  invokeai/app/invocations/metadata.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix(webv2): show aspect ratio labels in the bbox options bar
  invokeai/frontend/webv2/src/features/generation/components.ts
  invokeai/frontend/webv2/src/features/generation/settings.ts
  invokeai/frontend/webv2/src/features/generation/ui/GenerateDimensionFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/shared/AspectRatioSelect.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/BboxOptions.tsx
Due: none

fix(webv2): label the gallery images tab as Media
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryToolbar.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.browser.test.tsx
Due: none

fix(webv2): stop the queue widget reloading on first item expand
  invokeai/frontend/webv2/src/app/QueueUiAdapter.tsx
  invokeai/frontend/webv2/src/features/queue/ui/QueueItemDetails.tsx
  invokeai/frontend/webv2/src/features/queue/ui/QueueItemRow.tsx
  invokeai/frontend/webv2/src/features/queue/ui/QueueUiContext.tsx
Due: none

fix(webv2): add missing translation keys and guard against new ones
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/platform/i18n/translationKeys.test.ts
Due: none

fix(webv2): keep crashed widgets inside their region
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetFailureBoundary.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetHosts.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetRenderer.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetRenderer.tsx
  invokeai/frontend/webv2/src/workbench/widgetImplementationResource.browser.test.tsx
Due: none

fix(webv2): open prompt action popovers when a model is missing
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/app/GenerationUiAdapter.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerationUiContext.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptActions.tsx
Due: none

fix(webv2): seat manager tabs on the header border
  invokeai/frontend/webv2/src/features/models/ui/manager/DetailPane.tsx
  invokeai/frontend/webv2/src/features/nodes/ui/manager/DetailPane.tsx
Due: none

fix(webv2): brighten prompt template row text
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PromptTemplatesPanel.tsx
Due: none

chore(webv2): record architecture budget changes
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
Due: none

feat(webv2): float center chrome as a dropdown and action island
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/scripts/run-accessibility-journeys.mjs
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryPanelContent.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/WorkflowWidgetChrome.tsx
  invokeai/frontend/webv2/src/workbench/shell/CenterArea.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/CenterArea.tsx
  invokeai/frontend/webv2/src/workbench/shell/WorkbenchShell.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetFrames.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetLoadingFallback.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetLoadingFallback.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetRenderer.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetRenderer.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/index.ts
Due: none

fix(webv2): span the preview dot grid across the whole widget
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewCompare.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFooter.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
Due: none

fix(webv2): top-align the canvas and workflow tool strips
  invokeai/frontend/webv2/src/features/workflow/ui/editor/EditorToolbar.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/ToolStrip.tsx
Due: none

fix(webv2): drop the duplicate workflow readiness banner
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEditorView.tsx
Due: none

fix(webv2): drop the persistent size and zoom readout from the canvas options bar
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasBottomControls.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/ToolOptionsBar.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/ToolOptionsBar.tsx
Due: none

fix(fp8): resolve compute dtype instead of reading model.dtype
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/tiled_multi_diffusion_denoise_latents.py
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/patches/layer_patcher.py
  invokeai/backend/stable_diffusion/extensions/lora.py
  invokeai/backend/stable_diffusion/extensions/t2i_adapter.py
  invokeai/backend/util/fp8.py
  tests/backend/util/test_fp8.py
Due: black, flake8, isort

feat(webv2): give canvas tool-option toggles icons
  invokeai/frontend/webv2/src/platform/ui/Button.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/BrushOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/ShapeOptions.tsx
Due: none

fix(webv2): align layer rows and drop the drag handle
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerGroupSection.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerListItem.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerListItem.tsx
Due: none

feat(webv2): add a reusable grouped Picker primitive
  invokeai/frontend/webv2/src/platform/ui/Picker.tsx
  invokeai/frontend/webv2/src/platform/ui/index.ts
Due: none

refactor(webv2): rebuild the model picker on the Picker primitive
  invokeai/frontend/webv2/src/features/models/core/baseIdentity.ts
  invokeai/frontend/webv2/src/features/models/core/library.test.ts
  invokeai/frontend/webv2/src/features/models/core/library.ts
  invokeai/frontend/webv2/src/features/models/ui/components/ModelSelect.browser.test.tsx
  invokeai/frontend/webv2/src/features/models/ui/components/ModelSelect.tsx
  invokeai/frontend/webv2/src/features/models/ui/uiStore.ts
Due: none

feat(canvas): update shapes icon
  invokeai/frontend/webv2/src/workbench/widgets/canvas/ToolStrip.tsx
Due: none

refactor(webv2): import Picker by module path, not the barrel
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/src/features/models/ui/components/ModelSelect.tsx
  invokeai/frontend/webv2/src/platform/ui/index.ts
Due: none

feat(fp8): enable FP8 storage for Z-Image
  invokeai/backend/model_manager/load/load_default.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/MainModelDefaultSettings/MainModelDefaultSettings.tsx
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort

feat(webv2): rebuild the color picker with swatches, modes, and alpha
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/workflow/ui/fields/WorkflowFieldInput.tsx
  invokeai/frontend/webv2/src/platform/ui/ColorPicker.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/ColorPicker.tsx
  invokeai/frontend/webv2/src/platform/ui/color.test.ts
  invokeai/frontend/webv2/src/platform/ui/color.ts
  invokeai/frontend/webv2/src/platform/ui/colorPickerStore.ts
  invokeai/frontend/webv2/src/platform/ui/colorPickerSync.test.ts
  invokeai/frontend/webv2/src/platform/ui/colorPickerSync.ts
  invokeai/frontend/webv2/src/platform/ui/index.ts
  invokeai/frontend/webv2/src/platform/ui/theme/recipes.ts
  invokeai/frontend/webv2/src/platform/ui/theme/system.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/capabilities.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/colorPickerTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/colorPickerTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/tool.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/GenerateCanvasCompositingSection.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/BrushOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/GradientOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/ShapeOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/TextOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/useColorSampler.ts
Due: none

feat(fp8): enable FP8 storage for Anima
  invokeai/backend/anima/anima_transformer.py
  invokeai/backend/model_manager/load/model_loaders/anima.py
  tests/backend/model_manager/load/test_load_default_fp8.py
Due: black, flake8, isort

fix(webv2): stop scroll zoom sticking at each zoom preset
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/src/workbench/canvas-engine/capabilities.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/math/snapping.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/math/snapping.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/viewport.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/viewport.ts
  invokeai/frontend/webv2/src/workbench/panZoom.test.ts
  invokeai/frontend/webv2/src/workbench/panZoom.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/zoomOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/zoomOptions.ts
Due: none

fix(webv2): centre the layer row visibility dot with its sibling controls
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerListItem.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerListItem.tsx
Due: none
