Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

Remove Flux2 Klein Base from Starter Models
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

Remove Logging
  invokeai/app/invocations/flux2_denoise.py
  invokeai/app/invocations/flux2_klein_text_encoder.py
  invokeai/backend/flux2/denoise.py
Due: black, flake8, isort

Add Default Values for Flux2 Klein and add variant as additional info to from_base
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
Due: black, flake8, isort

Add migrations for the z-image qwen3 encoder without a variant value
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_25.py
Due: black, flake8, isort

Add img2img, inpainting and outpainting support for FLUX.2 Klein
  invokeai/app/invocations/flux2_denoise.py
  invokeai/app/invocations/flux2_klein_model_loader.py
  invokeai/app/invocations/flux2_vae_encode.py
  invokeai/app/invocations/metadata.py
  invokeai/backend/flux2/denoise.py
  invokeai/backend/flux2/sampling_utils.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addImageToImage.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/features/nodes/util/graph/types.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix(multiuser): Isolate client state per user to prevent data leakage (#40)
  invokeai/app/api/auth_dependencies.py
  invokeai/app/api/routers/client_state.py
  invokeai/app/services/client_state_persistence/client_state_persistence_base.py
  invokeai/app/services/client_state_persistence/client_state_persistence_sqlite.py
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_26.py
  invokeai/frontend/web/src/app/store/enhancers/reduxRemember/driver.ts
  invokeai/frontend/web/src/features/auth/components/LoginPage.tsx
  invokeai/frontend/web/src/features/auth/store/authSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_client_state_multiuser.py
  tests/conftest.py
Due: black, flake8, isort

feat(queue): show user/total pending jobs in multiuser mode badge (#43)
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/queue/components/QueueCountBadge.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: black, flake8, isort

Add new model type integration guide
  docs/NEW_MODEL_INTEGRATION.md
Due: none

Add GGUF quantized model support and Diffusers VAE loader for FLUX.2 Klein
  docs/installation/requirements.md
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/configs/vae.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/AddModelPanel/ModelInstallQueue/ModelInstallQueueItem.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Fix truncated DyPE label in advanced options UI
  invokeai/frontend/web/public/locales/en.json
Due: none

Add DyPE preset to recall parameters in image viewer
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
Due: none

chore(backend): ruff
  tests/app/routers/test_auth.py
  tests/app/routers/test_boards_multiuser.py
  tests/app/routers/test_client_state_multiuser.py
  tests/app/services/auth/test_security.py
Due: black, flake8, isort

chore(frontend): typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore(backend): ruff
  scripts/usermod.py
  tests/app/services/auth/test_data_isolation.py
Due: black, flake8, isort

bugfix(scripts): fix crash in userlist.py script
  scripts/userdel.py
  scripts/userlist.py
  scripts/usermod.py
Due: black, flake8, isort

chore(front & backend): ruff and lint
  Makefile
  invokeai/app/api/auth_dependencies.py
  invokeai/frontend/web/src/features/auth/components/ProtectedRoute.tsx
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useIsModelManagerEnabled.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ControlAdapterModelDefaultSettings/ControlAdapterModelDefaultSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/LoRAModelDefaultSettings/LoRAModelDefaultSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelHeader.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
  scripts/userlist.py
  tests/app/routers/test_boards_multiuser.py
Due: black, flake8, isort

chore(frontend): typegen again
  invokeai/app/api/routers/model_manager.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

chore(backend): typegen and ruff
  invokeai/app/api/auth_dependencies.py
  invokeai/app/api/routers/auth.py
  invokeai/app/services/auth/token_service.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

chore(docs): update docstrings
  invokeai/app/services/config/config_default.py
Due: black, flake8, isort

Fix FLUX.2 model detection and add FP8 weight dequantization support
  invokeai/app/api/routers/model_manager.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
Due: black, flake8, isort

Chore ruff format
  invokeai/app/api/routers/model_manager.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
Due: black, flake8, isort

Chore Typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Fix FLUX.2 Klein 9B model loading by detecting hidden_size from weights
  invokeai/backend/model_manager/load/model_loaders/flux.py
Due: black, flake8, isort

Only clear Qwen3 encoder when FLUX.2 Klein variant changes
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
Due: none

Fixed icorrect wording where Circular was used instead of Radial.
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolGradientButton.tsx
Due: none

Docs(app): Comprehensive Documentation of Multiuser Features (#50)
  docs/installation/requirements.md
  docs/multiuser/EXECUTIVE_SUMMARY.md
  docs/multiuser/README.md
  docs/multiuser/add_user_guide.md
  docs/multiuser/admin_guide.md
  docs/multiuser/api_guide.md
  docs/multiuser/board_isolation_issue.md
  docs/multiuser/implementation_plan.md
  docs/multiuser/phase3_testing.md
  docs/multiuser/phase3_verification.md
  docs/multiuser/phase4_summary.md
  docs/multiuser/phase4_verification.md
  docs/multiuser/phase5_testing.md
  docs/multiuser/phase5_verification.md
  docs/multiuser/phase6_summary.md
  docs/multiuser/phase6_testing.md
  docs/multiuser/phase6_verification.md
  docs/multiuser/phase7_summary.md
  docs/multiuser/phase7_testing.md
  docs/multiuser/phase7_verification.md
  docs/multiuser/testing_token_expiration.md
  docs/multiuser/user_guide.md
  mkdocs.yml
Due: none

docs(app): update multiuser documentation
  docs/multiuser/admin_guide.md
  docs/multiuser/user_guide.md
Due: none

Update flux_model_loader.py
  invokeai/app/invocations/flux_model_loader.py
Due: black, flake8, isort

Adjusted Search bar position and added padding in image info viewer.
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/DataViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataGraphTabContent.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataWorkflowTabContent.tsx
  invokeai/frontend/web/src/features/gallery/components/NextPrevItemButtons.tsx
Due: none

typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Fixed existing ruff error
  invokeai/app/invocations/flux_model_loader.py
Due: black, flake8, isort

Add metadata recall support for FLUX.2 Klein parameters
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

Fix FLUX.2 Klein denoising scaling and Z-Image VAE compatibility
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamZImageQwen3VaeModelSelect.tsx
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: none

chore pnpm fix
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

Initial implementation of HiDiffusion pipeline
  docs/features/hidiffusion.md
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/metadata_linked.py
  invokeai/backend/stable_diffusion/extensions/hidiffusion.py
  invokeai/backend/stable_diffusion/hidiffusion_utils.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addSDXLRefiner.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamHiDiffusionToggle.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  mkdocs.yml
  pyproject.toml
  uv.lock
Due: black, flake8, isort, uvlock

Added URLs to original HiDiffusion repository in documentation and frontend popover.
  docs/features/hidiffusion.md
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
Due: none

Added comment next to HiDiffusion in pyproject.toml to clarify its purpose.
  pyproject.toml
Due: uvlock

Formatting
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamHiDiffusionToggle.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
Due: none

Import order fix
  invokeai/app/invocations/denoise_latents.py
Due: black, flake8, isort
