Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

fix(triposplat): drop deprecated Image.fromarray mode= param (removed in Pillow 13)
  invokeai/backend/image_util/triposplat/model.py
  invokeai/backend/image_util/triposplat/triposplat.py
Due: black, flake8, isort

fix(ui): phantom queue item after instantly-completing sessions
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: none

change rocm6.3 to rocm7.1
  pins.json
Due: none

Merge remote-tracking branch 'origin/main' into feature/svd-quantization
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
Due: black, flake8, isort

Fix SDNQ mixed-group dequant, Z-Image self-contained pipelines, and FLUX.2 single-file identification
  invokeai/app/invocations/z_image_model_loader.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/quantization/sdnq/loaders.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildZImageGraph.ts
  invokeai/frontend/web/src/features/queue/store/readiness.test.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  tests/app/invocations/test_z_image_model_loader.py
  tests/backend/model_manager/configs/test_sdnq_flux2_identification.py
  tests/backend/quantization/sdnq/test_sdnq_loader.py
Due: black, flake8, isort

Chore typegen + openapi
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore(docs): make sponsor button more visible
  README.md
  docs/src/content/docs/index.mdx
Due: none

feat(nodes): Add a LoRA collection picker node that selects and applies an indefinite number of LoRAs (#9259)
  invokeai/app/invocations/anima_lora_loader.py
  invokeai/app/invocations/flux2_klein_lora_loader.py
  invokeai/app/invocations/flux_lora_loader.py
  invokeai/app/invocations/model.py
  invokeai/app/invocations/qwen_image_lora_loader.py
  invokeai/app/invocations/z_image_lora_loader.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/LoRAFieldCollectionInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/types/field.test.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
Due: black, flake8, isort

fix(tests): pass video/gallery services to InvocationServices in workflow-call router tests
  tests/app/routers/test_session_queue_workflow_call.py
Due: black, flake8, isort

fix(ui): refresh board caches when a generated video completes
  invokeai/frontend/web/src/services/events/onInvocationComplete.test.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: none

Fix SDNQ mixed-group dequant, Z-Image self-contained pipelines, and FLUX.2/Z-Image identification
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  tests/backend/model_manager/configs/test_z_image_sdnq_identification.py
Due: black, flake8, isort

fix(triposplat): review fixes — cache sizing, overlay races, Spark disposal, tests
  invokeai/app/invocations/image_to_3d.py
  invokeai/backend/image_util/triposplat/__init__.py
  invokeai/backend/image_util/triposplat/triposplat_model.py
  invokeai/backend/model_manager/load/model_util.py
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/splatScene.ts
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/state.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useEntityConvertTo3D.ts
  tests/app/routers/test_image_moves.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_workflows_multiuser.py
  tests/app/services/test_image_move_startup_safety.py
  tests/backend/model_manager/load/test_model_util.py
Due: black, flake8, isort

feat(triposplat): random seed per conversion so re-converting rerolls
  invokeai/frontend/web/src/features/controlLayers/hooks/useEntityConvertTo3D.ts
Due: none

fix(triposplat): axis-gizmo clicks miss at any stage zoom other than 100%
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/splatScene.ts
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/viewHelperPointer.test.ts
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/viewHelperPointer.ts
Due: none

feat(triposplat): Alt+drag rotates the object itself; clearer control hints
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/CanvasSplatOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/splatScene.ts
Due: none

feat(triposplat): toolbar toggle for orbit/rotate-object; fix toolbar wrapping
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/CanvasSplatOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/splatScene.ts
Due: none

fix(triposplat): suppress context menu in the splat viewport; add pan hint
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/CanvasSplatOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/splatScene.ts
Due: none

feat(triposplat): show the rotation pivot while interacting
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/splatScene.ts
Due: none

feat(triposplat): rotate-object pivots around the orbit target, not the object center
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/splatScene.ts
Due: none

chore: drop leftover transformers uv override from old base work
  pyproject.toml
Due: uvlock

docs(triposplat): call out that panning moves the rotation point in the hint
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/CanvasSplatOverlay.tsx
Due: none

ci: fix PR pipeline failures — ruff excludes for vendored code, stale generated schemas
  invokeai/app/api/dependencies.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
Due: black, flake8, isort, uvlock

test: add asset_files arg to workflow-call test fixture from upstream merge
  tests/app/routers/test_session_queue_workflow_call.py
Due: black, flake8, isort

test(mm): pin activation-width resolution for the GGUF-shipped transformer classes
  invokeai/backend/util/denoise_working_memory.py
  tests/backend/util/test_denoise_working_memory.py
Due: black, flake8, isort

chore(api): restore CacheStats description dropped by local pydantic drift
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

feat(services): add S3CompatibleImageFileStorage (first cloud impl of ImageFileStorageBase)
  .github/workflows/s3-integration.yml
  docs/src/content/docs/configuration/object-storage.mdx
  docs/src/generated/settings.json
  invokeai/app/api/dependencies.py
  invokeai/app/api/routers/images.py
  invokeai/app/services/bulk_download/bulk_download_default.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/image_files/image_files_base.py
  invokeai/app/services/image_files/image_files_common.py
  invokeai/app/services/image_files/image_files_disk.py
  invokeai/app/services/image_files/image_files_s3.py
  invokeai/app/services/images/images_base.py
  invokeai/app/services/images/images_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
  tests/app/routers/test_image_serving.py
  tests/app/services/bulk_download/test_bulk_download.py
  tests/app/services/image_files/test_image_files_disk.py
  tests/app/services/image_files/test_image_files_s3.py
  tests/integration/test_image_files_s3_real.py
  tests/test_config.py
  uv.lock
Due: black, flake8, isort, uvlock

fix(anima): catch kernel-raised OOM in decode fallback; add VAE unit tests
  invokeai/app/invocations/anima_latents_to_image.py
  tests/app/invocations/test_anima_vae.py
Due: black, flake8, isort

chore(anima): bump anima_l2i/anima_i2l node versions for changed VAE behavior
  invokeai/app/invocations/anima_image_to_latents.py
  invokeai/app/invocations/anima_latents_to_image.py
  invokeai/frontend/web/openapi.json
Due: black, flake8, isort

feat(mm): count reference-image tokens in the denoise working-memory estimate
  invokeai/app/invocations/flux2_denoise.py
  invokeai/app/invocations/flux_denoise.py
  invokeai/backend/util/denoise_working_memory.py
  tests/backend/util/test_denoise_working_memory.py
Due: black, flake8, isort

fix(mm): reserve working memory for the FLUX.2 reference-image VAE encode
  invokeai/backend/flux2/ref_image_extension.py
Due: black, flake8, isort

Harden SDNQ model identification, loading, and Z-Image pipeline support
  invokeai/app/invocations/z_image_model_loader.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/vae.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/quantization/sdnq/loaders.py
  tests/app/invocations/test_z_image_model_loader.py
  tests/backend/model_manager/configs/test_qwen3_encoder_sdnq_folder_identification.py
  tests/backend/quantization/sdnq/test_sdnq_loader.py
Due: black, flake8, isort

docs: add CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: add CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

docs: add CHANGELOG.md
  CHANGELOG.md
Due: none

fix(canvas): inpainted queue items don't get fully regenerated
  invokeai/frontend/webv2/src/workbench/WorkbenchRuntime.test.ts
  invokeai/frontend/webv2/src/workbench/WorkbenchRuntime.tsx
  invokeai/frontend/webv2/src/workbench/queueSubmission.ts
  invokeai/frontend/webv2/src/workbench/types.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

fix(canvas): inpaint outputs stage more than one result
  invokeai/frontend/webv2/src/workbench/WorkbenchRuntime.test.ts
  invokeai/frontend/webv2/src/workbench/WorkbenchRuntime.tsx
  invokeai/frontend/webv2/src/workbench/backend/queueCoordinator.test.ts
  invokeai/frontend/webv2/src/workbench/backend/queueCoordinator.ts
  invokeai/frontend/webv2/src/workbench/generation/api.test.ts
  invokeai/frontend/webv2/src/workbench/generation/api.ts
  invokeai/frontend/webv2/src/workbench/generation/types.ts
Due: none

fix(canvas): qol updates
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/input/pointerPipeline.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/input/pointerPipeline.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/BboxDetailsBar.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/StagingBar.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/ToolStrip.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasInteractionLock.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasInteractionLock.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/BboxOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/CanvasOptionsBar.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/ToolOptionsBar.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/useBboxEditor.ts
Due: none
