Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

fix(test): stabilize browser dependency prebundle
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/src/features/generation/ui/shared/SliderNumberField.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetRegionDropOverlay.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasImageDropZone.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewCompareDropZone.tsx
  invokeai/frontend/webv2/vitest.browser.config.mts
Due: none

fix: resolve CI failures from main's route-auth audit and knip
  invokeai/app/api/routers/auth.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/boardAndImagesDeleted.test.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_auth.py
  tests/app/routers/test_model_manager_authorization.py
Due: black, flake8, isort

fix(canvas): sort CanvasBrushToolModule imports
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasBrushToolModule.ts
Due: none

fix: tolerate stale object cache eviction entries
  invokeai/app/services/object_serializer/object_serializer_forward_cache.py
  tests/test_object_serializer_disk.py
Due: black, flake8, isort

fix: address JPPhoto's 2026-07-21 review (12 items)
  docs/src/content/docs/configuration/invokeai-yaml.mdx
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/flux_redux.py
  invokeai/app/services/events/events_common.py
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/model_manager/load/model_cache/ram_budget.py
  invokeai/backend/patches/layer_patcher.py
  invokeai/backend/util/devices.py
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsGenerationDevices.tsx
  tests/app/invocations/test_flux_redux_output_device.py
  tests/app/services/events/test_progress_event_device.py
  tests/app/services/session_processor/test_encoder_offload.py
  tests/app/services/session_processor/test_session_processor_cancel_guard.py
  tests/app/services/session_processor/test_session_runner_cloning.py
  tests/app/services/session_queue/test_session_queue_multigpu_cancel.py
  tests/backend/model_manager/load/model_cache/test_model_cache_ram_budget.py
  tests/backend/patches/test_layer_patcher.py
  tests/backend/util/test_devices.py
Due: black, flake8, isort

feat(workbench): add mod+K command palette
  invokeai/frontend/webv2/package.json
  invokeai/frontend/webv2/pnpm-lock.yaml
  invokeai/frontend/webv2/src/app/WorkbenchApp.tsx
  invokeai/frontend/webv2/src/architecture/workbenchOwnershipManifest.json
  invokeai/frontend/webv2/src/workbench/hotkeys/catalog.test.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/catalog.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/firstPartyCommands.ts
  invokeai/frontend/webv2/src/workbench/launchpad/Launchpad.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/LaunchpadTopBar.tsx
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/LaunchpadCommandPalette.tsx
  invokeai/frontend/webv2/src/workbench/palette/PaletteButton.tsx
  invokeai/frontend/webv2/src/workbench/palette/WorkbenchCommandPalette.tsx
  invokeai/frontend/webv2/src/workbench/palette/entries.test.ts
  invokeai/frontend/webv2/src/workbench/palette/entries.ts
  invokeai/frontend/webv2/src/workbench/palette/index.ts
  invokeai/frontend/webv2/src/workbench/palette/paletteStore.ts
  invokeai/frontend/webv2/src/workbench/palette/recents.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/TopBar.tsx
Due: none

fix(backend): Wan invocation fixes from JPPhoto's 2026-07-21 review
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_latents_to_image.py
  invokeai/app/invocations/wan_lora_loader.py
  invokeai/app/invocations/wan_ref_image_encoder.py
  tests/app/invocations/test_wan_expert_swapper.py
  tests/app/invocations/test_wan_latents_to_image.py
  tests/app/invocations/test_wan_lora_loader.py
Due: black, flake8, isort

fix(api): per-user upload slots, probe validation, stream decode fallback
  invokeai/app/api/routers/videos.py
  invokeai/app/api_app.py
  invokeai/app/util/video_decode_worker.py
  invokeai/app/util/video_thumbnails.py
  tests/app/api/test_video_upload_limits.py
  tests/app/util/test_video_thumbnails.py
Due: black, flake8, isort

fix(ui): media resilience fixes from JPPhoto's 2026-07-21 review
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/boardAndImagesDeleted.ts
  invokeai/frontend/web/src/features/auth/hooks/useMediaCookieRefresh.ts
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/BoardTooltip.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/GalleryBoard.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/VirtualBoardItem.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryVideoThumbnail.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentVideoPreview.tsx
  invokeai/frontend/web/src/features/gallery/store/gallerySlice.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/VideoFieldInputComponent.tsx
  invokeai/frontend/web/src/services/api/endpoints/auth.ts
  invokeai/frontend/web/src/services/api/endpoints/videos.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(deps): add networkx runtime dependency
  pyproject.toml
  uv.lock
Due: uvlock

chore: regenerate openapi.json (auth on get_generation_device_options)
  invokeai/frontend/web/openapi.json
Due: none

feat(workbench): palette value pickers, scoped search, entity providers
  invokeai/frontend/webv2/src/architecture/dependencyPolicy.test.ts
  invokeai/frontend/webv2/src/architecture/featureInterfaces.ts
  invokeai/frontend/webv2/src/features/workflow/react.ts
  invokeai/frontend/webv2/src/features/workflow/ui/PendingLibraryWorkflowLoader.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/WorkflowWidgetChrome.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/workflowUiStore.ts
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/WorkbenchCommandPalette.tsx
  invokeai/frontend/webv2/src/workbench/palette/entries.test.ts
  invokeai/frontend/webv2/src/workbench/palette/entries.ts
  invokeai/frontend/webv2/src/workbench/palette/paletteProviders.ts
Due: none

feat(workbench): palette image/model providers, extension search, frecency
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/WorkbenchCommandPalette.tsx
  invokeai/frontend/webv2/src/workbench/palette/entries.ts
  invokeai/frontend/webv2/src/workbench/palette/paletteProviders.ts
  invokeai/frontend/webv2/src/workbench/palette/recents.ts
Due: none

feat(queue): palette queue items provider with reveal-in-widget
  invokeai/frontend/webv2/src/architecture/dependencyPolicy.test.ts
  invokeai/frontend/webv2/src/architecture/featureInterfaces.ts
  invokeai/frontend/webv2/src/features/queue/contracts.ts
  invokeai/frontend/webv2/src/features/queue/queries.ts
  invokeai/frontend/webv2/src/features/queue/react.ts
  invokeai/frontend/webv2/src/features/queue/ui/QueueItemRow.tsx
  invokeai/frontend/webv2/src/features/queue/ui/QueueWidgetView.tsx
  invokeai/frontend/webv2/src/features/queue/ui/RecentSection.tsx
  invokeai/frontend/webv2/src/features/queue/ui/queueUiStore.ts
  invokeai/frontend/webv2/src/workbench/palette/paletteProviders.ts
Due: none

feat(workbench): palette theme live-preview and queue provider wiring
  invokeai/frontend/webv2/src/app/ThemeController.tsx
  invokeai/frontend/webv2/src/platform/ui/theme/applyTheme.ts
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/LaunchpadCommandPalette.tsx
  invokeai/frontend/webv2/src/workbench/palette/WorkbenchCommandPalette.tsx
  invokeai/frontend/webv2/src/workbench/palette/entries.test.ts
  invokeai/frontend/webv2/src/workbench/palette/entries.ts
  invokeai/frontend/webv2/src/workbench/palette/settingsEntryDeps.ts
Due: none

fix(generation): unify prompt history recall
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/features/generation/core/promptHistory.test.ts
  invokeai/frontend/webv2/src/features/generation/settings.ts
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/promptHistoryNavigation.ts
Due: none

fix(queue): tokenize item reveal requests
  invokeai/frontend/webv2/src/architecture/featureInterfaces.ts
  invokeai/frontend/webv2/src/features/queue/react.ts
  invokeai/frontend/webv2/src/features/queue/reveal.ts
  invokeai/frontend/webv2/src/features/queue/ui/QueueItemRow.tsx
  invokeai/frontend/webv2/src/features/queue/ui/QueueWidgetView.tsx
  invokeai/frontend/webv2/src/features/queue/ui/RecentSection.tsx
  invokeai/frontend/webv2/src/features/queue/ui/queueUiStore.test.ts
  invokeai/frontend/webv2/src/features/queue/ui/queueUiStore.ts
Due: none

fix(workflow): serialize pending library loads
  invokeai/frontend/webv2/src/features/workflow/ui/PendingLibraryWorkflowLoader.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/pendingLibraryWorkflowLoadRuntime.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/pendingLibraryWorkflowLoadRuntime.ts
  invokeai/frontend/webv2/src/features/workflow/ui/workflowUiStore.ts
Due: none

feat(command-palette): deepen and lazy-load palette
  invokeai/frontend/webv2/src/app/WorkbenchApp.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/Launchpad.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/LaunchpadTopBar.tsx
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteDialog.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteRows.tsx
  invokeai/frontend/webv2/src/workbench/palette/LaunchpadCommandPalette.tsx
  invokeai/frontend/webv2/src/workbench/palette/LaunchpadCommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/PaletteButton.tsx
  invokeai/frontend/webv2/src/workbench/palette/WorkbenchCommandPalette.tsx
  invokeai/frontend/webv2/src/workbench/palette/WorkbenchCommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/contributionKey.ts
  invokeai/frontend/webv2/src/workbench/palette/entries.test.ts
  invokeai/frontend/webv2/src/workbench/palette/entries.ts
  invokeai/frontend/webv2/src/workbench/palette/extensionPaletteAdapters.test.ts
  invokeai/frontend/webv2/src/workbench/palette/extensionPaletteAdapters.ts
  invokeai/frontend/webv2/src/workbench/palette/index.ts
  invokeai/frontend/webv2/src/workbench/palette/paletteProviders.ts
  invokeai/frontend/webv2/src/workbench/palette/providerQueryKey.ts
  invokeai/frontend/webv2/src/workbench/palette/recents.test.ts
  invokeai/frontend/webv2/src/workbench/palette/recents.ts
  invokeai/frontend/webv2/src/workbench/palette/settingsEntryDeps.ts
  invokeai/frontend/webv2/src/workbench/palette/useCommandPaletteController.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/TopBar.tsx
Due: none

feat(api): add created_from/created_to date range filters to image listing
  invokeai/app/api/routers/images.py
  invokeai/app/services/image_records/image_records_base.py
  invokeai/app/services/image_records/image_records_sqlite.py
  invokeai/app/services/images/images_base.py
  invokeai/app/services/images/images_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_images.py
  tests/app/services/image_records/test_image_records_sqlite.py
Due: black, flake8, isort

feat(ui): add shared date token parser
  invokeai/frontend/webv2/src/platform/search/dateTokens.test.ts
  invokeai/frontend/webv2/src/platform/search/dateTokens.ts
Due: none

feat(ui): support date tokens in gallery search
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/gallery/data/backend.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryToolbar.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryData.ts
Due: none

feat(ui): thread structured date queries through palette providers
  invokeai/frontend/webv2/src/features/gallery/core/types.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/workbench/palette/entries.test.ts
  invokeai/frontend/webv2/src/workbench/palette/entries.ts
  invokeai/frontend/webv2/src/workbench/palette/extensionPaletteAdapters.test.ts
  invokeai/frontend/webv2/src/workbench/palette/extensionPaletteAdapters.ts
  invokeai/frontend/webv2/src/workbench/palette/paletteProviders.ts
  invokeai/frontend/webv2/src/workbench/palette/providerQueryKey.ts
  invokeai/frontend/webv2/src/workbench/palette/useCommandPaletteController.ts
Due: none

feat(ui): add date token suggestions and feedback to command palette
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteDialog.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/useCommandPaletteController.ts
Due: none

fix(flux2-dev): address review — regional guidance, model classification, LoRA guards, encoder probes
  invokeai/app/invocations/flux2_dev_lora_loader.py
  invokeai/app/invocations/flux2_dev_text_encoder.py
  invokeai/app/invocations/flux2_klein_lora_loader.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/configs/mistral_encoder.py
  invokeai/backend/model_manager/load/model_loaders/mistral_encoder.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addFlux2DevLoRAs.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addFlux2KleinLoRAs.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamFlux2DevModelSelect.tsx
Due: black, flake8, isort

feat(ui): add palette search-scope commands with instant scoped results
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteDialog.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/contributionKey.ts
  invokeai/frontend/webv2/src/workbench/palette/entries.test.ts
  invokeai/frontend/webv2/src/workbench/palette/entries.ts
  invokeai/frontend/webv2/src/workbench/palette/useCommandPaletteController.ts
Due: none

feat(gallery): support listing images across all boards
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/data/queries.ts
Due: none

feat(ui): palette image search spans all boards with readable results
  invokeai/frontend/webv2/src/workbench/palette/WorkbenchCommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/paletteProviders.ts
Due: none

feat(ui): palette UX refinements — dedupe, syntax tip, scope header, pointer affordances
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteDialog.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteRows.tsx
  invokeai/frontend/webv2/src/workbench/palette/entries.test.ts
  invokeai/frontend/webv2/src/workbench/palette/entries.ts
  invokeai/frontend/webv2/src/workbench/palette/useCommandPaletteController.ts
Due: none

Feat: FLUX.2 [dev] review fixes, dedup, and shared-source refactors
  invokeai/backend/model_manager/configs/flux2_variant.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/mistral_encoder.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
  invokeai/frontend/web/src/features/metadata/parsing.test.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamFlux2DevModelSelect.tsx
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamFlux2KleinModelSelect.tsx
  invokeai/frontend/web/src/features/queue/store/readiness.test.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: black, flake8, isort

fix: address final video review findings
  invokeai/app/invocations/wan_latents_to_image.py
  invokeai/app/util/video_decode_worker.py
  invokeai/frontend/web/src/features/auth/components/UserMenu.tsx
  invokeai/frontend/web/src/features/auth/hooks/useMediaCookieRefresh.ts
  invokeai/frontend/web/src/features/auth/store/logoutAfterServerConfirmation.test.ts
  invokeai/frontend/web/src/features/auth/store/logoutAfterServerConfirmation.ts
  tests/app/invocations/test_wan_latents_to_image.py
  tests/app/util/test_video_thumbnails.py
Due: black, flake8, isort

Fix: bump paramsSlice persist version to 4 for the shared FLUX.2 VAE slot
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

fix: harden video workflows and auth refresh
  docs/src/content/docs/features/gallery.mdx
  invokeai/app/api/routers/videos.py
  invokeai/app/api_app.py
  invokeai/app/invocations/video_concat.py
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_latents_to_video.py
  invokeai/app/invocations/wan_video_denoise.py
  invokeai/app/services/videos/videos_common.py
  invokeai/app/util/video_decode_worker.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/auth/components/UserProfile.tsx
  invokeai/frontend/web/src/features/auth/hooks/useMediaCookieRefresh.test.ts
  invokeai/frontend/web/src/features/auth/hooks/useMediaCookieRefresh.ts
  invokeai/frontend/web/src/features/auth/store/authSlice.ts
  invokeai/frontend/web/src/features/auth/store/authTokenRefresh.test.ts
  invokeai/frontend/web/src/features/auth/store/authTokenRefresh.ts
  invokeai/frontend/web/src/features/auth/store/refreshedTokenConsumers.test.ts
  invokeai/frontend/web/src/features/deleteVideoModal/components/DeleteVideoModal.tsx
  invokeai/frontend/web/src/features/deleteVideoModal/store/state.test.ts
  invokeai/frontend/web/src/features/deleteVideoModal/store/state.ts
  invokeai/frontend/web/src/features/gallery/components/Boards/DeleteBoardModal.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentVideoPreview.test.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentVideoPreview.tsx
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/api/test_sliding_window_token.py
  tests/app/api/test_video_upload_limits.py
  tests/app/invocations/test_video_concat.py
  tests/app/invocations/test_wan_denoise.py
  tests/app/invocations/test_wan_latents_to_video_encoding.py
  tests/app/routers/test_videos_multiuser.py
  tests/app/util/test_video_thumbnails.py
Due: black, flake8, isort

chore: regenerate OpenAPI schema
  invokeai/frontend/web/openapi.json
Due: none

Wrap long image records test call
  tests/app/services/image_records/test_image_records_sqlite.py
Due: black, flake8, isort

Reuse parsed source files in workbench ownership test
  invokeai/frontend/webv2/src/architecture/workbenchOwnership.test.ts
Due: none

refactor: apply final review fixes to palette and image listing
  invokeai/app/services/image_records/image_records_sqlite.py
  invokeai/frontend/webv2/public/locales/en-GB.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/architecture/dependencyPolicy.test.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryToolbar.tsx
  invokeai/frontend/webv2/src/features/workflow/paletteSearch.ts
  invokeai/frontend/webv2/src/platform/search/dateTokens.ts
  invokeai/frontend/webv2/src/workbench/palette/LaunchpadCommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/paletteProviders.ts
  invokeai/frontend/webv2/src/workbench/palette/useCommandPaletteController.ts
Due: black, flake8, isort

fix: close video workflow review gaps
  invokeai/app/api/routers/boards.py
  invokeai/app/api/routers/images.py
  invokeai/app/api_app.py
  invokeai/app/services/images/images_common.py
  invokeai/app/util/video_thumbnails.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/auth/store/authTokenRefresh.test.ts
  invokeai/frontend/web/src/features/auth/store/authTokenRefresh.ts
  invokeai/frontend/web/src/features/gallery/components/Boards/DeleteBoardModal.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/getMediaDeletionSummary.test.ts
  invokeai/frontend/web/src/features/gallery/components/Boards/getMediaDeletionSummary.ts
  invokeai/frontend/web/src/services/api/endpoints/images.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/api/test_video_upload_limits.py
  tests/app/routers/test_boards_multiuser.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/util/test_video_thumbnails.py
Due: black, flake8, isort

refactor(ui): apply post-review palette cleanups
  invokeai/frontend/webv2/public/locales/en-GB.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/architecture/dependencyPolicy.test.ts
  invokeai/frontend/webv2/src/architecture/featureInterfaces.ts
  invokeai/frontend/webv2/src/features/gallery/queries.ts
  invokeai/frontend/webv2/src/features/queue/paletteSearch.ts
  invokeai/frontend/webv2/src/features/workflow/paletteSearch.ts
  invokeai/frontend/webv2/src/platform/search/dateTokens.test.ts
  invokeai/frontend/webv2/src/platform/search/dateTokens.ts
  invokeai/frontend/webv2/src/workbench/palette/CommandPaletteRows.tsx
  invokeai/frontend/webv2/src/workbench/palette/LaunchpadCommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/PaletteButton.tsx
  invokeai/frontend/webv2/src/workbench/palette/WorkbenchCommandPalette.tsx
  invokeai/frontend/webv2/src/workbench/palette/WorkbenchCommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/palette/entries.test.ts
  invokeai/frontend/webv2/src/workbench/palette/entries.ts
  invokeai/frontend/webv2/src/workbench/palette/recents.ts
  invokeai/frontend/webv2/vite.config.mts
Due: none
