Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

fix(ui): reject trailing invocation events after queue_cleared
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.test.ts
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.ts
  invokeai/frontend/web/src/services/events/workflowExecutionState.ts
Due: none

fix(app): bound untrusted video decoding with a killable subprocess timeout
  invokeai/app/invocations/video_frame_extract.py
  invokeai/app/util/video_decode_worker.py
  invokeai/app/util/video_thumbnails.py
  tests/app/invocations/test_video_frame_extract.py
  tests/app/util/test_video_thumbnails.py
Due: black, flake8, isort

fix(app): stream frames through the video concat/trim nodes
  invokeai/app/invocations/video_concat.py
  invokeai/app/invocations/video_frame_extract_range.py
  tests/app/invocations/test_video_concat.py
  tests/app/invocations/test_video_frame_extract_range.py
Due: black, flake8, isort

fix(ui): video upload feedback parity with images
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/videoUploadFailedDescription.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/videoUploadFailedDescription.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/videoUploaded.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/dnd/FullscreenDropzone.tsx
  invokeai/frontend/web/src/features/gallery/components/GalleryUploadButton.tsx
  invokeai/frontend/web/src/services/api/endpoints/videos.ts
Due: none

docs: include videos in the user-deletion data-loss note
  docs/src/content/docs/features/Multi-User Mode/admin-guide.mdx
Due: none

fix: address multi-GPU review findings from PR #9263 review
  docs/src/content/docs/configuration/invokeai-yaml.mdx
  docs/src/generated/settings.json
  invokeai/app/api/routers/app_info.py
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/config/config_default.py
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_only_full_load.py
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_with_partial_load.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/model_manager/load/model_cache/shared_cpu_weights.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_app_info.py
  tests/app/routers/test_model_manager.py
  tests/backend/model_manager/load/model_cache/test_model_cache_shared_weights.py
  tests/backend/model_manager/load/model_cache/test_shared_cpu_weights.py
Due: black, flake8, isort

fix(multiuser): ignore other users' invocation_complete entirely (JPPhoto review)
  invokeai/frontend/web/src/services/events/onInvocationComplete.test.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: none

fix video processing resource bounds
  invokeai/app/invocations/video_concat.py
  invokeai/app/invocations/video_frame_extract_range.py
  invokeai/app/util/video_decode_worker.py
  invokeai/app/util/video_thumbnails.py
  invokeai/frontend/web/src/common/hooks/useImageUploadButton.tsx
  invokeai/frontend/web/src/common/util/trackAsyncTask.test.ts
  invokeai/frontend/web/src/common/util/trackAsyncTask.ts
  tests/app/invocations/test_video_concat.py
  tests/app/invocations/test_video_frame_extract_range.py
  tests/app/util/test_video_thumbnails.py
Due: black, flake8, isort

fix video lifecycle edge cases
  invokeai/app/invocations/video_frame_extract_range.py
  invokeai/app/invocations/wan_latents_to_video.py
  invokeai/app/services/video_files/video_files_base.py
  invokeai/app/services/video_files/video_files_disk.py
  invokeai/app/services/videos/videos_default.py
  invokeai/app/util/video_thumbnails.py
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.test.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.ts
  tests/app/invocations/test_video_frame_extract_range.py
  tests/app/invocations/test_wan_latents_to_video_encoding.py
  tests/app/services/video_files/test_video_files_disk.py
  tests/app/services/videos/test_videos_default.py
  tests/app/util/test_video_thumbnails.py
Due: black, flake8, isort

stabilize decoder inactivity test
  tests/app/util/test_video_thumbnails.py
Due: black, flake8, isort

docs: align testing guide with reviewer feedback
  docs/src/content/docs/development/Guides/tests.mdx
Due: none

chore(deps): declare psutil as a direct dependency
  pyproject.toml
  uv.lock
Due: uvlock

fix(app,ui): scope queue_cleared to the clearing user in multiuser mode
  invokeai/app/api/sockets.py
  invokeai/app/services/events/events_base.py
  invokeai/app/services/events/events_common.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.test.ts
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.ts
  tests/app/routers/test_multiuser_authorization.py
Due: black, flake8, isort

perf(image-files): select RLE for high-entropy PNGs (#9346)
  invokeai/app/services/image_files/image_files_disk.py
  tests/app/services/image_files/test_image_files_disk.py
Due: black, flake8, isort

fix(ui): terminate a cleared user's tracked items on admin clients
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.test.ts
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.ts
Due: none

Fix session processor crash when a queue item is deleted while running (#9352)
  invokeai/app/api/sockets.py
  invokeai/app/services/events/events_base.py
  invokeai/app/services/events/events_common.py
  invokeai/app/services/session_processor/workflow_call_runtime.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/common/hooks/useGlobalHotkeys.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.test.ts
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.ts
  invokeai/frontend/web/src/services/events/workflowExecutionState.ts
  tests/app/routers/test_multiuser_authorization.py
  tests/app/services/test_workflow_call_runtime.py
  tests/app/services/workflow_call_test_utils.py
Due: black, flake8, isort

feat(anima): Anima Controlnets + Inpainting Adapter (#9284)
  invokeai/app/invocations/anima_denoise.py
  invokeai/app/invocations/anima_lllite.py
  invokeai/backend/anima/control_net_lllite.py
  invokeai/backend/model_manager/configs/controlnet.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/load/model_loaders/anima.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/ControlLayer/ControlLayerControlAdapterModel.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityHeaderWarnings.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/store/util.ts
  invokeai/frontend/web/src/features/controlLayers/store/validators.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addControlAdapters.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildAnimaGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildAnimaGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamAnimaModelSelect.tsx
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
  tests/backend/anima/test_control_net_lllite.py
  tests/backend/model_manager/configs/test_anima_controlnet_config.py
Due: black, flake8, isort

fix(events): keep other users' progress out of admins' personal UI
  invokeai/app/api/sockets.py
  invokeai/frontend/web/src/services/events/onInvocationComplete.test.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
  tests/app/test_invocation_event_socketio.py
Due: black, flake8, isort

fix(events): scope activity indicators to the user's own work in multiuser mode
  invokeai/app/api/routers/model_manager.py
  invokeai/app/api/routers/session_queue.py
  invokeai/app/api/routers/utilities.py
  invokeai/app/api/sockets.py
  invokeai/app/services/events/events_base.py
  invokeai/app/services/events/events_common.py
  invokeai/app/services/model_load/model_load_base.py
  invokeai/app/services/model_load/model_load_default.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/app/services/shared/invocation_context.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/app/hooks/useSyncFaviconQueueStatus.ts
  invokeai/frontend/web/src/features/system/components/ProgressBar.tsx
  invokeai/frontend/web/src/features/ui/components/FloatingLeftPanelButtons.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/queueStatusEvents.test.ts
  invokeai/frontend/web/src/services/events/queueStatusEvents.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  tests/app/routers/test_multiuser_authorization.py
  tests/app/services/session_queue/test_session_queue_status_user_scoping.py
  tests/app/test_invocation_event_socketio.py
Due: black, flake8, isort

fix(ui): don't auto-switch boards on other users' generations
  invokeai/frontend/web/src/services/events/onInvocationComplete.test.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: none

fix video security and lifecycle regressions
  invokeai/app/api/auth_dependencies.py
  invokeai/app/api/routers/auth.py
  invokeai/app/api/routers/videos.py
  invokeai/app/invocations/primitives.py
  invokeai/app/invocations/video_frame_extract_range.py
  invokeai/app/services/shared/invocation_context.py
  invokeai/app/services/video_files/video_files_disk.py
  invokeai/app/services/videos/videos_default.py
  invokeai/frontend/web/src/features/gallery/components/GalleryImageGrid.tsx
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.test.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_video_frame_extract_range.py
  tests/app/invocations/test_video_primitive.py
  tests/app/routers/test_auth.py
  tests/app/routers/test_videos_multiuser.py
  tests/app/services/shared/test_invocation_context_videos.py
  tests/app/services/video_files/test_video_files_disk.py
  tests/app/services/videos/test_videos_default.py
Due: black, flake8, isort

fix(krea2): validate denoise inputs and VAE compatibility
  invokeai/app/invocations/krea2_denoise.py
  invokeai/backend/krea2/vae_compat.py
  tests/app/invocations/test_krea2_denoise.py
  tests/backend/krea2/test_vae_compat.py
  uv.lock
Due: black, flake8, isort

test(krea2): add loader, denoise, graph, listener, recall and starter-model coverage
  docs/src/content/docs/features/krea-2.mdx
  docs/src/content/docs/start-here/system-requirements.mdx
  invokeai/app/invocations/krea2_denoise.py
  invokeai/app/invocations/krea2_lora_loader.py
  invokeai/app/invocations/krea2_text_encoder.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.test.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
  invokeai/frontend/web/src/features/metadata/parsing.test.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.test.ts
  invokeai/frontend/web/src/features/parameters/components/Krea2Enhancers/ParamKrea2RebalanceWeights.tsx
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  tests/app/invocations/test_krea2_denoise.py
  tests/backend/model_manager/load/test_krea2_state_dict_utils.py
  tests/backend/model_manager/test_starter_models.py
Due: black, flake8, isort

fix(canvas): SAM behavior matches legacy
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/canvas-engine/canvasOperationController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/canvasOperationController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engineStores.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/selection/maskOutline.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/selection/maskOutline.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/selection/selectionState.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/selection/selectionState.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/samTool.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/SamOptions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerContextActions.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerContextActions.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerContextMenuLayout.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerImageResult.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerImageResult.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/selectObjectSession.ts
Due: none

fix(ui): wire Krea metadata recall actions
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.test.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
  invokeai/frontend/web/src/features/metadata/parsing.test.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/parameters/components/Krea2Enhancers/ParamKrea2RebalanceWeights.test.ts
  invokeai/frontend/web/src/features/parameters/components/Krea2Enhancers/ParamKrea2RebalanceWeights.tsx
Due: none

fix(canvas): define layer filter launch policy
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerPropertiesOperation.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerPropertiesOperation.ts
Due: none

fix(canvas): handle layer filter launch eligibility
  invokeai/frontend/webv2/src/workbench/widgets/layers/ControlLayerSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerFilterOperationButton.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerFilterOperationButton.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/RasterLayerFilterSection.tsx
Due: none

test(canvas): cover layer filter launch interactions
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerFilterOperationButton.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerFilterOperationDelegation.test.tsx
Due: none

fix(krea2): address adversarial review findings
  invokeai/app/invocations/krea2_denoise.py
  invokeai/app/invocations/krea2_lora_loader.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/configs/qwen3_vl_encoder.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/patches/lora_conversions/krea2_lora_conversion_utils.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  tests/app/invocations/test_krea2_denoise.py
  tests/app/invocations/test_krea2_lora_loader.py
  tests/backend/model_manager/configs/test_krea2_lora_config.py
  tests/backend/model_manager/configs/test_model_path_validation.py
  tests/backend/model_manager/configs/test_qwen3_vl_encoder_config.py
  tests/backend/model_manager/load/test_krea2_state_dict_utils.py
  tests/backend/patches/lora_conversions/test_krea2_lora_conversion_utils.py
Due: black, flake8, isort

feat(canvas): define control pixel edit targets
  invokeai/frontend/webv2/src/workbench/canvas-engine/editing/controlPixelEdit.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/editing/controlPixelEdit.ts
Due: none

feat(canvas): add layer snapshot history
  invokeai/frontend/webv2/src/workbench/canvas-engine/history/layerSnapshot.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/history/layerSnapshot.ts
Due: none

feat(canvas): paint directly on control layers
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/bitmapStore.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/bitmapStore.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/paintTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/paintTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/strokeSession.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/strokeSession.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/tool.ts
Due: none

fix(canvas): make control paint commits failure atomic
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/bitmapStore.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/bitmapStore.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/paintTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/paintTool.ts
Due: none

feat(canvas): edit control layers through selections
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/LassoOptions.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/tool-options/LassoOptions.tsx
Due: none

fix Krea-2 review findings
  invokeai/app/invocations/krea2_lora_loader.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/configs/qwen3_vl_encoder.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/krea2ComponentSync.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/krea2ComponentSync.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.krea2.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelsLoaded.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.test.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.test.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/generationSettingsVisibility.test.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/generationSettingsVisibility.ts
  tests/app/invocations/test_krea2_denoise.py
  tests/app/invocations/test_krea2_lora_loader.py
  tests/app/invocations/test_krea2_text_encoder.py
  tests/backend/model_manager/configs/test_krea2_lora_config.py
  tests/backend/model_manager/configs/test_krea2_main_config.py
  tests/backend/model_manager/configs/test_qwen3_vl_encoder_config.py
  tests/backend/model_manager/load/test_diffusers_039_compatibility.py
  tests/backend/model_manager/load/test_krea2_loader_boundaries.py
Due: black, flake8, isort

fix(canvas): skip no-op control selection edits
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
Due: none

fix(canvas): make control selection rollback idempotent
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
Due: none

fix(krea2): use per-prompt position ids for the CFG uncond pass
  invokeai/app/invocations/krea2_denoise.py
  tests/app/invocations/test_krea2_denoise.py
Due: black, flake8, isort

fix(canvas): make control edit rollback exact
  invokeai/frontend/webv2/src/workbench/canvas-engine/editing/controlPixelEdit.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/editing/controlPixelEdit.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
Due: none

fix(krea2): resolve deep-review findings across encoder, loaders, LoRA and tokenization
  invokeai/app/invocations/krea2_text_encoder.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/patches/lora_conversions/krea2_lora_conversion_utils.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addKrea2LoRAs.test.ts
  tests/app/invocations/test_krea2_enhancers.py
  tests/app/invocations/test_krea2_text_encoder.py
  tests/backend/model_manager/configs/test_krea2_main_config.py
  tests/backend/model_manager/configs/test_model_path_validation.py
  tests/backend/model_manager/configs/test_qwen3_encoder_config.py
  tests/backend/model_manager/load/test_krea2_state_dict_utils.py
  tests/backend/patches/lora_conversions/test_krea2_lora_conversion_utils.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
