Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

test(projects): expect a failed journal read to leave reconciliation for the next pass
  invokeai/frontend/webv2/src/workbench/projects/indexedDbDraftStore.browser.test.ts
Due: none

test(projects): reset the editor session key between unload journal browser tests
  invokeai/frontend/webv2/src/workbench/projects/README.md
  invokeai/frontend/webv2/src/workbench/projects/unloadJournal.browser.test.ts
Due: none

refactor(gallery): port the gallery queries
  invokeai/app/api/dependencies.py
  invokeai/app/services/gallery/gallery_default.py
  invokeai/app/services/shared/database/queries/__init__.py
  invokeai/app/services/shared/database/queries/base.py
  invokeai/app/services/shared/database/queries/gallery.py
  invokeai/app/services/shared/database/queries/images.py
  invokeai/app/services/shared/database/queries/videos.py
  invokeai/app/services/video_records/video_records_common.py
  scripts/benchmark_database.py
  tests/app/routers/test_image_map.py
  tests/app/services/gallery/test_gallery_default.py
  tests/app/services/image_records/test_image_records.py
  tests/app/test_database_access_guard.py
  tests/conftest.py
Due: black, flake8, isort

fix(model-manager): harden install lifecycle retries
  docs/src/content/docs/development/Architecture/model-manager.mdx
  invokeai/app/api/routers/model_manager.py
  invokeai/app/services/download/download_default.py
  invokeai/app/services/model_install/model_install_common.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/app/services/orphaned_models/orphaned_models_service.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  tests/app/routers/test_model_manager.py
  tests/app/routers/test_update_model_record_cache_invalidation.py
  tests/app/services/download/test_download_queue.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

fix(canvas): end an open structural preview wherever an edit snapshots the document
  invokeai/frontend/webv2/src/workbench/canvas-engine/ARCHITECTURE.md
  invokeai/frontend/webv2/src/workbench/canvas-engine/capabilities.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/historyController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/historyController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/layerController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/mutationContext.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/mutationContext.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/structuralEngine.testStub.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/structuralLayerController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/structuralLayerController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/color-system/useMaskTintEditor.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/useStructuralCommit.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/useStructuralCommit.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/useStructuralCommit.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/AdjustmentSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/ControlLayerSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/InpaintMaskSettings.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/InpaintMaskSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerBlendRow.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerBlendRow.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerRegionSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayersTree.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/MaskModifierSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/RegionalGuidanceSettings.tsx
Due: none

fix(canvas): leave the blend list to the mode an open preview replaced
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerBlendRow.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerBlendRow.tsx
Due: none

build: keep the editor-session lock probe in the route-shared chunk
  invokeai/frontend/webv2/vite.config.mts
Due: none

perf: re-record the launchpad baseline for the editor-session lock probe
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
Due: none

refactor(image-index): port embeddings, projections and vocabulary
  docs/src/content/docs/development/Guides/database-layer.mdx
  invokeai/app/api/dependencies.py
  invokeai/app/api/routers/image_map.py
  invokeai/app/services/image_index/cluster_labels.py
  invokeai/app/services/image_index/image_index_default.py
  invokeai/app/services/image_index/image_index_records_base.py
  invokeai/app/services/image_index/image_index_records_default.py
  invokeai/app/services/image_index/image_index_records_sqlite.py
  invokeai/app/services/shared/database/queries/__init__.py
  invokeai/app/services/shared/database/queries/board_access.py
  invokeai/app/services/shared/database/queries/boards.py
  invokeai/app/services/shared/database/queries/gallery.py
  invokeai/app/services/shared/database/queries/image_index.py
  invokeai/app/services/shared/database/queries/images.py
  invokeai/app/services/shared/database/queries/intermediates.py
  invokeai/app/services/shared/database/queries/locks.py
  invokeai/app/services/shared/database/queries/model_relationships.py
  invokeai/app/services/shared/database/queries/models.py
  invokeai/app/services/shared/database/queries/videos.py
  invokeai/app/services/shared/database/queries/workflows.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_10_07_add_image_index_vocabulary_lock.py
  tests/app/routers/test_image_map.py
  tests/app/services/image_index/test_cluster_labels.py
  tests/app/services/image_index/test_image_index_records.py
  tests/app/services/image_index/test_image_index_service.py
  tests/app/test_database_access_guard.py
  tests/conftest.py
Due: black, flake8, isort

fix(model-manager): retain local install recovery status
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

test(image-index): align label score with fp16 storage
  tests/app/routers/test_image_map.py
Due: black, flake8, isort

feat(ui): gate confirmation on preview readiness
  invokeai/frontend/webv2/src/platform/ui/ConfirmDialog.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/ConfirmDialog.tsx
Due: none

refactor(session-queue): port queue reads and aggregates
  docs/src/content/docs/development/Guides/database-layer.mdx
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/app/services/shared/database/dialect.py
  invokeai/app/services/shared/database/queries/__init__.py
  invokeai/app/services/shared/database/queries/session_queue.py
  tests/app/routers/test_session_queue_item_id_limits.py
  tests/app/services/session_queue/test_session_queue_reads.py
  tests/app/services/session_queue/test_session_queue_status_user_scoping.py
  tests/app/services/shared/database/test_dialect.py
  tests/app/test_database_access_guard.py
Due: black, flake8, isort

feat(krea2): load ComfyUI-GGUF Q8_CR transformers
  docs/src/content/docs/Users Guide/03.Models/02.model-families.mdx
  docs/src/content/docs/Users Guide/03.Models/Local Models/krea-2.mdx
  invokeai/backend/model_manager/configs/base.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/model_manager/model_on_disk.py
  invokeai/backend/quantization/gguf/loaders.py
  tests/backend/model_manager/configs/test_gguf_q8_cr_identification.py
  tests/backend/model_manager/load/test_krea2_loader_boundaries.py
  tests/backend/quantization/gguf/test_loaders.py
  tests/fixtures/quantized_payloads.py
Due: black, flake8, isort

test(webv2): stabilize video confirmation exit assertion
  invokeai/frontend/webv2/src/app/VideoModelSwitch.browser.test.tsx
Due: none

test(workbench): model pointer focus in navigation fixtures
  invokeai/frontend/webv2/src/workbench/hotkeys/WorkbenchNavigation.browser.test.tsx
Due: none

refactor(session-queue): make queue state transitions SQL-atomic
  docs/src/content/docs/development/Guides/database-layer.mdx
  invokeai/app/api/dependencies.py
  invokeai/app/services/intermediates/intermediates_records_default.py
  invokeai/app/services/session_queue/session_queue_default.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/app/services/shared/database/dialect.py
  invokeai/app/services/shared/database/queries/intermediates.py
  invokeai/app/services/shared/database/queries/locks.py
  invokeai/app/services/shared/database/queries/session_queue.py
  invokeai/app/services/shared/database/types.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_10_07_add_session_queue_admission_lock.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_session_queue_workflow_call.py
  tests/app/services/intermediates/test_intermediates_service.py
  tests/app/services/session_processor/test_for_loop_processor_sqlite.py
  tests/app/services/session_processor/test_if_processor_sqlite.py
  tests/app/services/session_queue/test_for_loop_session_queue.py
  tests/app/services/session_queue/test_session_queue_bulk_cancel_events.py
  tests/app/services/session_queue/test_session_queue_clear.py
  tests/app/services/session_queue/test_session_queue_dequeue.py
  tests/app/services/session_queue/test_session_queue_dequeue_concurrency.py
  tests/app/services/session_queue/test_session_queue_enqueue_idempotency.py
  tests/app/services/session_queue/test_session_queue_multigpu_cancel.py
  tests/app/services/session_queue/test_session_queue_reads.py
  tests/app/services/session_queue/test_session_queue_status_event_isolation.py
  tests/app/services/session_queue/test_session_queue_status_sequence.py
  tests/app/services/session_queue/test_session_queue_status_user_scoping.py
  tests/app/services/session_queue/test_session_queue_workflow_call_metadata.py
  tests/app/services/session_queue/test_session_queue_workflow_call_retry.py
  tests/app/services/session_queue/test_session_queue_writes.py
  tests/app/test_database_access_guard.py
  tests/fixtures/sqlite_database.py
Due: black, flake8, isort

refactor(image-moves): port subfolder move jobs
  docs/src/content/docs/development/Guides/database-layer.mdx
  invokeai/app/api/dependencies.py
  invokeai/app/services/image_moves/image_moves_default.py
  invokeai/app/services/shared/database/queries/__init__.py
  invokeai/app/services/shared/database/queries/image_moves.py
  tests/app/services/image_moves/test_image_moves_default.py
  tests/app/services/images/test_images_default.py
  tests/app/test_database_access_guard.py
Due: black, flake8, isort

refactor(fonts): port the font catalog
  docs/src/content/docs/development/Guides/database-layer.mdx
  invokeai/app/api/dependencies.py
  invokeai/app/services/fonts/__init__.py
  invokeai/app/services/fonts/fonts_default.py
  invokeai/app/services/shared/database/queries/__init__.py
  invokeai/app/services/shared/database/queries/fonts.py
  invokeai/app/util/user_management.py
  tests/app/routers/test_fonts.py
  tests/app/services/fonts/test_fonts_service.py
  tests/app/test_database_access_guard.py
  tests/app/util/test_user_management.py
Due: black, flake8, isort

refactor(scripts): move maintenance scripts onto the database layer
  docs/src/content/docs/Users Guide/03.Models/01.introduction.mdx
  docs/src/content/docs/configuration/01.invokeai-yaml.mdx
  invokeai/app/services/config/config_default.py
  invokeai/app/services/shared/database/database.py
  invokeai/app/services/shared/database/queries/images.py
  invokeai/app/services/shared/sqlite_migrator/sqlite_migrator_impl.py
  invokeai/backend/util/gallery_maintenance.py
  invokeai/frontend/install/import_images.py
  scripts/remove_orphaned_models.py
  tests/app/services/shared/database/test_database_transactions.py
  tests/app/test_database_access_guard.py
  tests/backend/util/test_gallery_maintenance.py
  tests/frontend/install/test_import_images.py
  tests/test_config.py
  tests/test_sqlite_migrator.py
Due: black, flake8, isort

refactor(db): drop the SQLite triggers
  docs/src/content/docs/development/Guides/database-layer.mdx
  invokeai/app/AGENTS.md
  invokeai/app/services/shared/database/queries/session_queue.py
  invokeai/app/services/shared/database/schema/metadata.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_10_07_drop_sqlite_triggers.py
  tests/app/services/intermediates/test_intermediates_service.py
  tests/app/services/shared/database/test_schema_parity.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_07_30_repair_projects_table.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_08_06_add_project_boards.py
  tests/app/services/workflow_records/test_workflow_library_queries.py
Due: black, flake8, isort

fix(gallery): support Windows thumbnail maintenance
  invokeai/app/services/gallery_maintenance/gallery_maintenance_default.py
  invokeai/app/services/image_files/image_files_disk.py
  tests/app/services/gallery_maintenance/test_gallery_maintenance_service.py
  tests/app/services/image_files/test_image_files_disk.py
Due: black, flake8, isort

feat(db): open MySQL and MariaDB databases through db_url
  invokeai/app/api/dependencies.py
  invokeai/app/api/routers/app_info.py
  invokeai/app/api_app.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/image_index/image_index_default.py
  invokeai/app/services/shared/database/database.py
  invokeai/app/services/shared/database/errors.py
  invokeai/app/services/shared/database/startup.py
  invokeai/app/services/shared/sqlite_migrator/sqlite_migrator_impl.py
  invokeai/app/util/user_management.py
  invokeai/backend/util/gallery_maintenance.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  invokeai/frontend/install/import_images.py
  tests/app/routers/test_app_info.py
  tests/app/routers/test_model_manager_authorization.py
  tests/app/services/image_index/test_image_index_service.py
  tests/app/services/shared/database/test_database_startup.py
  tests/app/util/test_user_management.py
Due: black, flake8, isort

feat(db): copy a SQLite install into MySQL or MariaDB with invoke-db-copy
  docker/Dockerfile
  docs/src/content/docs/configuration/01.invokeai-yaml.mdx
  docs/src/content/docs/configuration/02.docker.mdx
  docs/src/content/docs/configuration/03.external-database.mdx
  docs/src/content/docs/configuration/Multi-User Mode/admin-guide.mdx
  docs/src/content/docs/development/Guides/database-layer.mdx
  docs/src/generated/settings.json
  invokeai/app/services/shared/database/copy.py
  invokeai/app/services/shared/database/startup.py
  invokeai/app/util/database_copy.py
  pyproject.toml
  tests/app/services/shared/database/test_database_startup.py
  tests/app/util/test_database_copy.py
Due: black, flake8, isort, uvlock

fix(api): bound client-chosen keys to what a server database stores
  invokeai/app/api/routers/boards.py
  invokeai/app/api/routers/client_state.py
  invokeai/app/api/routers/model_relationships.py
  invokeai/app/api/routers/projects.py
  invokeai/app/api/routers/session_queue.py
  invokeai/app/api/routers/workflows.py
  invokeai/app/services/board_records/board_records_common.py
  invokeai/app/services/model_records/model_records_sql.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/app/services/shared/database/queries/models.py
  invokeai/app/services/users/users_common.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  tests/app/services/model_records/test_model_records_sql.py
  tests/app/services/users/test_user_service.py
Due: black, flake8, isort

Update README with new backers and badge format
  README.md
Due: none

fix(db): harden the server instance lock, busy answers and invoke-db-copy
  docs/src/content/docs/configuration/03.external-database.mdx
  docs/src/content/docs/development/Guides/database-layer.mdx
  invokeai/app/api/routers/workflows.py
  invokeai/app/api_app.py
  invokeai/app/services/shared/database/copy.py
  invokeai/app/services/shared/database/database.py
  invokeai/app/services/shared/database/errors.py
  invokeai/app/services/shared/database/session_lock.py
  invokeai/app/services/shared/database/startup.py
  invokeai/app/services/shared/sqlite_migrator/sqlite_migrator_impl.py
  invokeai/app/util/database_copy.py
  invokeai/backend/util/gallery_maintenance.py
  invokeai/frontend/api/openapi.json
  tests/app/routers/test_app_info.py
  tests/app/routers/test_images.py
  tests/app/services/shared/database/test_copy.py
  tests/app/services/shared/database/test_database_startup.py
  tests/app/util/test_database_copy.py
Due: black, flake8, isort

fix(db): treat only failed connects as an unavailable database
  docs/src/content/docs/configuration/03.external-database.mdx
  invokeai/app/services/shared/database/copy.py
  invokeai/app/services/shared/database/errors.py
  invokeai/app/util/database_copy.py
  tests/app/util/test_database_copy.py
Due: black, flake8, isort

fix(db): count merged rows inside invoke-db-copy's failure handling
  invokeai/app/util/database_copy.py
Due: black, flake8, isort

fix(app): exit with a failure code when the app refuses to start
  invokeai/app/run_app.py
Due: black, flake8, isort

feat(generation): draw a new dynamic prompt sample after every Invoke
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/features/generation/core/dynamicPrompts.test.ts
  invokeai/frontend/webv2/src/features/generation/core/dynamicPrompts.ts
  invokeai/frontend/webv2/src/features/generation/core/settings.ts
  invokeai/frontend/webv2/src/features/generation/core/types.ts
  invokeai/frontend/webv2/src/features/generation/ui/GenerateRenderSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsButton.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsControls.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/DynamicPromptsPanel.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/GeneratePromptFields.tsx
  invokeai/frontend/webv2/src/workbench/canvas-operations/importGalleryImages.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.test.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/useInvocationState.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

docs: add policy for abandoned community PRs (#9687)
  docs/src/content/docs/development/Process/pr-merge-policy.mdx
Due: none

docs: add v7 known bugs for multi-user sharing and the delete-confirmation opt-out (#9672)
  docs/src/content/docs/troubleshooting/known-bugs.mdx
Due: none

chore(CI/CD): relax codeowners (#9647)
  .github/CODEOWNERS
Due: none

perf(image-index): decode stored embeddings as one matrix
  invokeai/app/services/image_index/image_index_common.py
  invokeai/app/services/image_index/image_index_records_sqlite.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_09_30_store_embeddings_fp16.py
  tests/app/services/image_index/test_image_index_records.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_09_30_store_embeddings_fp16.py
Due: black, flake8, isort

Store image-index embeddings as fp16 (#9696)
  docs/src/content/docs/Users Guide/09.Image Map/01.introduction.mdx
  invokeai/app/services/image_index/image_index_common.py
  invokeai/app/services/image_index/image_index_records_sqlite.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_09_30_store_embeddings_fp16.py
  tests/app/routers/test_image_map.py
  tests/app/services/image_index/test_image_index_records.py
  tests/app/services/image_index/test_image_index_service.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_09_30_store_embeddings_fp16.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
