Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

feat(webv2): expose project boards to the client
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.mjs
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.test.mjs
  invokeai/frontend/webv2/scripts/mock-backend.mjs
  invokeai/frontend/webv2/src/workbench/projects/api.ts
Due: none

feat(webv2): bind the gallery to server-owned project boards
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/app/GalleryUiAdapter.tsx
  invokeai/frontend/webv2/src/features/gallery/core/boardLabels.test.ts
  invokeai/frontend/webv2/src/features/gallery/core/types.ts
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardMenu.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardMenu.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardRow.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardsPanel.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardsPanel.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryLayout.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GallerySelectionBar.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryBoardGroups.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryBoardLabels.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryUploadAction.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/palette/paletteProviders.test.ts
  invokeai/frontend/webv2/src/workbench/persistenceRuntime.test.ts
  invokeai/frontend/webv2/src/workbench/persistenceRuntime.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.ts
  invokeai/frontend/webv2/src/workbench/projects/projectAssets.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectAssets.ts
  invokeai/frontend/webv2/src/workbench/projects/projectDocument.ts
  invokeai/frontend/webv2/src/workbench/projects/projectSync.test.ts
  invokeai/frontend/webv2/src/workbench/projects/syncedPersistence.test.ts
  invokeai/frontend/webv2/src/workbench/projects/syncedPersistence.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

feat(webv2): export complete project boards as .invk v3
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/projects/invk/board.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/board.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/format.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/manifest.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/manifest.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/transfer.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/transfer.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFileToasts.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFileToasts.ts
  invokeai/frontend/webv2/src/workbench/projects/useProjectFileActions.ts
Due: none

fix(ui): don't strand the viewer under the video progress overlay
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentVideoPreview.test.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentVideoPreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
Due: none

docs: fix $Home -> ~ in Linux/macOS manual install command (#9425)
  docs/src/content/docs/start-here/manual.mdx
Due: none

fix(ui): tile concurrent session previews in the video viewer (multi-GPU)
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentVideoPreview.test.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentVideoPreview.tsx
Due: none

feat(webv2): restore project boards from archives
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/restoreProjectMedia.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/restoreProjectMedia.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.ts
Due: none

feat(webv2): route open-project mutations through the sync engine
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/WorkbenchContext.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/projects/ProjectActionsMenu.tsx
  invokeai/frontend/webv2/src/workbench/projects/library.test.ts
  invokeai/frontend/webv2/src/workbench/projects/library.ts
  invokeai/frontend/webv2/src/workbench/projects/openProjectBroker.test.ts
  invokeai/frontend/webv2/src/workbench/projects/openProjectBroker.ts
  invokeai/frontend/webv2/src/workbench/projects/session.ts
  invokeai/frontend/webv2/src/workbench/projects/syncStore.ts
  invokeai/frontend/webv2/src/workbench/projects/useProjectActions.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/ProjectSwitcher.tsx
Due: none

feat(webv2): duplicate complete projects
  invokeai/frontend/webv2/src/workbench/launchpad/projects/useProjectCardActions.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/duplicateProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/duplicateProject.ts
  invokeai/frontend/webv2/src/workbench/projects/library.test.ts
  invokeai/frontend/webv2/src/workbench/projects/library.ts
Due: none

test(webv2): round-trip complete project boards
  docs/src/content/docs/development/Front End/project-files.mdx
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.mjs
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.test.mjs
  invokeai/frontend/webv2/scripts/mock-backend.mjs
  invokeai/frontend/webv2/scripts/run-project-file-journey.mjs
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/workbench/projects/syncedPersistence.test.ts
  invokeai/frontend/webv2/src/workbench/projects/syncedPersistence.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  tests/app/services/image_files/test_image_files_disk.py
Due: black, flake8, isort

fix(webv2): badge project boards by ownership in the panel test
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardsPanel.browser.test.tsx
Due: none

refactor(webv2): keep the project archive at manifest version 2
  docs/src/content/docs/development/Front End/project-files.mdx
  invokeai/frontend/webv2/scripts/mock-backend-fixtures.mjs
  invokeai/frontend/webv2/scripts/run-project-file-journey.mjs
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/format.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/manifest.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.test.ts
Due: none

style(tests): apply ruff format to the project board suites
  tests/app/routers/test_boards_multiuser.py
  tests/app/routers/test_projects.py
Due: black, flake8, isort

fix(images,videos): make the media copy routes safe and non-blocking
  invokeai/app/api/routers/_limits.py
  invokeai/app/api/routers/images.py
  invokeai/app/api/routers/videos.py
  invokeai/app/services/image_files/image_files_base.py
  invokeai/app/services/image_files/image_files_disk.py
  invokeai/app/services/images/images_base.py
  invokeai/app/services/images/images_default.py
  invokeai/app/services/video_files/video_files_base.py
  invokeai/app/services/video_files/video_files_disk.py
  invokeai/app/services/videos/videos_base.py
  invokeai/app/services/videos/videos_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_media_copy.py
  tests/app/services/video_files/test_video_files_disk.py
Due: black, flake8, isort

fix(projects): un-archive a board when a project claims it
  invokeai/app/services/project_records/project_records_sqlite.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_08_06_add_project_boards.py
  tests/app/services/project_records/test_project_records.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_08_06_add_project_boards.py
Due: black, flake8, isort

fix(webv2): apply a save's server outcomes even when the save is stale
  invokeai/frontend/webv2/src/workbench/persistenceRuntime.test.ts
  invokeai/frontend/webv2/src/workbench/persistenceRuntime.ts
  invokeai/frontend/webv2/src/workbench/projects/syncedPersistence.test.ts
  invokeai/frontend/webv2/src/workbench/projects/syncedPersistence.ts
Due: none

fix(webv2): stop one media failure from ending a project restore
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/projects/invk/duplicateProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/restoreProjectMedia.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/restoreProjectMedia.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFileToasts.ts
Due: none

fix(webv2): hold every project-file surface to the rules it already documents
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/WorkbenchContext.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/projects/useProjectCardActions.ts
  invokeai/frontend/webv2/src/workbench/projects/library.test.ts
  invokeai/frontend/webv2/src/workbench/projects/library.ts
  invokeai/frontend/webv2/src/workbench/projects/openProjectBroker.test.ts
  invokeai/frontend/webv2/src/workbench/projects/openProjectBroker.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.ts
  invokeai/frontend/webv2/src/workbench/projects/syncStore.ts
  invokeai/frontend/webv2/src/workbench/projects/useProjectFileActions.ts
Due: none

refactor(api): tighten the board and project record seams
  invokeai/app/api/routers/_access.py
  invokeai/app/api/routers/images.py
  invokeai/app/api/routers/projects.py
  invokeai/app/api/routers/videos.py
  invokeai/app/services/board_records/board_records_base.py
  invokeai/app/services/board_records/board_records_common.py
  invokeai/app/services/board_records/board_records_sqlite.py
  invokeai/app/services/boards/boards_base.py
  invokeai/app/services/boards/boards_default.py
  invokeai/app/services/project_records/project_records_common.py
  invokeai/app/services/project_records/project_records_sqlite.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_08_06_add_project_boards.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_media_copy.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_08_06_add_project_boards.py
  tests/app/services/test_sql_injection_protection.py
Due: black, flake8, isort

perf(webv2): bound what a project transfer holds and how long it holds it
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/platform/core/concurrency.test.ts
  invokeai/frontend/webv2/src/platform/core/concurrency.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/duplicateProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/duplicateProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/exportProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/importProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/manifest.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/manifest.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/restoreProjectMedia.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFileErrors.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFileToasts.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFileToasts.ts
  invokeai/frontend/webv2/src/workbench/projects/useProjectFileActions.ts
Due: none

fix(webv2): remove the project-board dead ends left by the server owning boards
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardMenu.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardsPanel.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryBoardGroups.test.ts
  invokeai/frontend/webv2/src/features/gallery/ui/galleryBoardGroups.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryActions.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryUploadAction.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/EmptyState.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/projects/ProjectActionsMenu.tsx
  invokeai/frontend/webv2/src/workbench/launchpad/projects/useProjectCardActions.ts
  invokeai/frontend/webv2/src/workbench/projects/openProjectBroker.test.ts
  invokeai/frontend/webv2/src/workbench/projects/openProjectBroker.ts
  invokeai/frontend/webv2/src/workbench/projects/useProjectActions.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/ProjectSwitcher.tsx
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

feat(external): add Atlas Cloud image provider
  invokeai/app/api/dependencies.py
  invokeai/app/api/routers/app_info.py
  invokeai/app/invocations/external_image_generation.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/external_generation/providers/__init__.py
  invokeai/app/services/external_generation/providers/atlascloud.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/services/external_generation/test_atlascloud_provider.py
Due: black, flake8, isort

fix(db): remove brittle gallery index hints
  invokeai/app/services/gallery/gallery_default.py
  invokeai/app/services/image_records/image_records_sqlite.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_07_25_gallery_name_list_index.py
  tests/app/services/gallery/test_gallery_default.py
  tests/app/services/image_records/test_image_records_sqlite.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_07_25_gallery_name_list_index.py
Due: black, flake8, isort

fix(boards): make project claims atomic
  invokeai/app/api/routers/boards.py
  invokeai/app/services/board_records/board_records_common.py
  invokeai/app/services/board_records/board_records_sqlite.py
  tests/app/routers/test_boards_multiuser.py
Due: black, flake8, isort

fix(media): centralize copy and deletion
  invokeai/app/api/routers/videos.py
  invokeai/app/services/images/images_default.py
  invokeai/app/services/shared/bulk_media_delete.py
  invokeai/app/services/videos/videos_base.py
  invokeai/app/services/videos/videos_default.py
  tests/app/routers/test_media_copy.py
  tests/app/services/videos/test_videos_default.py
Due: black, flake8, isort

fix(migrations): quarantine orphaned projects
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_08_06_add_project_boards.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_2026_08_06_add_project_boards.py
Due: black, flake8, isort

fix(projects): harden media restoration
  invokeai/frontend/webv2/src/workbench/projects/api.test.ts
  invokeai/frontend/webv2/src/workbench/projects/api.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/assetTransport.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/duplicateProject.test.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/duplicateProject.ts
  invokeai/frontend/webv2/src/workbench/projects/invk/restoreProjectMedia.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.test.ts
  invokeai/frontend/webv2/src/workbench/projects/projectFile.ts
Due: none

perf(projects): measure switch commits
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/scripts/measure-architecture-performance.mjs
Due: none

docs: fix typo 'teh' to 'the' in controlLayers/README.md (#9471)
  invokeai/frontend/web/src/features/controlLayers/README.md
Due: none

docs: fix typo 'outut' to 'output' in api/README.md (#9472)
  invokeai/frontend/web/src/services/api/README.md
Due: none

docs: fix spelling 'approachs' to 'approaches' in gallery/README.md (#9473)
  invokeai/frontend/web/src/features/gallery/README.md
Due: none

adding ShowTokenCounter boolean
  invokeai/frontend/web/src/features/system/store/types.ts
Due: none

perf(db): streamline gallery membership queries (#9385)
  invokeai/app/services/board_image_records/board_image_records_sqlite.py
  invokeai/app/services/gallery/gallery_default.py
  invokeai/app/services/image_records/image_records_sqlite.py
  tests/app/services/gallery/test_gallery_default.py
  tests/app/services/image_records/test_image_records_sqlite.py
Due: black, flake8, isort

update systemSlice.ts
  invokeai/frontend/web/src/features/system/store/systemSlice.ts
Due: none

adding show tokenization variable settings
  invokeai/frontend/web/src/features/parameters/components/Core/ParamNegativePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/prompt/tokenCounter/PromptTokenCounter.tsx
  invokeai/frontend/web/src/features/prompt/tokenCounter/tokenizers.ts
  invokeai/frontend/web/src/features/prompt/tokenCounter/types.ts
  invokeai/frontend/web/src/features/prompt/tokenCounter/usePromptTokenCount.ts
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
Due: none

importing features/prompt/tokenCounter/PromptTokenCounter
  invokeai/frontend/web/src/features/prompt/tokenCounter/tokenizers.ts
  invokeai/frontend/web/src/features/prompt/tokenCounter/usePromptTokenCount.ts
Due: none

test tokenizer configuration selection, empty prompt behavior, CLIP special token counts, and threshold limit flags.
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/prompt/tokenCounter/tokenizers.test.ts
  invokeai/frontend/web/src/features/prompt/tokenCounter/tokenizers.ts
  invokeai/frontend/web/src/features/system/store/systemSlice.ts
Due: none

ci: attach provenance and SBOM attestations to the published container (#9398)
  .github/workflows/build-container.yml
Due: none

feat(minimax-h3): model support - vendored classes, taxonomy, probe, loader
  invokeai/app/services/model_records/model_records_base.py
  invokeai/backend/minimax_h3/__init__.py
  invokeai/backend/minimax_h3/autoencoder_kl_minimax_h3.py
  invokeai/backend/minimax_h3/autoencoder_kl_minimax_h3_audio.py
  invokeai/backend/minimax_h3/scheduling_minimax_h3.py
  invokeai/backend/minimax_h3/transformer_minimax_h3.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/model_manager/load/model_loaders/minimax_h3.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/model_manager/util/qwen3_vl.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/__test_metadata__.json
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/audio_scheduler/scheduler_config.json
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/audio_vae/config.json
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/audio_vae/model.safetensors
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/modular_model_index.json
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/processor/preprocessor_config.json
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/processor/video_preprocessor_config.json
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/scheduler/scheduler_config.json
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/text_encoder/config.json
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/text_encoder/model-00001-of-00014.safetensors
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/tokenizer/tokenizer_config.json
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/transformer/config.json
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/transformer/diffusion_pytorch_model-00001-of-00014.safetensors
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/vae/config.json
  tests/model_identification/stripped_models/6f4fe53b-31e2-45dd-83da-2753fa1b4c08/vae/diffusion_pytorch_model-00001-of-00003.safetensors
Due: black, flake8, isort, uvlock

feat(video): support muxing an audio track in make_mp4_writer
  invokeai/app/util/video_encoding.py
  tests/app/util/test_video_encoding.py
Due: black, flake8, isort
