Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

fix(preview): contain filmstrip intrinsic width so side panels never stretch
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFilmstrip.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/__screenshots__/PreviewCompareDropZone.browser.test.tsx/PreviewCompareDropZone-resolves-null-when-the-drop-lands-outside-the-zone-1.png
  invokeai/frontend/webv2/src/workbench/widgets/preview/__screenshots__/PreviewCompareDropZone.browser.test.tsx/PreviewCompareDropZone-shows-the-drop-ring-during-a-gallery-image-drag-and-resolves-the-drop-1.png
Due: none

feat(preview): open full image context menu from header dropdown like legacy viewer
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewActionStrip.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewHeaderActions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/previewHeaderStore.ts
Due: none

fix(preview): zoom/pan uses the full stage as viewport instead of the fitted wrapper
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/usePreviewLoupe.ts
Due: none

fix(widgets): constrain panel widget bodies to panel width
  invokeai/frontend/webv2/src/workbench/widget-frame/PanelBodySlot.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetRenderer.tsx
  invokeai/frontend/webv2/src/workbench/widgets/queue/QueueItemDetails.tsx
Due: none

feat(queue): per-kind recall from submission snapshot and session meta
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/widgets/queue/QueueItemActions.tsx
  invokeai/frontend/webv2/src/workbench/widgets/queue/queueRecall.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/queue/queueRecall.ts
Due: none

feat(image-actions): shared RecallActionButtons component
  invokeai/frontend/webv2/src/workbench/image-actions/RecallActionButtons.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/index.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewMetadataPanel.tsx
Due: none

chore(webv2): ignore vitest browser attachment artifacts
  invokeai/frontend/webv2/.gitignore
  invokeai/frontend/webv2/.vitest-attachments/438c29a9fe00d98bbe895e15797a9cfc3d6198c6.png
  invokeai/frontend/webv2/.vitest-attachments/fc08c3270e1ea430af33a61dfa84b70133928be5.png
Due: none

feat(preview): slim status bar footer, identity moved to header
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFooter.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
Due: none

fix(preview): keep recall row mounted to prevent navigation layout shift
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewMetadataPanel.tsx
Due: none

fix(webv2): preserve reference image crops
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/generation/baseGenerationPolicies.test.ts
  invokeai/frontend/webv2/src/workbench/generation/graph.test.ts
  invokeai/frontend/webv2/src/workbench/generation/graph.ts
  invokeai/frontend/webv2/src/workbench/generation/referenceImage.test.ts
  invokeai/frontend/webv2/src/workbench/generation/referenceImage.ts
  invokeai/frontend/webv2/src/workbench/generation/settings.test.ts
  invokeai/frontend/webv2/src/workbench/generation/settings.ts
  invokeai/frontend/webv2/src/workbench/generation/types.ts
  invokeai/frontend/webv2/src/workbench/image-actions/executeImageRecall.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/executeImageRecall.ts
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.ts
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/types.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.ts
  invokeai/frontend/webv2/src/workbench/widgets/generate/reference-images/GenerateReferenceImagesSection.tsx
  invokeai/frontend/webv2/src/workbench/widgets/generate/reference-images/ReferenceImageCard.tsx
  invokeai/frontend/webv2/src/workbench/widgets/generate/reference-images/ReferenceImageControls.tsx
  invokeai/frontend/webv2/src/workbench/widgets/generate/reference-images/ReferenceImageCropDialog.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/generate/reference-images/ReferenceImageCropDialog.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/RegionalGuidanceSettings.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/layerOps.ts
Due: none

fix(mm): address review - protect active tmpdirs, make import_model atomic
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

feat: support deployment behind a reverse proxy under a sub-path (#9306)
  docs/src/generated/settings.json
  invokeai/app/api/sockets.py
  invokeai/app/api_app.py
  invokeai/app/run_app.py
  invokeai/app/services/config/config_default.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/app/components/InvokeAIUI.tsx
  invokeai/frontend/web/src/common/util/baseUrl.test.ts
  invokeai/frontend/web/src/common/util/baseUrl.ts
  invokeai/frontend/web/src/features/auth/components/AdministratorSetup.tsx
  invokeai/frontend/web/src/features/auth/components/LoginPage.tsx
  invokeai/frontend/web/src/i18n.ts
  invokeai/frontend/web/src/services/api/endpoints/appInfo.ts
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/useSocketIO.ts
  tests/app/test_subpath_middleware.py
  tests/test_config.py
Due: black, flake8, isort

feat(deps): resolve torch from PyPI on linux/aarch64 to enable ARM64 installs and Docker builds (#9095)
  docker/Dockerfile
  docker/README.md
  docs/src/content/docs/configuration/docker.mdx
  docs/src/content/docs/development/Setup/dev-environment.mdx
  docs/src/content/docs/start-here/manual.mdx
  docs/src/content/docs/start-here/system-requirements.mdx
  pyproject.toml
  uv.lock
Due: uvlock

fix(flux2): review fixes for regional prompting
  invokeai/app/invocations/flux2_denoise.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.ts
  tests/app/invocations/test_denoise_noise_inputs.py
  tests/backend/flux2/__init__.py
  tests/backend/flux2/test_regional_prompting_extension.py
Due: black, flake8, isort

feat(flux2): add regional prompting for FLUX.2 Klein (#9255)
  invokeai/app/invocations/flux2_denoise.py
  invokeai/backend/flux2/denoise.py
  invokeai/backend/flux2/extensions/__init__.py
  invokeai/backend/flux2/extensions/regional_prompting_extension.py
  invokeai/backend/flux2/text_conditioning.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/controlLayers/store/validators.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addRegions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_denoise_noise_inputs.py
  tests/backend/flux2/__init__.py
  tests/backend/flux2/test_regional_prompting_extension.py
Due: black, flake8, isort

fix(prompt): address review findings for LLM prompt progress
  invokeai/app/api/routers/utilities.py
  invokeai/backend/llava_onevision_pipeline.py
  invokeai/backend/text_llm_pipeline.py
  invokeai/frontend/web/src/features/prompt/LLMTaskProgressDisplay.tsx
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/stores.ts
  invokeai/frontend/web/src/services/events/types.ts
  tests/backend/llava_onevision/__init__.py
  tests/backend/llava_onevision/test_llava_onevision_pipeline.py
  tests/backend/text_llm/test_text_llm_pipeline.py
Due: black, flake8, isort

fix(vae): address cpu_only VAE review feedback (#9293)
  invokeai/app/invocations/latents_to_image.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useCpuOnlyModelSettings.ts
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useEncoderModelSettings.ts
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useVAEModelSettings.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/CpuOnlyModelSettings/CpuOnlyModelSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/EncoderModelSettings/EncoderModelSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/VAEModelSettings/VAEModelSettings.tsx
Due: black, flake8, isort

feat(vae): support running VAEs on CPU via cpu_only setting (#9293)
  invokeai/app/invocations/anima_latents_to_image.py
  invokeai/app/invocations/cogview4_latents_to_image.py
  invokeai/app/invocations/flux2_vae_decode.py
  invokeai/app/invocations/flux_vae_decode.py
  invokeai/app/invocations/latents_to_image.py
  invokeai/app/invocations/qwen_image_latents_to_image.py
  invokeai/app/invocations/sd3_latents_to_image.py
  invokeai/app/invocations/z_image_latents_to_image.py
  invokeai/backend/model_manager/configs/vae.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useCpuOnlyModelSettings.ts
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useEncoderModelSettings.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/CpuOnlyModelSettings/CpuOnlyModelSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/EncoderModelSettings/EncoderModelSettings.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/VAEModelSettings/VAEModelSettings.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/model_manager/load/test_load_default_cpu_only.py
Due: black, flake8, isort

fix: preview zoom/pan behavior
  invokeai/frontend/webv2/src/workbench/canvas-engine/viewport.ts
  invokeai/frontend/webv2/src/workbench/panZoom.test.ts
  invokeai/frontend/webv2/src/workbench/panZoom.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/useCompareLoupe.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/useCompareLoupe.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/usePreviewLoupe.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/usePreviewLoupe.ts
Due: none

fix(py3.14): quiet TorchScript deprecation spam in LaMa & Normal Map
  invokeai/backend/image_util/infill_methods/lama.py
  invokeai/backend/image_util/normal_bae/nets/submodules/encoder.py
Due: black, flake8, isort

refactor(workbench): generalize draft flushing
  invokeai/frontend/webv2/src/workbench/hooks/useMountEffect.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/WidgetActionsMenu.tsx
  invokeai/frontend/webv2/src/workbench/widgetPlacementCommands.ts
  invokeai/frontend/webv2/src/workbench/widgets/draftRegistry.ts
  invokeai/frontend/webv2/src/workbench/widgets/generate/generateDraftRegistry.ts
Due: none

feat(upscale): add image upscale workflow
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/workbench/WorkbenchRuntime.tsx
  invokeai/frontend/webv2/src/workbench/canvasStagingView.ts
  invokeai/frontend/webv2/src/workbench/generation/graph.ts
  invokeai/frontend/webv2/src/workbench/generation/projectPromptDraft.test.ts
  invokeai/frontend/webv2/src/workbench/generation/projectPromptDraft.ts
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/invocation.test.ts
  invokeai/frontend/webv2/src/workbench/invocation.ts
  invokeai/frontend/webv2/src/workbench/layoutPresets.ts
  invokeai/frontend/webv2/src/workbench/models/components/ModelSelect.tsx
  invokeai/frontend/webv2/src/workbench/queueSnapshot.ts
  invokeai/frontend/webv2/src/workbench/queueSubmission.test.ts
  invokeai/frontend/webv2/src/workbench/queueSubmission.ts
  invokeai/frontend/webv2/src/workbench/queueSummary.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/BatchCountField.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/InvokeControl.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/QueueInfo.tsx
  invokeai/frontend/webv2/src/workbench/types.ts
  invokeai/frontend/webv2/src/workbench/upscale/graph.test.ts
  invokeai/frontend/webv2/src/workbench/upscale/graph.ts
  invokeai/frontend/webv2/src/workbench/upscale/index.ts
  invokeai/frontend/webv2/src/workbench/upscale/integration.test.ts
  invokeai/frontend/webv2/src/workbench/upscale/settings.test.ts
  invokeai/frontend/webv2/src/workbench/upscale/settings.ts
  invokeai/frontend/webv2/src/workbench/upscale/types.ts
  invokeai/frontend/webv2/src/workbench/widgetRegistry.test.ts
  invokeai/frontend/webv2/src/workbench/widgetRegistry.ts
  invokeai/frontend/webv2/src/workbench/widgets/gallery/galleryStateView.ts
  invokeai/frontend/webv2/src/workbench/widgets/generate/shared/GenerateCollapsibleSection.tsx
  invokeai/frontend/webv2/src/workbench/widgets/queue/useLocalGenerateValues.ts
  invokeai/frontend/webv2/src/workbench/widgets/upscale/UpscaleWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/upscale/index.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
Due: none

feat(preview): make saved images draggable
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrame.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewFrameDrag.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.tsx
Due: none

test(prompts): cover attention hotkeys
  invokeai/frontend/webv2/src/workbench/components/ui/ResizableTextarea.browser.test.tsx
Due: none

fix(s3): implement image_root/thumbnail_root/evict_cache_paths on S3 backend
  invokeai/app/services/image_files/image_files_s3.py
  tests/app/services/image_files/test_image_files_disk.py
Due: black, flake8, isort

feat(s3): disable filesystem subfolder moves for the S3 backend
  invokeai/app/api/dependencies.py
  invokeai/app/services/images/images_default.py
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsImageStorageMaintenance.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsImageSubfolderStrategySelect.tsx
Due: black, flake8, isort

docs(s3): document no disk↔s3 migration and disk-only subfolder strategy
  docs/src/content/docs/configuration/invokeai-yaml.mdx
  docs/src/content/docs/configuration/object-storage.mdx
  docs/src/content/docs/features/image-storage-maintenance.mdx
  docs/src/generated/settings.json
  invokeai/app/services/config/config_default.py
Due: black, flake8, isort

Chore Typegen + openapi
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

refactor(queue): inject model-load sink as a coordinator port
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/src/app/QueueRuntimeAdapter.tsx
  invokeai/frontend/webv2/src/features/queue/publicApi.ts
  invokeai/frontend/webv2/src/features/queue/runtime.test.ts
  invokeai/frontend/webv2/src/features/queue/runtime.ts
  invokeai/frontend/webv2/src/features/queue/runtime/coordinator.test.ts
  invokeai/frontend/webv2/src/features/queue/runtime/coordinator.ts
Due: none

refactor(workbench): give widget manifests one home
  invokeai/frontend/webv2/src/architecture/workbenchOwnershipManifest.json
  invokeai/frontend/webv2/src/workbench/widgetRegistry.test.ts
  invokeai/frontend/webv2/src/workbench/widgetRegistry.ts
  invokeai/frontend/webv2/src/workbench/widgets/autosave-status/manifest.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/manifest.ts
  invokeai/frontend/webv2/src/workbench/widgets/diagnostics/manifest.ts
  invokeai/frontend/webv2/src/workbench/widgets/gallery/manifest.ts
  invokeai/frontend/webv2/src/workbench/widgets/generate/manifest.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/manifest.ts
  invokeai/frontend/webv2/src/workbench/widgets/notifications/manifest.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/manifest.ts
  invokeai/frontend/webv2/src/workbench/widgets/project/manifest.ts
  invokeai/frontend/webv2/src/workbench/widgets/queue/manifest.ts
  invokeai/frontend/webv2/src/workbench/widgets/server-status/manifest.ts
  invokeai/frontend/webv2/src/workbench/widgets/upscale/manifest.ts
  invokeai/frontend/webv2/src/workbench/widgets/version-status/manifest.ts
  invokeai/frontend/webv2/src/workbench/widgets/workflow/manifest.ts
Due: none

refactor(workbench): construct the extension registry per mount
  invokeai/frontend/webv2/src/workbench/WorkbenchContext.tsx
  invokeai/frontend/webv2/src/workbench/extensions/README.md
  invokeai/frontend/webv2/src/workbench/extensions/extensionApi.ts
  invokeai/frontend/webv2/src/workbench/extensions/extensionRegistry.test.ts
  invokeai/frontend/webv2/src/workbench/extensions/extensionRegistry.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/WorkbenchHotkeyRuntime.tsx
  invokeai/frontend/webv2/src/workbench/hotkeys/extensionHotkeys.ts
  invokeai/frontend/webv2/src/workbench/hotkeys/firstPartyCommands.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/createWidgetRuntime.test.ts
  invokeai/frontend/webv2/src/workbench/widget-frame/createWidgetRuntime.ts
  invokeai/frontend/webv2/src/workbench/widgetContracts.ts
Due: none

refactor(canvas): extract shared mutation substrate for controllers
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/booleanMergeController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/copyLayerController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/cropLayerController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/extractMaskedAreaController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/filterResultController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/generatedResultController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/layerController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/mergeLayerController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/mutationContext.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/mutationContext.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
Due: none

refactor(canvas): collapse composite generation transaction into one deep call
  invokeai/frontend/webv2/src/workbench/canvas-operations/api.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/contracts.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/createCanvasEngine.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/generationComposite.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-operations/generationComposite.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.ts
Due: none

refactor(app): make the composition root honest
  invokeai/frontend/webv2/src/app/GalleryUiAdapter.tsx
  invokeai/frontend/webv2/src/app/GenerationUiAdapter.tsx
  invokeai/frontend/webv2/src/app/ModelsUiAdapter.tsx
  invokeai/frontend/webv2/src/app/QueueUiAdapter.tsx
  invokeai/frontend/webv2/src/app/UpscaleUiAdapter.tsx
  invokeai/frontend/webv2/src/app/WorkbenchApp.tsx
  invokeai/frontend/webv2/src/app/WorkflowUiAdapter.tsx
  invokeai/frontend/webv2/src/app/configureDependencies.ts
  invokeai/frontend/webv2/src/app/main.tsx
  invokeai/frontend/webv2/src/app/workbenchPorts.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateCanvasCompositingSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateConceptsSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateWidgetView.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerationUiContext.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/GeneratePromptFields.tsx
  invokeai/frontend/webv2/src/features/generation/ui/promptFields/PositivePromptActions.tsx
  invokeai/frontend/webv2/src/features/generation/ui/reference-images/GenerateReferenceImagesSection.tsx
  invokeai/frontend/webv2/src/features/generation/ui/reference-images/ReferenceImageCropDialog.tsx
  invokeai/frontend/webv2/src/features/models/ui/ModelsUiContext.tsx
  invokeai/frontend/webv2/src/features/queue/ui/QueueUiContext.tsx
  invokeai/frontend/webv2/src/features/upscale/ui/UpscaleUiContext.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/WorkflowUiContext.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/contracts.ts
  invokeai/frontend/webv2/src/features/workflow/ui/graph-preview/GraphPreviewDialog.tsx
  invokeai/frontend/webv2/src/platform/react/composeProviders.test.tsx
  invokeai/frontend/webv2/src/platform/react/composeProviders.tsx
Due: none

refactor(gallery): expose one public image-URL accessor
  invokeai/frontend/webv2/src/features/gallery/data/backend.ts
  invokeai/frontend/webv2/src/features/gallery/index.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/StagingBar.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerThumbnail.tsx
Due: none

chore(ci): allow up to python 3.14.6 for MacOS runner; update typegen
  pyproject.toml
  uv.lock
Due: uvlock

fix(ci): repair openapi check — stale uv toolchain and output path
  .github/workflows/openapi-checks.yml
  scripts/generate_openapi_schema.py
Due: black, flake8, isort
