Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

feat(model): Wan 2.2 Phase 7 - reference-image (I2V) conditioning
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/primitives.py
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_ref_image_encoder.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/wan.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/patches/lora_conversions/anima_lora_constants.py
  invokeai/backend/wan/extensions/__init__.py
  invokeai/backend/wan/extensions/wan_ref_image_extension.py
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_wan_denoise.py
  tests/app/invocations/test_wan_expert_swapper.py
  tests/backend/model_manager/configs/test_wan_gguf_config.py
  tests/backend/model_manager/configs/test_wan_lora_config.py
  tests/backend/model_manager/configs/test_wan_lora_probe_independence.py
  tests/backend/model_manager/configs/test_wan_main_config.py
  tests/backend/wan/test_wan_ref_image_extension.py
Due: black, flake8, isort

test(wan): add Phase 8 inpaint regression tests
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  tests/app/invocations/test_wan_denoise.py
Due: black, flake8, isort

feat(wan): Phase 9 piece #1 - linear-view T2V txt2img graph builder
  invokeai/app/invocations/metadata.py
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_ref_image_encoder.py
  invokeai/app/services/model_records/model_records_base.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/patches/lora_conversions/wan_lora_constants.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageSettings.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/addLayerHooks.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/store/util.ts
  invokeai/frontend/web/src/features/controlLayers/store/validators.ts
  invokeai/frontend/web/src/features/lora/components/LoRASelect.tsx
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addImageToImage.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addTextToImage.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addWanLoRAs.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildWanGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
  invokeai/frontend/web/src/features/nodes/util/graph/types.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamWanModelSelects.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamWanGuidanceScaleLowNoise.tsx
  invokeai/frontend/web/src/features/parameters/util/optimalDimension.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueCanvas.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueGenerate.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/MainModelPicker.tsx
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
  tests/backend/model_manager/configs/test_wan_lora_config.py
Due: black, flake8, isort

feat(wan): add Wan 2.2 starter models and bundle
  docs/src/content/docs/start-here/system-requirements.mdx
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

fix(wan): recall low-noise transformer, component source, and standalone VAE/T5
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

feat(wan): add default Wan 2.2 T2V and I2V workflows
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Image to Image.json
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Text to Image.json
Due: none

Revert "feat(docs): upgrade deps, add translation page, fix bad links (#9157)"
  .github/workflows/deploy-docs.yml
  docs/astro.config.mjs
  docs/package.json
  docs/plugins/rehype-prefix-base-to-root-links.mjs
  docs/pnpm-lock.yaml
  docs/scripts/verify-ghpages-output.mjs
  docs/src/content/docs/contributing/EXTERNAL_PROVIDERS.md
  docs/src/content/docs/contributing/index.md
  docs/src/content/docs/contributing/translations.md
  docs/src/content/docs/development/Front End/index.md
  docs/src/content/docs/features/external-models/alibabacloud.md
  docs/src/content/docs/features/external-models/gemini.md
  docs/src/content/docs/features/external-models/index.md
  docs/src/content/docs/features/external-models/openai.md
  docs/src/content/docs/features/external-models/seedream.md
  docs/src/content/docs/index.mdx
Due: none

chore(docs): remove old planning doc
  USER_ISOLATION_IMPLEMENTATION.md
  WAN_2_2_IMPLEMENTATION.md
Due: none

feat(videos): Phase 1 - backend video storage, records, REST API
  invokeai/app/api/dependencies.py
  invokeai/app/api/routers/videos.py
  invokeai/app/api_app.py
  invokeai/app/services/board_video_records/__init__.py
  invokeai/app/services/board_video_records/board_video_records_base.py
  invokeai/app/services/board_video_records/board_video_records_sqlite.py
  invokeai/app/services/invocation_services.py
  invokeai/app/services/names/names_base.py
  invokeai/app/services/names/names_default.py
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_32.py
  invokeai/app/services/urls/urls_base.py
  invokeai/app/services/urls/urls_default.py
  invokeai/app/services/video_files/__init__.py
  invokeai/app/services/video_files/video_files_base.py
  invokeai/app/services/video_files/video_files_common.py
  invokeai/app/services/video_files/video_files_disk.py
  invokeai/app/services/video_records/__init__.py
  invokeai/app/services/video_records/video_records_base.py
  invokeai/app/services/video_records/video_records_common.py
  invokeai/app/services/video_records/video_records_sqlite.py
  invokeai/app/services/videos/__init__.py
  invokeai/app/services/videos/videos_base.py
  invokeai/app/services/videos/videos_common.py
  invokeai/app/services/videos/videos_default.py
  invokeai/app/util/video_thumbnails.py
  pyproject.toml
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_workflows_multiuser.py
  tests/conftest.py
Due: black, flake8, isort, uvlock

feat(videos): Phase 2 - polymorphic gallery list endpoint
  invokeai/app/api/dependencies.py
  invokeai/app/api/routers/gallery.py
  invokeai/app/api_app.py
  invokeai/app/services/gallery/__init__.py
  invokeai/app/services/gallery/gallery_base.py
  invokeai/app/services/gallery/gallery_common.py
  invokeai/app/services/gallery/gallery_default.py
  invokeai/app/services/invocation_services.py
  tests/app/routers/test_multiuser_authorization.py
  tests/app/routers/test_workflows_multiuser.py
  tests/conftest.py
Due: black, flake8, isort

fix(docs): deploy target fix attempt
  .github/workflows/deploy-docs.yml
  docs/package.json
  docs/scripts/verify-deploy-output.mjs
  docs/scripts/verify-ghpages-output.mjs
Due: none

feat(videos): Phase 3 - frontend RTK endpoints + MP4 upload routing
  invokeai/frontend/web/src/common/hooks/useImageUploadButton.tsx
  invokeai/frontend/web/src/services/api/endpoints/videos.ts
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
  invokeai/frontend/web/src/services/api/util.ts
  invokeai/frontend/web/src/services/api/util/tagInvalidation.ts
Due: none

feat(videos): Phase 4 - mixed gallery grid with video play badge
  invokeai/frontend/web/src/features/gallery/components/GalleryImageGrid.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryItemPlayBadge.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryItemVideoStarIconButton.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryVideoItem.tsx
  invokeai/frontend/web/src/features/gallery/components/use-gallery-image-names.ts
  invokeai/frontend/web/src/features/gallery/hooks/useRangeBasedImageFetching.ts
  invokeai/frontend/web/src/features/gallery/store/types.ts
  invokeai/frontend/web/src/services/api/endpoints/gallery.ts
  invokeai/frontend/web/src/services/api/endpoints/images.ts
  invokeai/frontend/web/src/services/api/endpoints/videos.ts
  invokeai/frontend/web/src/services/api/types.ts
  invokeai/frontend/web/src/services/api/util.ts
Due: none

feat(videos): Phase 5 - inline video player in the image viewer
  invokeai/frontend/web/src/common/hooks/useGalleryItemDTO.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentVideoPreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewerToolbar.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/VideoPlayButtonOverlay.tsx
Due: none

fix(videos): accept MP4 (and other video) drops on the fullscreen dropzone
  invokeai/frontend/web/src/features/dnd/FullscreenDropzone.tsx
Due: none

feat(videos): right-click context menu on video items
  invokeai/frontend/web/src/app/components/GlobalModalIsolator.tsx
  invokeai/frontend/web/src/features/changeBoardModal/components/ChangeBoardModal.tsx
  invokeai/frontend/web/src/features/changeBoardModal/store/slice.ts
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/MenuItems/ContextMenuItemChangeBoardVideo.tsx
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/MenuItems/ContextMenuItemDeleteVideo.tsx
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/MenuItems/ContextMenuItemDownloadVideo.tsx
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/VideoContextMenu.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryVideoItem.tsx
  invokeai/frontend/web/src/features/gallery/contexts/VideoDTOContext.ts
Due: none

chore(backend): ruff
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_image_to_latents.py
  invokeai/app/invocations/wan_latents_to_image.py
  invokeai/app/invocations/wan_lora_loader.py
  invokeai/app/invocations/wan_model_loader.py
  invokeai/app/invocations/wan_ref_image_encoder.py
  invokeai/app/invocations/wan_text_encoder.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/configs/vae.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/load/model_loaders/wan.py
  invokeai/backend/patches/lora_conversions/anima_lora_constants.py
  invokeai/backend/patches/lora_conversions/wan_lora_constants.py
  invokeai/backend/patches/lora_conversions/wan_lora_conversion_utils.py
  invokeai/backend/wan/extensions/wan_ref_image_extension.py
  tests/app/invocations/test_wan_denoise.py
  tests/app/invocations/test_wan_expert_swapper.py
  tests/app/invocations/test_wan_lora_loader.py
  tests/backend/model_manager/configs/test_wan_lora_config.py
  tests/backend/model_manager/configs/test_wan_lora_probe_independence.py
  tests/backend/model_manager/configs/test_wan_t5_encoder_config.py
  tests/backend/patches/lora_conversions/test_wan_lora_conversion_utils.py
  tests/backend/wan/test_sampling_utils.py
Due: black, flake8, isort

feat(wan): Phase 6 - Wan 2.2 T2V/I2V workflow nodes
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/primitives.py
  invokeai/app/invocations/wan_denoise.py
  invokeai/app/invocations/wan_latents_to_video.py
  invokeai/app/invocations/wan_ref_image_encoder.py
  invokeai/app/invocations/wan_video_denoise.py
  invokeai/app/services/shared/invocation_context.py
  invokeai/backend/wan/extensions/wan_ref_image_extension.py
  invokeai/backend/wan/sampling_utils.py
Due: black, flake8, isort

feat(wan): add Wan 2.2 T2V and I2V starter video workflows
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Image to Video.json
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Text to Video.json
Due: none

Apply suggestions from code review
  docs/src/content/docs/features/Multi-User Mode/user-guide.mdx
Due: none

docs(multiuser): fixed errors identified in review
  docs/src/content/docs/features/Multi-User Mode/api-guide.mdx
Due: none

Update docs/src/content/docs/features/Multi-User Mode/admin-guide.mdx
  docs/src/content/docs/features/Multi-User Mode/admin-guide.mdx
Due: none

fix(wan): startup crash from stringified VideoOutput annotation
  invokeai/app/invocations/wan_latents_to_video.py
Due: black, flake8, isort

feat(wan): add Wan 2.2 Lightning T2V starter workflow
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Text to Video (Lightning).json
Due: none

feat(wan): add Wan 2.2 Lightning T2V and I2V starter workflows
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Image to Video Lightning.json
  invokeai/app/services/workflow_records/default_workflows/Wan 2.2 Text to Video Lightning.json
Due: none

Update call saved workflow design docs
  docs/src/content/docs/contributing/call_saved_workflow.md
Due: none

fix(wan): use FFMPEG plugin (not pyav) for MP4 encode
  invokeai/app/invocations/wan_latents_to_video.py
Due: black, flake8, isort

feat(wan): log VAE decode and MP4 encode milestones in wan_l2v
  invokeai/app/invocations/wan_latents_to_video.py
Due: black, flake8, isort

Renamed to follow current convention
  docs/src/content/docs/contributing/call-saved-workflow.md
Due: none

fix(wan): switch video thumbnail/probe to imageio[ffmpeg] backend
  invokeai/app/services/video_files/video_files_disk.py
  invokeai/app/util/video_thumbnails.py
Due: black, flake8, isort

fix(videos): handle VideoField outputs in invocation_complete
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/services/api/endpoints/videos.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: none

docs: load Plausible on invoke.ai (custom), not ghpages
  docs/astro.config.mjs
Due: none

feat(video): add 'Frame from Video' invocation
  invokeai/app/invocations/video_frame_extract.py
Due: black, flake8, isort

feat(video): add 'Concatenate Videos' invocation
  invokeai/app/invocations/video_concat.py
Due: black, flake8, isort

fix(videos): show full-resolution first frame in viewer
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentVideoPreview.tsx
Due: none

fix(nodes): show 'Save in gallery' on video-output nodes
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNodeFooter.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/SaveToGalleryCheckbox.tsx
  invokeai/frontend/web/src/features/nodes/hooks/useNodeHasGalleryOutput.ts
  invokeai/frontend/web/src/features/nodes/hooks/useNodeHasImageOutput.ts
  invokeai/frontend/web/src/features/nodes/hooks/useWithFooter.ts
Due: none

chore: remove unwanted planning documents
  USER_ISOLATION_IMPLEMENTATION.md
  WAN_2_2_IMPLEMENTATION.md
  uv.lock
Due: none

fix(workflows): preserve core_metadata recall fields across workflow roundtrip
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldGate.tsx
  invokeai/frontend/web/src/features/nodes/store/util/fieldValidators.ts
  invokeai/frontend/web/src/features/nodes/types/extraInputs.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildNodesGraph.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/features/nodes/util/schema/parseSchemaCoreMetadata.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/graphToWorkflow.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/graphToWorkflow.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/loraMetadataRoundtrip.test.ts
Due: none

docs: gate Plausible on ENABLE_ANALYTICS env var
  .github/workflows/deploy-docs.yml
  docs/astro.config.mjs
Due: none

add benchmark files
  scripts/benchmark_mariadb_images.py
  scripts/benchmark_mariadb_socket_vs_tcp.py
  scripts/benchmark_write_workload.py
  tests/app/services/test_sqlmodel_services/test_benchmark_image_scaling.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
