Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

fix(gallery): restore arrow-key browsing and extract shared prev/next navigation
  invokeai/frontend/web/src/features/gallery/components/GalleryImageGrid.tsx
  invokeai/frontend/web/src/features/gallery/components/GalleryImageGridPaged.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/NextPrevItemButtons.tsx
  invokeai/frontend/web/src/features/gallery/components/useNextPrevItemNavigation.ts
  invokeai/frontend/web/src/features/ui/layouts/navigation-api.ts
Due: none

Added same behavior to Upscale mode and autofocus to gallery after using hotkeys Ctrl+Enter and Ctrl+Shift+Enter
  invokeai/frontend/web/src/features/queue/hooks/useInvoke.ts
Due: none

restore arrow navigation focus flow across viewer states
  invokeai/frontend/web/src/features/gallery/components/GalleryImageGrid.tsx
  invokeai/frontend/web/src/features/queue/hooks/useInvoke.ts
  invokeai/frontend/web/src/features/ui/layouts/navigation-api.ts
Due: none

Feature (UI): Add Invert button for Regional Guidance layers
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/EntityListSelectedEntityActionBarInvertMaskButton.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasInvertMaskHotkey.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useInvertMask.ts
Due: none

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

add tests for mutable defaults and bare except fixes
  tests/backend/image_util/__init__.py
  tests/backend/image_util/test_vendor_mutable_defaults.py
Due: black, flake8, isort

Fix to retain layer opacity on mode switch.
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityAdapterBase.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityObjectRenderer.ts
Due: none

ui: translations update from weblate (#8878)
  invokeai/frontend/web/public/locales/it.json
Due: none

Feature(app): Add an endpoint to recall generation parameters (#8758)
  docs/contributing/RECALL_PARAMETERS/RECALL_API_LORAS_CONTROLNETS_IMAGES.md
  docs/contributing/RECALL_PARAMETERS/RECALL_PARAMETERS_API.md
  invokeai/app/api/routers/recall_parameters.py
  invokeai/app/api/sockets.py
  invokeai/app/api_app.py
  invokeai/app/services/events/events_base.py
  invokeai/app/services/events/events_common.py
  invokeai/backend/image_util/controlnet_processor.py
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImagePreview.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/BeginEndStepPct.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/types.ts
Due: black, flake8, isort

Feature: Canvas Blend and Boolean modes (#8661)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/EntityListSelectedEntityActionBar.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/EntityListSelectedEntityActionBarCompositeOperation.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/EntityListSelectedEntityActionBarOpacity.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/EntityListSelectedEntityOperationsBar.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasLayersPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayerMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayerMenuItemsBooleanSubMenu.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositorModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityAdapterRasterLayer.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

Feature(backend): Add a command-line utility for running gallery maintenance (#8827)
  invokeai/backend/util/gallery_maintenance.py
  scripts/gallery_maintenance.py
Due: black, flake8, isort

feat(docs): update alternate launchers section
  docs/src/content/docs/getting-started/installation.mdx
Due: none

feat(docs): add contributor section
  docs/astro.config.mjs
  docs/src/content/docs/contributing/code-of-conduct.md
  docs/src/content/docs/contributing/contributors.md
  docs/src/content/docs/contributing/index.md
Due: none

(chore): eslint, prettier, knip
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/EntityListSelectedEntityActionBarFill.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaAutoSwitchButtons.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityHeaderWarnings.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityTypeIsHiddenToggle.tsx
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsList/AddBoardButton.tsx
  invokeai/frontend/web/src/features/gallery/components/BoardsListPanelContent.tsx
Due: none

chore(frontend): Remove unused imports
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImagePreview.tsx
Due: none

feat: support reference images for external models
  invokeai/app/services/external_generation/external_generation_default.py
  invokeai/app/services/external_generation/providers/openai.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImagePreview.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageSettings.tsx
  invokeai/frontend/web/src/features/controlLayers/store/validators.ts
  tests/app/services/external_generation/test_external_generation_service.py
  tests/app/services/external_generation/test_external_provider_adapters.py
Due: black, flake8, isort

fix: sorting lint error
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelView.tsx
Due: none

fix(docs): update description of lynxhub launcher mention
  docs/README.md
  docs/src/content/docs/getting-started/installation.mdx
Due: none

fix(frontend): prevent caching of static pages
  .github/copilot-instructions.md
  invokeai/app/api/no_cache_staticfiles.py
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManager.tsx
Due: black, flake8, isort

chore(backend): ruff
  invokeai/app/api/no_cache_staticfiles.py
Due: black, flake8, isort

feat(docs): add more docs
  docs/astro.config.mjs
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/assets/invoke-icon-wide.svg
  docs/src/assets/invoke-icon.svg
  docs/src/content/docs/configuration/invokeai-yaml.mdx
  docs/src/content/docs/development/Architecture/assets/resize_invocation.png
  docs/src/content/docs/development/Architecture/assets/resize_node_editor.png
  docs/src/content/docs/development/Architecture/invocations.mdx
  docs/src/content/docs/development/Architecture/model-manager.mdx
  docs/src/content/docs/development/Architecture/overview.mdx
  docs/src/content/docs/development/Front End/index.md
  docs/src/content/docs/development/Front End/state-management.mdx
  docs/src/content/docs/development/Front End/workflows.mdx
  docs/src/content/docs/development/Guides/assets/html-detail.png
  docs/src/content/docs/development/Guides/assets/html-overview.png
  docs/src/content/docs/development/Guides/models.mdx
  docs/src/content/docs/development/Guides/tests.mdx
  docs/src/content/docs/development/Setup/dev-environment.mdx
  docs/src/content/docs/development/index.md
  docs/src/content/docs/reference/example.md
  docs/src/lib/components/Link.astro
  docs/src/lib/components/Logo.astro
  docs/src/lib/components/Mermaid.astro
  scripts/update_config_table.py
Due: black, flake8, isort

fix(flux2): apply BN normalization to latents for inpainting (#8868)
  invokeai/app/invocations/flux2_denoise.py
Due: black, flake8, isort

feat(z-image): add Z-Image Base (undistilled) model variant support (#8799)
  invokeai/app/invocations/z_image_denoise.py
  invokeai/app/invocations/z_image_lora_loader.py
  invokeai/app/services/model_records/model_records_base.py
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_26.py
  invokeai/backend/flux/schedulers.py
  invokeai/backend/model_manager/configs/base.py
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/features/lora/components/LoRASelect.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/nodes/types/common.test-d.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamZImageScheduler.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Feature(UI): Add text tool to canvas (#8723)
  docs/contributing/frontend/canvas-text-tool.md
  docs/features/Text_tool.md
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/controlLayers/components/CanvasAlerts/CanvasAlertsTextSessionActive.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Text/CanvasTextOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Text/TextToolOptions.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/PinnedFillColorPickerOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolChooser.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolFillColorPicker.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolOptionsRowContainer.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolTextButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolWidthPicker.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbar.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useIsUncommittedCanvasTextSessionActive.ts
  invokeai/frontend/web/src/features/controlLayers/hooks/useNextPrevEntity.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasTextToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasTextSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/text/textConstants.ts
  invokeai/frontend/web/src/features/controlLayers/text/textHotkeys.test.ts
  invokeai/frontend/web/src/features/controlLayers/text/textHotkeys.ts
  invokeai/frontend/web/src/features/controlLayers/text/textRenderer.test.ts
  invokeai/frontend/web/src/features/controlLayers/text/textRenderer.ts
  invokeai/frontend/web/src/features/controlLayers/text/textSessionMachine.test.ts
  invokeai/frontend/web/src/features/controlLayers/text/textSessionMachine.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
  invokeai/frontend/web/src/features/ui/layouts/CanvasWorkspacePanel.tsx
Due: none

ui: translations update from weblate (#8881)
  invokeai/frontend/web/public/locales/it.json
Due: none

Feature (UI): Add Invert button for Regional Guidance layers (#8876)
  invokeai/frontend/web/src/features/controlLayers/components/CanvasEntityList/EntityListSelectedEntityActionBarInvertMaskButton.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useCanvasInvertMaskHotkey.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/useInvertMask.ts
Due: none

fix(backend): fix incorrect migration import
  invokeai/app/services/shared/sqlite/sqlite_util.py
Due: black, flake8, isort

Add custom font import feat.
  invokeai/app/api/routers/utilities.py
  invokeai/frontend/web/src/features/controlLayers/components/Text/TextToolOptions.tsx
  invokeai/frontend/web/src/features/controlLayers/text/textConstants.ts
  invokeai/frontend/web/src/services/api/endpoints/utilities.ts
Due: black, flake8, isort

chore(frontend): fix eslint issue
  invokeai/frontend/web/src/features/controlLayers/hooks/useIsUncommittedCanvasTextSessionActive.ts
Due: none

Fix: canvas text tool broke global hotkeys (#8887)
  invokeai/frontend/web/src/features/controlLayers/hooks/useIsUncommittedCanvasTextSessionActive.ts
Due: none

Fix: Admin users can see image previews from other users' generations (#61)
  invokeai/app/api/sockets.py
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_29.py
  tests/test_sqlite_migrator.py
Due: black, flake8, isort

Fix: Improve non square bbox coverage for linear gradient tool.
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasGradientToolModule.ts
Due: none

fix(queue): System user queue items show blank instead of `<hidden>` for non-admin users (#63)
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_27.py
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemComponent.tsx
  tests/app/routers/test_session_queue_sanitization.py
Due: black, flake8, isort

Hide "Use Cache" checkbox in node editor for non-admin users in multiuser mode (#65)
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/UseCacheCheckbox.tsx
Due: none

Fix node loading hang when invoke URL ends with /app (#67)
  invokeai/frontend/web/src/services/api/endpoints/appInfo.ts
Due: none

Move user management scripts to installable module with CLI entry points (#69)
  invokeai/app/util/user_management.py
  pyproject.toml
  scripts/useradd.py
  scripts/userdel.py
  scripts/userlist.py
  scripts/usermod.py
Due: black, flake8, isort, uvlock
