Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

feat(webv2): widen the gallery picker to every project's boards
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryBoardRowShell.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryViewTabs.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerGrid.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerPopover.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerPopover.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerView.tsx
  invokeai/frontend/webv2/src/platform/ui/SegmentTabs.tsx
Due: none

feat(webv2): choose model covers from the gallery picker
  invokeai/frontend/webv2/ARCHITECTURE.md
  invokeai/frontend/webv2/performance/architecture-baseline.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/scripts/check-architecture-performance.mjs
  invokeai/frontend/webv2/src/features/gallery/picker.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryItemSearch.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GallerySearchHelp.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryUiContext.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/galleryDnd.ts
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryMediaSlot.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryMediaSlot.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerPopover.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerView.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/picker/useGalleryPickerScope.ts
  invokeai/frontend/webv2/src/features/gallery/ui/useGalleryUploadAction.ts
  invokeai/frontend/webv2/src/features/gallery/utility.ts
  invokeai/frontend/webv2/src/features/models/ui/detail/ModelImageUpload.browser.test.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/ModelImageUpload.tsx
  invokeai/frontend/webv2/src/features/models/ui/detail/ModelImageUploadPicker.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/WorkbenchShell.tsx
  invokeai/frontend/webv2/vite.config.mts
Due: none

fix(webv2): keep the first graph preview from the library open
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDialog.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDialog.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowPublicationHost.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/libraryPreviewSource.ts
Due: none

feat(webv2): set workflow thumbnails from the gallery or a graph snapshot
  invokeai/frontend/webv2/package.json
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/pnpm-lock.yaml
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/gallery/ui/picker/GalleryPickerPopover.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/graph-preview/GraphPreviewDialog.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/graph-preview/GraphPreviewSnapshot.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/graph-preview/GraphPreviewSnapshot.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDetailPanel.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDetailPanel.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDialog.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryThumbnail.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/libraryPreviewSource.ts
  invokeai/frontend/webv2/vite.config.mts
Due: none

refactor(webv2): drop Add workflow from the library's project tab
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/workflow/ui/library/ProjectWorkflowsView.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDialog.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/library/WorkflowLibraryDialog.tsx
Due: none

fix(webv2): match the workflow panel's View and Edit empty states
  invokeai/frontend/webv2/src/features/workflow/ui/linear/FormBuilderTab.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/linear/LinearFormView.tsx
Due: none

fix(webv2): keep menus above dialogs opened from other dialogs
  invokeai/frontend/webv2/src/platform/ui/theme/recipes.ts
Due: none

feat(webv2): keep workflow library tabs cached between visits
  invokeai/frontend/webv2/src/features/workflow/data/libraryBrowseStore.test.ts
  invokeai/frontend/webv2/src/features/workflow/data/libraryBrowseStore.ts
Due: none

feat(webv2): focus the widget a control opens
  invokeai/frontend/webv2/src/app/WorkflowUiAdapter.tsx
  invokeai/frontend/webv2/src/workbench/focusRegions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/focusRegions.tsx
  invokeai/frontend/webv2/src/workbench/useOpenWorkbenchWidget.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerContextMenu.tsx
  invokeai/frontend/webv2/vite.config.mts
Due: none

test(webv2): reach library templates from the tabs in the project-file journey
  invokeai/frontend/webv2/scripts/run-project-file-journey.mjs
Due: none

fix(model-install): keep the restarted-from-scratch flag across resume
  invokeai/app/services/model_install/model_install_default.py
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

Round 1 copyright removal
  invokeai/app/api/dependencies.py
  invokeai/app/api/sockets.py
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/invocations/collections.py
  invokeai/app/invocations/cv.py
  invokeai/app/invocations/image.py
  invokeai/app/invocations/math.py
  invokeai/app/invocations/primitives.py
  invokeai/app/invocations/sd/denoise_latents.py
  invokeai/app/invocations/upscale.py
  invokeai/app/services/events/events_base.py
  invokeai/app/services/image_files/image_files_disk.py
  invokeai/app/services/invocation_services.py
  invokeai/app/services/invoker.py
  invokeai/app/services/shared/graph.py
  invokeai/app/services/shared/graph_if_activation.py
  invokeai/app/services/shared/graph_if_dependencies.py
  invokeai/app/services/shared/graph_scheduler.py
  invokeai/app/services/shared/graph_validation.py
  scripts/invokeai-web.py
  tests/app/invocations/test_frontend_graph_node_types.py
Due: black, flake8, isort

Round 3 copyright changes
  NOTICE
  README.md
  invokeai/frontend/webv2/public/locales/en.json
Due: none

feat(workflows): export webv2 workflows as PNG
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/features/workflow/ui/editor/ConnectorFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/CurrentImageFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/EditorToolbar.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/EditorToolbar.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/NotesFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEditorView.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEditorView.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowImageExport.browser.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowImageExport.edgeCases.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowImageExport.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowImageExport.ts
  invokeai/frontend/webv2/src/features/workflow/ui/nodeChrome.tsx
Due: none

test(workflows): cover camera tooltip display
  invokeai/frontend/webv2/src/features/workflow/ui/editor/EditorToolbar.browser.test.tsx
Due: none

fix(workflows): make PNG snapshot exports complete
  invokeai/frontend/webv2/src/features/workflow/ui/editor/EditorToolbar.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/EditorToolbar.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowImageExport.edgeCases.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowImageExport.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/workflowImageExport.ts
Due: none

fix(workflows): include hover metadata in snapshot exports
  invokeai/frontend/webv2/src/features/workflow/ui/editor/ConnectorFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.tsx
Due: none

fix(workflows): localize snapshot metadata
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/public/locales/fr.json
  invokeai/frontend/webv2/src/features/workflow/ui/editor/ConnectorFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/CurrentImageFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/handleTooltip.ts
Due: none

fix(workflows): isolate snapshot rendering from editor
  invokeai/frontend/webv2/src/features/workflow/ui/editor/EditorToolbar.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/EditorToolbar.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEditorView.test.ts
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowEditorView.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/WorkflowImageExportView.tsx
Due: none

fix(webv2): keep the upscale capability table out of the editor's initial bundle
  invokeai/frontend/webv2/src/features/upscale/core/architectures.ts
  invokeai/frontend/webv2/src/features/upscale/core/graph.ts
  invokeai/frontend/webv2/src/features/upscale/core/settings.test.ts
  invokeai/frontend/webv2/src/features/upscale/core/settings.ts
  invokeai/frontend/webv2/src/features/upscale/ui/UpscaleFormFields.tsx
  invokeai/frontend/webv2/src/features/upscale/ui/UpscaleWidgetView.tsx
Due: none

fix(workflows): omit diagnostics from failed snapshots
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.browser.test.tsx
  invokeai/frontend/webv2/src/features/workflow/ui/editor/InvocationFlowNode.tsx
Due: none

feat(frontend): make webv2 the default through call sites
  .github/CODEOWNERS
  .github/actions/install-frontend-deps/action.yml
  .github/pr_labels.yml
  .github/workflows/frontend-checks.yml
  .github/workflows/frontend-tests.yml
  .github/workflows/openapi-checks.yml
  .github/workflows/typegen-checks.yml
  AGENTS.md
  Makefile
  docker/Dockerfile
  docs/src/content/docs/development/Front End/index.md
  docs/src/content/docs/development/Guides/recall-api.mdx
  docs/src/content/docs/development/Guides/tests.mdx
  docs/src/content/docs/development/Setup/dev-environment.mdx
  invokeai/app/api/frontend.py
  invokeai/app/api_app.py
  invokeai/frontend/cli/arg_parser.py
  invokeai/frontend/web/README.md
  invokeai/frontend/web/src/common/util/retireDefaultServiceWorker.test.ts
  invokeai/frontend/web/src/common/util/retireDefaultServiceWorker.ts
  invokeai/frontend/web/src/main.tsx
  invokeai/frontend/webv2/AGENTS.md
  invokeai/frontend/webv2/__init__.py
  invokeai/frontend/webv2/package.json
  invokeai/frontend/webv2/src/architecture/architectureWorkflow.test.ts
  pyproject.toml
  scripts/build_wheel.sh
  tests/app/api/test_frontend.py
Due: black, flake8, isort, uvlock

fix(tests): stabilize browser interactions and Windows dtype checks
  invokeai/frontend/webv2/scripts/browser-test-viewport.ts
  invokeai/frontend/webv2/src/features/workflow/ui/graph-preview/GraphPreviewDialog.browser.test.tsx
  invokeai/frontend/webv2/src/platform/ui/list/ListItem.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/image-map/ClusterStrengthField.browser.test.tsx
  invokeai/frontend/webv2/vitest.browser.config.mts
  tests/backend/ideogram4/test_denoise_conditioning_dtype.py
Due: black, flake8, isort

refactor(frontend): move API artifacts into shared package
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  invokeai/frontend/api/scripts/typegen.js
Due: none

ci(frontend): retire legacy gates and share contract tooling
  .github/workflows/frontend-checks.yml
  .github/workflows/frontend-tests.yml
  .github/workflows/openapi-checks.yml
  .github/workflows/typegen-checks.yml
  AGENTS.md
  Makefile
  docs/src/content/docs/contributing/new-model-integration.mdx
  docs/src/content/docs/development/Front End/index.md
  docs/src/content/docs/development/Process/release-process.mdx
  invokeai/app/AGENTS.md
  invokeai/frontend/api/.gitignore
  invokeai/frontend/api/.prettierignore
  invokeai/frontend/api/.prettierrc.json
  invokeai/frontend/api/AGENTS.md
  invokeai/frontend/api/README.md
  invokeai/frontend/api/package.json
  invokeai/frontend/api/pnpm-lock.yaml
  invokeai/frontend/api/scripts/typegen.js
  invokeai/frontend/api/scripts/typegen.test.mjs
  invokeai/frontend/webv1/.prettierignore
  invokeai/frontend/webv1/AGENTS.md
  invokeai/frontend/webv1/eslint.config.mjs
  invokeai/frontend/webv1/knip.ts
  invokeai/frontend/webv1/package.json
  invokeai/frontend/webv1/pnpm-lock.yaml
  invokeai/frontend/webv1/src/services/api/README.md
  invokeai/frontend/webv1/src/services/api/endpoints/images.test.ts
  invokeai/frontend/webv1/src/services/api/schema.ts
  invokeai/frontend/webv2/AGENTS.md
  invokeai/frontend/webv2/src/architecture/architectureWorkflow.test.ts
  pyproject.toml
  scripts/build_wheel.sh
Due: uvlock

style(tests): reflow a call the merge left wrapped
  tests/app/invocations/test_z_image_tiled_decode.py
Due: black, flake8, isort

chore(docs): reorganized users guide
  docs/src/content/docs/Users Guide/01.Projects/introduction.mdx
  docs/src/content/docs/Users Guide/01.Workbench/01.introduction.mdx
  docs/src/content/docs/Users Guide/01.Workbench/02.hotkeys.mdx
  docs/src/content/docs/Users Guide/02.Interface Customization/01.introduction.mdx
  docs/src/content/docs/Users Guide/02.Projects/intermediates.mdx
  docs/src/content/docs/Users Guide/02.Projects/introduction.mdx
Due: none

docs: add workbench diagram and fix links to the renamed Workbench section
  docs/src/config/redirects.ts
  docs/src/content/docs/Users Guide/01.Workbench/01.introduction.mdx
  docs/src/content/docs/Users Guide/01.Workbench/assets/workbench-layout.svg
  docs/src/content/docs/Users Guide/02.Projects/introduction.mdx
Due: none

fix(docs): treat an empty slug like Astro when generating docs ids
  docs/plugins/remark-sort-prefix-slug.mjs
  docs/src/content/docs/development/Documentation/index.mdx
  docs/src/lib/sort-prefix.mjs
Due: none

fix(z-image): hold the schedule shift at the end of its fit
  invokeai/app/invocations/z_image/z_image_denoise.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_z_image_schedule_shift.py
Due: black, flake8, isort

fix(krea2): record the style reference image in metadata so it can be recalled
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.ts
Due: none

test(krea2): cover the reference-image recall path
  invokeai/frontend/web/src/features/metadata/parsing.test.tsx
Due: none

test(krea2): pin that the single-row recall carries the style strength
  invokeai/frontend/web/src/features/metadata/parsing.test.tsx
Due: none

fix(ui): describe model-free reference images in metadata instead of "No model"
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/metadata/parsing.test.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

test(z-image): tighten the schedule clamp cells
  invokeai/app/invocations/z_image/z_image_denoise.py
  tests/app/invocations/test_z_image_schedule_shift.py
Due: black, flake8, isort

fix(webv2): show a new project's board in the gallery
  invokeai/frontend/webv2/src/workbench/projects/api.test.ts
  invokeai/frontend/webv2/src/workbench/projects/api.ts
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
