Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

translationBot(ui): update translation files
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/es.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/vi.json
  invokeai/frontend/web/public/locales/zh-CN.json
Due: none

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

ui: translations update from weblate (#8599)
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/es.json
  invokeai/frontend/web/public/locales/fr.json
  invokeai/frontend/web/public/locales/it.json
  invokeai/frontend/web/public/locales/ja.json
  invokeai/frontend/web/public/locales/ru.json
  invokeai/frontend/web/public/locales/vi.json
  invokeai/frontend/web/public/locales/zh-CN.json
Due: none

whatever you changed
  invokeai/backend/quantization/gguf/loaders.py
Due: black, flake8, isort

ruff
  invokeai/backend/quantization/gguf/loaders.py
Due: black, flake8, isort

Behavior changed to hotkey press instead of input + checking for allready used hotkeys
  invokeai/frontend/web/public/locales/de.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeyEditor.tsx
Due: none

loaders.py fix for linux
  invokeai/backend/quantization/gguf/loaders.py
Due: black, flake8, isort

loaders.py - one more _mmap ref removed
  invokeai/backend/quantization/gguf/loaders.py
Due: black, flake8, isort

Update invokeai/app/services/shared/graph.py
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

(chore) update requirements to python 3.11-12
  docs/installation/patchmatch.md
  docs/installation/requirements.md
  pyproject.toml
Due: uvlock

update uv.lock
  uv.lock
Due: none

Better warnings on wrong VAE base model
  invokeai/app/invocations/image_to_latents.py
Due: black, flake8, isort

Restrict XL compensation to XL models
  invokeai/app/invocations/image_to_latents.py
Due: black, flake8, isort

fix: BaseModelType missing import
  invokeai/app/invocations/image_to_latents.py
Due: black, flake8, isort

(chore): appease the ruff
  invokeai/app/invocations/image_to_latents.py
Due: black, flake8, isort

Change silent corrections to enforcing invariants
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

(chore) Update requirements to python 3.11-12 (#8657)
  docs/installation/patchmatch.md
  docs/installation/requirements.md
  pyproject.toml
  uv.lock
Due: uvlock

selectAllQueueItems selector memoization fixed
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/context.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
Due: none

feat: Add canvas-workflow integration feature
  invokeai/frontend/web/src/app/components/GlobalModalIsolator.tsx
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/CanvasWorkflowIntegrationModal.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/CanvasWorkflowIntegrationParameterPanel.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/CanvasWorkflowIntegrationWorkflowSelector.tsx
  invokeai/frontend/web/src/features/controlLayers/components/CanvasWorkflowIntegration/useCanvasWorkflowIntegrationExecute.ts
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayerMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/components/common/CanvasEntityMenuItemsRunWorkflow.tsx
  invokeai/frontend/web/src/features/controlLayers/store/canvasWorkflowIntegrationSlice.ts
Due: none

feat: Add bulk delete functionality for models, LoRAs, and embeddings
  invokeai/app/api/routers/model_manager.py
  invokeai/frontend/web/src/features/modelManagerV2/store/modelManagerV2Slice.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/BulkDeleteModelsModal.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListHeader.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListItem.tsx
  invokeai/frontend/web/src/services/api/endpoints/models.ts
Due: black, flake8, isort

fix: prevent model list header from scrolling with content
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
Due: none

fix: improve error handling in bulk model deletion
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/services/api/endpoints/models.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

refactor: improve code organization in ModelList components
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListItem.tsx
Due: none

refactor: consolidate Button component props to single line
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListHeader.tsx
Due: none

move composite options into types.ts
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayerCompositeOperationSettings.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayerMenuItemsBooleanSubMenu.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositorModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/compositeOperations.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

feat: extract masked raster content
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItems.tsx
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

docs(upscale-metadata): propose options for exposing original image metadata
  invokeai/frontend/web/src/features/nodes/util/graph/buildMultidiffusionUpscaleGraph.ts
Due: none

cleanup and comments
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositorModule.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityAdapterRasterLayer.ts
Due: none

update names
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/RasterLayer/RasterLayerMenuItemsBooleanSubMenu.tsx
Due: none

move constant mapping out of function
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasEntity/CanvasEntityAdapterRasterLayer.ts
Due: none

docs: clarify mask extraction workflow
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

fix: guard mask extraction data access
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

fix: satisfy strict indexed access in mask extraction
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

fix: assert mask extraction arrays
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

Fix mask extraction implementation
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

Fix alpha masking to remove fringe
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

Clarify layer insertion comment for mask extraction
  invokeai/frontend/web/src/features/controlLayers/components/InpaintMask/InpaintMaskMenuItemsExtractMaskedArea.tsx
Due: none

Rework graph.py (#8642)
  invokeai/app/services/shared/README.md
  invokeai/app/services/shared/graph.py
  invokeai/frontend/web/src/services/api/schema.ts
  tests/test_graph_execution_state.py
Due: black, flake8, isort
