Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

docs(ui): add comment about auto-switch not being quite right yet
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/context.tsx
Due: none

feat(ui): modularize all staging area logic so it can be shared w/ canvas more easily
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/SimpleSession.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingArea.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaContent.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaHeader.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaItemsList.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaNoItems.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaSelectedItem.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/context.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/use-progress-events.ts
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/use-staging-keyboard-nav.ts
Due: none

feat: canvas flow rework (wip)
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemCircularProgress.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemPreviewFull.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemPreviewMini.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemProgressImage.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemProgressMessage.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemStatusLabel.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaItemsList.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/context.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/shared.ts
  invokeai/frontend/web/src/services/events/stores.ts
Due: none

feat(ui): prevent flicker of image action buttons
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemPreviewFull.tsx
Due: none

feat(ui): tweak canvas scroll to zoom feel
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStageModule.ts
Due: none

feat(ui): when discarding last item, select new last instead of first
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/context.tsx
Due: none

feat(ui): improved staging placeholders
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemProgressImage.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaContent.tsx
Due: none

build(ui): temporarily ignore all knip issues
  invokeai/frontend/web/knip.ts
Due: none

fix(ui): reset layers when changing session type
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/canvasStagingAreaSlice.ts
Due: none

fix(ui): hide layers when not on canvas tab
  invokeai/frontend/web/src/features/ui/components/RightPanelContent.tsx
Due: none

fix(ui): mini preview bg color
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemPreviewMini.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemProgressImage.tsx
Due: none

feat(ui): add staging area toolbar to simple session
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaContent.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/SimpleStagingAreaToolbar.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaToolbar.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaToolbarDiscardAllButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaToolbarDiscardSelectedButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaToolbarNextButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaToolbarPrevButton.tsx
Due: none

feat(ui): finish generation when discarding last item
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaToolbarDiscardSelectedButton.tsx
Due: none

feat(ui): tweak staging image display
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemPreviewMini.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemProgressImage.tsx
  invokeai/frontend/web/src/features/dnd/DndImage.tsx
Due: none

feat(ui): improved staging placeholders
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemPreviewMini.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemProgressImage.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStagingAreaModule.ts
Due: none

fix(ui): ensure canvas tool modules are destroyed
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
Due: none

chore(ui): lint
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbar.tsx
Due: none

feat(ui): add startover button to canvas toolbar
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaHeader.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StartOverButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbar.tsx
Due: none

feat(ui): make main panel styling and title consistent
  invokeai/frontend/web/src/features/controlLayers/components/AdvancedSession/AdvancedSession.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/InitialState.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaHeader.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolBrushWidth.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolEraserWidth.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Toolbar/CanvasToolbar.tsx
Due: none

feat(ui): remove vary and edit as control buttons
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/ImageActions.tsx
Due: none

feat(ui): simple session initial state
  invokeai/frontend/web/src/features/controlLayers/components/CanvasMainPanelContent.tsx
  invokeai/frontend/web/src/features/controlLayers/components/NoSession/GenerateWithControlImage.tsx
  invokeai/frontend/web/src/features/controlLayers/components/NoSession/GenerateWithStartingImage.tsx
  invokeai/frontend/web/src/features/controlLayers/components/NoSession/GenerateWithStartingImageAndInpaintMask.tsx
  invokeai/frontend/web/src/features/controlLayers/components/NoSession/NoSession.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/InitialState.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/InitialStateAddAStyleReference.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/InitialStateCardGridItem.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/InitialStateEditImageCard.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/InitialStateGenerateFromText.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/InitialStateUseALayoutImageCard.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/SimpleSession.tsx
  invokeai/frontend/web/src/features/queue/components/DeleteAllExceptCurrentButton.tsx
  invokeai/frontend/web/src/features/queue/components/DeleteAllExceptCurrentIconButton.tsx
  invokeai/frontend/web/src/features/queue/components/QueueControls.tsx
  invokeai/frontend/web/src/features/queue/components/QueueTabQueueControls.tsx
Due: none

feat(ui): fiddle w/ staging area header
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaHeader.tsx
Due: none

feat(ui): remove technical progress message from full preview
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemPreviewFull.tsx
Due: none

chore: bump version to v5.14.0
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

Add Precise Reference to Starter Models
  invokeai/backend/ip_adapter/README.md
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

also search image creation date
  invokeai/app/services/image_records/image_records_sqlite.py
Due: black, flake8, isort

fix(app): reduce peak memory usage
  invokeai/app/invocations/compel.py
Due: black, flake8, isort

perf(app): skip TI logic when no TIs to apply
  invokeai/backend/model_patcher.py
Due: black, flake8, isort

perf(app): gc before every queue item
  invokeai/app/services/session_processor/session_processor_default.py
Due: black, flake8, isort

feat(ui): move canvas-specific staging subscriptions to CanvasStagingAreaModule
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaItemsList.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/context.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasStagingAreaModule.ts
Due: none

feat(ui): add on first progress autoswitch mode
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/QueueItemPreviewMini.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/StagingAreaHeader.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/context.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/SimpleStagingAreaToolbar.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/SimpleStagingAreaToolbarMenu.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaToolbar.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaToolbarMenu.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaToolbarMenuAutoSwitch.tsx
  invokeai/frontend/web/src/features/controlLayers/components/StagingArea/StagingAreaToolbarMenuNewLayerFromImage.tsx
Due: none

build: prevent `opencv-python` from being installed
  pyproject.toml
Due: uvlock

feat(ui): data viewer supports disabling wrap
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/DataViewer.tsx
Due: none

feat(api): list _all_ pkgs in app deps endpoint
  invokeai/app/api/routers/app_info.py
Due: black, flake8, isort

chore(ui): typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none
