Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

fix(gallery): progress placement, formatting
  invokeai/frontend/webv2/src/workbench/widgets/gallery/GalleryImageGrid.tsx
Due: none

feat(multi-gpu): flash restart reminder when generation devices change
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsGenerationDevices.tsx
Due: none

feat(ui): PiD Native 4x mode for FLUX text-to-image
  invokeai/app/invocations/flux_pid_decode.py
  invokeai/app/invocations/pid_upscale.py
  invokeai/app/invocations/sd3_pid_decode.py
  invokeai/app/invocations/z_image_pid_decode.py
  invokeai/backend/pid/decode.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/selectors.ts
  invokeai/frontend/web/src/features/controlLayers/util/getScaledBoundingBoxDimensions.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addPidDecode.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/types.ts
  invokeai/frontend/web/src/features/parameters/util/optimalDimension.ts
Due: black, flake8, isort

fix(qwen): branch VAE working-memory constants by backend (ROCm vs CUDA)
  invokeai/backend/util/vae_working_memory.py
  tests/app/invocations/test_qwen_image_working_memory.py
Due: black, flake8, isort

feat(ui): PiD Fit decode for FLUX image-to-image
  invokeai/app/invocations/flux_pid_decode.py
  invokeai/app/invocations/pid_upscale.py
  invokeai/app/invocations/sd3_pid_decode.py
  invokeai/app/invocations/z_image_pid_decode.py
  invokeai/app/services/shared/invocation_context.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/pid/decode.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addImageToImage.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addPidDecode.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: black, flake8, isort

feat(ui): PiD Native 4x decode for FLUX image-to-image
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addPidDecode.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: none

feat(ui): add informational popover to PiD Decode setting
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/PidSettings.tsx
Due: none

feat(models): add PiD decoder + Gemma-2 encoder to starter models
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

chore(backend): ruff
  scripts/calibrate_qwen_vae_working_memory.py
  tests/app/invocations/test_qwen_image_working_memory.py
Due: black, flake8, isort

chore(release): bump version to v6.13.5.rc1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

test(multiuser): assert redacted queue_counts_changed is broadcast
  tests/app/routers/test_multiuser_authorization.py
Due: black, flake8, isort

chore(version): bump version
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

chore(version): bump version (#9318)
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

docs: clarify sqlite migration dependencies
  docs/src/content/docs/development/Guides/sqlite-migrations.mdx
Due: none

feat: add graph-based sqlite migration discovery
  docs/src/content/docs/development/Guides/sqlite-migrations.mdx
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migration_loader.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_1.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_10.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_11.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_12.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_13.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_14.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_15.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_16.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_17.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_18.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_19.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_20.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_21.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_22.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_23.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_24.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_25.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_26.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_27.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_28.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_29.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_3.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_30.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_31.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_32.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_4.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_5.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_6.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_7.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_8.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_9.py
  invokeai/app/services/shared/sqlite_migrator/sqlite_migrator_common.py
  invokeai/app/services/shared/sqlite_migrator/sqlite_migrator_impl.py
  tests/app/services/shared/sqlite_migrator/test_migration_loader.py
  tests/test_sqlite_migrator.py
Due: black, flake8, isort

fix(gallery): support nullable masonry root refs
  invokeai/frontend/web/knip.ts
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/features/gallery/components/GalleryImageGridMasonry.tsx
  invokeai/frontend/web/src/features/gallery/components/masonryRenderState.ts
  invokeai/frontend/web/src/features/gallery/components/masonryScrollIntoView.ts
Due: none

docs: fix git-lfs link formatting in dev environment guide
  docs/src/content/docs/development/Setup/dev-environment.mdx
Due: none

fix(docs): authenticate GitHub changelog loader to avoid CI rate limits
  docs/src/content.config.ts
Due: none

Add crash-recoverable image storage maintenance for moving existing images into the active `image_subfolder_strategy` (#9165)
  docs/src/content/docs/configuration/invokeai-yaml.mdx
  docs/src/content/docs/features/gallery.mdx
  docs/src/content/docs/features/image-storage-maintenance.mdx
  invokeai/app/api/dependencies.py
  invokeai/app/api/routers/board_images.py
  invokeai/app/api/routers/boards.py
  invokeai/app/api/routers/image_move_maintenance.py
  invokeai/app/api/routers/image_moves.py
  invokeai/app/api/routers/images.py
  invokeai/app/api/routers/recall_parameters.py
  invokeai/app/api/routers/session_queue.py
  invokeai/app/api/routers/utilities.py
  invokeai/app/api_app.py
  invokeai/app/services/image_files/image_files_base.py
  invokeai/app/services/image_files/image_files_disk.py
  invokeai/app/services/image_moves/__init__.py
  invokeai/app/services/image_moves/image_moves_default.py
  invokeai/app/services/invocation_services.py
  invokeai/app/services/session_processor/session_processor_default.py
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_33.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsImageStorageMaintenance.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
  invokeai/frontend/web/src/services/api/endpoints/imageMoves.ts
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/routers/test_board_images_maintenance.py
  tests/app/routers/test_image_moves.py
  tests/app/routers/test_images.py
  tests/app/routers/test_recall_parameters.py
  tests/app/routers/test_session_queue_image_move_maintenance.py
  tests/app/services/image_files/test_image_files_disk.py
  tests/app/services/image_moves/test_image_moves_default.py
  tests/app/services/test_image_move_startup_safety.py
Due: black, flake8, isort

calibrate: support single-file Qwen Image VAE checkpoints
  scripts/calibrate_qwen_vae_working_memory.py
Due: black, flake8, isort

fix: address sqlite migrator review feedback
  docs/src/content/docs/development/Guides/sqlite-migrations.mdx
  invokeai/app/services/shared/sqlite_migrator/sqlite_migrator_common.py
  invokeai/app/services/shared/sqlite_migrator/sqlite_migrator_impl.py
  tests/app/services/shared/sqlite_migrator/test_migration_loader.py
  tests/test_sqlite_migrator.py
Due: black, flake8, isort

feat(model-manager): support GGUF-quantized T5 text encoders
  invokeai/app/invocations/anima_text_encoder.py
  invokeai/backend/anima/t5_tokenizer.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/configs/t5_encoder.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/t5/__init__.py
  invokeai/backend/t5/t5_tokenizer.py
  invokeai/backend/t5/tokenizer/special_tokens_map.json
  invokeai/backend/t5/tokenizer/tokenizer.json
  invokeai/backend/t5/tokenizer/tokenizer_config.json
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
  tests/backend/t5/__init__.py
  tests/backend/t5/test_t5_tokenizer.py
Due: black, flake8, isort, uvlock

Chore Typegen + Openapi
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Add T5 Recalling
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
  invokeai/frontend/web/src/features/metadata/parsing.test.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

Add 2 gguf T5 to the Starter Models
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

feat(pid): add FLUX.2 Klein PiD 4x-SR decode support
  invokeai/app/invocations/flux2_pid_decode.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addPidDecode.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/types.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/PidSettings.tsx
  invokeai/frontend/web/src/features/parameters/util/pid.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(lora): per LoRA-model configurable weight range (#9154)
  invokeai/backend/model_manager/configs/lora.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/lora/components/LoRACard.tsx
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useLoRAModelDefaultSettings.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/LoRAModelDefaultSettings/DefaultWeight.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/LoRAModelDefaultSettings/DefaultWeightMax.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/LoRAModelDefaultSettings/DefaultWeightMin.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/LoRAModelDefaultSettings/LoRAModelDefaultSettings.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/services/image_records/test_image_records_sqlite.py
  tests/backend/model_manager/configs/test_lora_default_settings.py
Due: black, flake8, isort

feat(pid): add SD3 PiD 4x-SR decode support
  invokeai/backend/model_manager/configs/pid_decoder.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addPidDecode.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/types.ts
  invokeai/frontend/web/src/features/parameters/util/pid.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: black, flake8, isort

fix(qwen): estimate Qwen Image VAE working memory so the cache frees room before decode/encode (#9305)
  invokeai/app/invocations/qwen_image_image_to_latents.py
  invokeai/app/invocations/qwen_image_latents_to_image.py
  invokeai/backend/util/vae_working_memory.py
  scripts/calibrate_qwen_vae_working_memory.py
  tests/app/invocations/test_qwen_image_working_memory.py
Due: black, flake8, isort

feat(pid): add SDXL PiD 4x-SR decode support
  invokeai/app/invocations/sdxl_pid_decode.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/pid_decoder.py
  invokeai/backend/model_manager/load/model_loaders/pid_decoder.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/backend/pid/decode.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addPidDecode.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/types.ts
  invokeai/frontend/web/src/features/parameters/util/pid.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(pid): add Z-Image PiD 4x-SR decode support
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addPidDecode.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildZImageGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/types.ts
  invokeai/frontend/web/src/features/parameters/util/pid.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: none

feat(pid): add Qwen-Image PiD 4x-SR decode support
  invokeai/app/invocations/qwen_image_pid_decode.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/pid_decoder.py
  invokeai/backend/model_manager/load/model_loaders/pid_decoder.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/backend/pid/decode.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addPidDecode.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildQwenImageGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/types.ts
  invokeai/frontend/web/src/features/parameters/util/pid.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Chore Ruff
  invokeai/app/invocations/qwen_image_pid_decode.py
Due: black, flake8, isort

Add Docs
  docs/src/content/docs/features/pid-decode.mdx
Due: none

fix(pid): green up frontend tests and knip for the PiD branch
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildQwenImageGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDNegativePromptGraph.test.ts
Due: none

Chore openapi + typegen
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Add database migration discovery and graph-based precedence (#9319)
  docs/src/content/docs/development/Guides/sqlite-migrations.mdx
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migration_loader.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_1.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_10.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_11.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_12.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_13.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_14.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_15.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_16.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_17.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_18.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_19.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_20.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_21.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_22.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_23.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_24.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_25.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_26.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_27.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_28.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_29.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_3.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_30.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_31.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_32.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_4.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_5.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_6.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_7.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_8.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_9.py
  invokeai/app/services/shared/sqlite_migrator/sqlite_migrator_common.py
  invokeai/app/services/shared/sqlite_migrator/sqlite_migrator_impl.py
  tests/app/services/shared/sqlite_migrator/test_migration_loader.py
  tests/test_sqlite_migrator.py
Due: black, flake8, isort

Creation of Videos help document (#6235)
  docs/src/config/sidebar.ts
  docs/src/content/docs/troubleshooting/videos.mdx
Due: none
