Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

fix(gallery): restore rejected deletions, stamp palette picks with their board, and cache virtualizer snapshots
  invokeai/frontend/webv2/patches/react-hook-tanstack-virtual.patch
  invokeai/frontend/webv2/pnpm-lock.yaml
  invokeai/frontend/webv2/src/features/gallery/ui/galleryStateView.ts
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/palette/WorkbenchCommandPaletteDialog.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewNavigation.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/preview/PreviewWidgetView.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/preview/usePreviewNavigation.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.ts
  invokeai/frontend/webv2/src/workbench/workbenchStore.ts
Due: none

fix(pid): make PiD 1.5 usable for FLUX.1 and FLUX.2
  docs/src/content/docs/Users Guide/03.Models/Local Models/flux-1.mdx
  docs/src/content/docs/Users Guide/03.Models/Local Models/flux-2.mdx
  docs/src/content/docs/Users Guide/04.Image Generation/Advanced Topics/pid-decode.mdx
  invokeai/backend/model_manager/starter_models/__init__.py
  invokeai/backend/model_manager/starter_models/flux.py
  invokeai/backend/model_manager/starter_models/flux2.py
  invokeai/backend/model_manager/starter_models/qwen_image.py
  invokeai/backend/pid/decode.py
  invokeai/frontend/webv2/src/features/generation/ui/GenerateAdvancedFields.browser.test.tsx
  invokeai/frontend/webv2/src/features/generation/ui/GenerateAdvancedFields.tsx
  tests/backend/pid/test_pid_decode.py
Due: black, flake8, isort

fix(deps): resolve high and critical dependabot alerts (#9723)
  invokeai/app/api_app.py
  invokeai/app/services/auth/token_service.py
  invokeai/backend/minimax_h3/qwen3vl_vision_device_patch.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/ltx2.py
  invokeai/backend/model_manager/load/model_loaders/minimax_h3.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/backend/model_patcher.py
  invokeai/backend/patches/layer_patcher.py
  pyproject.toml
  tests/app/api/test_sliding_window_token.py
  tests/app/services/auth/test_token_service.py
  tests/backend/minimax_h3/test_qwen3vl_vision_device_patch.py
  tests/backend/model_manager/load/test_ltx2_loader.py
  tests/backend/model_manager/load/test_qwen_image_nvfp4_loader.py
  tests/backend/model_manager/load/test_qwen_image_state_dict_utils.py
  tests/backend/test_clip_text_model_wrapper.py
  uv.lock
Due: black, flake8, isort, uvlock

chore(deps): bump diffusers to 0.41.0
  invokeai/backend/hidiffusion/hidiffusion.py
  pyproject.toml
  tests/backend/model_manager/load/test_diffusers_041_compatibility.py
  uv.lock
Due: black, flake8, isort, uvlock

chore(deps): bump diffusers to 0.41.0 (#9774)
  invokeai/backend/hidiffusion/hidiffusion.py
  pyproject.toml
  tests/backend/model_manager/load/test_diffusers_041_compatibility.py
  uv.lock
Due: black, flake8, isort, uvlock

docs: document reserved VRAM setting
  docs/src/content/docs/configuration/Optimization/low-vram-mode.mdx
  docs/src/generated/settings.json
Due: none

feat(model-cache): add reserved VRAM budget
  invokeai/app/services/config/config_default.py
  invokeai/app/services/model_manager/model_manager_default.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/backend/model_manager/load/model_cache/test_model_cache_vram_accounting.py
Due: black, flake8, isort

chore: typegen
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
Due: none

fix(deps): resolve high and critical npm dependabot alerts
  docs/package.json
  docs/pnpm-lock.yaml
  invokeai/frontend/api/pnpm-lock.yaml
  invokeai/frontend/webv1/package.json
  invokeai/frontend/webv1/pnpm-lock.yaml
  invokeai/frontend/webv1/pnpm-workspace.yaml
  invokeai/frontend/webv2/pnpm-lock.yaml
Due: none

fix(model-manager): retire per-model edit tracking once no edit or load needs it
  invokeai/app/services/model_load/model_load_default.py
  invokeai/backend/model_manager/load/load_default.py
  tests/app/services/model_load/test_stale_model_load_fence.py
Due: black, flake8, isort

Add Boolean logic invocation
  invokeai/app/invocations/logic.py
  tests/app/invocations/test_boolean_logic.py
Due: black, flake8, isort

Updated schema
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
Due: none

Reordered operations
  invokeai/app/invocations/logic.py
  tests/app/invocations/test_boolean_logic.py
Due: black, flake8, isort

Added additional logic operators.
  invokeai/app/invocations/logic.py
  tests/app/invocations/test_boolean_logic.py
Due: black, flake8, isort

fix(flux): correct scheduler integration and default to Diffusers Euler
  invokeai/app/invocations/flux/flux_denoise.py
  invokeai/backend/flux/denoise.py
  invokeai/backend/flux/schedulers.py
  tests/app/invocations/test_denoise_noise_inputs.py
  tests/backend/flux/test_denoise.py
Due: black, flake8, isort

fix(audio): select first stream for int16 extraction
  invokeai/app/util/video_audio.py
  tests/app/util/test_video_audio_float.py
Due: black, flake8, isort

docs(models): separate install-time and load-time refusals in the format matrix
  docs/src/content/docs/Users Guide/03.Models/03.model-format-support.mdx
Due: none

feat(models): add Qwen-Image-2.1 edits from reference images
  docs/src/content/docs/Users Guide/03.Models/02.model-families.mdx
  docs/src/content/docs/Users Guide/03.Models/Local Models/qwen-image-2-1.mdx
  docs/src/content/docs/Users Guide/04.Image Generation/generate-panel.mdx
  docs/src/content/docs/contributing/new-model-integration.mdx
  docs/src/content/docs/development/Guides/recall-api.mdx
  invokeai/app/invocations/qwen_image_2_1/qwen_image_2_1_denoise.py
  invokeai/app/invocations/text_encoder/qwen_image_2_1_text_encoder.py
  invokeai/app/invocations/vae/qwen_image_2_1_image_to_latents.py
  invokeai/backend/architectures/capabilities.py
  invokeai/backend/architectures/defs/qwen_image_2_1.py
  invokeai/backend/architectures/facets/features.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image_2_1.py
  invokeai/backend/qwen_image_2_1/text_encoding.py
  invokeai/backend/qwen_image_2_1/vae.py
  invokeai/backend/stable_diffusion/diffusion/conditioning_data.py
  invokeai/frontend/api/openapi.json
  invokeai/frontend/api/schema.ts
  invokeai/frontend/webv2/src/features/generation/core/__fixtures__/architectureCapabilities.json
  invokeai/frontend/webv2/src/features/generation/core/architectureCapabilities.ts
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.test.ts
  invokeai/frontend/webv2/src/features/generation/core/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.test.ts
  invokeai/frontend/webv2/src/features/generation/core/graph.ts
  invokeai/frontend/webv2/src/features/generation/core/settings.ts
  invokeai/frontend/webv2/src/features/generation/core/types.ts
  invokeai/frontend/webv2/src/workbench/canvasMigration.ts
  tests/app/invocations/test_qwen_image_2_1_nodes.py
  tests/backend/architectures/test_features.py
  tests/backend/model_manager/load/test_qwen3_vl_visual_tower.py
  tests/backend/qwen_image_2_1/test_text_encoding.py
  tests/backend/qwen_image_2_1/test_vae.py
Due: black, flake8, isort

Fix compatibility scheduling for a nested If graph with a literal outer condition.
  invokeai/app/services/shared/graph_if_runtime.py
  tests/test_graph_execution_state.py
Due: black, flake8, isort

fix(model-manager): refuse model loaders that bypass the stale-config check
  docs/src/content/docs/development/Architecture/model-manager.mdx
  invokeai/app/services/model_load/model_load_default.py
  invokeai/backend/model_manager/load/model_loader_registry.py
  tests/app/services/model_load/test_stale_model_load_fence.py
  tests/backend/model_manager/load/test_model_loader_registry_entries.py
Due: black, flake8, isort

test(workflows): stop bundled workflows pushing last_run_at's row off the page
  tests/app/services/workflow_records/test_workflow_last_run_at.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
