Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

chore: openapi.json
  invokeai/frontend/web/openapi.json
Due: none

Improve image collection chaining
  invokeai/app/invocations/primitives.py
  invokeai/frontend/web/src/features/nodes/components/flow/panels/TopPanel/UpdateNodesButton.tsx
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.test.ts
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_image.py
Due: black, flake8, isort

feat(generate): reference images, ui tweaks
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/theme/recipes.ts
  invokeai/frontend/webv2/src/workbench/components/ui/Field.tsx
  invokeai/frontend/webv2/src/workbench/components/ui/Select.tsx
  invokeai/frontend/webv2/src/workbench/components/ui/Slider.tsx
  invokeai/frontend/webv2/src/workbench/components/ui/ToggleDot.tsx
  invokeai/frontend/webv2/src/workbench/components/ui/index.ts
  invokeai/frontend/webv2/src/workbench/gallery/api.ts
  invokeai/frontend/webv2/src/workbench/generation/baseGenerationPolicies.test.ts
  invokeai/frontend/webv2/src/workbench/generation/baseGenerationPolicies.ts
  invokeai/frontend/webv2/src/workbench/generation/graph.test.ts
  invokeai/frontend/webv2/src/workbench/generation/graph.ts
  invokeai/frontend/webv2/src/workbench/generation/settings.test.ts
  invokeai/frontend/webv2/src/workbench/generation/settings.ts
  invokeai/frontend/webv2/src/workbench/generation/types.ts
  invokeai/frontend/webv2/src/workbench/image-actions/ImageContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.test.ts
  invokeai/frontend/webv2/src/workbench/image-actions/imageRecall.ts
  invokeai/frontend/webv2/src/workbench/image-actions/useImageActions.ts
  invokeai/frontend/webv2/src/workbench/models/components/ModelSelect.tsx
  invokeai/frontend/webv2/src/workbench/widgets/gallery/GalleryWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/generate/GenerateComponentsSection.tsx
  invokeai/frontend/webv2/src/workbench/widgets/generate/GenerateDimensionFields.tsx
  invokeai/frontend/webv2/src/workbench/widgets/generate/GenerateModelFields.tsx
  invokeai/frontend/webv2/src/workbench/widgets/generate/GenerateSettingsForm.tsx
  invokeai/frontend/webv2/src/workbench/widgets/generate/GenerateWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/generate/reference-images/GenerateReferenceImagesSection.tsx
  invokeai/frontend/webv2/src/workbench/widgets/generate/reference-images/ReferenceImageCard.tsx
  invokeai/frontend/webv2/src/workbench/widgets/generate/reference-images/ReferenceImageControls.tsx
  invokeai/frontend/webv2/src/workbench/widgets/generate/reference-images/ReferenceImageCropDialog.tsx
  invokeai/frontend/webv2/src/workbench/widgets/generate/reference-images/referenceImageConfig.ts
  invokeai/frontend/webv2/src/workbench/workbenchState.test.ts
Due: none

Chore Ruff
  invokeai/app/invocations/anima_text_encoder.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/configs/t5_encoder.py
Due: black, flake8, isort

Chore Typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(workflow): scope MetadataExtraField catch-all to extra-accepting nodes
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/types/invocation.test.ts
  invokeai/frontend/web/src/features/nodes/types/invocation.ts
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.ts
Due: none

fix(krea2): re-apply Wan→QwenImage VAE adapter after upstream merge
  invokeai/app/invocations/krea2_denoise.py
  invokeai/app/invocations/qwen_image_image_to_latents.py
  invokeai/app/invocations/qwen_image_latents_to_image.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix(graph): make isMainModelWithoutUnet a type guard incl. krea2_model_loader
  invokeai/frontend/web/src/features/nodes/util/graph/graphBuilderUtils.ts
Due: none

test(krea2): add Krea2VariantType type-test to satisfy knip
  invokeai/frontend/web/src/features/nodes/types/common.test-d.ts
Due: none

fix(ui): avoid cascading render in ModelImageUpload
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/Fields/ModelImageUpload.tsx
Due: none

Update docs/src/content/docs/index.mdx
  docs/src/content/docs/index.mdx
Due: none

docs: restyle hosted options as LinkCards in a wrapper card
  docs/src/lib/components/DownloadOptions.astro
Due: none

fix(workflow): scope metadata pass-through instances to extra-accepting nodes
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/types/invocation.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildNodesGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/loraMetadataRoundtrip.test.ts
Due: none

chore(development): broaden codeowners
  .github/CODEOWNERS
Due: none

[feat] Round robin job scheduling in multiuser mode (#9086)
  docs/src/content.config.ts
  docs/src/content/docs/features/Multi-User Mode/admin-guide.mdx
  docs/src/content/docs/features/Multi-User Mode/user-guide.mdx
  docs/src/generated/settings.json
  invokeai/app/api/routers/session_queue.py
  invokeai/app/api/sockets.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_2026_07_03_round_robin_indexes.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  tests/app/routers/test_multiuser_authorization.py
  tests/app/services/session_queue/test_session_queue_dequeue.py
Due: black, flake8, isort

docs: add 3d party GPU hosting services (#9299)
  docs/src/content/docs/index.mdx
  docs/src/lib/components/DownloadOptions.astro
  docs/src/styles/custom.css
Due: none

chore(release): bump version to 6.13.5
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

chore(backend): ruff
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

Fix image collection migration paths
  invokeai/frontend/web/src/features/nodes/components/flow/panels/TopPanel/UpdateNodesButton.tsx
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.test.ts
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/graphToWorkflow.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/graphToWorkflow.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.ts
Due: none

Fix node update knip exports
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.ts
Due: none

fix(qwen): remap legacy single-file VL encoder keys under transformers 5.x
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
Due: black, flake8, isort

feat(queue): device-affinity dequeue to reduce model reload thrash on multi-GPU
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  tests/app/services/session_queue/test_session_queue_dequeue.py
  tests/backend/model_manager/load/model_cache/test_model_cache_cached_model_keys.py
Due: black, flake8, isort

fix(qwen): restore legacy key remapping for single-file VL encoders under transformers 5.x
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
Due: black, flake8, isort

Fix image collection version migration gate
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.test.ts
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.ts
Due: none

fix(qwen): remap legacy single-file VL encoder keys under transformers 5.x (#9333)
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
Due: black, flake8, isort

chore(release): bump version to 6.14.0-alpha
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

chore(release): bump version
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

Improve image collection chaining (#9168)
  invokeai/app/invocations/primitives.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/features/nodes/components/flow/panels/TopPanel/UpdateNodesButton.tsx
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.test.ts
  invokeai/frontend/web/src/features/nodes/util/node/nodeUpdate.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/graphToWorkflow.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/graphToWorkflow.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_image.py
Due: black, flake8, isort

fix(ui): preserve layout-dependent custom hotkey glyphs
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeyListItem.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/hotkeyStrings.test.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/hotkeyStrings.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.test.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useKeyboardLayoutMap.ts
  invokeai/frontend/web/src/features/system/store/hotkeysSlice.test.ts
  invokeai/frontend/web/src/features/system/store/hotkeysSlice.ts
  invokeai/frontend/web/src/features/system/store/hotkeysTypes.ts
Due: none

test(model-loaders): add regression tests for checkpoint key-remapping
  invokeai/backend/model_manager/load/model_loaders/anima.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/flux2_state_dict_utils.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  tests/backend/model_manager/load/state_dicts/anima_comfyui_keys.py
  tests/backend/model_manager/load/state_dicts/flux2_transformer_bfl_keys.py
  tests/backend/model_manager/load/state_dicts/flux2_vae_bfl_keys.py
  tests/backend/model_manager/load/state_dicts/qwen_vl_encoder_comfyui_keys.py
  tests/backend/model_manager/load/state_dicts/utils.py
  tests/backend/model_manager/load/state_dicts/z_image_transformer_comfyui_keys.py
  tests/backend/model_manager/load/test_anima_state_dict_utils.py
  tests/backend/model_manager/load/test_flux2_state_dict_utils.py
  tests/backend/model_manager/load/test_qwen_image_state_dict_utils.py
  tests/backend/model_manager/load/test_z_image_state_dict_utils.py
Due: black, flake8, isort

build: pin diffusers to 0.39.0 (first stable release with Krea-2)
  pyproject.toml
Due: uvlock

feat(krea2): metadata recall, starter models, and config-probe tests
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildKrea2Graph.ts
  tests/backend/model_manager/configs/test_krea2_main_config.py
  tests/backend/model_manager/configs/test_qwen3_vl_encoder_config.py
Due: black, flake8, isort

Chore Ruff
  tests/backend/model_manager/configs/test_krea2_main_config.py
Due: black, flake8, isort

chore: lint
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.test.ts
Due: none

feat(canvas): in-canvas 3D splat positioning — drag/resize/orbit over live canvas
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/CanvasSplatOverlay.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/SplatViewer.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/rectTransforms.test.ts
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/rectTransforms.ts
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/splatScene.ts
  invokeai/frontend/web/src/features/controlLayers/components/SplatOverlay/state.ts
  invokeai/frontend/web/src/features/ui/layouts/CanvasWorkspacePanel.tsx
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
