Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

perf(gallery): keep the reveal channel out of its own chunk, refresh budgets
  invokeai/frontend/webv2/performance/browser-baseline.json
  invokeai/frontend/webv2/src/features/gallery/contracts.ts
  invokeai/frontend/webv2/src/features/gallery/core/revealRequest.selection.test.ts
  invokeai/frontend/webv2/src/features/gallery/core/revealRequest.ts
  invokeai/frontend/webv2/src/features/gallery/core/selection.ts
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.browser.test.tsx
  invokeai/frontend/webv2/src/features/gallery/ui/GalleryImageGrid.tsx
Due: none

fix(canvas): speed up invocation startup
  invokeai/frontend/webv2/public/locales/en.json
  invokeai/frontend/webv2/src/architecture/workbenchOwnershipManifest.json
  invokeai/frontend/webv2/src/workbench/activeInvocationSubmission.test.ts
  invokeai/frontend/webv2/src/workbench/activeInvocationSubmission.ts
  invokeai/frontend/webv2/src/workbench/canvasInvocationPreparation.test.ts
  invokeai/frontend/webv2/src/workbench/canvasInvocationPreparation.ts
  invokeai/frontend/webv2/src/workbench/graphPreviewInvocation.ts
  invokeai/frontend/webv2/src/workbench/invocation.test.ts
  invokeai/frontend/webv2/src/workbench/invocationSubmit.ts
  invokeai/frontend/webv2/src/workbench/shell/topbar/InvokeButton.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/InvokeButton.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/RoutingControl.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/shell/topbar/useInvocationState.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/invoke/prepareCanvasInvocation.ts
Due: none

chore(frontend): lint prettier
  invokeai/frontend/web/public/locales/en.json
Due: none

fix(canvas): preload staged previews
  invokeai/frontend/webv2/src/workbench/canvas-engine/ARCHITECTURE.md
  invokeai/frontend/webv2/src/workbench/canvas-engine/capabilities.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/previewPublisher.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/previewPublisher.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/stagedPreviewBlobCache.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/stagedPreviewBlobCache.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/StagingBar.browser.test.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/StagingBar.tsx
Due: none

test(workbench): cover palette lazy import
  invokeai/frontend/webv2/src/workbench/palette/WorkbenchCommandPalette.lazy.browser.test.ts
  invokeai/frontend/webv2/src/workbench/palette/WorkbenchCommandPalette.tsx
Due: none

test(webv2): update invocation baseline
  invokeai/frontend/webv2/performance/architecture-baseline.json
Due: none

fix(ui): use one direct media tab opener
  invokeai/frontend/web/src/common/hooks/useMiddleClickOpenInNewTab.ts
  invokeai/frontend/web/src/common/util/openImageInNewTab.ts
  invokeai/frontend/web/src/common/util/openMediaInNewTab.test.ts
  invokeai/frontend/web/src/common/util/openMediaInNewTab.ts
  invokeai/frontend/web/src/features/auth/hooks/useMediaCookieRefresh.test.ts
  invokeai/frontend/web/src/features/auth/hooks/useMediaCookieRefresh.ts
  invokeai/frontend/web/src/features/auth/store/protectedMediaConsumers.test.ts
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/MenuItems/ContextMenuItemOpenInNewTab.tsx
  invokeai/frontend/web/src/features/gallery/components/ContextMenu/MenuItems/ContextMenuItemOpenInNewTabVideo.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/VideoMetadataViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentVideoPreview.tsx
  invokeai/frontend/web/src/features/gallery/videoReviewRegressions.test.ts
Due: none

test(webv2): stabilize virtualizer scroll test
  invokeai/frontend/webv2/src/platform/react/virtualizerScrollElementRemount.browser.test.tsx
Due: none

fix(canvas): make layer duplication reliable
  invokeai/frontend/webv2/src/workbench/canvas-engine/capabilities.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/editingController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/layerMutationController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/persistenceController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/selectionPixelController.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/controllers/selectionPixelController.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/bitmapStore.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/document/bitmapStore.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/editing/controlPixelEdit.browser.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/engine.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/history/history.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/history/history.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/paintTool.test.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/paintTool.ts
  invokeai/frontend/webv2/src/workbench/canvas-engine/tools/tool.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/CanvasWidgetView.tsx
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasHotkeyCommands.test.ts
  invokeai/frontend/webv2/src/workbench/widgets/canvas/canvasHotkeyCommands.ts
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerContextMenu.tsx
  invokeai/frontend/webv2/src/workbench/widgets/layers/LayerMultiSelectionActions.tsx
Due: none

fix(fp8): recover the weight scales the loaders were silently dropping
  invokeai/app/services/config/config_default.py
  invokeai/backend/model_manager/load/model_loaders/anima.py
  invokeai/backend/model_manager/load/model_loaders/flux.py
  invokeai/backend/model_manager/load/model_loaders/flux2_state_dict_utils.py
  invokeai/backend/model_manager/load/model_loaders/krea2.py
  invokeai/backend/model_manager/load/model_loaders/mistral_encoder.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/quantization/fp8_scaled.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/model_manager/load/test_anima_scaled_fp8_keys.py
  tests/backend/model_manager/load/test_flux2_state_dict_utils.py
  tests/backend/model_manager/load/test_krea2_state_dict_utils.py
  tests/backend/quantization/test_fp8_scaled.py
Due: black, flake8, isort

test(fp8): make the matmul-probe tests run without a GPU
  tests/backend/quantization/test_fp8_scaled.py
Due: black, flake8, isort

fix(ui): stop rebuilding the socket on every token refresh
  invokeai/frontend/web/src/features/auth/store/authSlice.ts
  invokeai/frontend/web/src/features/auth/store/refreshedTokenConsumers.test.ts
  invokeai/frontend/web/src/services/events/useSocketIO.test.tsx
  invokeai/frontend/web/src/services/events/useSocketIO.ts
Due: none

fix(fp8): decode MXFP8 block scales instead of reading the exponent bytes
  invokeai/backend/quantization/fp8_scaled.py
  tests/backend/quantization/test_fp8_scaled.py
Due: black, flake8, isort

fix(fp8): refuse MXFP8 block scales instead of loading them as noise
  invokeai/backend/quantization/fp8_scaled.py
Due: black, flake8, isort

fix(fp8): refuse MXFP8 block scales instead of loading them as noise
  tests/backend/quantization/test_fp8_scaled.py
Due: black, flake8, isort

fix(ui): stop rebuilding the socket on every token refresh (#9540)
  invokeai/frontend/web/src/features/auth/store/authSlice.ts
  invokeai/frontend/web/src/features/auth/store/refreshedTokenConsumers.test.ts
  invokeai/frontend/web/src/services/events/useSocketIO.test.tsx
  invokeai/frontend/web/src/services/events/useSocketIO.ts
Due: none

bump main version
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

Lstein/chore/6.14.0 post1 bump (#9543)
  invokeai/frontend/web/public/locales/en.json
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

fix: remove duplicate image record methods
  invokeai/app/services/image_records/image_records_base.py
  invokeai/app/services/image_records/image_records_sqlite.py
Due: black, flake8, isort

fix: expose MiniMax H3 metadata recall
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.test.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
Due: none

fix: align upstream authorization contracts
  invokeai/app/api/routers/_access.py
  invokeai/app/api/routers/images.py
  invokeai/frontend/web/openapi.json
  tests/app/routers/test_images.py
  tests/app/routers/test_videos_multiuser.py
Due: black, flake8, isort

fix(flux2): ask the real dispatcher which SDPA path a build takes
  invokeai/app/invocations/flux2_denoise.py
  invokeai/backend/util/attention.py
  invokeai/backend/util/vae_working_memory.py
  tests/app/invocations/test_flux2_working_memory.py
Due: black, flake8, isort

test: complete board record fixture
  tests/app/routers/test_images.py
Due: black, flake8, isort

fix(image-moves): recover past truncated images
  docs/src/content/docs/features/image-storage-maintenance.mdx
  invokeai/app/services/image_moves/image_moves_default.py
  tests/app/services/image_moves/test_image_moves_default.py
Due: black, flake8, isort

fix(image-moves): preserve recovery consistency
  docs/src/content/docs/features/image-storage-maintenance.mdx
  invokeai/app/services/image_moves/image_moves_default.py
  tests/app/services/image_moves/test_image_moves_default.py
Due: black, flake8, isort

fix(flux2): read the attention backend live instead of caching it once
  invokeai/backend/util/attention.py
  tests/app/invocations/test_flux2_working_memory.py
Due: black, flake8, isort

fix(image-moves): handle unreadable images safely
  invokeai/app/services/image_moves/image_moves_default.py
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsImageStorageMaintenance.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/imageStorageMaintenanceUtils.test.ts
  invokeai/frontend/web/src/features/system/components/SettingsModal/imageStorageMaintenanceUtils.ts
  tests/app/services/image_moves/test_image_moves_default.py
Due: black, flake8, isort

fix(image-moves): close thumbnail temp files before writing
  invokeai/app/services/image_moves/image_moves_default.py
  tests/app/services/image_moves/test_image_moves_default.py
Due: black, flake8, isort

Fix truncated image moves (#9545)
  docs/src/content/docs/features/image-storage-maintenance.mdx
  invokeai/app/services/image_moves/image_moves_default.py
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsImageStorageMaintenance.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/imageStorageMaintenanceUtils.test.ts
  invokeai/frontend/web/src/features/system/components/SettingsModal/imageStorageMaintenanceUtils.ts
  tests/app/services/image_moves/test_image_moves_default.py
Due: black, flake8, isort

chore(git): remove .gitignore rule that applies to local repo only
  .gitignore
Due: none

chore(deps): bump diffusers to 0.40.0
  pyproject.toml
  tests/backend/model_manager/load/test_diffusers_040_compatibility.py
  uv.lock
Due: black, flake8, isort, uvlock

fix(frontend): harden workflow image export
  invokeai/frontend/web/src/features/nodes/components/flow/Flow.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/panels/BottomLeftPanel/ViewportControls.tsx
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.edgeCases.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.ts
Due: none

fix(frontend): clean up workflow image labels
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNodeInfoIcon.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldTitle.tsx
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.ts
Due: none

fix(frontend): make workflow image export opaque and show edges
  invokeai/frontend/web/src/features/nodes/components/flow/panels/BottomLeftPanel/ViewportControls.tsx
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.ts
Due: none

feat(frontend): export workflow as PNG
  docs/src/content/docs/features/Workflows/editor-interface.mdx
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Connector/ConnectorNode.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/panels/BottomLeftPanel/ViewportControls.tsx
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.ts
Due: none

fix(frontend): preserve full workflow field labels
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.ts
Due: none

fix(frontend): address workflow image export review
  docs/src/content/docs/features/Workflows/editor-interface.mdx
  invokeai/frontend/web/src/features/nodes/components/flow/panels/BottomLeftPanel/ViewportControls.tsx
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.edgeCases.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.ts
Due: none

fix(frontend): hide node status in workflow images
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNodeStatusIndicator.tsx
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflowImageExport.ts
Due: none

docs: plan fal.ai external provider integration
  docs/plans/2026-08-27-fal-external-provider.md
Due: none

feat: add fal.ai external image provider
  docs/plans/2026-08-27-fal-external-provider.md
  invokeai/app/api/dependencies.py
  invokeai/app/api/routers/app_info.py
  invokeai/app/invocations/external_image_generation.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/external_generation/providers/__init__.py
  invokeai/app/services/external_generation/providers/fal.py
  invokeai/backend/model_manager/starter_models.py
  tests/app/invocations/test_external_image_generation.py
  tests/app/routers/test_app_info.py
  tests/app/services/external_generation/test_fal_provider.py
  tests/backend/model_manager/test_starter_models.py
Due: black, flake8, isort
