Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

code review fixes
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemComponent.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueList.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueListHeader.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueListHeaderColumn.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/constants.ts
  invokeai/frontend/web/src/features/queue/components/QueueList/types.ts
  invokeai/frontend/web/src/features/queue/store/queueSlice.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

QueueListHeaderColumn created
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemComponent.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueListHeader.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueListHeaderColumn.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/constants.ts
  invokeai/frontend/web/src/features/queue/store/queueSlice.ts
Due: none

QueueListHeaderColumnProps.field turned into SortBy
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueListHeaderColumn.tsx
  invokeai/frontend/web/src/features/queue/store/queueSlice.ts
Due: none

getQueueItemIds cache invalidation added
  invokeai/frontend/web/src/services/api/endpoints/queue.ts
  invokeai/frontend/web/src/services/api/index.ts
Due: none

get_queue_itemIds endpoint created
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

queue list virtualized
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemComponent.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueList.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueListHeader.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueListHeaderColumn.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/types.ts
  invokeai/frontend/web/src/features/queue/components/QueueList/useQueueItemIds.ts
  invokeai/frontend/web/src/features/queue/components/QueueList/useScrollableQueueList.ts
  invokeai/frontend/web/src/features/queue/components/QueueTabContent.tsx
  invokeai/frontend/web/src/features/queue/hooks/useRangeBasedQueueItemFetching.ts
  invokeai/frontend/web/src/features/queue/store/queueSlice.ts
  invokeai/frontend/web/src/services/api/endpoints/queue.ts
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: black, flake8, isort

tidy(app): method naming snake case
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
Due: black, flake8, isort

ListContext reverted with queryArgs
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueList.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueListComponent.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/types.ts
Due: none

queueSlice cleaned up
  invokeai/frontend/web/src/features/queue/hooks/useClearQueue.ts
  invokeai/frontend/web/src/features/queue/hooks/usePruneQueue.ts
  invokeai/frontend/web/src/features/queue/store/queueSlice.ts
Due: none

unused translations removed
  invokeai/frontend/web/public/locales/en.json
Due: none

queue api listQueueItems removed
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/events/events_common.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/frontend/web/src/features/queue/store/queueSlice.ts
  invokeai/frontend/web/src/services/api/endpoints/queue.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
Due: black, flake8, isort

status column not sortable
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueListHeader.tsx
  invokeai/frontend/web/src/features/queue/store/queueSlice.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix(ui): do not pass scroll seek props to DOM in queue list
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueList.tsx
Due: none

Update invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemComponent.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemComponent.tsx
Due: none

lint errors fixed
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueList.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueListHeader.tsx
  invokeai/frontend/web/src/features/queue/store/queueSlice.ts
  invokeai/frontend/web/src/services/api/endpoints/queue.ts
Due: none

Update invokeai/frontend/web/src/features/queue/components/QueueList/QueueList.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueList.tsx
Due: none

createdAt column fixed
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemComponent.tsx
Due: none

build errors fixed
  invokeai/app/api/routers/session_queue.py
  invokeai/app/services/session_queue/session_queue_base.py
  invokeai/app/services/session_queue/session_queue_sqlite.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

ColumnSortIcon refactored
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueListHeaderColumn.tsx
Due: none

ListContext removed
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemComponent.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueList.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueListComponent.tsx
  invokeai/frontend/web/src/features/queue/components/QueueList/types.ts
Due: none

typegen fixed
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

isOpen refactored
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueItemComponent.tsx
Due: none

schema re-generated
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

feat(ui): reduce overscan for queue
  invokeai/frontend/web/src/features/queue/components/QueueList/QueueList.tsx
Due: none

Add documentation missing information for AMD devices.
  docs/installation/docker.md
Due: none

fix(ui): route metadata to gemini node
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildGemini2_5Graph.ts
Due: none

feat(ui): address feedback
  invokeai/frontend/web/src/features/controlLayers/store/lorasSlice.ts
  invokeai/frontend/web/src/features/lora/components/LoRACard.tsx
  invokeai/frontend/web/src/features/modelManagerV2/hooks/useLoRAModelDefaultSettings.ts
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/LoRAModelDefaultSettings/DefaultWeight.tsx
  invokeai/frontend/web/src/features/system/store/configSlice.ts
Due: none

LoRA number input min/max restored
  invokeai/frontend/web/src/features/lora/components/LoRACard.tsx
  invokeai/frontend/web/src/features/system/store/configSlice.ts
Due: none

feat(nodes): add Qwen-Image model support
  QWEN_IMAGE_IMPLEMENTATION.md
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/model.py
  invokeai/app/invocations/primitives.py
  invokeai/app/invocations/qwen_image_denoise.py
  invokeai/app/invocations/qwen_image_model_loader.py
  invokeai/app/invocations/qwen_image_text_encoder.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/backend/model_manager/taxonomy.py
  pyproject.toml
Due: black, flake8, isort, uvlock

fix(nodes): correct QwenImagePipeline import path
  invokeai/app/invocations/qwen_image_denoise.py
Due: black, flake8, isort
