Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

fix(ui): fix metadata toggle stuck disabled
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
Due: none

refactor: gallery scroll (improved impl)
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
Due: none

chore(ui): lint
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/index.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/imagesStarred.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/imagesUnstarred.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImageButtons.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ImageViewerPanel.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ToggleMetadataViewerButton.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
Due: none

chore(ui): typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

refactor: gallery scroll
  invokeai/app/api/routers/images.py
  invokeai/app/services/image_records/image_records_base.py
  invokeai/app/services/image_records/image_records_sqlite.py
  invokeai/app/services/images/images_base.py
  invokeai/app/services/images/images_default.py
  invokeai/frontend/web/.eslintrc.js
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/gallery/components/Gallery.tsx
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
  invokeai/frontend/web/src/features/gallery/store/gallerySelectors.ts
  invokeai/frontend/web/src/services/api/endpoints/images.ts
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(ui): calculate gridTemplateColumns in selector
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
Due: none

refactor: gallery scroll (improved impl)
  invokeai/app/services/images/images_base.py
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
  invokeai/frontend/web/src/features/gallery/store/gallerySelectors.ts
  invokeai/frontend/web/src/services/api/endpoints/images.ts
Due: black, flake8, isort

fix(ui): minor jank when siwtching images rapidly
  invokeai/frontend/web/src/services/api/endpoints/images.ts
Due: none

fix(ui): gallery updates on image completion
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/index.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/galleryImageClicked.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/galleryOffsetChanged.ts
  invokeai/frontend/web/src/app/store/store.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
  invokeai/frontend/web/src/features/gallery/components/NextPrevImageButtons.tsx
  invokeai/frontend/web/src/features/gallery/hooks/useGalleryHotkeys.ts
  invokeai/frontend/web/src/features/gallery/store/gallerySelectors.ts
  invokeai/frontend/web/src/features/gallery/store/gallerySlice.ts
  invokeai/frontend/web/src/features/gallery/store/types.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/CurrentImage/CurrentImageNode.tsx
  invokeai/frontend/web/src/services/api/endpoints/images.ts
  invokeai/frontend/web/src/services/api/index.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
Due: none

chore: ruff
  invokeai/app/api/routers/images.py
  invokeai/app/services/image_records/image_records_common.py
  invokeai/app/services/image_records/image_records_sqlite.py
  invokeai/app/services/images/images_default.py
Due: black, flake8, isort

fix(ui): remove context from DOM props
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
Due: none

chore: bump version to v6.0.0a6
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

feat(ui): scrollbar styles
  invokeai/frontend/web/src/common/components/OverlayScrollbars/overlayscrollbars.css
Due: none

chore: ruff
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/invocations/segment_anything.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/workflow_records/workflow_records_sqlite.py
  invokeai/backend/model_manager/merge.py
  tests/app/services/download/test_download_queue.py
  tests/backend/patches/lora_conversions/test_flux_aitoolkit_lora_conversion_utils.py
Due: black, flake8, isort

refactor: remove unused methods/routes, fix some gallery invalidation issues
  invokeai/app/api/routers/images.py
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/invocations/segment_anything.py
  invokeai/app/services/config/config_default.py
  invokeai/app/services/image_records/image_records_base.py
  invokeai/app/services/image_records/image_records_sqlite.py
  invokeai/app/services/images/images_base.py
  invokeai/app/services/images/images_default.py
  invokeai/app/services/workflow_records/workflow_records_sqlite.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/merge.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/boardIdSelected.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/galleryImageClicked.ts
  invokeai/frontend/web/src/features/deleteImageModal/store/state.ts
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
  invokeai/frontend/web/src/features/gallery/store/gallerySelectors.ts
  invokeai/frontend/web/src/services/api/endpoints/images.ts
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/onInvocationComplete.tsx
  tests/app/services/download/test_download_queue.py
  tests/backend/patches/lora_conversions/test_flux_aitoolkit_lora_conversion_utils.py
Due: black, flake8, isort

fix(ui): issues with progress viewer
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImageButtons.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
Due: none

feat(ui): restore gallery hotkeys (except delete)
  invokeai/frontend/web/src/common/hooks/useGlobalHotkeys.ts
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryImageGrid.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GalleryPagination.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GallerySearch.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GallerySelectionCountTag.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/JumpTo.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
  invokeai/frontend/web/src/features/gallery/components/NextPrevImageButtons.tsx
  invokeai/frontend/web/src/features/gallery/hooks/useGalleryHotkeys.ts
  invokeai/frontend/web/src/features/gallery/hooks/useGalleryImages.ts
  invokeai/frontend/web/src/features/gallery/hooks/useGalleryNavigation.ts
  invokeai/frontend/web/src/features/gallery/hooks/useGalleryPagination.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/CurrentImage/CurrentImageNode.tsx
Due: none

chore(ui): disable debug logger
  invokeai/frontend/web/src/app/store/store.ts
Due: none

fix(ui): restore gallery selection count tag
  invokeai/frontend/web/src/features/gallery/components/Gallery.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GallerySelectionCountTag.tsx
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
Due: none

fix(ui): debounce gallery min width value
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
Due: none

chore(ui): dpdm
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GallerySearch.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageGrid/GallerySelectionCountTag.tsx
  invokeai/frontend/web/src/features/gallery/components/NewGallery.tsx
  invokeai/frontend/web/src/features/gallery/components/NextPrevImageButtons.tsx
  invokeai/frontend/web/src/features/gallery/components/use-gallery-image-names.ts
Due: none

chore: bump version to v6.0.0a7
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

feat(ui): switch to canvas tab when using launchpad
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/CanvasLaunchpadPanel.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/LaunchpadAddStyleReference.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/LaunchpadEditImageButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/LaunchpadGenerateFromTextButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/LaunchpadUseALayoutImageButton.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamNegativePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLPrompts/ParamSDXLNegativeStylePrompt.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLPrompts/ParamSDXLPositiveStylePrompt.tsx
  invokeai/frontend/web/src/features/ui/layouts/auto-layout-context.tsx
  invokeai/frontend/web/src/features/ui/layouts/canvas-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/generate-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/upscaling-tab-auto-layout.tsx
  invokeai/frontend/web/src/features/ui/layouts/workflows-tab-auto-layout.tsx
Due: none

feat(ui): revised ref image panel
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImage.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageHeader.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageList.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImagePreview.tsx
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

chore: bump version to v6.0.0a8
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

feat(ui): handle ref image deletion autoswitch
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImage.tsx
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
Due: none

feat: add user_label to FieldIdentifier
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/publish.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueWorkflows.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

temp: remove omi dependency to allow publishing on PyPI
  invokeai/backend/model_manager/omi.py
  pyproject.toml
  uv.lock
Due: black, flake8, isort, uvlock

fix(ui): hide ref panel when last one is deleted
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
Due: none

fix(ui): invalidate image name list cache on mutation
  invokeai/frontend/web/src/services/api/endpoints/images.ts
Due: none

feat(ui): migrate from lodash.isEqual to objectEquals
  invokeai/frontend/web/.eslintrc.js
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/app/store/createMemoizedSelector.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/socketConnected.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/CanvasObjectImage.ts
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
  invokeai/frontend/web/src/features/gallery/store/gallerySlice.ts
  invokeai/frontend/web/src/features/nodes/hooks/useInputFieldDefaultValue.ts
  invokeai/frontend/web/src/features/nodes/hooks/useInputFieldInitialFormValue.ts
  invokeai/frontend/web/src/features/nodes/hooks/useNodeCopyPaste.ts
  invokeai/frontend/web/src/features/nodes/store/util/areTypesEqual.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addFLUXFill.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addImageToImage.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addTextToImage.ts
  invokeai/frontend/web/src/features/nodes/util/schema/parseSchema.ts
Due: none

revert(ui): undo accidental downgrade of rtk
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
Due: none

build(ui): adopt sonda over rollup-plugin-visualizer to examine bundle
  .gitignore
  invokeai/frontend/web/.prettierignore
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/common/components/ColorPicker/RgbColorPicker.tsx
  invokeai/frontend/web/src/common/components/ColorPicker/RgbaColorPicker.tsx
  invokeai/frontend/web/src/common/components/Picker/Picker.tsx
  invokeai/frontend/web/tsconfig.json
  invokeai/frontend/web/tsconfig.node.json
  invokeai/frontend/web/vite.config.mts
Due: none

chore(ui): upgrade zod to v4
  docs/contributing/frontend/workflows.md
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/app/logging/logger.ts
  invokeai/frontend/web/src/common/util/zodUtils.ts
  invokeai/frontend/web/src/features/controlLayers/components/SimpleSession/context.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Transform/TransformFitToBboxButtons.tsx
  invokeai/frontend/web/src/features/controlLayers/store/filters.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/dnd/FullscreenDropzone.tsx
  invokeai/frontend/web/src/features/dynamicPrompts/store/dynamicPromptsSlice.ts
  invokeai/frontend/web/src/features/gallery/components/Boards/BoardsListSortControls.tsx
  invokeai/frontend/web/src/features/nodes/components/sidePanel/workflow/WorkflowLibrary/WorkflowSortControl.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/store/util/testUtils.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/types/invocation.ts
  invokeai/frontend/web/src/features/nodes/types/semver.ts
  invokeai/frontend/web/src/features/nodes/types/v1/workflowV1.ts
  invokeai/frontend/web/src/features/nodes/types/v2/common.ts
  invokeai/frontend/web/src/features/nodes/types/v2/field.ts
  invokeai/frontend/web/src/features/nodes/types/v2/invocation.ts
  invokeai/frontend/web/src/features/nodes/types/v2/semver.ts
  invokeai/frontend/web/src/features/nodes/types/v2/workflow.ts
  invokeai/frontend/web/src/features/nodes/types/workflow.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/Graph.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/buildWorkflow.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/migrations.ts
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
  invokeai/frontend/web/src/features/system/store/types.ts
  invokeai/frontend/web/src/features/system/store/zodSchemas.ts
  invokeai/frontend/web/src/features/ui/store/uiTypes.ts
  invokeai/frontend/web/src/features/workflowLibrary/hooks/useValidateAndLoadWorkflow.ts
  invokeai/frontend/web/src/services/api/authToastMiddleware.ts
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
