Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

fix(config): update uvicorn.org URL to uvicorn.dev in ssl field descriptions
  invokeai/app/services/config/config_default.py
Due: black, flake8, isort

FLUX.2 [dev]: restrict Mistral encoder to 30-layer cow + add recall handlers
  invokeai/app/invocations/flux2_dev_text_encoder.py
  invokeai/backend/model_manager/configs/mistral_encoder.py
  invokeai/backend/model_manager/load/model_loaders/mistral_encoder.py
  invokeai/backend/model_manager/starter_models.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
  invokeai/frontend/web/src/features/metadata/parsing.test.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/services/api/schema.ts
  pyproject.toml
Due: black, flake8, isort, uvlock

feat(flux2-dev): match ComfyUI's Mistral reference + accept 40-layer encoders
  invokeai/app/invocations/flux2_dev_text_encoder.py
  invokeai/backend/model_manager/configs/mistral_encoder.py
  invokeai/backend/model_manager/load/model_loaders/mistral_encoder.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix(ui): handle optional metadata parser failures
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ToggleMetadataViewerButton.tsx
  invokeai/frontend/web/src/features/metadata/parsing.test.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: none

Remove redundant clearTimeout in unmount cleanup effect
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
Due: none

Fix progress preview gallery selection (#9217)
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/CurrentImagePreview.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/ToggleMetadataViewerButton.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageViewer/context.tsx
Due: none

fix(ci): repair wrapped ENABLE_ANALYTICS expression in deploy-docs workflow
  .github/workflows/deploy-docs.yml
Due: none

Guard negativePromptChanged dispatch to only run in models that support negative prompt
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/PositivePromptHistory.tsx
Due: none

Fix: add SD negative prompt graph wiring and history (#9243)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.test.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildLinearBatchConfig.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildMultidiffusionUpscaleGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDNegativePromptGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/types.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/PositivePromptHistory.tsx
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueCanvas.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueGenerate.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueUpscaling.ts
Due: none

fix(docs): remove broken anchor link to aside in fp8-storage page
  docs/src/content/docs/configuration/fp8-storage.mdx
Due: none

fix(ci): repair wrapped ENABLE_ANALYTICS expression in deploy-docs workflow (#9271)
  .github/workflows/deploy-docs.yml
  docs/src/content/docs/configuration/fp8-storage.mdx
Due: none

Better naming of things
  invokeai/frontend/web/src/features/nodes/components/flow/edges/util/buildEdgeSelectors.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Connector/ConnectorNode.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/common/nodeIOHandle.ts
  invokeai/frontend/web/src/features/nodes/hooks/useConnection.ts
  invokeai/frontend/web/src/features/nodes/store/util/connectorTopology.test.ts
  invokeai/frontend/web/src/features/nodes/store/util/connectorTopology.ts
  invokeai/frontend/web/src/features/nodes/store/util/getFirstValidConnection.ts
Due: none

Fix imports
  invokeai/frontend/web/src/features/nodes/store/util/connectorTopology.test.ts
Due: none

Remove unused size recall reducers
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
Due: none

fix(db): repair model_relationships foreign keys broken by migration 22
  invokeai/app/services/shared/sqlite/sqlite_util.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_32.py
  tests/app/services/shared/sqlite_migrator/migrations/test_migration_32.py
Due: black, flake8, isort

fix(z-image): repair regional guidance forward after diffusers refactor
  invokeai/backend/z_image/z_image_transformer_patch.py
Due: black, flake8, isort

fix(z-image): repair & realign regional guidance after diffusers refactor
  invokeai/backend/z_image/z_image_transformer_patch.py
Due: black, flake8, isort

Chore Ruff + Typegen
  invokeai/backend/z_image/z_image_transformer_patch.py
Due: black, flake8, isort

fix(flux2): strip reference-image tokens from Heun preview latents
  invokeai/backend/flux2/denoise.py
Due: black, flake8, isort

Fix workflow execution state reconciliation
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.test.ts
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.ts
Due: none

chore: typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Updated state model and tests
  invokeai/frontend/web/src/services/events/workflowExecutionCoordinator.test.ts
  invokeai/frontend/web/src/services/events/workflowExecutionState.test.ts
  invokeai/frontend/web/src/services/events/workflowExecutionState.ts
Due: none

Fix workflow execution state reconciliation
  invokeai/frontend/web/src/services/events/invocationTracking.test.ts
  invokeai/frontend/web/src/services/events/invocationTracking.ts
  invokeai/frontend/web/src/services/events/nodeExecutionState.test.ts
  invokeai/frontend/web/src/services/events/nodeExecutionState.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  invokeai/frontend/web/src/services/events/workflowExecutionState.test.ts
  invokeai/frontend/web/src/services/events/workflowExecutionState.ts
Due: none

chore: openapi/typegen
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(ui): add missing canvas-workflow-integration log namespace translation
  invokeai/frontend/web/public/locales/en.json
Due: none

fix(ui): correct orphaned-models plural keys in en.json
  invokeai/frontend/web/public/locales/en.json
Due: none

docs: add graph execution example to API guide
  docs/src/content/docs/features/Multi-User Mode/api-guide.mdx
Due: none

docs: move AI Badgr link to download options
  docs/src/lib/components/DownloadOptions.astro
Due: none

fix(mm): tune partial-load headroom to 1.5 and flux2 multiplier to 2.2
  invokeai/backend/model_manager/load/model_cache/model_cache.py
  invokeai/backend/util/denoise_working_memory.py
  tests/backend/util/test_denoise_working_memory.py
Due: black, flake8, isort

docs(mm): drop internal memory-audit/ reference from denoise estimator docstring
  invokeai/backend/util/denoise_working_memory.py
Due: black, flake8, isort

Add custom documentation and project explanations
  README_ar.md
  img/Screenshot 2026-06-01 225222.png
  img/Screenshot 2026-06-01 225244.png
  img/Screenshot 2026-06-01 225250.png
  img/Screenshot 2026-06-01 225257.png
  img/Screenshot 2026-06-01 225310.png
  img/Screenshot 2026-06-01 233006.png
  img/Screenshot 2026-06-01 233013.png
  plugins/rehype-prefix-base-to-root-links.mjs
  public/CNAME
  public/coverimage.png
  public/favicon.svg
  scripts/validate-redirect-targets.mjs
  scripts/verify-deploy-output.mjs
  technical_deep_dive/dependencies_architecture.md
  technical_deep_dive/model_execution_lifecycle.md
  technical_deep_dive/network_communication.md
  ui-design/css/design-system.css
  ui-design/css/pages.css
  ui-design/index.html
  ui-design/js/main.js
  ui-design/pages/dashboard.html
  ui-design/pages/model-manager.html
  ui-design/pages/pricing.html
Due: none

Add custom documentation and project explanations
  architecture/prompts_guide.md
  architecture/system_design.md
  backend/api_app.md
  backend/baseinvocation.md
  backend/config_default.md
  backend/denoise_latents.md
  backend/dependencies.md
  backend/diffusers_pipeline.md
  backend/invocation_services.md
  backend/run_app.md
  backend/session_queue_router.md
  business/product_strategy.md
  frontend/InvokeAIUI.md
  frontend/main.md
  frontend/package_json.md
Due: none

Add custom documentation and project explanations
  assets/coverimage.png
  assets/invoke-icon-wide.svg
  assets/invoke-icon.svg
  config/head.ts
  config/index.ts
  config/redirects.ts
  config/sidebar.ts
  config/social.ts
  lib/base-path.ts
  lib/components/DownloadOptions.astro
  lib/components/EmptyComponent.astro
  lib/components/Footer.astro
  lib/components/ForceDarkTheme.astro
  lib/components/InvocationContextDocs.astro
  lib/components/Link.astro
  lib/components/Mermaid.astro
  lib/components/SettingsDocs.astro
  lib/components/SplashGallery.astro
  lib/components/SystemRequirmentsLink.astro
  pages/download.astro
  styles/custom.css
Due: none

Add custom documentation and project explanations
  generated/invocation-context.json
  generated/settings.json
  layouts/PageFrameExtended.astro
Due: none

Add custom documentation and project explanations
  i18n/en.json
Due: none

fix metadata overrides with empty string values
  invokeai/app/api/extract_metadata_from_image.py
  tests/app/test_extract_metadata_from_image.py
Due: black, flake8, isort

perf(anima): prefer cuDNN flash attention on Windows + CUDA
  invokeai/app/invocations/anima_denoise.py
Due: black, flake8, isort

perf(anima): adaptive tiled VAE decode with calibrated working memory
  invokeai/app/invocations/anima_image_to_latents.py
  invokeai/app/invocations/anima_latents_to_image.py
  invokeai/backend/util/vae_working_memory.py
Due: black, flake8, isort
