Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

Harden saved workflow field behavior
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/SavedWorkflowFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/savedWorkflowFieldUtils.test.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/savedWorkflowFieldUtils.ts
  invokeai/frontend/web/src/services/events/setEventListeners.test.ts
  tests/app/invocations/test_call_saved_workflows.py
Due: black, flake8, isort

Align dynamic workflow fields with node styling
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/CallSavedWorkflowNode.tsx
Due: none

Rename saved workflow node to singular
  invokeai/app/invocations/call_saved_workflow.py
  invokeai/frontend/web/src/features/nodes/store/util/testUtils.ts
  invokeai/frontend/web/src/features/nodes/util/schema/parseSchema.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/buildWorkflow.test.ts
  invokeai/frontend/web/src/services/events/setEventListeners.test.ts
  invokeai/frontend/web/src/services/events/setEventListeners.tsx
  tests/app/invocations/test_call_saved_workflows.py
Due: black, flake8, isort

Fix saved workflow frontend build issues
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/savedWorkflowFieldUtils.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/parseSchema.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/buildWorkflow.test.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Generalize saved workflow picker into a field type
  invokeai/app/invocations/call_saved_workflows.py
  invokeai/app/invocations/fields.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/CallSavedWorkflowsNode.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/InvocationNodeWrapper.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/callSavedWorkflowsNodeUtils.test.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/callSavedWorkflowsNodeUtils.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/SavedWorkflowFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/getInvocationNodeBodyComponent.test.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/getInvocationNodeBodyComponent.ts
  invokeai/frontend/web/src/features/nodes/store/util/testUtils.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/features/nodes/util/schema/parseSchema.test.ts
  tests/app/invocations/test_call_saved_workflows.py
Due: black, flake8, isort

Use standard templates for dynamic workflow fields
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/CallSavedWorkflowNode.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/context.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldEditModeNodes.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.test.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/store/util/fieldValidators.test.ts
  invokeai/frontend/web/src/features/nodes/store/util/fieldValidators.ts
  invokeai/frontend/web/src/features/nodes/store/util/getFirstValidConnection.ts
  invokeai/frontend/web/src/features/nodes/store/util/validateConnection.test.ts
  invokeai/frontend/web/src/features/nodes/store/util/validateConnection.ts
  invokeai/frontend/web/src/features/nodes/types/invocation.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildNodesGraph.test.ts
  invokeai/frontend/web/src/features/nodes/util/graph/buildNodesGraph.ts
  invokeai/frontend/web/src/features/nodes/util/node/buildInvocationNode.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/graphToWorkflow.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.ts
Due: none

Revert stale dynamic edge graph guard
  invokeai/frontend/web/src/features/nodes/util/graph/buildNodesGraph.test.ts
Due: none

Preserve inbound edges when compatbile with a new selected workflow
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/CallSavedWorkflowNode.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/callSavedWorkflowFormUtils.test.ts
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/callSavedWorkflowFormUtils.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.test.ts
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/store/util/fieldValidators.test.ts
  invokeai/frontend/web/src/features/nodes/store/util/validateConnection.test.ts
Due: none

Add call saved workflow design document
  docs/contributing/call_saved_workflow.md
Due: none

Clarify workflow return runtime design
  docs/contributing/call_saved_workflow.md
Due: none

Add workflow return node contract
  docs/contributing/call_saved_workflow.md
  invokeai/app/invocations/workflow_return.py
  invokeai/app/services/workflow_records/workflow_records_common.py
  invokeai/frontend/web/src/features/nodes/store/util/testUtils.ts
  invokeai/frontend/web/src/features/nodes/types/workflow.ts
  invokeai/frontend/web/src/features/nodes/util/schema/parseSchema.test.ts
  invokeai/frontend/web/src/features/nodes/util/workflow/validateWorkflow.test.ts
  invokeai/frontend/web/src/services/api/schema.ts
  tests/app/invocations/test_call_saved_workflows.py
Due: black, flake8, isort

Allow bounded recursive workflow calls
  docs/contributing/call_saved_workflow.md
Due: none

fix(flux2-vae): support FLUX.2 small-decoder VAE variant
  invokeai/backend/model_manager/load/model_loaders/flux.py
Due: black, flake8, isort

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

fix(text-tool): add locale strings and fonttools dependency
  invokeai/app/api/routers/utilities.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/Text/TextToolOptions.tsx
  invokeai/frontend/web/src/services/api/endpoints/utilities.ts
  pyproject.toml
  uv.lock
Due: black, flake8, isort, uvlock

refactor(ui): consolidate model filter and sort controls into a unified menu
  invokeai/frontend/web/src/common/hooks/useSubMenu.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelFilterMenu.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListNavigation.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelSortControl.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelTypeFilter.tsx
Due: none

Update version to 1.5.0 in flux2_denoise.py
  invokeai/app/invocations/flux2_denoise.py
Due: black, flake8, isort

Update condition for rendering ParamFluxScheduler
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
Due: none

Lint fix
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
Due: none

fix anima model auto-selection
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.test.ts
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
Due: none

feat(frontend): suppress tooltips on touch devices (#9001)
  invokeai/frontend/web/src/app/components/ThemeLocaleProvider.tsx
  invokeai/frontend/web/src/app/components/touchDevice.css
Due: none

ui: translations update from weblate (#9028)
  invokeai/frontend/web/public/locales/it.json
Due: none

Broaden text encoder partial-load recovery
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/sd3_text_encoder.py
  invokeai/backend/flux/modules/conditioner.py
  invokeai/backend/model_manager/load/load_base.py
  tests/app/invocations/test_compel.py
  tests/app/invocations/test_sd3_text_encoder.py
  tests/backend/flux/modules/test_conditioner.py
  tests/backend/model_manager/load/test_loaded_model.py
Due: black, flake8, isort

fix: patch openapi-typescript enum generation to match OpenAPI schema
  invokeai/frontend/web/scripts/typegen.js
Due: none

List models in readme
  README.md
Due: none

Broaden text encoder partial-load recovery (#9034)
  invokeai/app/invocations/compel.py
  invokeai/app/invocations/sd3_text_encoder.py
  invokeai/backend/flux/modules/conditioner.py
  invokeai/backend/model_manager/load/load_base.py
  tests/app/invocations/test_compel.py
  tests/app/invocations/test_sd3_text_encoder.py
  tests/backend/flux/modules/test_conditioner.py
  tests/backend/model_manager/load/test_loaded_model.py
Due: black, flake8, isort

refactor: track prepared exec node metadata
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

refactor: extract execution materializer
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

feat: short-circuit if-node branch execution
  invokeai/app/services/shared/graph.py
  tests/test_graph_execution_state.py
Due: black, flake8, isort

style: apply ruff fixes for if-node work
  invokeai/app/services/shared/graph.py
  tests/test_graph_execution_state.py
Due: black, flake8, isort

test: add if-node execution coverage
  tests/test_graph_execution_state.py
Due: black, flake8, isort

refactor: extract prepared exec registry
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

refactor: extract execution scheduler
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

fix: defer iterated if branches until resolution
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

test: cover iterated if-node pruning
  invokeai/app/services/shared/graph.py
  tests/test_graph_execution_state.py
Due: black, flake8, isort

refactor: extract if branch scheduler
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

refactor: clarify execution materialization
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

refactor: clarify iterator validation
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

refactor: extract execution runtime
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
