Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

raise exected exception when attempting to change dtype
  invokeai/backend/quantization/gguf/ggml_tensor.py
Due: black, flake8, isort

fix offload device
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_only_full_load.py
Due: black, flake8, isort

revert to overload due to failing tests, use Torch futures instead
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_only_full_load.py
  invokeai/backend/quantization/gguf/ggml_tensor.py
Due: black, flake8, isort

add check for state_dict, required to load TI's
  invokeai/backend/model_manager/load/model_cache/cached_model/cached_model_only_full_load.py
Due: black, flake8, isort

Add to overload for GGMLTensor, so calling to on the model moves the quantized data as well
  invokeai/backend/quantization/gguf/ggml_tensor.py
Due: black, flake8, isort

fix missing bracket
  invokeai/backend/quantization/gguf/ggml_tensor.py
Due: black, flake8, isort

fix picky ruff issue
  invokeai/backend/quantization/gguf/ggml_tensor.py
Due: black, flake8, isort

fix(app): address pydantic deprecation warning for accessing `BaseModel.model_fields`
  invokeai/app/invocations/baseinvocation.py
  invokeai/app/services/session_queue/session_queue_common.py
  invokeai/app/services/shared/graph.py
Due: black, flake8, isort

chore: update uv lock
  uv.lock
Due: none

chore: bump torch to 2.7.0
  pins.json
  pyproject.toml
Due: uvlock

ruff fixes
  invokeai/app/invocations/denoise_latents.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  invokeai/backend/stable_diffusion/diffusion/conditioning_data.py
  invokeai/backend/stable_diffusion/diffusion/custom_atttention.py
  invokeai/backend/stable_diffusion/diffusion/unet_attention_patcher.py
Due: black, flake8, isort

UX Copy Clean-up
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/IPAdapter/IPAdapterMethod.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Matt3o base changes
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/ip_adapter.py
  invokeai/backend/stable_diffusion/diffusers_pipeline.py
  invokeai/backend/stable_diffusion/diffusion/conditioning_data.py
  invokeai/backend/stable_diffusion/diffusion/custom_atttention.py
  invokeai/backend/stable_diffusion/diffusion/unet_attention_patcher.py
Due: black, flake8, isort

ruff fix
  invokeai/app/invocations/ip_adapter.py
Due: black, flake8, isort

update schema
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Expanded styles & updated UI
  invokeai/app/invocations/ip_adapter.py
  invokeai/backend/stable_diffusion/diffusion/conditioning_data.py
  invokeai/backend/stable_diffusion/diffusion/unet_attention_patcher.py
  invokeai/frontend/web/src/features/controlLayers/components/IPAdapter/IPAdapterMethod.tsx
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
Due: black, flake8, isort

missing translation values
  invokeai/frontend/web/public/locales/en.json
Due: none

chore(ui): typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Fix SD precise in patcher.
  invokeai/backend/stable_diffusion/diffusion/unet_attention_patcher.py
Due: black, flake8, isort

ruff ruff
  invokeai/backend/stable_diffusion/diffusion/unet_attention_patcher.py
Due: black, flake8, isort

update schema pt 2
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

chore: bump version to v5.12.0rc1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort
