Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

fix(mm): false negative on flux lora
  invokeai/backend/model_manager/configs/lora.py
Due: black, flake8, isort

refactor(mm): continued iteration on model identifcation
  invokeai/app/services/model_install/model_install_common.py
  invokeai/app/services/model_install/model_install_default.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_23.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/unknown.py
  invokeai/backend/model_manager/configs/vae.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
Due: black, flake8, isort

fix(db): migration 22 insert only real cols
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_22.py
Due: black, flake8, isort

fix(mm): ModelOnDisk skips dirs when looking for weights
  invokeai/backend/model_manager/model_on_disk.py
Due: black, flake8, isort

feat(mm): add sanity checks before probing paths
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/unknown.py
Due: black, flake8, isort

refactor(mm): split big migration into 3
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_22.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_23.py
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_24.py
Due: black, flake8, isort

fix(mm): pop base/type/format when creating unknown model config
  invokeai/backend/model_manager/configs/unknown.py
Due: black, flake8, isort

fix(db): migration 23 fall back to unknown model when config change fails
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_23.py
Due: black, flake8, isort

feat(mm): clearer naming for main config class hierarchy
  invokeai/backend/model_manager/configs/main.py
Due: black, flake8, isort

feat(mm): add method to get main model defaults from a base
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
Due: black, flake8, isort

feat(db): run migrations 23 and 24
  invokeai/app/services/shared/sqlite/sqlite_util.py
Due: black, flake8, isort

feat(mm): add model config schema migration logic
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_22.py
Due: black, flake8, isort

feat(mm): fix clip vision starter model bases, add ref to actual models
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

fix(mm): sdxl ip adapter identification
  invokeai/backend/model_manager/configs/ip_adapter.py
Due: black, flake8, isort

fix(mm): clip vision identification
  invokeai/backend/model_manager/configs/clip_vision.py
Due: black, flake8, isort

feat(mm): more flexible config matching utils
  invokeai/backend/model_manager/configs/identification_utils.py
Due: black, flake8, isort

fix(mm): vae checkpoint probe checking for dir instead of file
  invokeai/backend/model_manager/configs/vae.py
Due: black, flake8, isort

fix(mm): duplicate import
  invokeai/backend/model_manager/configs/lora.py
Due: black, flake8, isort

fix(mm): omit type/format/base when creating unknown config instance
  invokeai/backend/model_manager/configs/unknown.py
Due: black, flake8, isort

feat(mm): use ValueError for model id sanity checks
  invokeai/backend/model_manager/configs/base.py
Due: black, flake8, isort

feat(mm): add flag for updating models to allow class changes
  invokeai/app/services/model_install/model_install_default.py
  invokeai/app/services/model_records/model_records_base.py
  invokeai/app/services/model_records/model_records_sql.py
Due: black, flake8, isort

feat(ui): add warning for model settings edit
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelEdit.tsx
Due: none

tests(mm): flux state dict tests
  tests/backend/patches/lora_conversions/test_flux_aitoolkit_lora_conversion_utils.py
  tests/backend/patches/lora_conversions/test_flux_kohya_lora_conversion_utils.py
Due: black, flake8, isort

tests(mm): fix remaining MM tests
  tests/app/services/model_install/test_model_install.py
  tests/app/services/model_records/test_model_records_sql.py
  tests/backend/model_manager/model_manager_fixtures.py
Due: black, flake8, isort

feat: allow users to edit models freely
  invokeai/app/api/routers/model_manager.py
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelEdit.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

tidy: remove unused file
  test.json
Due: none

fix(mm): lora state dict loading in model id
  invokeai/backend/model_manager/configs/lora.py
Due: black, flake8, isort

feat(ui): use translation string for model edit warning
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelPanel/ModelEdit.tsx
Due: none

docs(db): update version numbers in migration comments
  invokeai/app/services/shared/sqlite_migrator/migrations/migration_23.py
Due: black, flake8, isort

chore: bump version to v6.9.0a1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

docs: update model id readme
  tests/model_identification/README.md
Due: none

tests(mm): attempt to fix windows model id tests
  tests/model_identification/stripped_model_on_disk.py
Due: black, flake8, isort

fix(mm): issue with deleting single file models
  invokeai/app/services/model_install/model_install_default.py
Due: black, flake8, isort

feat(mm): just delete the dir w/ rmtree when deleting model
  invokeai/app/services/model_install/model_install_default.py
Due: black, flake8, isort

translationBot(ui): update translation (Italian)
  invokeai/frontend/web/public/locales/it.json
Due: none

translationBot(ui): update translation (Japanese)
  invokeai/frontend/web/public/locales/ja.json
Due: none

tests(mm): windows CI issue
  tests/app/services/model_install/test_model_install.py
Due: black, flake8, isort

fix(ui): typegen schema sync
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix: schema generation bug in fastapi 0.119.0
  pyproject.toml
Due: uvlock

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
