Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

feat(z-image): add metadata recall for VAE and Qwen3 encoder
  invokeai/app/invocations/metadata.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildZImageGraph.ts
Due: black, flake8, isort

fix(z-image): improve device/dtype compatibility and error handling
  invokeai/app/invocations/z_image_denoise.py
  invokeai/app/invocations/z_image_image_to_latents.py
  invokeai/app/invocations/z_image_latents_to_image.py
  invokeai/app/invocations/z_image_lora_loader.py
  invokeai/app/invocations/z_image_text_encoder.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/patches/layer_patcher.py
  invokeai/backend/patches/lora_conversions/z_image_lora_conversion_utils.py
  invokeai/backend/util/devices.py
Due: black, flake8, isort

fix typegen wrong
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(ui): replace misused isCheckpointMainModelConfig with isFluxDevMainModelConfig
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/MainModelPicker.tsx
  invokeai/frontend/web/src/features/ui/layouts/InitialStateMainModelPicker.tsx
  invokeai/frontend/web/src/services/api/types.ts
Due: none

feat(z-image): add Qwen3 GGUF text encoder support and default parameters
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
Due: black, flake8, isort

feat(cache): add partial loading support for Z-Image RMSNorm and LayerNorm
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_diffusers_rms_norm.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_layer_norm.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/torch_module_autocast.py
Due: black, flake8, isort

fix typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

z-image-turbo-fp8-e5m2 works. the z-image-turbo_fp8_scaled_e4m3fn_KJ dont.
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
Due: black, flake8, isort

Remove the ParamScheduler for z-images Fixed the DEFAULT_TOKENIZER_SOURCE to Qwen/Qwen3-4B
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
Due: black, flake8, isort

Remove unneeded Loggging
  invokeai/backend/model_manager/load/model_loaders/z_image.py
Due: black, flake8, isort

chore: fix ruff checks
  invokeai/app/invocations/z_image_denoise.py
  invokeai/app/invocations/z_image_latents_to_image.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/qwen3_encoder.py
  invokeai/backend/model_manager/load/model_cache/torch_module_autocast/custom_modules/custom_diffusers_rms_norm.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/patches/layer_patcher.py
  invokeai/backend/patches/lora_conversions/z_image_lora_conversion_utils.py
Due: black, flake8, isort

feat(nodes): add Prompt Template node
  invokeai/app/invocations/prompt_template.py
Due: black, flake8, isort

feat(prompts): hotkey controlled prompt weighting (#8647)
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/util/promptAST.test.ts
  invokeai/frontend/web/src/common/util/promptAST.ts
  invokeai/frontend/web/src/common/util/promptAttention.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamNegativePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/system/components/HotkeysModal/useHotkeyData.ts
Due: none

feat(nodes): add StylePresetField for database-driven preset selection
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/prompt_template.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/StylePresetFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/store/nodesSlice.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/constants.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix schema.ts on windows.
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(z-image): remove unused WithMetadata and WithBoard mixins from denoise node
  invokeai/app/invocations/z_image_denoise.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

stupid windows file path again.
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

fix(vae): Fix dtype mismatch in FP32 VAE decode mode
  invokeai/app/invocations/latents_to_image.py
Due: black, flake8, isort

fix(prompts): :bug: prompt attention adjust elevation edge cases, added tests
  invokeai/frontend/web/src/common/util/promptAttention.test.ts
  invokeai/frontend/web/src/common/util/promptAttention.ts
Due: none

feat(model manager): :lipstick: refactor model manager bulk actions UI
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListBulkActions.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListNavigation.tsx
Due: none

feat(model manager): :lipstick: tweak model list item ui for checkbox selects
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListItem.tsx
Due: none

style(model manager): :rotating_light: satisfy the linter
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelList.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListBulkActions.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListNavigation.tsx
Due: none

feat(model manager): :lipstick: tweak search and actions dropdown placement
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListBulkActions.tsx
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelTypeFilter.tsx
Due: none

refactor(model manager): :fire: remove unused `ModelListHeader` component
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelListHeader.tsx
Due: none

refactor(prompts): :recycle: create attention edit helper for prompt boxes
  invokeai/frontend/web/src/features/controlLayers/components/RegionalGuidance/RegionalGuidanceNegativePrompt.tsx
  invokeai/frontend/web/src/features/controlLayers/components/RegionalGuidance/RegionalGuidancePositivePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/prompt/usePromptAttentionHotkeys.ts
Due: none

feat(prompts): :sparkles: apply attention keybinds to negative prompt
  invokeai/frontend/web/src/features/parameters/components/Core/ParamNegativePrompt.tsx
Due: none

feat(prompts): :rocket: reconsider behaviors, simplify code
  invokeai/frontend/web/src/common/util/promptAttention.test.ts
  invokeai/frontend/web/src/common/util/promptAttention.ts
Due: none

fix(prompts): :bug: keybind attention update not tracked by undo/redo
  invokeai/frontend/web/src/features/prompt/usePromptAttentionHotkeys.ts
Due: none

feat(backend): add support for xlabs Flux LoRA format
  invokeai/backend/model_manager/configs/lora.py
  invokeai/backend/model_manager/load/model_loaders/lora.py
  invokeai/backend/model_manager/taxonomy.py
  invokeai/backend/patches/lora_conversions/flux_xlabs_lora_conversion_utils.py
  invokeai/backend/patches/lora_conversions/formats.py
  tests/backend/patches/lora_conversions/lora_state_dicts/flux_lora_xlabs_format.py
  tests/backend/patches/lora_conversions/test_flux_xlabs_lora_conversion_utils.py
Due: black, flake8, isort

fix(ui): :bug: `HotkeysModal` and `SettingsModal` initial focus
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeysModal.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
Due: none

style: :rotating_light: satisfy linter
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeysModal.tsx
Due: none

chore: upgrade diffusers to 0.36.0 to support z image
  pyproject.toml
  uv.lock
Due: uvlock

Add Z-Image ControlNet V2.0 support
  invokeai/app/invocations/z_image_denoise.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

WIP not working. feat: Add Z-Image ControlNet support with spatial conditioning
  invokeai/app/invocations/z_image_control.py
  invokeai/app/invocations/z_image_denoise.py
  invokeai/backend/model_manager/configs/controlnet.py
  invokeai/backend/model_manager/configs/factory.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/z_image/__init__.py
  invokeai/backend/z_image/z_image_control_adapter.py
  invokeai/backend/z_image/z_image_control_transformer.py
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/store/util.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addControlAdapters.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildZImageGraph.ts
Due: black, flake8, isort

Add Z-Image ControlNet V2.0 support
  invokeai/app/invocations/z_image_denoise.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

fix: resolve linting errors in Z-Image ControlNet support
  invokeai/app/invocations/z_image_denoise.py
  invokeai/backend/model_manager/load/model_loaders/z_image.py
  invokeai/backend/z_image/z_image_control_adapter.py
  invokeai/backend/z_image/z_image_control_transformer.py
Due: black, flake8, isort

style: apply ruff formatting
  invokeai/app/invocations/z_image_denoise.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/z_image/z_image_control_adapter.py
  invokeai/backend/z_image/z_image_control_transformer.py
Due: black, flake8, isort

feat(z-image): add Extension-based Z-Image ControlNet support
  invokeai/app/invocations/z_image_denoise.py
  invokeai/backend/model_manager/configs/main.py
  invokeai/backend/z_image/__init__.py
  invokeai/backend/z_image/z_image_controlnet_extension.py
  invokeai/backend/z_image/z_image_patchify_utils.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildZImageGraph.ts
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(starter-models): add Z-Image Turbo starter models
  invokeai/backend/model_manager/starter_models.py
Due: black, flake8, isort

fix(ui): :bug: `HotkeysModal` and `SettingsModal` initial focus (#8687)
  invokeai/frontend/web/src/features/system/components/HotkeysModal/HotkeysModal.tsx
  invokeai/frontend/web/src/features/system/components/SettingsModal/SettingsModal.tsx
Due: none
