Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

feat(ui): add Qwen-Image UI types and update frontend schema
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/qwen_image_model_loader.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(ui): add Qwen-Image model field components
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/InputFieldRenderer.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/Qwen2_5VLModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/QwenImageMainModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/QwenImageVAEModelFieldInputComponent.tsx
  invokeai/frontend/web/src/services/api/hooks/modelsByType.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: none

fix(models): remove duplicate QwenImageConfig to restore MainDiffusersConfig
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

feat(ui): add Qwen-Image model support to frontend
  invokeai/frontend/web/src/features/modelManagerV2/subpanels/ModelManagerPanel/ModelBaseBadge.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/QwenImageVAEModelFieldInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/types/field.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputInstance.ts
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/features/parameters/types/constants.ts
Due: none

fix(ui): use generic VAE models for Qwen-Image
  invokeai/app/invocations/qwen_image_model_loader.py
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/QwenImageVAEModelFieldInputComponent.tsx
Due: black, flake8, isort

feat: make VAE optional for Qwen-Image, use bundled VAE by default
  invokeai/app/invocations/qwen_image_model_loader.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

docs: update Qwen-Image implementation documentation
  QWEN_IMAGE_IMPLEMENTATION.md
Due: none

fix: remove incorrect assertion in QwenImageModelLoaderInvocation
  invokeai/app/invocations/qwen_image_model_loader.py
Due: black, flake8, isort

fix: correct tokenizer and text encoder loading in QwenImageTextEncoderInvocation
  invokeai/app/invocations/qwen_image_text_encoder.py
Due: black, flake8, isort

feat: add model size calculation for Qwen-Image models
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
Due: black, flake8, isort

docs: add memory optimization guide for Qwen-Image
  QWEN_IMAGE_IMPLEMENTATION.md
Due: none

fix: optimize memory usage for Qwen-Image model loading
  invokeai/backend/model_manager/load/model_loaders/qwen_image.py
  qwen_test_config.yaml
Due: black, flake8, isort

feat: add memory-optimized startup script for Qwen-Image
  run_qwen_optimized.sh
Due: none

fix(app): path traversal via bulk downloads paths
  invokeai/app/services/bulk_download/bulk_download_default.py
Due: black, flake8, isort

prettier errors fixed
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FloatGeneratorArithmeticSequenceSettings.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FloatGeneratorLinearDistributionSettings.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FloatGeneratorUniformRandomDistributionSettings.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/StringGeneratorDynamicPromptsCombinatorialSettings.tsx
Due: none

maths enabled on numeric input fields in worklow editor
  invokeai/frontend/web/package.json
  invokeai/frontend/web/pnpm-lock.yaml
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/FloatField/FloatFieldInput.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/FloatField/FloatFieldInputAndSlider.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/IntegerField/IntegerFieldInput.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/IntegerField/IntegerFieldInputAndSlider.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FloatFieldCollectionInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FloatGeneratorArithmeticSequenceSettings.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FloatGeneratorLinearDistributionSettings.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/FloatGeneratorUniformRandomDistributionSettings.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/IntegerFieldCollectionInputComponent.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/IntegerGeneratorArithmeticSequenceSettings.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/IntegerGeneratorLinearDistributionSettings.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/IntegerGeneratorUniformRandomDistributionSettings.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/StringGeneratorDynamicPromptsCombinatorialSettings.tsx
  invokeai/frontend/web/src/features/nodes/components/flow/nodes/Invocation/fields/inputs/StringGeneratorDynamicPromptsRandomSettings.tsx
Due: none

refactor(backend): simplify segment anything APIs
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/segment_anything.py
  invokeai/backend/image_util/segment_anything/segment_anything_2_pipeline.py
  invokeai/backend/image_util/segment_anything/segment_anything_pipeline.py
  invokeai/backend/image_util/segment_anything/shared.py
Due: black, flake8, isort

consolidate into one node.
  invokeai/app/invocations/segment_anything.py
  invokeai/app/invocations/segment_anything_2.py
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: black, flake8, isort

feat(ui): support prompt-based selection for object selection
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObject.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObjectModel.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObjectPointType.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObjectPrompt.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

fix models
  invokeai/app/invocations/segment_anything_2.py
Due: black, flake8, isort

feat(ui): hold shift to add inverse point type
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

chore: typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

update uv.lock
  uv.lock
Due: none

init Sam2
  invokeai/app/invocations/segment_anything_2.py
  invokeai/backend/image_util/segment_anything/segment_anything_2_pipeline.py
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
  pyproject.toml
Due: black, flake8, isort, uvlock

chore: ruff
  invokeai/app/invocations/segment_anything.py
  invokeai/backend/image_util/segment_anything/segment_anything_2_pipeline.py
Due: black, flake8, isort

tidy(nodes): clean up sam node
  invokeai/app/invocations/segment_anything.py
Due: black, flake8, isort

tidy(ui): ts issues
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

fix(ui): select obj box moving on mmb pan
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

tidy(backend) cleanup sam pipelines
  invokeai/backend/image_util/segment_anything/segment_anything_2_pipeline.py
  invokeai/backend/image_util/segment_anything/segment_anything_pipeline.py
Due: black, flake8, isort

fix(backend): issue w/ multiple bbox and sam1
  invokeai/backend/image_util/segment_anything/segment_anything_pipeline.py
Due: black, flake8, isort

fix(ui): bbox no shrinkies
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

experiment(ui): support bboxes in select object
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObject.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

fix(ui): prevent bbox scale accumulation in SAM module
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

fix(ui): prevent bbox from following cursor after middle mouse pan
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

feat(ui): allow adding point inside bbox
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

feat(ui): combine points and bbox in visual mode for SAM
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObject.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

fix(ui): prevent middle mouse from creating points in segmentation module
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none
