Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

chore(ui): update whats new copy
  invokeai/frontend/web/public/locales/en.json
Due: none

chore: bump version to v5.12.0rc1
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

only use client side uploads if more than one image to retain metadata for single uploads
  invokeai/frontend/web/src/common/hooks/useImageUploadButton.tsx
  invokeai/frontend/web/src/features/dnd/FullscreenDropzone.tsx
Due: none

fix(nodes): fix spots where default of None was provided for non-optional fields
  invokeai/app/invocations/composition-nodes.py
  invokeai/app/invocations/create_gradient_mask.py
  invokeai/app/invocations/ideal_size.py
  invokeai/app/invocations/image.py
Due: black, flake8, isort

chore(ui): typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

chore: ruff
  invokeai/app/invocations/create_gradient_mask.py
Due: black, flake8, isort

fix(ui): invocation parsing for optional enum fields
  invokeai/frontend/web/src/features/nodes/util/schema/buildFieldInputTemplate.ts
  invokeai/frontend/web/src/features/nodes/util/schema/parseSchema.ts
Due: none

fix(nodes): do not make invocation field defaults None when they are not provided
  invokeai/app/invocations/fields.py
Due: black, flake8, isort

Warning comment
  invokeai/app/services/model_install/model_install_default.py
Due: black, flake8, isort

Re-enable classification API as fallback
  invokeai/app/services/model_install/model_install_default.py
  invokeai/backend/model_manager/config.py
  invokeai/backend/model_manager/model_on_disk.py
  scripts/classify-model.py
  scripts/strip_models.py
  tests/test_model_probe.py
Due: black, flake8, isort

Make ruff happy
  invokeai/app/services/model_install/model_install_default.py
  invokeai/backend/model_manager/config.py
  scripts/classify-model.py
  tests/test_model_probe.py
Due: black, flake8, isort

tests: monkeypatch more references to `gguf_sd_loader()`
  tests/conftest.py
Due: black, flake8, isort

tests: monkeypatch secondary reference to `gguf_sd_loader()`
  tests/conftest.py
Due: black, flake8, isort

tests: add test for `get_flux_in_channels_from_state_dict()`
  tests/backend/flux/test_flux_state_dict_utils.py
Due: black, flake8, isort

docs: add reminder to FLUX variant probing to add test cases if we have a probe failure
  invokeai/backend/model_manager/legacy_probe.py
Due: black, flake8, isort

tests: add stripped models for FLUX varieties
  tests/test_model_probe/stripped_models/FLUX Dev (Quantized).safetensors
  tests/test_model_probe/stripped_models/FLUX Dev.safetensors
  tests/test_model_probe/stripped_models/FLUX Fill.safetensors
  tests/test_model_probe/stripped_models/FLUX Schnell (Quantized).safetensors
  tests/test_model_probe/stripped_models/FLUX Schnell.safetensors
  tests/test_model_probe/stripped_models/flux1-fill-dev-Q8_0.gguf
  tests/test_model_probe/stripped_models/midjourneyReplica_flux1Dev.safetensors
Due: none

chore: bump version to v5.12.0rc2
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

ruff
  invokeai/app/invocations/create_gradient_mask.py
  invokeai/app/invocations/image.py
Due: black, flake8, isort

change denoise limit default to 1.0
  invokeai/frontend/web/src/features/controlLayers/store/canvasSlice.ts
Due: none

remove some AI detritus
  invokeai/frontend/web/src/mask_noise_steps.md
Due: none

Update Compel to 2.1.1 and apply Sentences Split logic
  invokeai/app/invocations/compel.py
  pyproject.toml
Due: black, flake8, isort, uvlock

reuse inpaint image noise seed for caching
  invokeai/app/invocations/create_gradient_mask.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildCogView4Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD3Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
Due: black, flake8, isort

use hook instead
  invokeai/frontend/web/src/app/types/invokeai.ts
  invokeai/frontend/web/src/features/parameters/components/MainModel/DisabledModelWarning.tsx
  invokeai/frontend/web/src/features/parameters/hooks/useIsModelDisabled.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: none

make logic more straight forward
  invokeai/frontend/web/src/features/parameters/components/MainModel/DisabledModelWarning.tsx
  invokeai/frontend/web/src/features/parameters/hooks/useIsModelDisabled.ts
  invokeai/frontend/web/src/features/queue/store/readiness.ts
Due: none

fix(nodes): transformers bug with SAM
  invokeai/app/invocations/segment_anything.py
Due: black, flake8, isort

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
