Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

Minor bug fix with spaces being highlighted.
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/DataViewer.tsx
Due: none

Feat(UI): Search bar in image info code tabs and add vertical margins for improved UX in Recall Parameters tab. (#8786)
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/DataViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataGraphTabContent.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataViewer.tsx
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataWorkflowTabContent.tsx
  invokeai/frontend/web/src/features/gallery/components/NextPrevItemButtons.tsx
Due: none

Add HiDiffusion T1/T2 ratio controls and docs updates
  docs/features/hidiffusion.md
  invokeai/app/invocations/denoise_latents.py
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/metadata_linked.py
  invokeai/backend/stable_diffusion/extensions/hidiffusion.py
  invokeai/backend/stable_diffusion/hidiffusion_utils.py
  invokeai/frontend/web/openapi.json
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addSDXLRefiner.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSD1Graph.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildSDXLGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Advanced/ParamHiDiffusionToggle.tsx
  invokeai/frontend/web/src/features/settingsAccordions/components/AdvancedSettingsAccordion/AdvancedSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Switch to patchmatch-cython
  invokeai/backend/image_util/infill_methods/patchmatch.py
  pyproject.toml
  uv.lock
Due: black, flake8, isort, uvlock

Checks appeasing
  invokeai/backend/stable_diffusion/hidiffusion_utils.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Refactor HiDiffusion import and update T2 ratio default value to 0
  invokeai/backend/stable_diffusion/hidiffusion_utils.py
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

generated image node documentations
  invokeai/resources/node_docs/_INFO_.md
  invokeai/resources/node_docs/en/apply_mask_to_image.md
  invokeai/resources/node_docs/en/blank_image.md
  invokeai/resources/node_docs/en/canvas_paste_back.md
  invokeai/resources/node_docs/en/color_correct.md
  invokeai/resources/node_docs/en/crop_image_to_bounding_box.md
  invokeai/resources/node_docs/en/expand_mask_with_fade.md
  invokeai/resources/node_docs/en/images/blank_image_random_color_noise.jpg
  invokeai/resources/node_docs/en/images/highres_color_correction.jpg
  invokeai/resources/node_docs/en/images/highres_color_correction_result.jpg
  invokeai/resources/node_docs/en/images/paste_images_blank_background.jpg
  invokeai/resources/node_docs/en/images/paste_images_blank_background_result.jpg
  invokeai/resources/node_docs/en/images/z_image_example_t2i.jpg
  invokeai/resources/node_docs/en/images/z_image_example_t2i.png
  invokeai/resources/node_docs/en/img_blur.md
  invokeai/resources/node_docs/en/img_chan.md
  invokeai/resources/node_docs/en/img_channel_multiply.md
  invokeai/resources/node_docs/en/img_channel_offset.md
  invokeai/resources/node_docs/en/img_conv.md
  invokeai/resources/node_docs/en/img_crop.md
  invokeai/resources/node_docs/en/img_hue_adjust.md
  invokeai/resources/node_docs/en/img_ilerp.md
  invokeai/resources/node_docs/en/img_lerp.md
  invokeai/resources/node_docs/en/img_mul.md
  invokeai/resources/node_docs/en/img_noise.md
  invokeai/resources/node_docs/en/img_nsfw.md
  invokeai/resources/node_docs/en/img_pad_crop.md
  invokeai/resources/node_docs/en/img_paste.md
  invokeai/resources/node_docs/en/img_resize.md
  invokeai/resources/node_docs/en/img_scale.md
  invokeai/resources/node_docs/en/img_watermark.md
  invokeai/resources/node_docs/en/mask_combine.md
  invokeai/resources/node_docs/en/mask_edge.md
  invokeai/resources/node_docs/en/mask_from_id.md
  invokeai/resources/node_docs/en/paste_image_into_bounding_box.md
  invokeai/resources/node_docs/en/save_image.md
  invokeai/resources/node_docs/en/show_image.md
  invokeai/resources/node_docs/en/tomask.md
  invokeai/resources/node_docs/en/unsharp_mask.md
  invokeai/resources/node_docs/en/z_image_denoise.md
Due: none

don't built patchmatch in docker
  docker/Dockerfile
  docker/Dockerfile-rocm-full
Due: none

Update invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/CanvasObjectGradient.ts
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasObject/CanvasObjectGradient.ts
Due: none

Update invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolGradientButton.tsx
  invokeai/frontend/web/src/features/controlLayers/components/Tool/ToolGradientButton.tsx
Due: none

Autocommit fix on mouse leaving canvas area
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasTool/CanvasToolModule.ts
Due: none

Add FLUX.2 Klein to starter bundles and documentation
  docs/installation/quick_start.md
  invokeai/backend/model_manager/starter_models.py
  invokeai/frontend/web/public/locales/en.json
Due: black, flake8, isort

Add FLUX.2 Klein built-in reference image editing support
  invokeai/app/invocations/flux2_denoise.py
  invokeai/backend/flux2/denoise.py
  invokeai/backend/flux2/ref_image_extension.py
  invokeai/frontend/web/src/app/store/middleware/listenerMiddleware/listeners/modelSelected.ts
  invokeai/frontend/web/src/features/controlLayers/components/RefImage/RefImageSettings.tsx
  invokeai/frontend/web/src/features/controlLayers/hooks/addLayerHooks.ts
  invokeai/frontend/web/src/features/controlLayers/store/refImagesSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/controlLayers/store/util.ts
  invokeai/frontend/web/src/features/controlLayers/store/validators.ts
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/modelManagerV2/models.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Chore windows path fix
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

Add reference image resizing for FLUX.2 Klein
  invokeai/backend/flux2/ref_image_extension.py
Due: black, flake8, isort

fix(model_manager): detect Flux VAE by latent space dimensions instead of filename
  invokeai/backend/model_manager/configs/vae.py
Due: black, flake8, isort

fix(model_manager): add latent space probing for Flux2 VAE detection
  invokeai/backend/model_manager/configs/vae.py
Due: black, flake8, isort

Chore Ruff format
  invokeai/backend/model_manager/configs/vae.py
Due: black, flake8, isort

Feature: Add DyPE (Dynamic Position Extrapolation) support to FLUX models for improved high-resolution image generation (#8763)
  invokeai/app/invocations/flux_denoise.py
  invokeai/backend/flux/denoise.py
  invokeai/backend/flux/dype/__init__.py
  invokeai/backend/flux/dype/base.py
  invokeai/backend/flux/dype/embed.py
  invokeai/backend/flux/dype/presets.py
  invokeai/backend/flux/dype/rope.py
  invokeai/backend/flux/extensions/dype_extension.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/gallery/components/ImageMetadataViewer/ImageMetadataActions.tsx
  invokeai/frontend/web/src/features/metadata/parsing.tsx
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamFluxDypePreset.tsx
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
  invokeai/frontend/web/src/services/api/schema.ts
  tests/backend/flux/dype/test_dype.py
Due: black, flake8, isort

doc(release): update the WhatsNew text
  invokeai/frontend/web/public/locales/en.json
Due: none

fix(model_manager): detect Flux1/2 VAE by latent space dimensions instead of filename (#8790)
  invokeai/backend/model_manager/configs/vae.py
Due: black, flake8, isort

chore(frontend): run lint:prettier and frontend-typegen
  invokeai/frontend/web/public/locales/en.json
Due: none

Prep for 6.11.0.rc1 (#8771)
  invokeai/frontend/web/public/locales/en.json
  invokeai/version/invokeai_version.py
Due: black, flake8, isort

Fix ref_images metadata format for FLUX Kontext recall
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
Due: none

Fix ref_images metadata format for FLUX Kontext recall (#8791)
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
Due: none

release(docker): fix workflow edge case that prevented CUDA build from completing
  .github/workflows/build-container.yml
Due: none

bugfix(release): fix yaml syntax error
  .github/workflows/build-container.yml
Due: none

Changed to vendoring an updated version of HiDiffusion and removed deps for external dependency
  invokeai/backend/hidiffusion/LICENSE
  invokeai/backend/hidiffusion/NOTICE
  invokeai/backend/hidiffusion/__init__.py
  invokeai/backend/hidiffusion/hidiffusion.py
  invokeai/backend/hidiffusion/sd_module_key/sd15_module_key.txt
  invokeai/backend/hidiffusion/sd_module_key/sdxl_module_key.txt
  invokeai/backend/hidiffusion/utils.py
  invokeai/backend/stable_diffusion/hidiffusion_utils.py
  pyproject.toml
  uv.lock
Due: black, flake8, isort, uvlock

fix(ui): improve DyPE field ordering and add 'On' preset option
  invokeai/app/invocations/flux_denoise.py
  invokeai/backend/flux/dype/__init__.py
  invokeai/backend/flux/dype/presets.py
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/nodes/hooks/useInputFieldNamesByStatus.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamFluxDypePreset.tsx
  invokeai/frontend/web/src/services/api/schema.ts
Due: black, flake8, isort

Chore Ruff check fix
  invokeai/backend/flux/dype/presets.py
Due: black, flake8, isort

fix(flux2): support Heun scheduler for FLUX.2 Klein models
  invokeai/app/invocations/flux2_denoise.py
  invokeai/backend/flux2/denoise.py
Due: black, flake8, isort

fix(flux): remove .value from dype_preset logging
  invokeai/app/invocations/flux_denoise.py
Due: black, flake8, isort

fix(tests): update DyPE tests for Literal type change
  tests/backend/flux/dype/test_dype.py
Due: black, flake8, isort

docs: Add a PR review and merge policy
  docs/contributing/pull-request-merge-policy.md
Due: none

feat(flux): add DyPE scale and exponent controls to Linear UI
  invokeai/app/invocations/flux_denoise.py
  invokeai/backend/flux/dype/presets.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/common/components/InformationalPopover/constants.ts
  invokeai/frontend/web/src/features/controlLayers/store/paramsSlice.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
  invokeai/frontend/web/src/features/nodes/types/common.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildFLUXGraph.ts
  invokeai/frontend/web/src/features/parameters/components/Core/ParamFluxDypeExponent.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamFluxDypeScale.tsx
  invokeai/frontend/web/src/features/parameters/types/parameterSchemas.ts
  invokeai/frontend/web/src/features/settingsAccordions/components/GenerationSettingsAccordion/GenerationSettingsAccordion.tsx
Due: black, flake8, isort

fix(flux2): fix Heun scheduler detection using inspect.signature
  invokeai/backend/flux2/denoise.py
Due: black, flake8, isort

fix(flux): apply DyPE scale/exponent and add metadata recall
  invokeai/backend/flux/dype/base.py
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/metadata/parsing.tsx
Due: black, flake8, isort
