Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

.pre-commit-config.yaml:

# See https://pre-commit.com/ for usage and config
repos:
- repo: local
  hooks:
  - id: black
    name: black
    stages: [pre-commit]
    language: system
    entry: black
    types: [python]

  - id: flake8
    name: flake8
    stages: [pre-commit]
    language: system
    entry: flake8
    types: [python]

  - id: isort
    name: isort
    stages: [pre-commit]
    language: system
    entry: isort
    types: [python]

  - id: uvlock
    name: uv lock
    stages: [pre-commit]
    language: system
    entry: uv lock
    files: ^pyproject\.toml$
    pass_filenames: false

feat(nodes): tidy uno reference impl
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/flux_uno.py
Due: black, flake8, isort

chore: ruff
  invokeai/backend/flux/sampling_utils.py
Due: black, flake8, isort

fix(nodes): use lanczos resample mode for uno preprocessing
  invokeai/app/invocations/flux_uno.py
Due: black, flake8, isort

rename UNO node
  invokeai/app/invocations/flux_uno.py
Due: black, flake8, isort

remove unused import
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/flux_uno.py
Due: black, flake8, isort

chore: ruff
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/flux_uno.py
  invokeai/app/invocations/image_context_utils.py
  invokeai/backend/flux/model.py
Due: black, flake8, isort

ace++ and uno framework integration
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/flux_denoise.py
  invokeai/app/invocations/flux_uno.py
  invokeai/app/invocations/image_context_utils.py
  invokeai/backend/flux/denoise.py
  invokeai/backend/flux/model.py
  invokeai/backend/flux/sampling_utils.py
Due: black, flake8, isort

Update communityNodes.md
  docs/nodes/communityNodes.md
Due: none

feat(nodes): much faster heuristic resize utility
  invokeai/app/invocations/controlnet.py
  invokeai/app/util/controlnet_utils.py
  pyproject.toml
Due: black, flake8, isort, uvlock

feat(api): support resizing image on upload
  invokeai/app/api/routers/images.py
Due: black, flake8, isort

chore(ui): typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

feat(ui): support resize_to when uploading images
  invokeai/frontend/web/src/services/api/endpoints/images.ts
  invokeai/frontend/web/src/services/api/types.ts
Due: none

feat(ui): use resize on uplaod functionality when creating new canvas from image
  invokeai/frontend/web/src/features/gallery/components/ImageContextMenu/ImageMenuItemNewCanvasFromImageSubMenu.tsx
  invokeai/frontend/web/src/features/imageActions/actions.ts
Due: none

feat(nodes): use guo-hall thinning
  invokeai/app/util/controlnet_utils.py
Due: black, flake8, isort

feat(nodes): revised heuristic_resize
  invokeai/app/util/controlnet_utils.py
Due: black, flake8, isort

tidy(api): remove benchmark logging
  invokeai/app/api/routers/images.py
Due: black, flake8, isort

chore: uv lock
  uv.lock
Due: none

feat(api): add validationg for max resize_to on upload endpoint
  invokeai/app/api/routers/images.py
Due: black, flake8, isort

use onClickGoToModelManager for empty model picker
  invokeai/frontend/web/src/features/parameters/components/ModelPicker.tsx
Due: none

add invert logic to grayscale mask composite
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasCompositorModule.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addInpaint.ts
  invokeai/frontend/web/src/features/nodes/util/graph/generation/addOutpaint.ts
Due: none

feat(ui): persist sizes of all 4 prompt boxes
  invokeai/frontend/web/src/features/parameters/components/Core/ParamNegativePrompt.tsx
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLPrompts/ParamSDXLNegativeStylePrompt.tsx
  invokeai/frontend/web/src/features/sdxl/components/SDXLPrompts/ParamSDXLPositiveStylePrompt.tsx
Due: none

feat(ui): implement generalized textarea size tracking system
  invokeai/frontend/web/src/common/hooks/usePersistedTextareaSize.ts
  invokeai/frontend/web/src/features/ui/store/uiSlice.ts
  invokeai/frontend/web/src/features/ui/store/uiTypes.ts
Due: none

store positive prompt textarea height in redux so it persists across refresh
  invokeai/frontend/web/src/features/parameters/components/Core/ParamPositivePrompt.tsx
  invokeai/frontend/web/src/features/ui/store/uiSlice.ts
  invokeai/frontend/web/src/features/ui/store/uiTypes.ts
Due: none
