Repository invoke-ai/InvokeAI: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, isort, uvlock

black:
  name: black
  stages:
  - pre-commit
  language: system
  entry: black

flake8:
  name: flake8
  stages:
  - pre-commit
  language: system
  entry: flake8

isort:
  name: isort
  stages:
  - pre-commit
  language: system
  entry: isort

uvlock:
  name: uv lock
  stages:
  - pre-commit
  language: system
  entry: uv lock
  pass_filenames: false

fix(ui): restore old tooltip for select object
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObject.tsx
Due: none

tidy(ui): clean up CanvasSegmentAnythingModule
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

fix(ui): respect selected point type
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

feat(ui): increase hit area for bbox anchors
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

feat(ui): spruce up UI a bit
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObject.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

feat(nodes): accept neg coords for bbox
  invokeai/backend/image_util/segment_anything/shared.py
Due: black, flake8, isort

tidy(ui): organize select object components
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObject.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObjectActionButtons.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObjectInfoTooltip.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObjectInputTypeButtons.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObjectSaveAsMenu.tsx
Due: none

feat(ui): update select object info tooltip
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObjectInfoTooltip.tsx
Due: none

fix(ui): ensure mask image is deleted when no more inputs to select object
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

Qwen updates
  QWEN_IMAGE_IMPLEMENTATION.md
  invokeai/app/invocations/qwen_image_denoise.py
  invokeai/app/invocations/qwen_image_image_to_latents.py
  invokeai/app/invocations/qwen_image_model_loader.py
  invokeai/app/invocations/qwen_image_text_encoder.py
  invokeai/frontend/web/src/features/nodes/util/graph/generation/buildQwenImageGraph.ts
  invokeai/frontend/web/src/features/queue/hooks/useEnqueueGenerate.ts
Due: black, flake8, isort

tidy(nodes): clean up sam node
  invokeai/app/invocations/segment_anything.py
Due: black, flake8, isort

feat(ui): support prompt-based selection for object selection
  invokeai/frontend/web/public/locales/en.json
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObject.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObjectModel.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObjectPointType.tsx
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObjectPrompt.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
  invokeai/frontend/web/src/features/controlLayers/store/types.ts
Due: none

chore: typegen
  invokeai/frontend/web/src/services/api/schema.ts
Due: none

tidy(ui): ts issues
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

init Sam2
  invokeai/app/invocations/segment_anything_2.py
  invokeai/backend/image_util/segment_anything/segment_anything_2_pipeline.py
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
  pyproject.toml
Due: black, flake8, isort, uvlock

fix(ui): select obj box moving on mmb pan
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

update uv.lock
  uv.lock
Due: none

consolidate into one node.
  invokeai/app/invocations/segment_anything.py
  invokeai/app/invocations/segment_anything_2.py
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: black, flake8, isort

feat(ui): hold shift to add inverse point type
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

fix(ui): prevent bbox scale accumulation in SAM module
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

feat(ui): allow adding point inside bbox
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

feat(ui): combine points and bbox in visual mode for SAM
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObject.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

chore: ruff
  invokeai/app/invocations/segment_anything.py
  invokeai/backend/image_util/segment_anything/segment_anything_2_pipeline.py
Due: black, flake8, isort

fix models
  invokeai/app/invocations/segment_anything_2.py
Due: black, flake8, isort

refactor(backend): simplify segment anything APIs
  invokeai/app/invocations/fields.py
  invokeai/app/invocations/segment_anything.py
  invokeai/backend/image_util/segment_anything/segment_anything_2_pipeline.py
  invokeai/backend/image_util/segment_anything/segment_anything_pipeline.py
  invokeai/backend/image_util/segment_anything/shared.py
Due: black, flake8, isort

experiment(ui): support bboxes in select object
  invokeai/frontend/web/src/features/controlLayers/components/SelectObject/SelectObject.tsx
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

fix(backend): issue w/ multiple bbox and sam1
  invokeai/backend/image_util/segment_anything/segment_anything_pipeline.py
Due: black, flake8, isort

fix(ui): prevent bbox from following cursor after middle mouse pan
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

tidy(backend) cleanup sam pipelines
  invokeai/backend/image_util/segment_anything/segment_anything_2_pipeline.py
  invokeai/backend/image_util/segment_anything/segment_anything_pipeline.py
Due: black, flake8, isort

fix(ui): prevent middle mouse from creating points in segmentation module
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

fix(ui): bbox no shrinkies
  invokeai/frontend/web/src/features/controlLayers/konva/CanvasSegmentAnythingModule.ts
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  isort: any of: \.py$
  uvlock: any of: ^pyproject\.toml$
